Repository theforeman/foreman, changes with the labels that .github/labeler.yml gives for each.
All labels: UI, Legacy JS

Fixes #26919 - Resolve nil error in ovirt disk clone
  app/assets/javascripts/host_edit.js
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: UI, Legacy JS

Fixes #28382 - create high order API reducer
  webpack/assets/javascripts/react_app/redux/API/createAPIReducer.js
  webpack/assets/javascripts/react_app/redux/API/index.js
Labels: UI

Refs #28382 - use it in hosts power status
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/index.js
Labels: UI

Refs #28382 - use it in facts
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.fixtures.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartReducer.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartSelectors.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartReducer.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartSelectors.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChart.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/index.js
Labels: UI

Fixes #28379 - remove unexist export
  webpack/assets/javascripts/react_app/redux/API/index.js
Labels: UI

Fixes #26312 - fix default taxonomy for external users
  app/models/setting.rb
  app/models/setting/auth.rb
  db/migrate/20191128172542_set_default_authsource_external_setting.rb
Labels: none

Fixes #28379 - remove unexist export
  webpack/assets/javascripts/react_app/redux/API/index.js
Labels: UI

Refs #28356 - revert api status code change
  app/controllers/api/v2/hosts_controller.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: none

.github/labeler.yml:

UI:
  - webpack/**/*
Legacy JS:
  - app/assets/javascripts/**/*
