Repository theforeman/foreman, pull requests merged in 2018-04, with the labels that each got.

#5354 Fixes #23004 - Port robottelo tier1 media tests
  test/controllers/api/v2/media_controller_test.rb
  test/models/medium_test.rb
Labels: Needs testing

#5368 Fixes #23045 - Port Robottelo PTables tests
  test/controllers/api/v2/ptables_controller_test.rb
  test/models/ptable_test.rb
Labels: Needs testing

#5381 Fixes #23066 - Port robottelo tests for users and user roles
  test/controllers/api/v2/users_controller_test.rb
  test/models/user_test.rb
Labels: Needs testing

#5380 Fixes #23064 - log log in and log out activities
  app/controllers/users_controller.rb
Labels: Needs testing

#5311 Fixes #22856 - Extract the strings from a bare foreman
  locale/foreman.pot
  locale/model_attributes.rb
Labels: Needs testing

#5383 Fixes #22546 - CVE-2018-1097: Bump fog-ovirt for power action fix
  app/models/compute_resources/foreman/model/ovirt.rb
  bundler.d/ovirt.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#5388 Fixes #23093 - prevent DB deadlocks in IntegrationTestHelper
  test/integration_test_helper.rb
Labels: Needs testing

#5361 Fixes #15634 - RancherOS support
  LICENSE
  app/assets/images/RancherOS.png
  app/helpers/operatingsystems_helper.rb
  app/models/operatingsystem.rb
  app/models/operatingsystems/rancheros.rb
  db/seeds.d/100-installation_media.rb
  lib/foreman/renderer.rb
Labels: Needs testing

#5387 Refs #22096 - Assign taxonomy to taxonomy audits
  app/models/concerns/audit_extensions.rb
Labels: Needs testing

#5397 Refs #15634 - Fix RancherOS test
  test/models/operatingsystem_test.rb
Labels: Needs testing

#5394 Fixes #23100 - Simplify gem requirements syntax
  Gemfile
  bundler.d/openstack.rb
Labels: Needs testing

#5379 Sync community templates
  app/views/unattended/partition_tables_templates/kickstart_default.erb
  app/views/unattended/partition_tables_templates/kickstart_default_thin.erb
  app/views/unattended/provisioning_templates/PXEGrub/pxegrub_global_default.erb
  app/views/unattended/provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
  app/views/unattended/provisioning_templates/PXEGrub2/pxegrub2_global_default.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_ovirt_pxelinux.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_default_local_boot.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_global_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/provision/atomic_kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  app/views/unattended/provisioning_templates/snippet/_kickstart_ifcfg_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/_pxegrub2_chainload.erb
  app/views/unattended/provisioning_templates/snippet/_pxegrub2_discovery.erb
  app/views/unattended/provisioning_templates/snippet/_pxelinux_discovery.erb
  app/views/unattended/provisioning_templates/snippet/_redhat_register.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  db/seeds.d/020-partition_tables_list.rb
  db/seeds.d/020-provisioning_templates_list.rb
Labels: Needs testing, Waiting on contributor

#5391 Fixes #6752 - log audit events
  app/models/concerns/audit_extensions.rb
Labels: Needs testing

#5395 Fixes #23098 - Allow searching on all audited models by type
  app/models/concerns/audit_extensions.rb
  app/models/concerns/audit_search.rb
  config/application.rb
  test/models/concerns/audit_extensions_test.rb
  test/models/concerns/audit_search_test.rb
Labels: Ready to merge

#5392 Fixes #23039 - Remove deleted LDAP users
  lib/tasks/ldap.rake
Labels: Ready to merge

#5378 Refs #22049 - improve metadata usability
  app/helpers/audits_helper.rb
  app/views/api/v2/audits/show.json.rabl
  app/views/audits/show.html.erb
Labels: Ready to merge

#5385 Fixes #22982 - Change Environments to Puppet Environments in hosts table header
  app/views/hosts/_list.html.erb
Labels: Ready to merge

#5382 Fixes #23067 - expose option to use oVirt APIv4
  app/controllers/api/v2/compute_resources_controller.rb
  app/controllers/concerns/foreman/controller/parameters/compute_resource.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/api/v2/compute_resources/ovirt.json.rabl
  app/views/compute_resources/form/_ovirt.html.erb
  app/views/compute_resources/show/_ovirt.html.erb
  bundler.d/ovirt.rb
  db/migrate/20180404082603_remove_v3_from_ovirt_cr_url.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#5407 Fixes #23129 - Disable webpack source maps in production
  config/webpack.config.js
Labels: Needs testing

#5405 Fixes #21829: Add association_exists_validator
  app/validators/association_exists_validator.rb
Labels: Needs testing

#5401 Fixes #23113 - Allow disabling of out of sync status
  app/helpers/dashboard_helper.rb
  app/models/host_status/configuration_status.rb
  app/models/setting/puppet.rb
  app/services/dashboard/data.rb
  app/views/dashboard/_status_links.html.erb
  test/integration/dashboard_test.rb
  test/models/host_status/configuration_status_test.rb
Labels: Needs testing

#5400 Fixes #23115 - session is used instead session_safe
  lib/proxy_api/resource.rb
  test/unit/proxy_api/resource_test.rb
Labels: Needs testing

#4866 Fixes #21055 - use _id attributes for host taxonomy validator
  app/controllers/application_controller.rb
  app/validators/belongs_to_host_taxonomy_validator.rb
  test/models/nic_test.rb
Labels: Needs testing

#5390 Fixes #23097 - Show npm postinstall errors
  config/webpack.config.js
  script/npm_install_plugins.js
Labels: Needs testing

#5410 Fixes #23135 - foreman-selinux-install.log is collected
  script/foreman-debug
Labels: Needs testing

#5340 Fixes #22954 - only deserialize safe objects when parsing metadata
  app/models/template.rb
Labels: Needs testing, Waiting on contributor

#5417 Fixes #19848 - Set Style/Alias cop to prefer_alias_method
  .rubocop.yml
  .rubocop_todo.yml
  app/registries/foreman/plugin/report_origin_registry.rb
  app/services/dashboard/data.rb
  app/services/fog_extensions/vsphere/mini_server.rb
  lib/foreman/silenced_logger.rb
Labels: Needs testing

#5411 fixes #21520 - vsphere: valid vm cloning request
  bundler.d/vmware.rb
Labels: Needs testing

#5393 Fixes #23040 - Anonymize old audits
  lib/tasks/audits.rake
Labels: Demo worthy, Ready to merge

#5377 Fixes #23059 - journald plugin is not required
  bundler.d/journald.rb
Labels: Needs testing

#5420 fixes #21520 - vsphere: valid vm cloning request
  bundler.d/vmware.rb
Labels: Needs testing

#5403 Fixes #22809 - Turn VM attributes to hash
  app/models/report.rb
  app/services/foreman/parameter_filter.rb
  db/migrate/20180403144853_convert_vm_attrs_to_hash.rb
Labels: Ready to merge

#5426 Fixes #22809 - Turn VM attributes to hash (#5403)
  app/models/report.rb
  app/services/foreman/parameter_filter.rb
  db/migrate/20180403144853_convert_vm_attrs_to_hash.rb
Labels: Needs re-review, Needs testing

#5414 Fixes #19770 - Set Layout/DotPosition cop to trailing
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing, Not yet reviewed

#5430 Fixes #23199, #23179 - Bump fog-ovirt to fix ovirt cores/quota
  bundler.d/ovirt.rb
Labels: Needs testing

#5436 Revert " Fixes #23196 - Add default values for cores and socket in VM"
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#5433 Fixes #23220 - Humanized name for RSS notifications
  app/jobs/create_rss_notifications.rb
Labels: Ready to merge

#5435 Fixes #23222 - enable switcher on puppet classes page
  app/views/puppetclasses/edit.html.erb
  config/webpack.config.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
Labels: Needs testing

#5437 Fixes #23225 - fix vm tab js error in host page
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#5412 Fixes #23145 - handle strong params for compute attributes on failure
  app/controllers/concerns/foreman/controller/host_form_common.rb
  app/models/compute_resources/foreman/model/openstack.rb
  app/models/concerns/orchestration/compute.rb
Labels: Needs testing

#5442 Fixes #23212 - uninitialized constant
  app/services/power_manager/virt.rb
Labels: Needs testing

#5448 Fixes #23256 - Check if the delayed plans have expected interface
  config/initializers/rss_notifications.rb
Labels: Ready to merge

#3611 Fixes #15411 - Move smart_proxy_ids_for to Host
  app/models/concerns/host_common.rb
  app/models/concerns/hostext/search.rb
  app/models/concerns/smart_proxy_host_extensions.rb
  app/models/host/managed.rb
  app/models/smart_proxy.rb
  app/registries/foreman/plugin.rb
  app/services/proxy_reference_registry.rb
  app/services/smart_proxy_reference.rb
  app/services/tax_host.rb
  test/models/host_test.rb
  test/unit/concerns/smart_proxy_host_extensions_test.rb
  test/unit/plugin_test.rb
  test/unit/proxy_reference_registry_test.rb
  test/unit/smart_proxy_reference_test.rb
Labels: Needs testing

#5404 Fixes #23125: add asset_debug config setting
  config/environments/development.rb
  config/settings.yaml.example
Labels: Ready to merge

#5432 Fixes #23215 - Keep original names in webpack bundle
  app/helpers/reactjs_helper.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/webpack_assets.rb
  script/plugin_webpack_directories.rb
  test/helpers/reactjs_helper_test.rb
  test/unit/script/plugin_webpack_directories_test.rb
Labels: Needs testing

#5451 Fixes #23223 - Don't allow Dynflow to initialize in db:drop rake
  config/application.rb
Labels: Needs testing, Waiting on contributor

#5441 Fixes #23240 - BreadcrumbBar prop-type warnings
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
Labels: Needs testing

#5443 Fixes #23249 - Breadcrumb support api returning page as string
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
Labels: Needs testing

#5424 Fixes #23177 - unattended warning on multiple MACs
  app/controllers/unattended_controller.rb
  test/controllers/unattended_controller_test.rb
  test/fixtures/templates.yml
Labels: Ready to merge

#5459 Refs #23215 - 2.3 compat. for webpack in plugins script
  script/plugin_webpack_directories.rb
Labels: Needs testing

#5447 Fixes #23255 - Speed up seeds test
  test/unit/tasks/seeds_test.rb
Labels: Needs testing

#5413 Fixes #23147 - Allow plugins to compile production webpack assets
  config/initializers/assets.rb
  config/webpack.config.js
  lib/tasks/plugin_assets.rake
  script/plugin_webpack_directories.js
Labels: Needs testing

#5472 Fixes #23346 - memory cache store is used for tests
  config/environments/test.rb
  test/active_support_test_case_helper.rb
Labels: Needs testing

#5445 Fixes #23254 - Utilize webmock to prevent network connection
  bundler.d/test.rb
  lib/foreman/http_proxy.rb
  lib/foreman/http_proxy/excon_connection_extension.rb
  lib/foreman/http_proxy/net_http_extension.rb
  lib/foreman/http_proxy/rest_client_extension.rb
  test/controllers/api/v2/compute_resources_controller_test.rb
  test/controllers/api/v2/config_reports_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/api/v2/reports_controller_test.rb
  test/controllers/environments_controller_test.rb
  test/controllers/hosts_controller_test.rb
  test/controllers/puppetca_controller_test.rb
  test/controllers/smart_proxies_controller_test.rb
  test/integration/smart_proxy_test.rb
  test/mailers/host_mailer_test.rb
  test/models/host_test.rb
  test/models/orchestration/compute_test.rb
  test/models/provisioning_template_test.rb
  test/models/settings/general_setting_test.rb
  test/test_helper.rb
  test/unit/compute_resource_host_associator_test.rb
  test/unit/foreman/http_proxy_test.rb
  test/unit/foreman/renderer_test.rb
  test/unit/proxy_api/bmc_test.rb
  test/unit/proxy_api/dhcp_test.rb
  test/unit/proxy_api/puppet_test.rb
  test/unit/proxy_api/template_test.rb
  test/unit/proxy_statuses/proxy_status_tftp_test.rb
Labels: Needs testing

#5469 Fixes #23339 - Port robottelo tests for hosts
  test/controllers/api/v2/hosts_controller_test.rb
  test/models/host_test.rb
Labels: Needs testing

#5473 Fixes #23347 - only show password for internal auth source
  app/assets/javascripts/application.js
Labels: Needs testing

#5468 Fixes #23331 - grouped permissions for host disabled
  app/models/host/managed.rb
  test/models/host_test.rb
Labels: Needs testing

#5474 Fixes #23350 - Port: Robotello: Minitest: Role Tier1 Tests
  test/controllers/api/v2/locations_controller_test.rb
  test/controllers/api/v2/organizations_controller_test.rb
  test/controllers/api/v2/roles_controller_test.rb
Labels: Needs testing

#5482 Refs #23177 - id is not used for unattended order
  app/controllers/unattended_controller.rb
  test/controllers/unattended_controller_test.rb
Labels: Needs testing

#5455 Fixes #23195 - Audit associations on creation and destruction
  app/models/concerns/audit_associations.rb
  app/models/concerns/taxonomix.rb
  config/initializers/audit.rb
  test/models/concerns/audit_associations_test.rb
  test/models/user_test.rb
Labels: Ready to merge

#5004 fixes #21657 - remove facets when host is removed
  app/models/concerns/facets/managed_host_extensions.rb
  app/services/facets/entry.rb
  test/unit/facet_configuration_test.rb
  test/unit/facet_test.rb
Labels: Needs testing

#5486 Refs #23177 - datetime precision fixed for unattended test
  test/controllers/unattended_controller_test.rb
Labels: Needs testing

#5464 Fixes #23295 - Robottelo tests reporting
  bundler.d/test.rb
  lib/tasks/jenkins.rake
  test/controllers/api/v2/ptables_controller_test.rb
  test/test_helper.rb
Labels: Ready to merge

#5489 Fixes #23195 - Audit associations on creation and destruction (#5455)
  app/models/concerns/audit_associations.rb
  app/models/concerns/taxonomix.rb
  config/initializers/audit.rb
  test/models/concerns/audit_associations_test.rb
  test/models/user_test.rb
Labels: Needs testing, Not yet reviewed

#5456 Fixes #23276 - Bump up the version of fog-vsphere
  bundler.d/vmware.rb
Labels: Needs testing

#4744 Fixes #20591 - full ovirt cloud-init support
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#5479 Fixes #23365 - Silence the ENOENT error for .env
  config/webpack.config.js
  package.json
Labels: Ready to merge

#5490 Fixes #23386 - Exit fullscreen when pressing ESC
  webpack/assets/javascripts/foreman_editor.js
Labels: Needs testing, Waiting on contributor

#5485 Fixes #23358 - Fix audit mails for template content
  app/helpers/audits_helper.rb
  app/views/audit_mailer/summary.html.erb
  test/mailers/audit_mailer_test.rb
Labels: Needs testing

#5496 Fixes #23398 - Don't extend ApplicationRecord from Audit initializer
  app/models/application_record.rb
  config/initializers/audit.rb
Labels: Ready to merge

#5498 Refs #23147 - Fix style offences
  lib/tasks/plugin_assets.rake
  script/plugin_webpack_directories.js
Labels: Needs testing

#5502 Fixes #23415 - nullify taxonomy associations for audits
  app/models/taxonomy.rb
Labels: Needs testing

#5503 Fixes #23419 - Port robottelo tests for hostgroup
  test/controllers/api/v2/hostgroups_controller_test.rb
  test/models/hostgroup_test.rb
Labels: Needs testing

#5504 Fixes #23423 - Loosen seamless-immutable and lodash dependencies
  package.json
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/statistics/ChartBox.test.js
Labels: Needs testing

#5478 Fixes #23361 - Write the webpack manifest to a tmp file
  config/initializers/assets.rb
  script/plugin_webpack_directories.rb
Labels: Needs testing

#5501 Fixes #23414 - Allow plugins to compile in production
  lib/tasks/plugin_assets.rake
  script/plugin_webpack_directories.rb
Labels: Needs testing, Waiting on contributor

#5509 Fixes #23444 - update secure_headers to 5.x
  Gemfile
Labels: Needs testing
