Repository theforeman/foreman, pull requests merged in 2018-07, with the labels that each got.

#5706 Fixes #19887 - Disable Style/ParenthesesAroundCondition cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#5695 Fixes #19765 - Disable Layout/AlignHash cop
  .rubocop.yml
Labels: Needs testing

#5694 Fixes #19766 - Disable Layout/AlignParameters cop
  .rubocop.yml
Labels: Needs testing

#5748 Fixes #23920 - add missing header in some of the welcome pages
  app/helpers/layout_helper.rb
  app/views/layouts/_application_content.html.erb
Labels: Needs testing

#5647 Fixes #23808 - monotonic timer to measure durations
  app/controllers/home_controller.rb
  app/services/foreman/telemetry_helper.rb
  app/services/report_importer.rb
  config/initializers/5_telemetry_metrics.rb
  lib/tasks/convert.rake
  lib/tasks/trends.rake
Labels: Needs testing

#5457 Fixes #23196 - Add default values for cores and socket in VM
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#5376 Fixes #23062 - Add custom message on form submit
  webpack/assets/javascripts/react_app/redux/actions/common/forms.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.test.js
Labels: Needs testing

#5754 Fixes #24109 - common kernelcmd param for all OSes
  app/models/operatingsystem.rb
  test/unit/foreman/renderer_test.rb
Labels: Needs testing

#5446 Fixes #23834 - better assert in host test
  test/models/host_test.rb
Labels: Needs testing

#5759 fixes #23621 - passwords can be md5 hashed
  app/services/password_crypt.rb
  lib/foreman/fips.rb
Labels: Needs testing

#5758 fixes #23621 - passwords can be md5 hashed
  app/services/password_crypt.rb
  lib/foreman/fips.rb
Labels: Needs testing

#5761 Fixes #24022 - unattended error input is UTF-8 friendly
  app/controllers/unattended_controller.rb
Labels: Needs testing

#5763 Fixes #24072 - Fix free IP auto suggest for hostgroup with compute resource
  app/assets/javascripts/host_edit.js
  app/controllers/hosts_controller.rb
  app/models/host/managed.rb
  test/factories/host_related.rb
  test/integration/host_js_test.rb
  test/integration_test_helper.rb
Labels: Needs testing

#5061 Fixes #21883 - remove Current user INFO messages
  app/models/concerns/foreman/thread_session.rb
Labels: Needs testing

#5476 Fixes #23162 - Fix path for tabs on smart-proxy page
  app/assets/javascripts/proxy_status.js
Labels: Needs testing

#5765 [CP] Fixes #23920 - add missing header in welcome pages
  app/helpers/layout_helper.rb
  app/views/layouts/_application_content.html.erb
Labels: Needs testing, Not yet reviewed

#5767 Fixes #23782 - restore login disabling
  app/registries/menu/loader.rb
  app/views/settings/category/_email.html.erb
Labels: Needs testing

#5764 Fixes #23933 - consider associated object in set_taxonomies
  app/models/concerns/audit_extensions.rb
  test/models/nic_test.rb
Labels: Needs testing

#5775 Fixes #24158 - fix cloning of roles
  app/models/role.rb
  test/models/role_test.rb
Labels: Needs testing

#5760 Fixes #24122 - Remove limit from LookupValue value
  db/migrate/20120607074318_convert_params_to_text.rb
  db/migrate/20121218084123_change_smart_variable_length.rb
  db/migrate/20180702102759_remove_params_value_limit.rb
  test/models/lookup_key_test.rb
  test/models/lookup_value_test.rb
Labels: Needs testing

#5729 Fixes #23896 - Update taxonomies when refreshing metadata
  app/models/concerns/template_tax.rb
  app/models/provisioning_template.rb
  app/models/ptable.rb
  test/controllers/api/v2/ptables_controller_test.rb
  test/controllers/ptables_controller_test.rb
  test/models/template_test.rb
Labels: Needs testing

#5779 Fixes #24167 - Remove legacy_puppet_hostname setting
  app/models/setting/puppet.rb
  app/models/smart_proxy.rb
  db/migrate/20180705164601_remove_legacy_puppet_hostname_setting.rb
  lib/foreman/renderer.rb
  test/fixtures/settings.yml
  test/models/smart_proxy_test.rb
Labels: Needs testing

#5731 Fixes #23705 - Do not associate ptable snippets
  app/models/ptable.rb
  db/migrate/20180625082051_remove_associations_from_ptable_snippets.rb
  test/models/ptable_test.rb
  webpack/assets/javascripts/foreman_editor.js
Labels: Needs testing

#5782 fixes #24186 - improve vsphere error handling
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#5769 Fixes #23382 - Hashes in arrays are shown properly on ENC
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#5776 [CP 1.18] Fixes #23933 - consider associated object in set_taxonomies
  app/models/concerns/audit_extensions.rb
  test/models/nic_test.rb
Labels: Needs testing, Not yet reviewed

#5774 [CP 1.18] Fixes #23782 - restore login disabling
  app/registries/menu/loader.rb
  app/views/settings/category/_email.html.erb
Labels: Needs testing, Not yet reviewed

#5773 [CP 1.17] Fixes #23782 - restore login disabling
  app/registries/menu/loader.rb
  app/views/settings/category/_email.html.erb
Labels: Needs testing, Not yet reviewed

#5788 Fixes #24158 - fix cloning of roles
  app/models/role.rb
  test/models/role_test.rb
Labels: Needs testing, Not yet reviewed

#5787 Fixes #23382 - Hashes in arrays are shown properly on ENC
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#5786 Fixes #23382 - Hashes in arrays are shown properly on ENC
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#5462 Fixes #23290 - Trigger turbolinks before load
  app/assets/javascripts/host_edit.js
  webpack/assets/javascripts/react_app/common/MountingService.js
Labels: Needs testing

#5784 Fixes #24192 - Clean up auth_source_selected action leftovers
  app/registries/foreman/access_permissions.rb
  config/routes.rb
Labels: Needs testing

#5753 Fixes #23965 - Only save ids for association audits
  app/helpers/audits_helper.rb
  app/models/concerns/audit_associations.rb
  app/models/concerns/dirty_associations.rb
  app/views/audits/show.html.erb
  test/models/concerns/audit_associations_test.rb
  test/models/user_test.rb
  test/models/usergroup_test.rb
Labels: Needs testing

#5791 [CP 1.18] Fixes #23290 - Unmount components before dom-update
  app/assets/javascripts/host_edit.js
  webpack/assets/javascripts/react_app/common/MountingService.js
Labels: Needs testing

#5795 [CP 1.18] Fixes #23965 - Only save ids for association audits (#5753)
  app/helpers/audits_helper.rb
  app/models/concerns/audit_associations.rb
  app/models/concerns/dirty_associations.rb
  app/views/audits/show.html.erb
  test/models/concerns/audit_associations_test.rb
  test/models/user_test.rb
  test/models/usergroup_test.rb
Labels: Needs testing, Not yet reviewed

#5798 Fixes #23994 - Do not update templates out of scope
  app/models/concerns/taxonomy_collision_finder.rb
  app/models/provisioning_template.rb
  app/models/ptable.rb
  app/models/template.rb
  test/models/template_test.rb
Labels: Needs testing

#5722 Fixes #24017 - Add scrollbar in org/loc dropdown
  app/assets/stylesheets/patternfly_and_overrides.scss
  app/views/home/_location_dropdown.html.erb
  app/views/home/_org_switcher.html.erb
  app/views/home/_organization_dropdown.html.erb
Labels: Ready to merge

#5799 Fixes #23896 - Update taxonomies when refreshing metadata
  app/models/concerns/template_tax.rb
  app/models/provisioning_template.rb
  app/models/ptable.rb
  test/controllers/api/v2/ptables_controller_test.rb
  test/controllers/ptables_controller_test.rb
  test/models/template_test.rb
Labels: Needs testing

#5762 Fixes #24125 - Show error when libvirt not reachable
  app/models/compute_resources/foreman/model/libvirt.rb
  app/views/common/_ajax_error.html.erb
  test/controllers/api/v2/compute_attributes_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
  test/models/host_test.rb
  test/models/orchestration/compute_test.rb
Labels: Needs testing

#5802 [cp] Fixes #23991 - rephrase RSS setting description
  app/models/setting/notification.rb
Labels: Needs testing, Waiting on contributor

#5808 [cp] Fixes #24017 - Add scrollbar in org/log dropdown (#5722)
  app/assets/stylesheets/patternfly_and_overrides.scss
  app/views/home/_location_dropdown.html.erb
  app/views/home/_org_switcher.html.erb
  app/views/home/_organization_dropdown.html.erb
Labels: Ready to merge

#5756 Fixes #23961 - Update Foreman Fog-Vsphere select_nic method.
  app/models/concerns/fog_extensions/vsphere/server.rb
  bundler.d/vmware.rb
Labels: Needs testing, Waiting on contributor

#5768 Fixes #23918 - Find correct scope when updating taxonomy
  app/controllers/concerns/api/v2/taxonomies_controller.rb
  test/controllers/api/v2/organizations_controller_test.rb
Labels: Needs testing

#5710 Fixes #23977 - add onClick callback to breadcrumbs
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBar.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBar.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumb.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/Breadcrumb.test.js.snap
Labels: Ready to merge

#5519 Fixes #23479 - Enhance OpenStack VM Creation
  app/models/compute_resources/foreman/model/openstack.rb
  app/views/compute_resources_vms/form/openstack/_base.html.erb
Labels: Needs testing

#5813 [cp] Fixes #23977 - add onClick callback to breadcrumbs
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBar.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBar.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumb.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/Breadcrumb.test.js.snap
Labels: Needs testing, Not yet reviewed

#5812 Fixes #23918 - Find correct scope when updating taxonomy [1.18]
  app/controllers/concerns/api/v2/taxonomies_controller.rb
  test/controllers/api/v2/organizations_controller_test.rb
Labels: Ready to merge

#5819 Fixes #23479 - Enhance OpenStack VM Creation
  app/models/compute_resources/foreman/model/openstack.rb
  app/views/compute_resources_vms/form/openstack/_base.html.erb
Labels: Needs testing, Not yet reviewed

#5823 Refs #24125 - mock libvirt sooner
  test/integration/host_js_test.rb
Labels: Needs testing

#5587 Fixes #23623 - expiration rake task in batches
  app/models/report.rb
  lib/tasks/reports.rake
  test/models/report_test.rb
Labels: Needs testing

#5792 Fixes #24185 - logging env override config fixed
  lib/foreman/logging.rb
Labels: Ready to merge

#5827 Fixes #24220 - increase recommended pool size for the db
  config/database.yml.example
Labels: Needs testing

#5828 Fixes #23836 - Bump fog-ovirt version for update_vm addition
  bundler.d/fog.rb
  bundler.d/ovirt.rb
Labels: Needs testing

#5806 Fixes #24217 - accept shell script for cloud-init in oVirt
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#4883 Fixes #21172 - load template variables to partition tables
  app/models/host/managed.rb
  app/models/hostgroup.rb
  lib/foreman/renderer.rb
  test/models/host_test.rb
Labels: Needs testing

#5833 Fixes #24002 - Add index for unique role names
  db/migrate/20180713154128_add_index_on_role_names.rb
Labels: Needs testing

#5834 Fixes #21778 - ignore tax scope when displaying filters
  app/controllers/api/v2/filters_controller.rb
  app/controllers/filters_controller.rb
Labels: Needs testing

#5658 Fixes #23831 - Fix JS for oVirt Image based provisioning
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing

#5839 Fixes #24257 - load all reports and audits in tasks
  lib/tasks/audits.rake
  lib/tasks/reports.rake
Labels: Ready to merge

#5824 Fixes #22416 - Taxonomy buttons visible for right taxonomies
  app/views/taxonomies/index.html.erb
Labels: Needs testing

#5838 Fixes #23575 - avoid change of heights on fact modal
  app/assets/stylesheets/charts.scss
  webpack/assets/javascripts/react_app/components/factCharts/index.js
Labels: Needs testing

#5843 [1.16 only] Refs #19577 - pin fog-openstack for Ruby < 2.2
  bundler.d/openstack.rb
Labels: Needs testing, Not yet reviewed

#5345 Fixes #19983 - allow setting role description
  app/registries/foreman/plugin.rb
  app/services/foreman/plugin/role_lock.rb
  test/unit/role_lock_test.rb
Labels: Ready to merge

#5842 Bump version to 1.20-develop
  CHANGELOG
  Contributors
  VERSION
  package.json
Labels: Needs testing, Waiting on Packaging, Waiting on contributor

#5844 Fixes #24269 - clean all reports
  app/models/host/managed.rb
Labels: Ready to merge

#5801 Fixes #24211 - Allow a newer version of patternfly-sass
  bundler.d/assets.rb
Labels: Needs testing

#5822 Bug #23291 - fixes double appending of /unattended to proxy url
  lib/foreman/foreman_url_renderer.rb
  test/unit/foreman_url_renderer_test.rb
Labels: Needs testing

#5846 Fixes #24279 - Remove leftover handle_ca from ssh provisioning
  app/models/concerns/orchestration/ssh_provision.rb
Labels: Needs testing

#5854 Fixes #24279 - removed setSSHCert - handle_ca no longer around
  app/models/concerns/orchestration/ssh_provision.rb
Labels: Needs testing

#5853 fixes #23291 - fixes double appending of /unattended to proxy url
  lib/foreman/foreman_url_renderer.rb
  test/unit/foreman_url_renderer_test.rb
Labels: Needs testing, Not yet reviewed

#5858 fixes #24300 - add capybara minitest assertions
  test/integration/about_test.rb
  test/integration_test_helper.rb
Labels: Needs testing

#5847 Refs #24281 - Refactor class methods of create and create!
  app/models/setting.rb
Labels: Needs testing

#5851 Fixes #24291 - Allow searching audits by subnet
  app/models/concerns/audit_search.rb
  test/models/concerns/audit_search_test.rb
Labels: Needs testing

#5772 Fixes #23975 - Add Network Interface Type in ovirt VM
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/compute_resources_vms/form/ovirt/_network.html.erb
Labels: Needs testing, Waiting on contributor

#5402 Fixes #23117 - ovirt_ostype host param selects type
  app/models/compute_resources/foreman/model/ovirt.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs re-review, Needs testing

#5807 Fixes #23373 - Fix host dissociation when updating host
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/hosts_controller.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#5865 Fixes #24322 - set owner_type implicitly to User
  app/models/concerns/hostext/ownership.rb
  test/unit/concerns/hostext_ownership_test.rb
Labels: Needs testing

#5845 Fixes #24257 - load all reports and audits in tasks
  lib/tasks/audits.rake
  lib/tasks/reports.rake
Labels: Needs testing

#5826 Refs #23339 - Robottelo tests attr - hosts
  test/controllers/api/v2/hosts_controller_test.rb
  test/models/host_test.rb
Labels: Needs testing

#5809 Refs #23095 - Robottelo tests attr - subnets and parameters
  test/controllers/api/v2/parameters_controller_test.rb
  test/controllers/api/v2/subnets_controller_test.rb
Labels: Needs testing

#5804 Refs #22979 - Robottelo tests attr - operating_systems
  test/controllers/api/v2/operatingsystems_controller_test.rb
  test/models/operatingsystem_test.rb
Labels: Needs testing

#5818 Refs #23132 - Robottelo tests attr - bookmarks
  test/controllers/api/v2/bookmarks_controller_test.rb
Labels: Needs testing

#5794 Refs #22922 - Robottelo tests attr - compute profiles
  test/controllers/api/v2/compute_profiles_controller_test.rb
Labels: Needs testing

#5805 Refs #23066 - Robottelo tests attr - users and user roles
  test/controllers/api/v2/users_controller_test.rb
Labels: Needs testing

#5832 Fixes #20992 - keep selected roles
  app/helpers/form_helper.rb
Labels: Needs testing

#5793 Fixes #24199 - validate taxonomy of host environment on create
  app/models/host/managed.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/factories/host_related.rb
  test/models/host_test.rb
Labels: Ready to merge

#5861 Fixes #24303 - New hostgroup after submit path
  app/views/hostgroups/index.html.erb
  test/integration/hostgroup_js_test.rb
Labels: Needs testing

#5708 bump nodejs dependencies based on npm audit
  package.json
Labels: Needs testing, Waiting on contributor

#5868 Fixes #24350 - Change general out of sync interval to 30 minutes
  app/models/setting/general.rb
  db/migrate/20180724062531_change_out_of_sync_default.rb
Labels: Needs testing

#5874 Fixes #24387 - defined telemetry buckets in seconds
  lib/foreman/telemetry.rb
Labels: Needs testing

#5879 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Needs testing, Waiting on contributor

#5244 Fixes #19389 - Added medium hash to TFTP files
  app/controllers/api/v2/operatingsystems_controller.rb
  app/models/concerns/host_common.rb
  app/models/concerns/host_template_helpers.rb
  app/models/concerns/orchestration/tftp.rb
  app/models/operatingsystem.rb
  app/models/operatingsystems/aix.rb
  app/models/operatingsystems/altlinux.rb
  app/models/operatingsystems/archlinux.rb
  app/models/operatingsystems/coreos.rb
  app/models/operatingsystems/debian.rb
  app/models/operatingsystems/freebsd.rb
  app/models/operatingsystems/gentoo.rb
  app/models/operatingsystems/junos.rb
  app/models/operatingsystems/nxos.rb
  app/models/operatingsystems/rancheros.rb
  app/models/operatingsystems/redhat.rb
  app/models/operatingsystems/solaris.rb
  app/models/operatingsystems/suse.rb
  app/models/operatingsystems/windows.rb
  app/models/operatingsystems/xenserver.rb
  app/models/provisioning_template.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/medium_providers_registry.rb
  app/services/medium_providers/default.rb
  app/services/medium_providers/provider.rb
  app/views/unattended/provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXELinux/alterator_default_pxelinux.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_ovirt_pxelinux.erb
  app/views/unattended/provisioning_templates/iPXE/autoyast_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
  app/views/unattended/provisioning_templates/provision/atomic_kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  config/initializers/foreman.rb
  lib/foreman/renderer.rb
  lib/tasks/exports.rake
  test/controllers/unattended_controller_test.rb
  test/models/operatingsystem_test.rb
  test/models/operatingsystems/operatingsystems_test.rb
  test/models/orchestration/tftp_test.rb
  test/unit/foreman/renderer_test.rb
  test/unit/medium_providers/default_test.rb
Labels: Needs testing

#5873 Fixes #24386 - Update debug to include proxy certs generate.
  script/foreman-debug
Labels: Needs testing

#5878 Fixes #24394 - Update about page with link to forums
  app/views/about/index.html.erb
  test/integration/about_test.rb
Labels: Needs testing

#5570 Fixes #23610,#23417 - audit changes per column
  app/models/concerns/audit_extensions.rb
  config/initializers/5_telemetry_metrics.rb
  lib/foreman/logging.rb
Labels: Needs testing

#5712 Fixes #23168 - undefined method `split' for nil:NilClass
  app/helpers/application_helper.rb
  test/helpers/application_helper_test.rb
Labels: Needs testing

#5885 Fixes #24355 - Never override a smart class parameter on import
  app/services/puppet_class_importer.rb
  test/unit/puppet_class_importer_test.rb
Labels: Needs testing

#5876 fixes #24388 - validate media and reset if os changes
  app/models/host/managed.rb
  test/models/host_test.rb
Labels: Ready to merge

#5892 Fixes #10521 - fix report templates API after refactoring
  app/controllers/api/v2/report_templates_controller.rb
  app/models/host_status.rb
Labels: Ready to merge

#5891 fixes #24484 - snippets find template by source
  app/models/host/managed.rb
  app/models/template.rb
  lib/foreman/renderer.rb
  lib/foreman/renderer/base_renderer.rb
  lib/foreman/renderer/scope/base.rb
  lib/foreman/renderer/scope/macros/snippet_rendering.rb
  lib/foreman/renderer/source/base.rb
  lib/foreman/renderer/source/database.rb
  lib/foreman/renderer/source/string.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
  test/unit/foreman/renderer/scope/macros/base_test.rb
  test/unit/foreman/renderer/scope/macros/host_template_test.rb
  test/unit/foreman/renderer/scope/macros/snippet_rendering_test.rb
  test/unit/foreman/renderer/scope/variables/base_test.rb
Labels: Ready to merge
