Repository theforeman/foreman, pull requests merged in 2018-10, with the labels that each got.

#6077 Fixes #24969 - Further sort smart class parameter overrides by value
  app/models/lookup_keys/lookup_key.rb
  test/models/lookup_key_test.rb
Labels: Ready to merge

#6096 Fixes #25070 - keep variables optional
  lib/foreman/renderer/scope/macros/snippet_rendering.rb
  test/unit/foreman/renderer/scope/macros/snippet_rendering_test.rb
Labels: Needs testing

#6101 refs #24294 - only require tests gems in test environment
  lib/tasks/snapshots.rake
Labels: Needs testing

#6058 Fixes #24886 - fixed audit in seeds test
  test/test_helper.rb
  test/unit/tasks/seeds_test.rb
Labels: Needs testing

#6081 Fixes #24997 - Remove eslint from hound-ci
  .hound.yml
Labels: Needs testing

#6074 Fixes #24958 - allow sourcemaps in production
  config/webpack.config.js
Labels: Needs testing, UI

#6098 Fixes #22119 - use SHA instead of MD5 for digesting
  config/initializers/0_fips.rb
Labels: Needs testing

#5841 Fixes #24259 - Add canned admin role
  app/controllers/api/v2/settings_controller.rb
  app/controllers/filters_controller.rb
  app/controllers/settings_controller.rb
  app/models/filter.rb
  app/models/role.rb
  app/models/user.rb
  app/registries/foreman/access_permissions.rb
  app/registries/foreman/plugin/rbac_support.rb
  app/views/usergroups/_form.html.erb
  app/views/users/_form.html.erb
  db/seeds.d/020-permissions_list.rb
  db/seeds.d/020-roles_list.rb
  test/controllers/api/v2/settings_controller_test.rb
  test/controllers/api/v2/users_controller_test.rb
  test/fixtures/filterings.yml
  test/fixtures/filters.yml
  test/fixtures/permissions.yml
  test/fixtures/roles.yml
  test/fixtures/user_roles.yml
  test/fixtures/users.yml
  test/models/filter_test.rb
  test/models/role_test.rb
  test/models/user_test.rb
  test/unit/tasks/seeds_test.rb
Labels: Demo worthy, Ready to merge

#6100 Fixes #25099 - Add macros for easier report definition
  app/views/unattended/report_templates/host_statuses_csv.erb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  lib/foreman/renderer/scope/report.rb
  test/unit/foreman/renderer/scope/report_test.rb
Labels: Demo worthy, Ready to merge

#5957 Fixes #24643 - Refactor Pagination to PF-React
  app/assets/stylesheets/base.scss
  app/helpers/pagination_helper.rb
  app/views/common/_pagination.html.erb
  config/initializers/will_paginate.rb
  test/controllers/filters_controller_test.rb
  test/controllers/shared/basic_rest_response_test.rb
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.test.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.test.js
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/Pagination.test.js.snap
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/PaginationHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/Pagination/pagination.scss
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Needs testing, UI

#6055 Fixes #24874 - update secure_headers to 6.x
  Gemfile
Labels: Needs testing

#6065 [CP 1.19] Fixes #24844 - find audited objects correctly
  app/helpers/audits_helper.rb
Labels: Needs testing, Stable branch

#6066 [CP 1.18] Fixes #24844 - find audited objects correctly
  app/helpers/audits_helper.rb
Labels: Needs testing, Stable branch

#6060 [CP 1.18] Fixes #24807 - unsafe html in toast notification
  webpack/assets/javascripts/react_app/components/common/Alert/AlertBody.js
  webpack/assets/javascripts/react_app/components/common/Alert/__snapshots__/AlertBody.test.js.snap
  webpack/assets/javascripts/react_app/components/toastNotifications/__snapshots__/ToastsList.test.js.snap
Labels: Needs testing, Stable branch, UI

#5960 Fixes #24652 - subnet_for returns highest CIDR prefix
  app/models/subnet.rb
  test/models/subnet/ipv4_test.rb
  test/models/subnet/ipv6_test.rb
Labels: Needs testing

#6112 Fixes #25128 - Fix variables loader registry when the class is inherited
  lib/foreman/renderer/scope/base.rb
  test/unit/foreman/renderer/scope/base_test.rb
Labels: Ready to merge

#6038 Fixes #24800 - Notify deprecation of taxonomy, login settings
  config/application.rb
  db/seeds.d/170-notification_blueprints.rb
Labels: Needs testing

#6039 Fixes #24802 - Remove taxonomy, login settings from example
  config/settings.rb
  config/settings.yaml.example
Labels: Needs testing

#6115 refs #16294 - fixes wrong secure websocket detection
  webpack/assets/javascripts/bundle_novnc.js
Labels: Needs testing, UI

#6116 Fixes #24824 - Allow UI notifications when login is disabled
  app/controllers/notification_recipients_controller.rb
  test/controllers/notification_recipients_controller_test.rb
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
Labels: Needs testing, UI

#6089 Fixes #24870 - show a setting does not have a default value
  app/helpers/application_helper.rb
  app/helpers/settings_helper.rb
  app/models/setting.rb
  test/helpers/settings_helper_test.rb
  test/models/setting_test.rb
Labels: Needs testing

#6021 Fixes #24744,#24873 - use Puppet Structured networking fact
  app/services/fact_parser.rb
  app/services/puppet_fact_parser.rb
  test/static_fixtures/facts/facts_structured_networking.json
  test/unit/fact_parser_test.rb
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing

#6119 Fix #25137 - webpack-analyze script fails if there is no public/webpack folder
  script/webpack-analyze
Labels: Needs testing

#5342 Fixes #17263 - move jed (i18n) to webpack
  app/assets/javascripts/application.js
  app/assets/javascripts/charts.js
  app/assets/javascripts/class_edit.js
  app/assets/javascripts/compute_resources/libvirt/nic_info.js
  app/assets/javascripts/host_checkbox.js
  app/assets/javascripts/host_edit.js
  app/assets/javascripts/host_edit_interfaces.js
  app/assets/javascripts/i18n.js
  app/assets/javascripts/spice.js
  app/views/layouts/base.html.erb
  package.json
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/compute_resource/openstack.js
  webpack/assets/javascripts/foreman_compute_resource.js
  webpack/assets/javascripts/foreman_editor.js
  webpack/assets/javascripts/foreman_hostgroups.js
  webpack/assets/javascripts/foreman_hostgroups.test.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/common/I18n.test.js
  webpack/assets/javascripts/react_app/common/__snapshots__/I18n.test.js.snap
  webpack/assets/javascripts/react_app/common/reduxFormI18n.js
  webpack/assets/javascripts/react_app/components/AuditsList/ExpansiveView.js
  webpack/assets/javascripts/react_app/components/AuditsList/ShowOrgsLocs.js
  webpack/assets/javascripts/react_app/components/AuditsList/UserDetails.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/AuditsList.fixtures.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/ShowTaxonomyInline.test.js
  webpack/assets/javascripts/react_app/components/AuditsList/index.js
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteClearButton.js
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteFocusShortcut.js
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteSearchButton.js
  webpack/assets/javascripts/react_app/components/AutoComplete/index.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.fixtures.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/bookmarks/SearchModal.js
  webpack/assets/javascripts/react_app/components/bookmarks/form/index.js
  webpack/assets/javascripts/react_app/components/bookmarks/index.js
  webpack/assets/javascripts/react_app/components/common/DocumentationLink/index.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/DefaultEmptyState.js
  webpack/assets/javascripts/react_app/components/common/SearchInput/index.js
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/index.js
  webpack/assets/javascripts/react_app/components/common/forms/Actions.js
  webpack/assets/javascripts/react_app/components/common/forms/Form.js
  webpack/assets/javascripts/react_app/components/factCharts/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/disk/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
  webpack/assets/javascripts/react_app/components/notifications/index.js
  webpack/assets/javascripts/react_app/components/statistics/StatisticsChartsList.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.consts.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.js
  webpack/test_setup.js
Labels: Needs testing, UI

#6118 Refs #24245 - fix pagination broken due to new pagination changes
  app/assets/stylesheets/base.scss
Labels: Ready to merge

#6124 Fixes #25150 - Check for `#dynamic` with regex
  lib/foreman/renderer/scope/variables/base.rb
  test/unit/foreman/renderer/scope/variables/base_test.rb
Labels: Ready to merge

#6126 fixes #25154 - do not join reports when searching
  app/models/concerns/hostext/search.rb
Labels: Needs testing

#6128 fixes #25154 - do not join reports when searching
  app/models/concerns/hostext/search.rb
Labels: Needs testing, Stable branch

#6093 Fixes #25053 - expensive db_facts query executed just once
  app/services/fact_importer.rb
Labels: Needs testing

#6102 Fixes #24662 - provision_method change error (On change from implicit to explicit 'build')
  app/models/host/managed.rb
  test/models/host_test.rb
Labels: Needs testing

#6130 Refs #25053 - Remove unused fact_names_by_id hash
  app/services/fact_importer.rb
Labels: Ready to merge

#6114 Fixes #24835 - Non-default Settings Bolded
  app/views/settings/index.html.erb
Labels: Needs testing

#6107 Fixes #25075: fix provisioning template preview
  app/controllers/unattended_controller.rb
  app/views/hosts/_templates.html.erb
  test/controllers/unattended_controller_test.rb
Labels: Ready to merge

#6133 Fixes #25175 - fix importing css in layout.scss
  app/assets/stylesheets/colors.scss
  webpack/assets/javascripts/react_app/common/colors.scss
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: Needs testing, UI

#6120 fixes #25136 - fix infinite loop in autoyast templates
  lib/foreman/renderer.rb
  test/unit/foreman/renderer_test.rb
Labels: Needs testing, Stable branch

#6129 Fixes #25150 - Check for `#Dynamic` with regex [CP 1.19]
  lib/foreman/renderer.rb
  test/unit/foreman/renderer_test.rb
Labels: Needs testing, Stable branch

#6109 Fixes #25124 - Add ability to indicate a host substatus
  app/helpers/hosts_helper.rb
  app/models/host_status/global.rb
  app/models/host_status/status.rb
  test/models/host_status/global_test.rb
Labels: Ready to merge

#6122 Fixes #22737 - add a global option to keep VMs
  app/helpers/hosts_helper.rb
  app/models/host/managed.rb
  app/models/setting/provisioning.rb
  test/fixtures/settings.yml
  test/models/hosts/managed_test.rb
Labels: Demo worthy, Ready to merge

#6139 fixes #25198 - Fix SearchBar keyboard navigation.
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteMenu.js
Labels: Needs testing, Not yet reviewed, UI

#6145 Fixes #25213 - Bump version of logging-journald to 2.x
  bundler.d/journald.rb
Labels: Needs testing

#6147 Fixes #25214 - update template snapshots, seeds test
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Atomic Kickstart default.snap.txt
  test/unit/tasks/seeds_test.rb
Labels: Needs testing

#6140 Fixes #25203 - set hosts count to 0 if null
  webpack/assets/javascripts/react_app/components/factCharts/index.js
Labels: Needs testing, UI

#6143 Fixes #25188 - Remove unbound facts from /hosts/x/facts
  app/controllers/api/v2/fact_values_controller.rb
  app/models/fact_value.rb
  test/controllers/api/v2/fact_values_controller_test.rb
Labels: Needs testing

#6151 Fixes #25222 - include more test in rake test:api
  lib/tasks/test.rake
Labels: Needs testing

#6154 Fixes #25230 - Remove useless html from toast notifications
  webpack/assets/javascripts/foreman_auth_source.js
  webpack/assets/javascripts/foreman_compute_resource.js
  webpack/assets/javascripts/foreman_users.js
Labels: Needs testing, UI

#6159 fixes #25257 - include AuthorizeHelper in HostsHelper
  app/helpers/hosts_helper.rb
Labels: Needs testing

#6152 Fixes #25225 - clone oVirt disk only when source disk exists
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#6161 Fixes #25260 - Throw error on jest when prop-type warning appears
  package.json
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcher.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcherPopover.test.js.snap
Labels: Needs testing, UI

#6163 Fixes #25269 - Translate audit login text
  webpack/assets/javascripts/react_app/components/AuditsList/UserDetails.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/UserDetails.test.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/__snapshots__/UserDetails.test.js.snap
Labels: Needs testing, UI

#6162 Fixes #25265 - Allow I18n in defaultProps
  webpack/assets/javascripts/react_app/common/I18n.test.js
  webpack/assets/javascripts/react_app/common/__mocks__/I18n.js
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteSearchButton.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/test_setup.js
Labels: UI

#6158 Fix #25253 - Show compute resource datastore usage
  webpack/assets/javascripts/react_app/components/common/forms/Select.js
Labels: Needs testing, UI

#6160 Fixes #21592 - Add chromedriver as alternative JS debugging
  bundler.d/test.rb
  package.json
  test/integration_test_helper.rb
Labels: Needs testing

#6164 Fixes #25271 - add current-org's id to redux store
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutActions.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutSelectors.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/index.js
Labels: Needs testing, UI

#6137 Fixes #25197- SearchBar's onChange debounce too slow
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteActions.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/index.js
Labels: Needs testing, UI

#6168 Fixes #25295 - ignore broken vmware machines
  app/services/fog_extensions/vsphere/mini_servers.rb
Labels: Needs testing

#6173 Fixes #25316 - ensure notifications_recipient_path resolves
  app/helpers/layout_helper.rb
Labels: Needs testing

#6172 Fixes #25312 - skip add_*permissions_to_default_roles in rake
  app/registries/foreman/plugin.rb
Labels: Needs testing

#6175 Fixes #25325 - Fix Layout/RescueEnsureAlignment cop
  .rubocop_todo.yml
  lib/foreman/fips.rb
Labels: Needs testing

#6174 Fixes #25324 - Fix Performance/UnneededSort cop
  .rubocop_todo.yml
  test/unit/pagelet_manager_test.rb
Labels: Needs testing

#6177 Fixes #25327 - Fix Style/UnneededCondition cop
  .rubocop_todo.yml
  app/helpers/form_helper.rb
  app/registries/menu/manager.rb
  lib/foreman/logging.rb
  lib/foreman/renderer/scope/variables/base.rb
  test/controllers/shared/basic_rest_response_test.rb
Labels: Needs testing

#6156 fixes #25248 - build status check without proxy edit
  app/models/smart_proxy.rb
  app/services/host_build_status.rb
  test/models/smart_proxy_test.rb
  test/unit/host_build_status_test.rb
Labels: Needs testing

#6179 fixes #25331 - do not audit fact import
  app/models/host/base.rb
Labels: Needs testing, Stable branch

#6182 fixes #25331 - do not audit fact import
  app/models/host/base.rb
Labels: Needs testing, Stable branch

#6127 Fixes #24276 - add resource switcher to facts page
  app/helpers/fact_values_helper.rb
  app/views/fact_values/index.html.erb
Labels: Needs testing

#6184 Fixes #25346 - Correctly render menu for non-admin users
  app/registries/menu/item.rb
  app/registries/menu/manager.rb
  app/registries/menu/node.rb
  app/registries/menu/toggle.rb
  test/unit/menu_manager_test.rb
Labels: Ready to merge
