Repository theforeman/foreman, pull requests merged in 2018-05, with the labels that each got.

#5515 fixes #23467 - refer to any facts, not just puppet's
  app/views/trends/welcome.html.erb
Labels: Needs testing

#5508 Fixes #23443 - relax pinning of rails-i18n
  Gemfile
Labels: Needs testing

#5510 fixes #23387 - FOREMAN_RSS_LATEST_POSTS option now works
  lib/tasks/rss.rake
Labels: Needs testing

#5517 Fixes #23469 - update show_me_the_cookies to 4.x
  bundler.d/test.rb
Labels: Needs testing

#5267 Fixes #22592 - Add component for radio buttons
  webpack/assets/javascripts/react_app/components/bookmarks/bookmark.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/Form.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup.js
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup.test.js
  webpack/assets/javascripts/react_app/components/common/forms/__snapshots__/RadioButtonGroup.test.js.snap
  webpack/stories/storeDecorator.js
Labels: Ready to merge

#4985 Fixes #18429 - Add foreman API support for trends
  app/controllers/api/v2/trends_controller.rb
  app/controllers/trends_controller.rb
  app/models/trend.rb
  app/models/trends/foreman_trend.rb
  app/registries/foreman/access_permissions.rb
  app/views/api/v2/trends/base.json.rabl
  app/views/api/v2/trends/create.json.rabl
  app/views/api/v2/trends/index.json.rabl
  app/views/api/v2/trends/main.json.rabl
  app/views/api/v2/trends/show.json.rabl
  app/views/api/v2/trends/update.json.rabl
  config/routes/api/v2.rb
  test/controllers/api/v2/trends_controller_test.rb
Labels: Needs testing

#5514 Fixes #23462 - bump patternfly-react to ^2.1.0
  package.json
Labels: Needs testing

#5524 Fixes 23486 - remove js warnings when a modal opens
  package.json
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/statistics/ChartBox.js
  webpack/assets/javascripts/react_app/components/statistics/__snapshots__/ChartBox.test.js.snap
Labels: Needs testing

#5523 Fixes #23485 - Port robottelo tests for interfaces
  test/controllers/api/v2/interfaces_controller_test.rb
  test/models/nics/base_test.rb
Labels: Needs testing

#5518 Fixes #23474 - update capybara to 3.x
  bundler.d/test.rb
  test/integration_test_helper.rb
Labels: Needs testing

#5528 fixes #23499 - port robottelo tests for filters
  test/controllers/api/v2/filters_controller_test.rb
  test/controllers/api/v2/roles_controller_test.rb
Labels: Needs testing, Waiting on contributor

#5529 Refs #23462 - Allow newer patternfly
  package.json
Labels: Needs testing

#5531 Fixes #23514 - Simplify javascript import path
  webpack/assets/javascripts/foreman_toast_notifications.js
  webpack/assets/javascripts/foreman_toast_notifications.test.js
Labels: Needs testing

#5533 Fixes #23462 - bump patternfly-react to ^2.1.0
  package.json
Labels: Ready to merge

#5532 Fixes #23518 - Use puma for Capybara tests
  bundler.d/test.rb
  test/integration_test_helper.rb
Labels: Needs testing

#5537 Fixes #23248 - disable breadcrumb switcher in compute attributes page
  app/views/compute_attributes/edit.html.erb
Labels: Needs testing

#5536 Refs #23485 - Fix interface test
  test/models/nics/base_test.rb
Labels: Needs testing

#5538 Fixes #23527 - enable breadcrumbs switcher in trends
  app/views/trends/_empty_data.html.erb
  app/views/trends/edit.html.erb
  app/views/trends/show.html.erb
Labels: Needs testing

#5521 Fixes #23483: edit Foreman license info so that GitHub recognizes it
  LICENSE
  README.md
Labels: Needs testing

#5019 Fixes #22847 - Use pf-react donut chart in facts page
  .eslintrc
  .storybook/preview-head.html
  app/controllers/facts_controller.rb
  app/views/fact_values/_fact.html.erb
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/DonutChart.fixtures.js
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/__snapshots__/DonutChart.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/components/factCharts/__snapshots__/factChart.test.js.snap
  webpack/assets/javascripts/react_app/components/factCharts/factChart.fixtures.js
  webpack/assets/javascripts/react_app/components/factCharts/factChart.stories.js
  webpack/assets/javascripts/react_app/components/factCharts/factChart.test.js
  webpack/assets/javascripts/react_app/components/factCharts/index.js
  webpack/assets/javascripts/react_app/redux/actions/factCharts/factChart.test.js
  webpack/assets/javascripts/react_app/redux/actions/factCharts/index.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/reducers/factCharts/factChart.test.js
  webpack/assets/javascripts/react_app/redux/reducers/factCharts/index.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/services/ChartService.js
  webpack/assets/javascripts/services/ChartServices.test.js
  webpack/assets/javascripts/services/__snapshots__/ChartServices.test.js.snap
Labels: Needs testing

#5530 Fixes #23511 - Generate webpack plugins in context of vendor/bundle
  config/initializers/assets.rb
  config/webpack.config.js
  script/plugin_webpack_directories.rb
Labels: Needs testing, Waiting on contributor

#5544 Fixes #23565 - Port robottelo test for smart variables
  test/controllers/api/v2/override_values_controller_test.rb
  test/controllers/api/v2/smart_variables_controller_test.rb
  test/models/lookup_keys/variable_lookup_key_test.rb
  test/models/lookup_value_test.rb
Labels: Needs testing

#5506 Fixes #23426 - support default flag in templates import
  app/controllers/api/v2/base_controller.rb
  app/models/template.rb
  test/models/template_test.rb
Labels: Ready to merge

#5541 Fixes #23549 - add axios support for wait_for_ajax
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/API.js
  webpack/assets/javascripts/react_app/APITestSetup.js
Labels: Needs testing

#5546 Fixes #23169 - Orders settings alphabetically
  app/models/setting.rb
  app/views/settings/index.html.erb
  test/models/setting_test.rb
Labels: Ready to merge

#5549 Fixes #15549 - Correct documentation for exports rake task
  lib/tasks/reports.rake
Labels: Needs testing

#5548 Fixes #21992 - Uses patternfly spinner component
  webpack/assets/javascripts/react_app/components/common/Loader/__snapshots__/Loader.test.js.snap
  webpack/assets/javascripts/react_app/components/common/Loader/index.js
  webpack/assets/javascripts/react_app/components/common/forms/__snapshots__/Actions.test.js.snap
Labels: Needs testing

#5547 Fixes #22000 - replaced the Button component with the Patternfly Button
  webpack/assets/javascripts/react_app/components/bookmarks/form/__snapshots__/form.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/Actions.js
  webpack/assets/javascripts/react_app/components/common/forms/Button.js
  webpack/assets/javascripts/react_app/components/common/forms/Button.test.js
  webpack/assets/javascripts/react_app/components/common/forms/__snapshots__/Actions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/__snapshots__/Button.test.js.snap
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/disk/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/index.js
Labels: Needs testing

#5558 Fixes #23587 - Verify webpack precompile is needed
  lib/tasks/plugin_assets.rake
Labels: Needs testing

#5565 Fixes #23602 - Remove statisticsHelper file (dead code)
  app/helpers/statistics_helper.rb
Labels: Needs testing

#5557 Fixes #23586 - Port robottelo tests for template
  test/controllers/api/v2/config_templates_controller_test.rb
  test/controllers/api/v2/provisioning_templates_controller_test.rb
  test/models/provisioning_template_test.rb
Labels: Needs testing

#5562 Fixes #23597 - Port robottelo tests - combination template
  test/controllers/api/v2/provisioning_templates_controller_test.rb
  test/controllers/api/v2/template_combinations_controller_test.rb
Labels: Needs testing

#5561 Fixes #23587 - Verify webpack precompile is needed
  lib/tasks/plugin_assets.rake
Labels: Needs testing, Not yet reviewed

#5551 Fixes #23559 - fix breadcrumbs switcher in trends page
  app/models/trend.rb
  app/views/api/v2/trends/base.json.rabl
Labels: Ready to merge

#5534 Fixes #23521 - BreadcrumbBar nested name_field
  webpack/assets/javascripts/react_app/common/testHelpers.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBarActions.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarActions.test.js.snap
Labels: Ready to merge

#5552 Fixes #23576 - Fix the 'webpacked_plugins_js_for' helper
  app/helpers/reactjs_helper.rb
Labels: Ready to merge

#5564 Fixes #23601 - switch org/loc button ordering in vertical nav
  app/views/home/_navbar.html.erb
  test/integration/top_bar_test.rb
Labels: Needs testing

#5240 Fixes #22683 - Refactor PasswordStrength folder structure
  package.json
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.fixtures.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.scss
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthActions.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthConstants.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthReducer.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthSelectors.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/PasswordStrength.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/PasswordStrengthActions.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/PasswordStrengthReducer.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/PasswordStrengthSelectors.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrength.test.js.snap
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrengthActions.test.js.snap
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrengthReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/components/user/passwordStrength/__snapshots__/passwordStrength.test.js.snap
  webpack/assets/javascripts/react_app/components/user/passwordStrength/index.js
  webpack/assets/javascripts/react_app/components/user/passwordStrength/passwordStrength.fixtures.js
  webpack/assets/javascripts/react_app/components/user/passwordStrength/passwordStrength.test.js
  webpack/assets/javascripts/react_app/redux/actions/user/passwordStrength/index.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/redux/reducers/user/passwordStrength/index.js
Labels: Ready to merge

#5571 Fixes #23605 - Port robottelo tests - smart_proxy
  test/controllers/api/v2/smart_proxies_controller_test.rb
  test/models/smart_proxy_test.rb
Labels: Needs testing

#5568 Fixes #23609 - Port robottelo tests for classparameters
  test/controllers/api/v2/override_values_controller_test.rb
  test/controllers/api/v2/smart_class_parameters_controller_test.rb
  test/models/lookup_key_test.rb
Labels: Needs testing

#5572 Fixes #23576 - Fix the 'webpacked_plugins_js_for' helper
  app/helpers/reactjs_helper.rb
Labels: Needs testing, Not yet reviewed

#5470 Fixes #22983, #22010 - ignore persistence authz for relations
  app/models/config_group_class.rb
  app/models/host_class.rb
  app/models/host_config_group.rb
  app/models/hostgroup_class.rb
Labels: Needs testing

#5505 Fixes #23415 - nullify taxonomy associations for audits
  app/models/taxonomy.rb
Labels: Needs testing, Not yet reviewed

#5576 refs #23378 - vsphere: filter volume key parameter
  app/controllers/concerns/foreman/controller/normalize_scsi_attributes.rb
Labels: Ready to merge

#5586 Refs #23295 - Robottelo tests reporting
  test/test_helper.rb
Labels: Needs testing

#5539 Fixes #20778 - Fix redirect parameters on hosts page
  app/assets/javascripts/host_checkbox.js
  test/integration/host_js_test.rb
Labels: Needs testing

#5581 Fixes #23628 - fix BreadcrumbBar actions test failure
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarActions.test.js.snap
Labels: Needs testing

#5579 Refs #23511 - make the webpack generated bundle reusable by plugins
  config/webpack.config.js
Labels: Needs testing

#5595 Fixes #23646 - Remove storeconfig leftovers
  app/controllers/hosts_controller.rb
  app/models/host/managed.rb
  app/registries/foreman/access_permissions.rb
  app/views/hosts/storeconfig_klasses.html.erb
  config/routes.rb
  lib/tasks/puppet.rake
Labels: Needs testing

#5593 Fixes #23248 - disable switcher in compute attributes
  app/views/compute_attributes/edit.html.erb
Labels: Needs testing

#5516 Fixes #23468 - Add a test helper to test reducers with fixtures
  webpack/assets/javascripts/react_app/common/testHelpers.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBarReducer.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/PasswordStrengthReducer.test.js
Labels: Needs testing

#5553 Fixes #23577 - Configurable security token path
  lib/tasks/security.rake
Labels: Needs testing

#5550 fixes #23573 - add pagelets for cr show page
  app/views/compute_resources/show.html.erb
  test/controllers/compute_resources_controller_test.rb
Labels: Needs testing

#5525 Fixes #23487 - support namespaced controllers
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/helpers/filters_helper.rb
  app/helpers/layout_helper.rb
  app/services/breadcrumbs_options.rb
  test/helpers/filters_helper_test.rb
  test/unit/breadcrumbs_options_test.rb
Labels: Needs testing

#5594 Fixes #23645 - Make loading settings.yaml optional
  config/boot_settings.rb
  config/settings.rb
Labels: Needs testing

#5434 Fixes #22698 - clearing search filter does not clear search filter
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
Labels: Needs testing

#5589 Fixes #23635 - Centralize use of facter
  app/models/setting/auth.rb
  app/models/setting/email.rb
  app/models/setting/general.rb
  app/models/setting/provisioning.rb
  config/settings.rb
  db/migrate/20100419151910_add_owner_to_hosts.rb
  db/migrate/20100628123400_add_internal_auth.rb
  lib/tasks/reset_permissions.rake
Labels: Ready to merge

#5606 Fixes #23679 - Nil error in migrate_template_to_parameters_macros
  db/migrate/20170112175131_migrate_template_to_parameters_macros.rb
Labels: Needs testing

#5603 Fixes #23347 - only show password for internal auth source
  app/assets/javascripts/application.js
Labels: Needs testing

#5540 Fixes #23550 - add to_hash method to Menu::Manager
  app/registries/menu/divider.rb
  app/registries/menu/item.rb
  app/registries/menu/manager.rb
  app/registries/menu/toggle.rb
  test/unit/menu_manager_test.rb
Labels: Needs testing

#5602 Fixes #23608 - Only calculate lookup values once
  app/services/classification/values_hash_query.rb
Labels: Ready to merge

#5607 fixes #23681 - move auth_source_ldap js to webpack
  app/assets/javascripts/auth_source_ldap.js
  app/views/auth_source_ldaps/_form.html.erb
  app/views/auth_source_ldaps/index.html.erb
  config/initializers/assets.rb
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_auth_source.js
  webpack/assets/javascripts/foreman_auth_source.test.js
Labels: Needs testing

#5613 refs #22847 - remove unused charts code.
  app/views/fact_values/index.html.erb
Labels: Needs testing

#5609 Fixes #23679 - Nil error in migrate_template_to_parameters_macros
  db/migrate/20170112175131_migrate_template_to_parameters_macros.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#5585 Fixes #22983, #22010 - ignore persistence authz for relations
  app/models/config_group_class.rb
  app/models/host_class.rb
  app/models/host_config_group.rb
  app/models/hostgroup_class.rb
Labels: Needs testing

#5608 Fixes #23679 - Nil error in migrate_template_to_parameters_macros
  db/migrate/20170112175131_migrate_template_to_parameters_macros.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#5584 Fixes #22983, #22010 - ignore persistence authz for relations
  app/models/config_group_class.rb
  app/models/host_class.rb
  app/models/host_config_group.rb
  app/models/hostgroup_class.rb
Labels: Needs testing

#5461 Fixes #23357 - Refactor Patternfly Notification Drawer
  app/controllers/notification_recipients_controller.rb
  app/registries/foreman/access_permissions.rb
  config/routes.rb
  package.json
  test/controllers/notification_recipients_controller_test.rb
  webpack/assets/javascripts/react_app/common/colors.scss
  webpack/assets/javascripts/react_app/components/common/Icon/Icon.test.js
  webpack/assets/javascripts/react_app/components/notifications/__snapshots__/notifications.test.js.snap
  webpack/assets/javascripts/react_app/components/notifications/drawer/NotificationDropdown.fixtures.js
  webpack/assets/javascripts/react_app/components/notifications/drawer/NotificationDropdown.js
  webpack/assets/javascripts/react_app/components/notifications/drawer/NotificationDropdown.test.js
  webpack/assets/javascripts/react_app/components/notifications/drawer/__snapshots__/NotificationDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/notifications/drawer/index.js
  webpack/assets/javascripts/react_app/components/notifications/drawer/notification.js
  webpack/assets/javascripts/react_app/components/notifications/drawer/notificationGroup.js
  webpack/assets/javascripts/react_app/components/notifications/index.js
  webpack/assets/javascripts/react_app/components/notifications/notifications.fixtures.js
  webpack/assets/javascripts/react_app/components/notifications/notifications.scss
  webpack/assets/javascripts/react_app/components/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/__snapshots__/notifications.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/notifications/index.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/reducers/notifications/__snapshots__/notifications.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/notifications/index.js
  webpack/assets/javascripts/react_app/redux/reducers/notifications/notifications.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/notifications/notifications.test.js
Labels: Needs testing

#5615 change some URLs to https
  README.md
Labels: Needs testing, Waiting on contributor

#5526 Fixes #21997 - make http_proxy extension excon >0.59 compatible
  Gemfile
  lib/foreman/http_proxy.rb
Labels: Ready to merge

#5624 Refs #23499 - pids for ported tests
  test/controllers/api/v2/filters_controller_test.rb
  test/controllers/api/v2/roles_controller_test.rb
Labels: Needs testing

#5487 Fixes #23379 - proxy stubs on API level
  test/controllers/api/v2/config_reports_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/api/v2/reports_controller_test.rb
  test/controllers/api/v2/smart_proxies_controller_test.rb
  test/controllers/smart_proxies_controller_test.rb
  test/integration/smart_proxy_test.rb
Labels: Needs testing

#5601 Fixes #22698 - clear the search filter
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
Labels: Needs testing

#5582 Fixes #22983, #22010 - ignore persistence authz for relations
  app/models/config_group_class.rb
  app/models/host_class.rb
  app/models/host_config_group.rb
  app/models/hostgroup_class.rb
Labels: Needs testing

#5626 Fixes #19990 - VMWare allow save vm w/o size_gb attr
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing, Not yet reviewed

#5627 Fixes #19990 - VMWare allow save vm w/o size_gb attr
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing, Not yet reviewed

#5592 Fixes #23643 - Stop bundle install in Travis
  .travis.yml
  script/plugin_webpack_directories.rb
Labels: Needs testing

#5629 Bump version to 1.19.0-develop
  CHANGELOG
  Contributors
  VERSION
  package.json
Labels: Needs testing, Waiting on contributor
