Repository theforeman/foreman, pull requests merged in 2018-09, with the labels that each got.

#6014 fixes #24760 - define dashboard module explicitly
  app/services/dashboard.rb
  app/services/dashboard/data.rb
Labels: Needs testing

#6005 Fixes #24301 - Create user in LDAP does not require password
  app/controllers/api/v2/users_controller.rb
Labels: Needs testing, Waiting on contributor

#5752 Fixes #24102 - Allow more complex logic for template locks
  app/models/template.rb
  test/models/template_test.rb
Labels: Needs testing

#5974 Fixes #24665 - mount breadcrumbs only when for 200 response
  app/helpers/layout_helper.rb
  test/helpers/layout_helper_test.rb
Labels: Needs testing

#5948 Fixes #24620 - suggest Dynflow logger to be info by default
  config/settings.yaml.example
Labels: Needs testing

#5996 Fixes #24720 - listen interface aligned in dev script
  script/foreman-start-dev
Labels: Needs testing

#6025 Fixes #24782 - [Single Page Application] Show hosts count in API
  app/controllers/api/v2/models_controller.rb
  app/helpers/application_helper.rb
  app/services/host_counter.rb
  app/views/api/v2/models/main.json.rabl
  test/controllers/api/v2/models_controller_test.rb
  test/unit/host_counter_test.rb
Labels: Needs testing

#5933 Fixes #24522 - Fix selected cluster in ovirt network
  app/views/compute_attributes/_compute_form.html.erb
  app/views/compute_resources_vms/form/_networks.html.erb
  app/views/compute_resources_vms/form/ovirt/_network.html.erb
Labels: Ready to merge

#5943 Fixes #24567 - Relaxed smart proxy version check
  app/controllers/smart_proxies_controller.rb
  test/controllers/smart_proxies_controller_test.rb
Labels: Needs testing

#5945 Fixes #24599 - Not custom instance type should disable params
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, UI

#6029 Refs #3809 - regenerate .rubocop_todo.yml
  .rubocop_todo.yml
Labels: Needs testing

#6030 Fixes #24381 - Remove modulepath setting
  app/models/setting/puppet.rb
  db/migrate/20180903154354_remove_modulepath_setting.rb
  lib/foreman/renderer/configuration.rb
  test/fixtures/settings.yml
Labels: Needs testing

#6007 Fixes #24740: document --watch-poll for NFS
  webpack/stories/docs/gettingStarted.md
Labels: Needs testing, UI

#5780 Fixes #21938 - add plugable upgrade rake task
  app/models/upgrade_task.rb
  db/migrate/20180705191153_add_upgrade_task.rb
  lib/tasks/upgrade.rake
  test/models/upgrade_task_test.rb
Labels: Needs testing

#6012 Fixes #24754 - update react to 16.4
  package.json
  webpack/test_setup.js
Labels: Needs testing, UI

#6016 Fixes #24763 - ensure reschedule rss notification on error
  app/jobs/create_rss_notifications.rb
Labels: Needs testing

#5980 Fixes #24683 - Styling improvements for PasswordStrength
  app/views/users/_form.html.erb
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.scss
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthSelectors.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/index.js
Labels: Ready to merge, UI

#5923 Fixes #24546 - add uniq constraint on subnet.name
  app/services/migrations/deduplicate_subnets.rb
  db/migrate/20180806151925_add_subnet_name_unique_constraint.rb
  test/unit/migrations/deduplicate_subnets_test.rb
Labels: Needs testing

#5949 Fixes #24621 - Use custom scope in ResourceSwitcher
  app/services/breadcrumbs_options.rb
  test/unit/breadcrumbs_options_test.rb
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBarActions.test.js
Labels: UI

#6042 Fixes #24831 - Remove Rails 5.1 workaround for slow api call
  app/controllers/api/base_controller.rb
Labels: Needs testing

#6041 Fixes #24807 - unsafe html in toast notification
  webpack/assets/javascripts/react_app/components/common/Alert/AlertBody.js
  webpack/assets/javascripts/react_app/components/common/Alert/__snapshots__/AlertBody.test.js.snap
  webpack/assets/javascripts/react_app/components/toastNotifications/__snapshots__/ToastsList.test.js.snap
Labels: Needs testing, UI

#6027 Fixes #24348 - Validate compute resources is within taxonomy
  app/models/host/managed.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
  test/factories/host_related.rb
Labels: Needs testing

#6018 [1.19] fixes #24702 - fix bulk taxonomy update w/ scoped search
  app/controllers/concerns/foreman/controller/taxonomy_multiple.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#6043 Fixes #24832 - Adds bootstrap-sass package
  package.json
Labels: Needs testing, Waiting on Packaging

#5982 fixes #24702 - fix bulk taxonomy update w/ scoped search
  test/controllers/hosts_controller_test.rb
Labels: Needs testing, Rails 5.2

#6050 Fixes #19867 - Fix Style/IfUnlessModifierOfIfUnless cop
  .rubocop_todo.yml
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#6045 Fixes #24836 - Update production.log filename so we get log.gz.
  script/foreman-debug
Labels: Needs re-review, Needs testing

#6053 Fixes #24478 - properly sanitize class name
  app/services/authorizer.rb
  test/unit/authorizer_test.rb
Labels: Needs testing

#5988 fixes #1459 - ipxe provisioning support
  app/controllers/unattended_controller.rb
  app/models/concerns/orchestration/tftp.rb
  app/models/concerns/pxe_loader_support.rb
  app/models/host/managed.rb
  app/models/operatingsystem.rb
  app/models/provisioning_template.rb
  app/models/template_kind.rb
  app/services/foreman/ipxe/message_renderer.rb
  app/views/unattended/provisioning_templates/iPXE/ipxe_default_local_boot.erb
  app/views/unattended/provisioning_templates/iPXE/ipxe_global_default.erb
  db/seeds.d/020-provisioning_templates_list.rb
  test/controllers/provisioning_templates_controller_test.rb
  test/controllers/unattended_controller_test.rb
  test/models/concerns/pxe_loader_support_test.rb
  test/models/operatingsystem_test.rb
Labels: Needs testing

#6062 Fixes #24913 - show os name in edit page
  app/views/operatingsystems/edit.html.erb
Labels: Needs testing

#6063 Fixes #24914 - show name in smart parameter edit page
  app/views/puppetclass_lookup_keys/edit.html.erb
Labels: Needs testing

#6023 Refs #15806 - add eslint also to travis tests
  package.json
  script/travis_run_js_tests.sh
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, UI

#6022 Fixes #24780 - update NodeJS versions
  .travis.yml
Labels: Needs testing

#6059 Fixes #24234 - Don't set taxonomies on audit for untaxable resources
  app/models/concerns/audit_extensions.rb
  test/models/concerns/audit_extensions_test.rb
Labels: Ready to merge

#6028 Fixes #24783 - Refactor hosts count
  app/controllers/api/v2/models_controller.rb
  app/helpers/application_helper.rb
  app/models/domain.rb
  app/models/hostgroup.rb
  app/services/host_counter.rb
  app/views/api/v2/models/main.json.rabl
  app/views/api/v2/taxonomies/show.json.rabl
  app/views/architectures/index.html.erb
  app/views/domains/index.html.erb
  app/views/environments/index.html.erb
  app/views/hostgroups/index.html.erb
  app/views/models/index.html.erb
  app/views/operatingsystems/index.html.erb
  app/views/realms/index.html.erb
  app/views/subnets/index.html.erb
  app/views/taxonomies/index.html.erb
  test/models/domain_test.rb
  test/unit/host_counter_test.rb
Labels: Needs testing

#6046 Fixes #24844 - find correctly audited objects
  app/helpers/audits_helper.rb
Labels: Needs testing

#6049 Fixes #19869 - Fix Style/LineEndConcatenation cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#5837 Fixes #24056 - Moved facets to Host::Base
  app/models/concerns/facets/base_host_extensions.rb
  app/models/concerns/facets/managed_host_extensions.rb
  app/models/host/base.rb
  app/services/facets.rb
  test/unit/facet_configuration_test.rb
Labels: Needs testing

#6009 Fixes #24742 - Refactor unattended controller
  app/controllers/unattended_controller.rb
  app/services/foreman/unattended_installation/host_finder.rb
  app/services/foreman/unattended_installation/host_verifier.rb
  app/services/foreman/unattended_installation/mac_list_extractor.rb
  test/controllers/unattended_controller_test.rb
Labels: Needs testing

#6019 Fixes #24633 - Add uniqueness to puppet class name
  db/migrate/20180831115634_add_uniqueness_to_puppetclass_name.rb
Labels: Ready to merge

#6075 Fixes #24957 - correctly filter taxonomies in API
  app/controllers/concerns/api/v2/taxonomies_controller.rb
  test/controllers/api/v2/organizations_controller_test.rb
Labels: Needs testing

#6069 Fixes #24944 - removes LC_ALL from debug script [skip ci]
  script/foreman-debug
Labels: Needs testing

#6068 Fixes #15707 - AWS support for GovCloud
  app/controllers/api/v2/compute_resources_controller.rb
  app/controllers/concerns/foreman/controller/parameters/compute_resource.rb
  app/models/compute_resources/foreman/model/ec2.rb
  app/views/compute_resources/form/_ec2.html.erb
  test/models/compute_resources/ec2_test.rb
  webpack/assets/javascripts/foreman_compute_resource.js
Labels: Needs testing, UI

#5730 Fixes #23210 - Handle PuppetCA tokens
  app/models/concerns/hostext/puppetca.rb
  app/models/concerns/hostext/token.rb
  app/models/concerns/orchestration/puppetca.rb
  app/models/host/managed.rb
  app/models/token.rb
  app/models/token/build.rb
  app/models/token/puppetca.rb
  db/migrate/20180613100703_add_type_to_token.rb
  test/models/orchestration/puppetca_test.rb
  test/models/token/build_test.rb
  test/models/token/puppetca_test.rb
  test/models/token_test.rb
Labels: Ready to merge

#6078 Sync templates
  app/views/unattended/provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXEGrub2/preseed_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXELinux/autoyast_default_pxelinux.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_default_local_boot.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_global_default.erb
  app/views/unattended/provisioning_templates/PXELinux/rancheros_pxelinux.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/iPXE/autoyast_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/kickstart_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  app/views/unattended/provisioning_templates/snippet/_ansible_provisioning_callback.erb
  app/views/unattended/provisioning_templates/snippet/_blacklist_kernel_modules.erb
  app/views/unattended/provisioning_templates/snippet/_csr_attributes.yaml.erb
  app/views/unattended/provisioning_templates/snippet/_kickstart_ifcfg_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/_kickstart_networking_setup.erb
  app/views/unattended/provisioning_templates/snippet/_preseed_networking_setup.erb
  app/views/unattended/provisioning_templates/snippet/_puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/_pxegrub2_chainload.erb
  app/views/unattended/provisioning_templates/snippet/_pxegrub_chainload.erb
  app/views/unattended/provisioning_templates/snippet/_redhat_register.erb
  app/views/unattended/provisioning_templates/snippet/_remote_execution_ssh_keys.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
  db/seeds.d/020-provisioning_templates_list.rb
Labels: Needs testing, Waiting on contributor

#5831 Fixes #21833 - added bootsnap development dependency
  bundler.d/development.rb
  config/boot.rb
Labels: Needs testing

#6072 Fixes #24940,#24951 - hostgroup does not fill for non-managed host
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#6008 Fixes #24743 - medium provider template check works
  app/models/concerns/host_common.rb
  app/models/concerns/host_template_helpers.rb
  app/models/concerns/orchestration/tftp.rb
  lib/tasks/exports.rake
  test/models/host_test.rb
Labels: Ready to merge

#6064 fixes #24935 - validate existence of proxy assocations
  app/models/concerns/belongs_to_proxies.rb
  app/validators/proxy_features_validator.rb
  test/controllers/api/v2/realms_controller_test.rb
Labels: Ready to merge

#6052 Fixes #24849 - PXE global default option is local
  app/models/setting.rb
  app/models/setting/provisioning.rb
  app/views/unattended/provisioning_templates/PXEGrub/pxegrub_default_local_boot.erb
  app/views/unattended/provisioning_templates/PXEGrub/pxegrub_global_default.erb
  app/views/unattended/provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
  app/views/unattended/provisioning_templates/snippet/_pxegrub_chainload.erb
  db/migrate/20180918135943_change_default_pxe_items.rb
  lib/foreman/renderer/configuration.rb
  test/fixtures/settings.yml
Labels: Needs testing

#6067 Fixes #24938 - fix image OS label
  app/views/images/_form.html.erb
Labels: Needs testing

#6085 Fixes #24965 - can't start Openstack Servers
  app/models/concerns/fog_extensions/openstack/server.rb
Labels: Needs testing

#6086 refs #24965 - add mising 'end' in openstack fog extensions
  app/models/concerns/fog_extensions/openstack/server.rb
Labels: Needs testing

#6080 Fixes #24995 - medium_provider is on host
  app/models/concerns/orchestration/tftp.rb
Labels: Needs testing

#6082 Fixes #25005 - hosts with no report link on widget
  app/helpers/dashboard_helper.rb
  app/views/dashboard/_status_links.html.erb
Labels: Needs testing

#6088 Refs #24940 - refresh hosts now loads puppet tab
  app/controllers/hosts_controller.rb
Labels: Needs testing

#6091 Fixes #25038 - allow subnet present in safemode
  app/models/subnet.rb
Labels: Ready to merge

#6094 Fixes #25054 - fixes RSS rescheduling
  app/jobs/create_rss_notifications.rb
Labels: Needs testing
