Repository theforeman/foreman, pull requests merged in 2018-12, with the labels that each got.

#6254 Fixes #25487 - Fix subtotal in API response
  app/controllers/api/v2/base_controller.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#6299 [CP 1.20] Fixes #25487 - Fix subtotal in API response
  app/controllers/api/v2/base_controller.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing, Not yet reviewed, Stable branch

#6279 Fixes #25548 - SearchBar bug on hosts page
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteReducer.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteSelectors.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteSelectors.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/index.js
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
Labels: Needs testing, UI

#6287 Fixes #25567 - Fix TFTP for RancherOS
  app/models/operatingsystems/rancheros.rb
Labels: Needs testing

#6090 Fixes #24900 - expiration task no longer error out
  app/models/report.rb
  lib/tasks/reports.rake
  test/models/report_test.rb
Labels: Needs testing

#6303 Fixes #25620 - do not log reports to blob logger
  app/models/report.rb
  app/models/report_template.rb
Labels: Needs testing

#6304 Fixes #22623 - Use https in docs URLs
  app/helpers/application_helper.rb
Labels: Needs testing

#6210 Refs #25398 - disabled FactValuesControllerTest failing tests
  test/controllers/api/v2/fact_values_controller_test.rb
Labels: Needs testing

#6309 Fixes #25635 - Correct deprecation version for operatingsystems
  app/controllers/api/v2/operatingsystems_controller.rb
  app/models/operatingsystem.rb
Labels: Needs testing

#6311 Fixes #25637 - Default dashboard auto-refresh to off
  app/helpers/dashboard_helper.rb
Labels: Needs testing

#6190 Fixes #22898 - Preview fails on /clone_template
  app/helpers/template_paths_helper.rb
Labels: Needs testing

#6316 Fixes #25650 - Added medium_uri macro to templates
  lib/foreman/renderer/scope/macros/base.rb
Labels: Needs testing

#6306 Fixes #25097,#25277 - Associate reports & classes with taxonomy
  app/controllers/api/v2/config_reports_controller.rb
  app/models/puppetclass.rb
  app/models/report.rb
  app/models/taxonomies/location.rb
  app/models/taxonomies/organization.rb
  app/models/taxonomy.rb
  test/controllers/api/v2/config_reports_controller_test.rb
  test/controllers/api/v2/puppetclasses_controller_test.rb
Labels: Needs testing

#6313 Fixes #25524 - allow matching prerelease versions
  app/registries/foreman/plugin.rb
  test/unit/plugin_test.rb
Labels: Needs testing

#6319 Refs #24232 - Fix migration for upgrades
  db/migrate/20181116104823_fixed_ignore_taxonomies_for_audit_filters.rb
Labels: Needs testing, Waiting on contributor

#6262 Fixes #25503 - Allow truncation of page header in breadcrumbs
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumb.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumbs.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/Breadcrumb.test.js.snap
Labels: Needs testing, UI

#6294 fixes #2308 - add option to select cpumode in libvirt
  app/models/compute_resources/foreman/model/libvirt.rb
  app/models/concerns/fog_extensions/libvirt/server.rb
  app/models/setting/provisioning.rb
  app/views/compute_resources_vms/form/libvirt/_base.html.erb
Labels: Needs testing, Waiting on contributor

#6318 Fixes #25491 - Add public key option in POST compute resource API
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#4093 Fixes #17527 - Add support for hostgroup facets
  app/controllers/api/v2/hosts_controller.rb
  app/models/concerns/facets/base.rb
  app/models/concerns/facets/base_host_extensions.rb
  app/models/concerns/facets/hostgroup_extensions.rb
  app/models/concerns/facets/hostgroup_facet.rb
  app/models/concerns/facets/managed_host_extensions.rb
  app/models/concerns/facets/model_extensions_base.rb
  app/models/hostgroup.rb
  app/services/facets.rb
  app/services/facets/entry.rb
  app/services/facets/host_base_entry.rb
  lib/tasks/test.rake
  test/facet_test_helper.rb
  test/unit/facet_configuration_test.rb
  test/unit/facet_test.rb
Labels: Needs testing

#6326 Fixes #25673 - Change smart variable edit page's title
  app/views/variable_lookup_keys/edit.html.erb
Labels: Needs testing

#6333 Refs #25666 - pin daemons gem
  Gemfile
Labels: Needs testing

#5785 Fixes #24193 - ensures better multipexception handling in core
  lib/foreman/exception.rb
Labels: Needs testing, WIP

#6337 Fixes #25666 - unpin daemons gem
  Gemfile
Labels: Needs testing

#6334 Fixes #25691 - Remove smartproxy:migrate rake task
  app/models/host/managed.rb
  lib/tasks/smartproxy.rake
Labels: Needs testing

#6322 Fixes #25664 - Update pattternfly and patternfly-react versions
  package.json
Labels: Needs testing

#6263 Fixes #25490 - fix html rendering in tooltips
  app/assets/javascripts/charts.js
Labels: Needs testing

#6260 Fixes #25497 - Fix backslash shortcut on firefox
  test/integration/search_bar_js_test.rb
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/index.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/integration.test.js
Labels: Needs testing, UI

#6339 Fixes #25701 - remove old settings from settings.yaml.test
  config/settings.yaml.test
Labels: Needs testing

#6338 Fixes #25700 - Force enable taxonomy settings
  config/settings.rb
Labels: Needs testing

#6341 Fixes #25490 - fix html rendering in tooltips
  app/assets/javascripts/charts.js
Labels: Needs testing, Stable branch

#6342 Fixes #25709 - request id in logs is now 8 chars
  config/logging.yaml
Labels: Needs testing

#6324 Fixes #25679 - Provide better hostname generator examples
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
Labels: Needs testing

#6181 Fixes #21545 - Unified role cloning via UI and hammer
  app/controllers/roles_controller.rb
  app/views/roles/_form.html.erb
  test/controllers/api/v2/roles_controller_test.rb
Labels: Needs testing

#6340 Fixes #25703 - Fix tests for enforcing taxonomies
  test/active_support_test_case_helper.rb
  test/controllers/api/v2/settings_controller_test.rb
  test/controllers/concerns/application_shared_test.rb
  test/controllers/dashboard_controller_test.rb
  test/controllers/settings_controller_test.rb
  test/controllers/unattended_controller_test.rb
  test/factories/domain.rb
  test/factories/host_related.rb
  test/factories/medium.rb
  test/factories/puppet_related.rb
  test/factories/smart_proxy.rb
  test/factories/subnet.rb
  test/fixtures/taxable_taxonomies.yml
  test/integration/host_js_test.rb
  test/integration/host_test.rb
  test/integration/smart_proxy_test.rb
  test/models/host_test.rb
  test/models/nic_test.rb
  test/models/orchestration/dhcp_test.rb
  test/models/orchestration/dns_test.rb
  test/models/orchestration/puppetca_test.rb
  test/models/shared/taxonomies_base_test.rb
  test/models/taxonomix_test.rb
  test/models/taxonomy_test.rb
  test/models/user_test.rb
Labels: Needs testing

#6076 Fixes #24961 - all_params permission check in API fixed
  app/views/api/v2/hosts/main.json.rabl
Labels: Needs testing

#6343 Refs #25503 - fix host form broken styling
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumbs.scss
Labels: Needs testing, UI

#6344 Fixes #25712 - Remove org_loc_string helper
  app/helpers/taxonomy_helper.rb
  app/models/concerns/authorizable.rb
  app/views/filters/_form.html.erb
  app/views/roles/_form.html.erb
  test/integration/org_admin_js_test.rb
Labels: Needs testing

#6315 Fixes #25619 - refactor logging middleware
  config/application.rb
  config/logging.yaml
  lib/foreman/middleware/catch_json_parse_errors.rb
  lib/foreman/middleware/logging_context_request.rb
  lib/foreman/middleware/logging_context_session.rb
  lib/foreman/middleware/telemetry.rb
  lib/middleware/catch_json_parse_errors.rb
  lib/middleware/logging_context.rb
  lib/middleware/telemetry.rb
Labels: Needs testing

#6283 Fixes #24801 - Always seed default taxonomies
  app/models/taxonomy.rb
  config/environments/production.rb
  db/seeds.d/050-taxonomies.rb
  db/seeds.d/100-installation_media.rb
  lib/seed_helper.rb
  test/unit/tasks/seeds_test.rb
Labels: Ready to merge

#6236 Fixes #24728 - Support Huawei VRP
  app/assets/images/VRP.png
  app/helpers/operatingsystems_helper.rb
  app/models/concerns/orchestration/dhcp.rb
  app/models/concerns/orchestration/tftp.rb
  app/models/operatingsystem.rb
  app/models/operatingsystems/solaris.rb
  app/models/operatingsystems/vrp.rb
  lib/net/dhcp.rb
  lib/net/dhcp/record.rb
  lib/net/dhcp/sparc_record.rb
  lib/net/dhcp/ztp_record.rb
  test/fixtures/architectures.yml
  test/fixtures/media.yml
  test/fixtures/operatingsystems.yml
  test/models/operatingsystem_test.rb
  test/models/operatingsystems/ztp_test.rb
  test/models/orchestration/dhcp_test.rb
  test/models/orchestration/tftp_test.rb
Labels: Needs testing

#6350 Fixes #25730 - only assign many to many associations
  db/seeds.d/050-taxonomies.rb
Labels: Needs testing

#6351 Fixes #25731 - fix the setting description
  app/models/setting/provisioning.rb
Labels: Needs testing

#6346 Fixes #25720 - Fix Style/CommentedKeyword cop
  .rubocop_todo.yml
  app/helpers/lookup_keys_helper.rb
  app/services/power_manager/base.rb
Labels: Needs testing

#6355 Refs #25300 - update rubocop_todo.yml
  .rubocop_todo.yml
Labels: Needs testing

#6246 Fixes #25467 - Check for user in UserDropdown component
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
Labels: Ready to merge, UI

#6323 Fixes #25670 - added virt-who to foreman-debug
  script/foreman-debug
Labels: Needs testing

#6354 Fixes #25735 - improve the warning on bulk deletion
  app/helpers/hosts_helper.rb
  app/views/hosts/multiple_destroy.html.erb
Labels: Needs testing

#6357 Fixes #25743 - improved OS version help text
  app/views/operatingsystems/_form.html.erb
Labels: Needs testing

#6360 Fixes #25669 - fix typos in inputs help
  app/views/templates/_form.html.erb
Labels: Needs testing

#6330 Fixes #25648 - Delete filters as system admin
  app/controllers/filters_controller.rb
Labels: Needs testing

#6253 Fixes #25483 - keep false facts
  app/services/structured_fact_importer.rb
  test/unit/structured_fact_importer_test.rb
Labels: Needs testing

#6362 Refs #25703 - returned some misdeleted host tests
  app/models/host/managed.rb
  test/factories/compute_resources.rb
  test/models/host_test.rb
Labels: Needs testing

#6321 Fixes #21964 - Reduce calls to external API
  app/models/concerns/orchestration/compute.rb
  app/views/hosts/_compute.html.erb
  app/views/hosts/_compute_detail.html.erb
  app/views/nic/_provider_specific_form.html.erb
Labels: Needs testing

#6363 Fixes #25752 - fix console error in js test
  webpack/assets/javascripts/react_app/components/Layout/__tests__/Layout.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/integration.test.js
Labels: Needs testing, UI

#6364 Fixes #22766 - Puppet classes are not removed by non-admin user
  app/views/puppetclasses/_class_selection.html.erb
Labels: Needs testing

#6349 Refs #25503 - fix breadcrumbs alignment
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumb.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumbs.scss
Labels: Needs testing, UI

#6282 Fixes #25553 - neutron fixed IP support
  app/models/compute_resources/foreman/model/openstack.rb
  test/models/compute_resources/openstack_test.rb
Labels: Needs testing

#6365 Fixes #25755 - log when unpermitted params are used in all envs
  config/environments/development.rb
  config/environments/test.rb
Labels: Needs testing

#6368 Refs #21312 - Use request hostname for webpack dynamic imports
  config/webpack.config.js
  webpack/assets/javascripts/bundle.js
Labels: UI

#6370 Refs #25217 - fix charts eslint
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/index.js
  webpack/assets/javascripts/react_app/components/factCharts/index.js
  webpack/assets/javascripts/react_app/components/statistics/ChartBox.js
  webpack/assets/javascripts/react_app/components/statistics/__snapshots__/ChartBox.test.js.snap
Labels: Needs testing, UI

#6371 Refs #25217 - fix forms eslint
  webpack/assets/javascripts/react_app/components/bookmarks/form/__snapshots__/form.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/RadioButton.js
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/RadioButton.test.js
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/RadioButtonGroup.js
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/RadioButtonGroup.test.js
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/__snapshots__/RadioButton.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/__snapshots__/RadioButtonGroup.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/RadioButtonGroup/index.js
  webpack/assets/javascripts/react_app/components/common/forms/TextField/TextField.js
  webpack/assets/javascripts/react_app/components/common/forms/TextField/TextField.test.js
  webpack/assets/javascripts/react_app/components/common/forms/TextField/TextFieldInner.js
  webpack/assets/javascripts/react_app/components/common/forms/TextField/TextFieldInner.test.js
  webpack/assets/javascripts/react_app/components/common/forms/TextField/__snapshots__/TextField.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/TextField/__snapshots__/TextFieldInner.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/TextField/index.js
Labels: Needs testing, UI

#6373 Refs #25217 - fix Layout eslint
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
Labels: Needs testing, UI

#6374 Refs #25217 - fix search-bar eslint
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
Labels: Needs testing, UI

#6372 Refs #25217 - fix hosts eslint
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/index.js
Labels: Needs testing, UI

#6353 Fixes #25654 - use generator-react-domain for creating React/Redux components
  .gitignore
  package.json
  webpack/stories/docs/addingNewComponent.md
Labels: Needs testing, UI

#6359 Fixes #25745 - fix permission lookup on custom actions
  app/controllers/api/v2/hosts_controller.rb
Labels: Needs testing
