Repository theforeman/foreman, pull requests merged in 2018-06, with the labels that each got.

#5632 Refs #22984 - fix the type for all templates
  db/migrate/20180601102951_fix_all_templates_auditable_type.rb
Labels: Needs testing

#5634 Refs #22984 - fix the type for all templates
  db/migrate/20180601102951_fix_all_templates_auditable_type.rb
Labels: Needs testing

#5636 Fixes #23769 - maintain consistency in documentation for foreman/katello
  app/controllers/api/v2/base_controller.rb
Labels: Needs testing, Waiting on contributor

#5638 Fixes #23776 - Remove deprecations for 1.18
  app/controllers/concerns/foreman/controller/flash.rb
Labels: Needs testing, Not yet reviewed

#5621 Fixes #23142,#23503 - telemetry improvements
  config/application.rb
  config/initializers/5_telemetry_metrics.rb
  config/initializers/ldap_instrumentation.rb
  lib/foreman/telemetry.rb
  lib/foreman/telemetry_sinks/rails_logger_sink.rb
  lib/foreman/telemetry_sinks/statsd_sink.rb
  lib/tasks/telemetry.rake
Labels: Needs testing

#5628 Fixes #23756 - improved wait_for_ajax
  test/integration_test_helper.rb
Labels: Needs testing

#5639 Fixes #23776 - Remove deprecations for 1.18
  app/controllers/concerns/foreman/controller/flash.rb
Labels: Needs testing

#4980 Fixes #21580 - normalize compute attributes
  app/models/compute_attribute.rb
  app/models/compute_resource.rb
  app/models/compute_resources/foreman/model/ec2.rb
  app/models/compute_resources/foreman/model/gce.rb
  app/models/compute_resources/foreman/model/libvirt.rb
  app/models/compute_resources/foreman/model/openstack.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/models/compute_resources/foreman/model/rackspace.rb
  app/models/compute_resources/foreman/model/vmware.rb
  app/views/api/v2/compute_attributes/base.json.rabl
  test/controllers/api/v2/compute_profiles_controller_test.rb
  test/factories/compute_resources.rb
  test/models/compute_resources/compute_resource_test_helpers.rb
  test/models/compute_resources/ec2_test.rb
  test/models/compute_resources/gce_test.rb
  test/models/compute_resources/libvirt_test.rb
  test/models/compute_resources/openstack_test.rb
  test/models/compute_resources/ovirt_test.rb
  test/models/compute_resources/rackspace_test.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing

#5492 fixes #23378 - vsphere: filter volume key parameter in react ui
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.test.js
Labels: Ready to merge

#5643 [CP] Fixes #23365 - Silence the ENOENT error for .env
  config/webpack.config.js
  package.json
Labels: Needs testing

#5645 [CP] Fixes #23444 - update secure_headers to 5.x
  Gemfile
Labels: Needs testing

#5644 fixes #23378 - vsphere: filter volume key parameter
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.test.js
Labels: Needs testing

#5573 fixes #23178 - seeded location should be in seeded org
  db/seeds.d/050-taxonomies.rb
  test/models/host_test.rb
  test/unit/tasks/seeds_test.rb
Labels: Needs testing

#5637 Fixes #23775 - exposed random name generator
  app/services/name_generator.rb
Labels: Needs testing

#4576 Fixes #19968: Add a rake task to seed hosts
  lib/tasks/seed.rake
Labels: Needs testing

#5640 Refs #23011 - pin net-ssh on Ruby <2.3
  Gemfile
Labels: Needs testing

#5649 Refs #23776 - correct deprecation for notice
  app/controllers/concerns/foreman/controller/flash.rb
Labels: Ready to merge

#5650 Refs #23776 - correct deprecation for notice
  app/controllers/concerns/foreman/controller/flash.rb
Labels: Needs testing, Not yet reviewed

#5605 Refs #23677 - Add additional config options to foreman-debug
  config/foreman-debug.conf
  script/foreman-debug
Labels: Needs testing

#5648 Fixes #23813 - Allow searching audits by type=auth_source
  app/models/concerns/audit_search.rb
Labels: Needs testing

#5631 Fixes #23764: Ensure proper plugin asset generation for SCSS
  lib/tasks/plugin_assets.rake
Labels: Needs testing

#5654 Fixes #23828 - Upgrade mocha dependency
  bundler.d/test.rb
Labels: Needs testing

#5646 Fixes #23806 - explicitly use Rails 5.2 compatible gems
  Gemfile
Labels: Needs testing, Rails 5.2

#5642 Fixes #23800 - i18n for exceptions fixed
  app/models/host/managed.rb
  app/models/subnet.rb
Labels: Needs testing

#5655 fixes #23830 - gitignore: add vendor/ruby
  .gitignore
Labels: Needs testing

#5653 Fixes #23826 - model class logger is now app
  app/models/application_record.rb
Labels: Needs testing

#5661 Fixes #23842 - Load factory_bot only when needed
  lib/tasks/seed.rake
Labels: Needs testing

#5659 Refs #21580 - require rbvmomi
  app/models/compute_resources/foreman/model/vmware.rb
  bundler.d/vmware.rb
Labels: Needs testing

#5630 Fixes #13749 - Handle Base64 and binary LDAP avatars
  app/models/auth_sources/auth_source_ldap.rb
  app/models/user.rb
  test/models/user_test.rb
Labels: Needs testing

#5555 Fixes #23377 - audit external group membership changes
  app/models/external_usergroup.rb
  app/models/user.rb
  app/models/usergroup.rb
  test/models/user_test.rb
  test/models/usergroup_test.rb
Labels: Ready to merge

#5660 Fixes #23818 - Update fog-openstack to save OpenStack OSP 12
  bundler.d/openstack.rb
Labels: Needs testing

#5563 Fixes #23598 - move report metrics chart to c3
  app/assets/stylesheets/charts.scss
  app/views/config_reports/_metrics.html.erb
  test/integration/config_report_js_test.rb
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/DonutChart.fixtures.js
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/__snapshots__/DonutChart.test.js.snap
  webpack/assets/javascripts/react_app/components/factCharts/factChart.fixtures.js
  webpack/assets/javascripts/services/ChartService.consts.js
Labels: Needs testing

#5675 Fixes #23859 - Fix queue orchestration compute
  app/models/concerns/orchestration/compute.rb
  test/models/host_test.rb
  test/models/orchestration/compute_test.rb
Labels: Needs testing

#5663 Fixes #23852 - Properly escape html in template preview errors
  webpack/assets/javascripts/foreman_editor.js
Labels: Needs testing

#5673 Fixes #23843 - Exclude requests to local host from proxying
  app/models/setting/general.rb
  lib/foreman/http_proxy.rb
  test/unit/foreman/http_proxy_test.rb
Labels: Needs testing

#5664 Fixes #23848 - template import should use taxonomies title
  app/models/template.rb
Labels: Needs testing

#5575 Fixes #23611 - Provide helper method to run "service" active jobs
  app/jobs/application_job.rb
  config/initializers/rss_notifications.rb
  test/unit/application_job_test.rb
Labels: Needs testing

#5679 Fixes #23875 - removed old session tests
  test/controllers/application_controller_subclass_test.rb
  test/controllers/users_controller_test.rb
Labels: Needs testing

#5494 fixes #23232 - fix error when domain not in taxonomy
  app/models/nic/base.rb
  app/models/nic/interface.rb
  test/models/hosts/base_test.rb
  test/models/nic_test.rb
Labels: Needs testing

#5665 Fixes #23857 - Fix Performance/InefficientHashSearch cop
  app/controllers/api/v2/base_controller.rb
  app/controllers/concerns/api/import_puppetclasses_common_controller.rb
  app/controllers/concerns/api/v2/lookup_keys_common_controller.rb
  app/models/auth_sources/auth_source_ldap.rb
  app/models/concerns/orchestration/compute.rb
  app/models/host/base.rb
  app/models/subnet.rb
  lib/foreman/logging.rb
  test/controllers/api/v2/domains_controller_test.rb
  test/controllers/api/v2/locations_controller_test.rb
  test/controllers/api/v2/realms_controller_test.rb
  test/models/concerns/exportable_test.rb
  test/models/image_test.rb
  test/models/nic_test.rb
  test/models/orchestration_test.rb
  test/models/puppetclass_test.rb
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing

#5662 [CP] Fixes #23364 - add search input in breadcrumbs switcher
  package.json
  test/integration/breadcrumbs_switcher_test.rb
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/API.js
  webpack/assets/javascripts/react_app/APITestSetup.js
  webpack/assets/javascripts/react_app/common/colors.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarConstants.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarReducer.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBarReducer.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBar.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarActions.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcherPopover.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/index.js
  webpack/assets/javascripts/react_app/components/common/SearchInput/SearchInput.test.js
  webpack/assets/javascripts/react_app/components/common/SearchInput/__snapshots__/SearchInput.test.js.snap
  webpack/assets/javascripts/react_app/components/common/SearchInput/index.js
  webpack/assets/javascripts/react_app/components/common/SearchInput/searchInput.scss
  webpack/assets/javascripts/react_app/components/common/SubstringWrapper/SubstringWrapper.test.js
  webpack/assets/javascripts/react_app/components/common/SubstringWrapper/__snapshots__/SubstringWrapper.test.js.snap
  webpack/assets/javascripts/react_app/components/common/SubstringWrapper/index.js
Labels: Needs testing

#5686 Fixes #23913 - Stop auditing host status updates
  app/models/host/managed.rb
Labels: Ready to merge

#5684 [CP] Fixes #23521 - BreadcrumbBar nested name_field
  webpack/assets/javascripts/react_app/common/testHelpers.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBarActions.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarActions.test.js.snap
Labels: Needs testing

#5678 [CP 1.18] Fixes #23843 - Exclude requests to local host from proxying
  app/models/setting/general.rb
  lib/foreman/http_proxy.rb
  test/unit/foreman/http_proxy_test.rb
Labels: Needs testing

#5668 [CP 1.18] Fixes #23818 - Update fog-openstack to save OpenStack OSP 12
  bundler.d/openstack.rb
Labels: Needs testing

#5657 Fixes #23142,#23503 - telemetry improvements (1.18)
  config/application.rb
  config/initializers/5_telemetry_metrics.rb
  config/initializers/ldap_instrumentation.rb
  lib/foreman/telemetry.rb
  lib/foreman/telemetry_sinks/rails_logger_sink.rb
  lib/foreman/telemetry_sinks/statsd_sink.rb
  lib/tasks/telemetry.rake
Labels: Needs testing

#5666 [CP] Fixes #23377 - audit external group membership changes
  app/models/external_usergroup.rb
  app/models/user.rb
  app/models/usergroup.rb
  test/models/user_test.rb
  test/models/usergroup_test.rb
Labels: Needs testing

#5669 [CP 1.17] Fixes #23818 - Update fog-openstack to save OpenStack OSP 12
  bundler.d/openstack.rb
Labels: Needs testing

#5651 Fixes #23690 - update react to 16.3
  package.json
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.js
Labels: Needs testing

#5690 Fixes #23932 - Fixes failing application job tests for some plugins
  test/unit/application_job_test.rb
Labels: Needs testing, Waiting on contributor

#5689 Refs #23132 - reuse the cached list of controllers
  test/models/bookmark_test.rb
Labels: Needs testing

#5003 Fixes #20891 - Remove hostname from /hosts/x/facts results
  app/controllers/api/v2/fact_values_controller.rb
  app/models/fact_value.rb
  test/controllers/api/v2/fact_values_controller_test.rb
Labels: Needs testing

#5692 [CP 1.18] Fixes #23932 - Fixes failing application job tests for some plugins
  test/unit/application_job_test.rb
Labels: Needs testing, Waiting on contributor

#5693 [cp 1.18] Refs #23132 - stabilize bookmark test
  test/models/bookmark_test.rb
Labels: Needs testing

#5700 Fixes #23953 - Port robottelo tests for settings
  test/controllers/api/v2/settings_controller_test.rb
  test/fixtures/settings.yml
  test/models/setting_test.rb
Labels: Needs testing

#5699 Fixes #23952 - Include all asset paths when precompiling plugins
  lib/tasks/plugin_assets.rake
Labels: Needs testing

#5701 [CP 1.18] Fixes #23952 - Include all asset paths when precompiling plugins (#5699)
  lib/tasks/plugin_assets.rake
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#5702 [CP 1.18] Fixes #23930 - PXELinux loader is now preferred
  app/models/concerns/pxe_loader_support.rb
  app/models/operatingsystem.rb
  test/models/concerns/pxe_loader_support_test.rb
Labels: Needs testing

#5616 Fixes #23709 - StatisticsCharts fails handling errors
  webpack/assets/javascripts/react_app/components/statistics/StatisticsChartsList.js
  webpack/assets/javascripts/react_app/redux/actions/common/__snapshots__/ajaxRequestAction.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/common/ajaxRequestAction.test.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.test.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/statistics/index.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.test.js
Labels: Needs testing

#5697 Fixes #23813 - Allow searching audits by type=auth_source
  app/models/concerns/audit_search.rb
Labels: Needs testing

#5711 Fixes #23709 - Fix ajaxRequestAction failure dispatch
  webpack/assets/javascripts/react_app/components/statistics/StatisticsChartsList.js
  webpack/assets/javascripts/react_app/redux/actions/common/__snapshots__/ajaxRequestAction.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/common/ajaxRequestAction.test.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.test.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/statistics/index.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.test.js
Labels: Needs testing, Not yet reviewed

#5285 Fixes #23825 - Add exporting to Rakefile.dist
  Rakefile.dist
  lib/tasks/pkg.rake
Labels: Needs testing

#5425 Fixes #22117 - Add support for number of sockets for ovirt
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
  bundler.d/ovirt.rb
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Ready to merge

#5493 Fixes #23391, #23251 - adjsut breadcrumbs swticher to pf design
  .storybook/addons.js
  package.json
  webpack/assets/javascripts/react_app/common/colors.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.stories.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcherPopover.test.js.snap
  webpack/assets/javascripts/react_app/components/common/SearchInput/searchInput.scss
Labels: Needs testing

#5292 Fixes #21007 - new unattended action 'failed'
  app/controllers/hosts_controller.rb
  app/controllers/unattended_controller.rb
  app/helpers/hosts_helper.rb
  app/models/host/managed.rb
  app/models/host_status/build_status.rb
  app/registries/foreman/access_permissions.rb
  config/routes.rb
  db/migrate/20180305111232_add_build_errors_to_hosts.rb
  test/controllers/unattended_controller_test.rb
  test/unit/foreman/access_permissions_test.rb
  test/unit/shared/access_permissions_test_base.rb
Labels: Needs testing

#5715 Fixes #23976 - Add Quota to oVirt API
  app/controllers/api/v2/compute_resources_controller.rb
  app/views/api/v2/compute_resources/ovirt.json.rabl
Labels: Needs testing

#5714 Fixes #24003 - remove babel-polyfill from vendor.js
  config/webpack.vendor.js
Labels: Needs testing

#5705 Fixes #19873 - Fix Style/MultilineIfModifier cop
  .rubocop_todo.yml
  app/controllers/operatingsystems_controller.rb
  app/helpers/audits_helper.rb
  app/helpers/compute_resources_vms_helper.rb
  app/helpers/home_helper.rb
  app/helpers/hosts_helper.rb
  app/helpers/lookup_keys_helper.rb
  app/helpers/settings_helper.rb
  app/helpers/users_helper.rb
  app/models/compute_resources/foreman/model/openstack.rb
  app/models/concerns/has_many_common.rb
  app/models/concerns/orchestration/compute.rb
  app/models/concerns/orchestration/dns.rb
  app/models/filter.rb
  app/models/host/managed.rb
  app/models/hostgroup.rb
  app/models/lookup_keys/lookup_key.rb
  app/services/classification/matches_generator.rb
  app/services/foreman/importer_puppetclass.rb
  config/environments/development.rb
  config/initializers/apipie.rb
  db/migrate/20130520152000_remove_duplicate_fact_names.rb
  db/seeds.d/160-mail_notifications.rb
  lib/foreman/telemetry.rb
  lib/tasks/backup.rake
  test/active_support_test_case_helper.rb
  test/controllers/api/v2/fact_values_controller_test.rb
Labels: Needs testing

#5716 Revert "Fixes #24003 - remove babel-polyfill from vendor.js"
  config/webpack.vendor.js
Labels: Needs testing, Waiting on contributor

#5721 Refs #23825 - Improve the rake task for tarballs
  lib/tasks/pkg.rake
Labels: Needs testing

#5723 Refs #23924 - replace HashModuleId with NamedModules
  config/webpack.config.js
Labels: Needs testing

#5672 Fixes #23865 - update compression-webpack-plugin
  package.json
Labels: Needs testing

#5720 Fixes #23468 - Add a test helper to test reducers with fixtures
  webpack/assets/javascripts/react_app/common/testHelpers.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBarReducer.test.js
Labels: Needs testing

#5228 fixes #22467 - dashboard: list hosts with expired token
  .rubocop_todo.yml
  app/helpers/dashboard_helper.rb
  app/helpers/hosts_helper.rb
  app/models/host/managed.rb
  app/services/dashboard/manager.rb
  app/views/dashboard/_hosts_in_build_mode_widget.html.erb
  app/views/dashboard/_hosts_in_build_mode_widget_host_list.html.erb
  test/unit/dashboard_manager_test.rb
Labels: Demo worthy, Needs testing

#5698 Fixes #23951 - fix searching by config group
  app/models/concerns/hostext/search.rb
  test/models/concerns/hostext/search_test.rb
Labels: Needs testing

#5667 fixes #23862 - scoped search audit comment
  app/models/concerns/audit_search.rb
Labels: Needs testing

#5734 Fixes #23924 - Use consistent IDs for modules in webpack
  .eslintignore
  config/webpack.config.js
  webpack/simple_named_modules.js
Labels: Needs testing, Waiting on contributor

#5724 [cp] Fixes #23391, #23251 - adjust breadcrumbs switcher to pf design
  .storybook/addons.js
  package.json
  webpack/assets/javascripts/react_app/common/colors.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.stories.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcherPopover.test.js.snap
  webpack/assets/javascripts/react_app/components/common/SearchInput/searchInput.scss
Labels: Needs testing

#5728 [cp] Fixes #23599 - fix subtotal value in API call with thin=true
  app/controllers/api/v2/hosts_controller.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#5732 fixes #24046 - return id as str for name as last resort
  app/models/concerns/has_many_common.rb
Labels: Ready to merge

#5687 Fixes #23536 - No errors when unattended=false
  app/models/host/managed.rb
Labels: Needs testing

#5741 Fixes #24071 - Adding locked state
  app/views/api/v2/ptables/show.json.rabl
Labels: Ready to merge

#4370 Fixes #18765 - finish script use FQDN when IP is missing
  app/models/concerns/orchestration/ssh_provision.rb
Labels: Waiting on contributor

#5747 Fixes #23976 - Add Quota to oVirt API (#5715)
  app/controllers/api/v2/compute_resources_controller.rb
  app/views/api/v2/compute_resources/ovirt.json.rabl
Labels: Needs testing

#5750 Fixes #24098 - Remove mention bot config
  .mention-bot
Labels: Needs testing

#5749 [CP 1.18] Fixes #23924 - Use consistent IDs for modules in webpack
  .eslintignore
  config/webpack.config.js
  webpack/simple_named_modules.js
Labels: Needs testing

#5738 Fixes #22117 - Add support for number of sockets for ovirt
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
  bundler.d/ovirt.rb
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, Not yet reviewed

#5725 Fixes #23994 - Do not update templates out of scope
  app/models/concerns/taxonomy_collision_finder.rb
  app/models/provisioning_template.rb
  app/models/ptable.rb
  app/models/template.rb
  test/models/template_test.rb
Labels: Needs testing

#5742 Fixes #24057 Email subject prefix accepts long strings
  app/models/setting/email.rb
  test/models/settings/email_setting_test.rb
Labels: Needs testing

#5757 Refs #24057 - fixed broken email test
  test/models/settings/email_setting_test.rb
Labels: Needs testing
