Repository theforeman/foreman, pull requests merged in 2019-09, with the labels that each got.

#7001 Fixes #27360 - show selected network on host edit
  app/models/concerns/fog_extensions/google/server.rb
Labels: Needs testing

#6965 Fixes #27544 - Add parameter_type and hidden_value to host/hostgroup API
  app/controllers/api/v2/hostgroups_controller.rb
  app/controllers/api/v2/hosts_controller.rb
  test/controllers/api/v2/hostgroups_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#7012 Fixes #24805 - Clean up remaining taxonomy enabled checks
  app/controllers/api/base_controller.rb
  app/models/concerns/host_params.rb
  app/models/concerns/hostext/search.rb
  app/models/concerns/taxonomix.rb
  app/models/fact_value.rb
  app/models/host/base.rb
  app/models/host/managed.rb
  app/models/taxonomy.rb
  db/seeds.d/050-taxonomies.rb
Labels: Needs testing

#7015 Fixes #27763 - remove redundant url_for
  app/helpers/audits_helper.rb
  app/helpers/fact_values_helper.rb
  app/helpers/images_helper.rb
  app/models/concerns/orchestration/compute.rb
  app/views/auth_source_ldaps/_form.html.erb
  app/views/compute_attributes/edit.html.erb
  app/views/compute_attributes/new.html.erb
  app/views/config_reports/index.html.erb
  app/views/filters/edit.html.erb
  app/views/filters/index.html.erb
  app/views/filters/new.html.erb
  app/views/images/index.html.erb
  app/views/ssh_keys/new.html.erb
  app/views/variable_lookup_keys/edit.html.erb
Labels: Needs testing

#7004 Fixes #27719 - bump fog vsphere to 3.2.1
  bundler.d/vmware.rb
Labels: Waiting on Packaging

#6841 Fixes #27045 - Refactor BreadcrumbSwitcher to PF-React
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBar.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBarActions.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/breadcrumbswitcher.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.scss
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherToggler.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherToggler.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcher.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcherPopover.test.js.snap
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/BreadcrumbSwitcherToggler.test.js.snap
Labels: Needs testing, UI, Waiting on Packaging

#6974 Fixes #27589 - add sequence reset task
  lib/tasks/convert.rake
  lib/tasks/db.rake
Labels: Needs testing

#7018 Fixes #27766 - Update forms to use async/await
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.test.js
Labels: Ready to merge, UI

#7006 Fixes #27077 - Multiple http proxies with same name
  app/models/http_proxy.rb
  db/migrate/20190829102315_http_proxy_unique_name.rb
  test/factories/http_proxy.rb
Labels: Needs testing

#7016 Fixes #27767 - Update bookmarks test to use async/await
  webpack/assets/javascripts/react_app/redux/actions/bookmarks/bookmarks.test.js
Labels: Needs testing, UI

#6969 Fixes #27346 - show audit records for host create
  app/models/concerns/audit_extensions.rb
  test/models/concerns/audit_extensions_test.rb
Labels: Needs testing

#7020 Fixes #27786 - fix scss link to pf-react
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/breadcrumbswitcher.scss
Labels: Needs testing, UI

#7003 Fixes #27724 - Add a unique-id setting to foreman.
  app/models/setting/general.rb
  lib/foreman.rb
  test/fixtures/settings.yml
Labels: Needs testing

#6991 Fixes #27662 - template inputs - adding field
  app/views/template_inputs/_form.html.erb
  webpack/assets/javascripts/foreman_template_inputs.js
Labels: UI

#7017 Fixes #27762 - ajaxRequestAction to use async/await
  webpack/assets/javascripts/react_app/redux/actions/common/ajaxRequestAction.test.js
  webpack/assets/javascripts/react_app/redux/actions/common/index.js
Labels: UI

#7022 Fixes #27793 - add build? to safemode
  app/models/host/managed.rb
Labels: Needs testing

#7010 Fixes #27745 - fix param before_save to run db:migrate
  db/migrate/20181105061336_cast_key_types_and_values_in_parameters.rb
Labels: Needs re-review, Needs testing

#6513 Fixes #26164 - Use the proxy configured puppet_url
  app/models/concerns/host_common.rb
  test/factories/smart_proxy.rb
  test/models/host_test.rb
Labels: Needs testing

#6710 Fixes #26200 - call audit_hook_to_find_records for getting label
  app/helpers/audits_helper.rb
  test/helpers/audits_helper_test.rb
Labels: Ready to merge

#6901 Fixes #27294 - add prefer-await-to-then lint rule
  .eslintrc
  package.json
  webpack/assets/javascripts/foreman_editor.js
  webpack/assets/javascripts/react_app/common/i18nProviderWrapperFactory.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIconActions.js
  webpack/assets/javascripts/react_app/components/Settings/SettingsActions.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGeneratorActions.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/TemplateGeneratorActions.test.js
  webpack/assets/javascripts/react_app/components/common/dates/IsoDate.test.js
  webpack/assets/javascripts/react_app/components/common/dates/LongDateTime.test.js
  webpack/assets/javascripts/react_app/components/common/dates/RelativeDateTime.test.js
  webpack/assets/javascripts/react_app/components/common/dates/ShortDateTime.test.js
  webpack/assets/javascripts/react_app/redux/actions/bookmarks/bookmarks.test.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.test.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/powerStatus.test.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/index.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/statistics.test.js
Labels: Needs testing, UI

#5597 Fixes #23654 - update even virtual interface facts
  app/models/host/base.rb
  test/models/host_test.rb
Labels: Needs testing

#7011 Fixes #27004 - fix broken link to vm list
  app/views/compute_resources_vms/index.html.erb
  app/views/compute_resources_vms/show.html.erb
Labels: Ready to merge

#6938 Fixes #27442 - deprecation mysql warning
  config/initializers/deprecations.rb
  db/seeds.d/170-notification_blueprints.rb
Labels: Needs testing

#7023 Fixes #27764, #27798, #27391 - host form update on change
  app/assets/javascripts/host_edit.js
  app/views/hostgroups/_form.html.erb
  app/views/hosts/_form.html.erb
Labels: Legacy JS, Needs testing

#7026 [1.22] Fixes #27764, #27798, #27391 - host form update on change
  app/assets/javascripts/host_edit.js
  app/views/hostgroups/_form.html.erb
  app/views/hosts/_form.html.erb
Labels: Legacy JS, Needs testing, Stable branch

#7025 templates - sync from community-templates
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit default.snap.txt
Labels: Needs testing, Waiting on contributor

#6187 Fixes #25356 - OS parameter to override PXE Loader
  app/models/concerns/pxe_loader_suggestion.rb
  app/views/common/os_selection/_pxe_loader.html.erb
  test/models/concerns/pxe_loader_suggestion_test.rb
Labels: Needs testing

#7024 fixes #27806 - use PG by default in docker-compose
  docker-compose.yml
Labels: Needs testing

#7028 refs #26741 - fix typo newgroup -> newgrp
  developer_docs/containers.asciidoc
Labels: Needs testing

#6742 Fixes #26754 - Change error when updating nested resource fails
  app/controllers/api/base_controller.rb
  app/controllers/api/v2/base_controller.rb
  test/controllers/api/v2/host_classes_controller_test.rb
  test/controllers/api/v2/locations_controller_test.rb
  test/controllers/api/v2/provisioning_templates_controller_test.rb
  test/controllers/api/v2/subnets_controller_test.rb
Labels: Needs testing

#6902 Fixes #26676 - improve setting initialization
  app/models/setting.rb
  app/models/setting/auth.rb
  app/models/setting/email.rb
  app/models/setting/general.rb
  app/models/setting/notification.rb
  app/models/setting/provisioning.rb
  app/models/setting/puppet.rb
Labels: Needs testing

#7029 Fixes #27809 - wraps JS API functions with foremanUrl
  webpack/assets/javascripts/react_app/API.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPageActions.js
  webpack/test_setup.js
Labels: Needs testing, UI

#7033 Fixes #27813 - disabled buttons all over the app are still clickable
  app/assets/javascripts/application.js
Labels: Legacy JS, Needs testing

#7042 Fixes #27856 Defensive access to assets manifest
  config/initializers/assets.rb
Labels: Needs testing, Ready to merge

#6987 Fixes #9169 - None loader no override nextserver
  app/models/concerns/orchestration/dhcp.rb
  test/models/orchestration/dhcp_test.rb
Labels: Needs testing

#7041 Fixes #27854 - Don't fail seed on invalid templates
  db/seeds.d/050-taxonomies.rb
Labels: Needs testing

#7013 Fixes #27757 - Update loadSetting to use async/await
  webpack/assets/javascripts/react_app/components/Settings/SettingsActions.js
Labels: Needs testing, Ready to merge, UI

#7036 Fixes #27836 - Hide refresh cache if not supported
  app/controllers/api/v2/compute_resources_controller.rb
  app/controllers/compute_resources_controller.rb
  app/models/compute_resource.rb
  test/controllers/compute_resources_controller_test.rb
Labels: Needs testing, Ready to merge

#7043 Refs #27854 - Only assign valid templates to new taxonomy
  app/models/taxonomy.rb
Labels: Needs testing

#7044 Fixes #27867 - Fix the translation of Managed's help text
  app/views/nic/_base_form.html.erb
Labels: Ready to merge

#7046 Fixes #26312 - assign an Org/Loc for external users
  app/models/user.rb
Labels: Needs testing

#7049 Fixes #27881 - disabled buttons
  app/assets/javascripts/application.js
Labels: Legacy JS, Needs testing

#7045 Fixes #27402 - LDAP usergroup sync
  app/models/auth_sources/auth_source_ldap.rb
Labels: Needs testing

#7052 Fixes #27894 - Allow smart proxies in safe mode
  app/models/host/managed.rb
  app/models/smart_proxy.rb
Labels: Needs testing

#7053 Fixes #27895 - remove test related to audited_changes column
  test/models/concerns/audit_extensions_test.rb
Labels: Needs testing

#6945 Fixes #27478 - extract onchange event handlers
  app/assets/javascripts/host_edit.js
  app/helpers/hosts_helper.rb
  app/views/common/os_selection/_architecture.html.erb
  app/views/common/os_selection/_initial.html.erb
  app/views/common/os_selection/_operatingsystem.html.erb
  app/views/hostgroups/_form.html.erb
  app/views/hosts/_form.html.erb
Labels: Legacy JS, Needs testing

#6951 Fixes #27512 - Provide way of overriding template snapshots in tests
  lib/foreman/renderer/source/snapshot.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed default - Ansible.snap.txt
  test/unit/foreman/renderer_test.rb
Labels: Needs testing

#7063 Fixes #27881 - fix jQuery disabled buttons listener
  app/assets/javascripts/application.js
Labels: Legacy JS, Needs testing

#6971 Fixes #27559 - match old login page button attr
  package.json
  webpack/assets/javascripts/react_app/components/LoginPage/__tests__/__snapshots__/LoginPage.test.js.snap
  webpack/assets/javascripts/react_app/components/LoginPage/helpers.js
Labels: Needs testing, UI, Waiting on Packaging

#7066 fixes #27931 - 'Could not match network interface'
  app/models/concerns/fog_extensions/vsphere/server.rb
Labels: Needs testing

#6995 Fixes #27685 - use networking::primary for detection
  app/services/puppet_fact_parser.rb
  test/models/host_test.rb
  test/static_fixtures/facts/primary_bridge_vlan_bond.json
Labels: Needs testing

#7062 Fixes #27914 - Drop puppet_server setting
  app/models/setting/puppet.rb
  db/migrate/20190923180644_drop_puppet_server_setting.rb
  lib/foreman/renderer/configuration.rb
  test/fixtures/settings.yml
Labels: Needs testing

#7058 Fixes #27904 - allow set min for ui-spinner
  webpack/assets/javascripts/jquery.ui.custom_spinners.js
Labels: Needs testing, UI

#7068 Fixes #27946 - fix redux devtools setup
  webpack/assets/javascripts/react_app/redux/index.js
Labels: Needs testing, UI

#7019 Fixes #27774 - Add action dispatcher to tfm object
  app/assets/javascripts/host_edit.js
  app/assets/javascripts/host_edit_interfaces.js
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_actions.js
  webpack/assets/javascripts/foreman_breadcrumbs.js
  webpack/assets/javascripts/foreman_store.js
  webpack/assets/javascripts/foreman_store.test.js
  webpack/stories/docs/LegacyJs.md
  webpack/stories/docs/foreman-frontend-infra.png
  webpack/stories/index.js
Labels: Legacy JS, Needs testing, UI

#6793 Fixes #25899 - add taxonomy names to mdc
  app/models/concerns/foreman/thread_session.rb
Labels: Needs testing
