Repository theforeman/foreman, pull requests merged in 2019-07, with the labels that each got.

#6801 Fixes #23191 - replace dynamic controller routing
  app/registries/foreman/access_permissions.rb
  config/as_deprecation_whitelist.yaml
  config/routes.rb
Labels: Needs testing

#6862 Fixes #24993 - Ensure token type doesn't exist in migrations
  db/migrate/20180613100703_add_type_to_token.rb
  db/migrate/20190627083110_change_token_value_type.rb
Labels: Needs testing

#6712 Fixes #26681 - new logger named taxonomy
  app/models/concerns/foreman/thread_session.rb
  config/application.rb
  config/settings.yaml.example
Labels: Needs testing

#6868 Fixes #27192 - Pin scoped_search to <4.1.7
  Gemfile
Labels: Needs testing, Not yet reviewed

#6845 Fixes #27055 - allow http for userdata controller
  app/controllers/concerns/foreman/controller/require_ssl.rb
  app/controllers/unattended_controller.rb
  app/controllers/userdata_controller.rb
  app/models/setting/provisioning.rb
Labels: Needs testing

#6810 Fixes #26599 - resolve invalid sshkey format error
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing, Waiting on contributor

#6849 Fixes #25756 - Adds Slot&Fill
  app/helpers/extendable_components_helper.rb
  app/views/about/index.html.erb
  webpack/assets/javascripts/react_app/components/common/Fill/Fill.js
  webpack/assets/javascripts/react_app/components/common/Fill/FillActions.js
  webpack/assets/javascripts/react_app/components/common/Fill/FillConstants.js
  webpack/assets/javascripts/react_app/components/common/Fill/FillReducer.js
  webpack/assets/javascripts/react_app/components/common/Fill/GlobalFill.js
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/FillActions.test.js
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/__snapshots__/FillActions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/Fill/index.js
  webpack/assets/javascripts/react_app/components/common/Slot/Slot.js
  webpack/assets/javascripts/react_app/components/common/Slot/Slot.test.js
  webpack/assets/javascripts/react_app/components/common/Slot/SlotSelectors.js
  webpack/assets/javascripts/react_app/components/common/Slot/__snapshots__/Slot.test.js.snap
  webpack/assets/javascripts/react_app/components/common/Slot/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/services/SlotsRegistry/SlotsRegistry.test.js
  webpack/assets/javascripts/services/SlotsRegistry/__snapshots__/SlotsRegistry.test.js.snap
  webpack/assets/javascripts/services/SlotsRegistry/index.js
  webpack/stories/docs/SlotAndFill.md
Labels: Needs testing, UI

#6864 Fixes #27188 - TimePicker is failing in Node12
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimePicker.js
Labels: Needs testing, UI

#6865 Fixes #27109 - sync freeipa snippet
  app/views/unattended/provisioning_templates/snippet/freeipa_register.erb
Labels: Needs testing

#6857 Fixes #27107 - make pagination expect numbers, not strings
  app/controllers/api/v2/base_controller.rb
  app/controllers/api/v2/interfaces_controller.rb
Labels: Needs testing

#6842 Fixes #27049 - Add onPopState HOC
  webpack/assets/javascripts/react_app/common/HOC.js
  webpack/assets/javascripts/react_app/common/HOC.test.js
  webpack/stories/docs/hoc.md
  webpack/stories/index.js
Labels: Needs testing, UI

#6877 Fixes #26286 - Audits page displays warning
  webpack/assets/javascripts/react_app/components/AuditsList/UserDetails.js
Labels: Needs testing, UI

#6867 Fixes #27114 - eslint errors in DateTimePicker
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DateInput.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/MonthView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/helpers.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/helpers.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeClock.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/TimeInput.js
Labels: Needs testing, UI

#6860 fixes #27154 - bump net-ldap
  Gemfile
Labels: Ready to merge, Waiting on Packaging

#6830 Fixes #26909 - Validate fqdn matcher by hosts' primary nic name
  app/models/lookup_value.rb
  test/models/lookup_value_test.rb
Labels: Needs testing

#6748 Fixes #21592 - uses headless chrome instead of phantomjs
  package.json
  test/integration/breadcrumbs_switcher_test.rb
  test/integration/dashboard_test.rb
  test/integration/host_js_test.rb
  test/integration/host_test.rb
  test/integration/notifications_drawer_test.rb
  test/integration/org_admin_js_test.rb
  test/integration/ptable_js_test.rb
  test/integration/report_template_js_test.rb
  test/integration/search_bar_js_test.rb
  test/integration/shared/host_finders.rb
  test/integration/smart_proxy_test.rb
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/common/document.js
  webpack/assets/javascripts/react_app/common/helpers.js
Labels: Needs testing, UI

#6885 Update copyright year in README.md
  README.md
Labels: Needs testing, Waiting on contributor

#6751 Fixes #26782 - Update Rubocop to 0.71.0
  .hound.yml
  .rubocop.yml
  .rubocop_todo.yml
  bundler.d/development.rb
  bundler.d/test.rb
  lib/foreman/cast.rb
  test/models/hostgroup_test.rb
Labels: Needs testing

#6883 Fixes #27233 - Assign created resources to host taxonomies
  app/models/host/base.rb
  app/services/puppet_fact_parser.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/models/host_test.rb
Labels: Needs testing

#6873 Fixes #27157 - persist associate_external_ip value in GCE
  app/models/compute_resources/foreman/model/gce.rb
  app/models/concerns/fog_extensions/google/server.rb
Labels: Needs testing

#6887 Fixes #27263 - Fix Naming/UncommunicativeBlockParamName cop
  .rubocop_todo.yml
  test/controllers/provisioning_templates_controller_test.rb
Labels: Needs testing

#6853 fixes #27103 - bump npm diff package version
  package.json
Labels: Needs testing, Waiting on Packaging

#6886 Fixes #27171 - Improve realms api controller test
  test/controllers/api/v2/realms_controller_test.rb
Labels: Needs testing

#6890 Refs #27157 - Fix rubocop
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing

#6889 Refs #27103 - Pin diff to a major version
  package.json
Labels: Needs testing

#6869 Fixes #27193 - remove hard coded deprecation version in js
  webpack/assets/javascripts/react_app/common/DeprecationService.js
Labels: Needs testing, UI

#6888 Fixes #27266 - remove deprecated jed and i18n objects
  webpack/assets/javascripts/bundle_novnc.js
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/common/I18n.test.js
Labels: Needs testing, UI

#6743 Fixes #26003 - introduce impersonation
  app/controllers/users_controller.rb
  app/helpers/layout_helper.rb
  app/helpers/users_helper.rb
  app/models/concerns/foreman/thread_session.rb
  app/views/users/index.html.erb
  config/routes.rb
  test/controllers/users_controller_test.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.scss
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIconActions.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/__snapshots__/ImpersonateIcon.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/index.js
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.scss
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.test.js
Labels: Needs testing, UI

#6898 Refs #26003 - Fix rubocop
  app/helpers/users_helper.rb
Labels: Needs testing

#6878 Fixes #26092 - Assign taxonomy in api when only one present
  app/controllers/api/base_controller.rb
  test/controllers/api/v2/domains_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#6893 Fixes #27265 - Improve domains api test
  test/controllers/api/v2/domains_controller_test.rb
Labels: Needs testing

#6891 Fixes #27274 - Speed up apipie cache out-of-date check
  config/initializers/apipie.rb
Labels: Needs testing

#6884 Fixes #27246 - Handle device identifiers in IPs
  app/models/host/base.rb
  test/models/host_test.rb
Labels: Needs testing

#6900 Fixes #26828 - expect http_proxy to be empty string
  lib/foreman/http_proxy.rb
  test/unit/foreman/http_proxy_test.rb
Labels: Needs testing, Waiting on contributor

#6605 Fixes #27074 - Migrate to @theforeman/vendor and @theforeman/vendor-dev pkg
  .babelrc
  .eslintrc
  .storybook/webpack.config.js
  Procfile
  app/views/layouts/base.html.erb
  config/jest.config.js
  config/webpack.config.js
  config/webpack.vendor.js
  package.json
  script/npm_link_foreman_js.sh
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/bundle_datatables.js
  webpack/assets/javascripts/bundle_flot.js
  webpack/assets/javascripts/bundle_lodash.js
  webpack/assets/javascripts/bundle_multiselect.js
  webpack/assets/javascripts/bundle_select2.js
  webpack/assets/javascripts/dashboard/index.js
  webpack/assets/javascripts/dashboard/index.scss
  webpack/assets/javascripts/foreman_auth_source.test.js
  webpack/assets/javascripts/foreman_hostgroups.test.js
  webpack/assets/javascripts/foreman_hosts.test.js
  webpack/assets/javascripts/foreman_medium.test.js
  webpack/assets/javascripts/foreman_ssh_keys.test.js
  webpack/assets/javascripts/foreman_toast_notifications.test.js
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/foreman_trends.test.js
  webpack/assets/javascripts/foreman_users.test.js
  webpack/assets/javascripts/hosts/tableCheckboxes.js
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteActions.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/auto-complete.scss
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteMenu.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumb.js
  webpack/assets/javascripts/react_app/components/DiffView/DiffView.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorView.js
  webpack/assets/javascripts/react_app/components/Editor/components/editorhostselect.scss
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.scss
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.scss
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.scss
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/SearchBar/search-bar.scss
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/HeaderHelpers.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/MonthView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/YearView.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTimeOverrides.scss
  webpack/assets/javascripts/react_app/components/common/forms/Select.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/integration.test.js
  webpack/stories/docs/addingDependencies.md
  webpack/stories/index.js
  webpack/stories/index.scss
Labels: UI, Waiting on Packaging

#6895 Fixes #27281 - Add markdown's styling for tables in storybook
  webpack/stories/docs/SlotAndFill.md
  webpack/stories/docs/markdown.css
  webpack/stories/index.js
  webpack/stories/index.scss
Labels: Needs testing, UI

#6892 Fixes #10359 - API doc does mention org/loc in create/update
  app/controllers/concerns/api/v2/taxonomies_controller.rb
Labels: Needs testing

#6906 Fixes #27316 - show selected image value on host submit
  app/models/concerns/fog_extensions.rb
  app/models/concerns/fog_extensions/google/image.rb
  app/models/concerns/fog_extensions/google/server.rb
Labels: Needs testing

#6905 Fixes #27313 - Add Annotation Notes support in Images based builds
  app/models/compute_resources/foreman/model/vmware.rb
  bundler.d/vmware.rb
Labels: Ready to merge, Waiting on Packaging

#6870 Fixes #26442 - removes deleted additional volume in GCE
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing

#6910 Fixes #27333 - remove view_react permission
  app/controllers/react_controller.rb
  app/registries/foreman/access_permissions.rb
  db/migrate/20190718093321_remove_view_react_permission.rb
  db/seeds.d/020-permissions_list.rb
  test/unit/foreman/access_permissions_test.rb
Labels: Needs testing

#6866 Fixes #27190 - Add DSL for registering plugin fields
  app/graphql/types/mutation.rb
  app/graphql/types/query.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/graphql_plugin_fields.rb
  app/registries/foreman/plugin/graphql_types_registry.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/unit/foreman/plugin/graphql_plugin_fields_test.rb
  test/unit/foreman/plugin/graphql_types_registry_test.rb
Labels: Ready to merge

#6843 Fixes #26393 - fix uptime calculation for btime
  app/helpers/hosts_helper.rb
  app/models/concerns/hostext/search.rb
  app/models/host/base.rb
  app/models/host/managed.rb
  app/models/host_facets.rb
  app/models/host_facets/reported_data_facet.rb
  app/services/fact_parser.rb
  app/services/puppet_fact_parser.rb
  config/application.rb
  db/migrate/20190630034751_create_host_facets_reported_data_facets.rb
  test/models/host_test.rb
  test/models/hosts/base_test.rb
  test/unit/foreman/renderer/scope/macros/base_test.rb
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing

#6915 Fixes #27347 - Pin audited to <= 4.8.0
  Gemfile
Labels: Needs testing

#6917 Fixes #27350 - AuditsPage Documentation translation key
  webpack/assets/javascripts/react_app/pages/AuditsPage/AuditsPage.js
Labels: Needs testing, UI

#6908 Fixes #27322 - deprecation should not log in production
  webpack/assets/javascripts/react_app/common/DeprecationService.js
Labels: Needs testing, UI

#6919 Fixes #27354 - resort the package-json fields
  package.json
Labels: Needs testing

#6920 templates - sync from community-templates
  app/views/unattended/partition_tables_templates/preseed_default.erb
  app/views/unattended/partition_tables_templates/preseed_default_lvm.erb
  app/views/unattended/provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/finish/junos_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/iPXE/kickstart_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
  app/views/unattended/provisioning_templates/provision/alterator_default.erb
  app/views/unattended/provisioning_templates/provision/atomic_kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  app/views/unattended/provisioning_templates/provision/preseed_default.erb
  app/views/unattended/provisioning_templates/provision/xenserver_default_answerfile.erb
  app/views/unattended/provisioning_templates/snippet/coreos_cloudconfig.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/preseed_networking_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/rancheros_cloudconfig.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Junos default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Alterator default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/RancherOS provision.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/rancheros_cloudconfig.snap.txt
Labels: Needs testing, Not yet reviewed

#6909 Fixes #27334 - Remove hardcoded max values for ovirt
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
Labels: Needs testing

#6924 Fixes #27363 - resource_pools cache key with cluster
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing, Ready to merge

#6912 Fixes #27338 - add GCE params in compute_resource APIs
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing, Ready to merge

#6927 Fixes #27385 - upgrade vendor the v0.1.1
  package.json
Labels: Needs testing

#6926 Fixes #27330 - center the dashboard grid
  webpack/assets/javascripts/dashboard/gridster.scss
Labels: Needs testing, UI

#6925 Fixes #27369 - fix jest when updating a package in foremanjs
  config/jest.config.js
Labels: Needs testing

#6911 Fixes #27337 - Remove legacy statistics view
  app/views/statistics/index.html.erb
Labels: Needs testing

#6921 Fixes #27355 - add no-jquery eslint rule under react_app
  package.json
  webpack/assets/javascripts/react_app/.eslintrc
  webpack/assets/javascripts/react_app/components/common/forms/Select.test.js
Labels: Needs testing, UI

#4969 Fixes #20105 - index search not retained after deleting host
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#6916 Fixes #27349 - use dashed style of intl key
  webpack/assets/javascripts/react_app/common/I18n.js
Labels: Needs testing, UI

#6928 Fixes #27429: add .vendor/ to gitignore
  .gitignore
Labels: Needs testing

#6872 Fixes #27207 - send bmc_provider attribute
  app/models/nic/bmc.rb
Labels: Needs testing

#6931 Fixes #27437 - Clean up taxonomy enabled checks
  app/controllers/application_controller.rb
  app/controllers/concerns/foreman/controller/host_form_common.rb
  app/controllers/smart_proxies_controller.rb
  app/helpers/hosts_helper.rb
  app/helpers/taxonomy_helper.rb
Labels: Needs testing

#6935 Refs #27207 - fix rubocop
  app/models/nic/bmc.rb
Labels: Needs testing, Not yet reviewed

#6934 Fixes #27453 - Make smart_proxy_id a parameter
  app/controllers/api/v2/autosign_controller.rb
Labels: Needs testing

#6932 Fixes #27440 - Remove taxonomy enabled checks from views
  app/registries/foreman/access_permissions.rb
  app/registries/menu/loader.rb
  app/services/statistics.rb
  app/views/hosts/_selected_hosts.html.erb
  app/views/smart_proxies/index.html.erb
  app/views/taxonomies/_loc_org_tabs.html.erb
  db/migrate/20140219183343_migrate_permissions.rb
  db/migrate/20150605103059_assign_ptables_to_taxonomies.rb
  lib/tasks/seed.rake
Labels: Ready to merge

#6937 Fixes #27460 - Add comp_resource to hostgroup api
  app/views/api/v2/hostgroups/main.json.rabl
Labels: Needs testing

#6940 Fixes #27460 - Add comp_resource to hostgroup api
  app/views/api/v2/hostgroups/main.json.rabl
Labels: Ready to merge, Stable branch

#6941 Fixes #27468 - change key_type to parameter_type in js
  app/assets/javascripts/lookup_keys.js
Labels: Needs testing
