Repository theforeman/foreman, pull requests merged in 2019-10, with the labels that each got.

#7051 Fixes #27891 - Add description field to templates
  app/controllers/api/v2/config_templates_controller.rb
  app/controllers/api/v2/provisioning_templates_controller.rb
  app/controllers/api/v2/ptables_controller.rb
  app/controllers/api/v2/report_templates_controller.rb
  app/controllers/concerns/foreman/controller/parameters/template.rb
  app/models/template.rb
  app/views/api/v2/provisioning_templates/main.json.rabl
  app/views/api/v2/ptables/main.json.rabl
  app/views/api/v2/report_templates/main.json.rabl
  app/views/templates/_form.html.erb
  db/migrate/20190919155550_add_description_to_templates.rb
Labels: Needs testing

#7076 Fixes #27985 - Show instance ID on the about page
  app/views/about/index.html.erb
Labels: Needs testing

#6918 Fixes #27353 - use vmware network id instead of name
  app/models/compute_resources/foreman/model/vmware.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing

#7074 Fixes #27956 - update deep_cloneable to 3.x
  Gemfile
Labels: Needs testing

#7057 Fixes #27903 - Do not init template-form-elements
  app/assets/javascripts/lookup_keys.js
  webpack/assets/javascripts/jquery.ui.custom_spinners.js
Labels: Legacy JS, Needs testing, UI

#7040 Fixes #26381 - oVirt Remove empty disk interface
  app/views/compute_resources_vms/form/ovirt/_volume.html.erb
Labels: Needs testing

#7084 Fixes #27926 - Allow host params in report templates
  app/models/host/managed.rb
Labels: Needs testing

#7083 Fixes #27999 - Require responders 3.x
  Gemfile
Labels: Needs testing

#7082 Fixes #27998 - Require minitest-spec-rails 6.x
  bundler.d/test.rb
Labels: Needs testing

#6733 Fixes #25926 - Create Audits React route
  app/assets/stylesheets/patternfly_and_overrides.scss
  app/controllers/audits_controller.rb
  app/views/audits/index.html.erb
  config/routes.rb
  test/controllers/audits_controller_test.rb
  webpack/assets/javascripts/react_app/ReactApp/ReactAppSelectors.js
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/components/AuditsList/audit.scss
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/AuditsPage.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/AuditsPage.test.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPage.fixtures.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPage.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPageActions.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPageSelectors.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/AuditsPage.test.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/AuditsPageActions.test.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/AuditsPageSelectors.test.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPageActions.test.js.snap
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPageSelectors.test.js.snap
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/auditspage.scss
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/components/AuditsLoadingPage.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/components/AuditsTable.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/components/auditsloading.scss
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/index.js
  webpack/assets/javascripts/react_app/routes/Audits/constants.js
  webpack/assets/javascripts/react_app/routes/Audits/index.js
  webpack/assets/javascripts/react_app/routes/HostWizard/HostWizardPage/HostWizard.js
  webpack/assets/javascripts/react_app/routes/HostWizard/HostWizardPage/HostWizard.test.js
  webpack/assets/javascripts/react_app/routes/HostWizard/HostWizardPage/__snapshots__/HostWizard.test.js.snap
  webpack/assets/javascripts/react_app/routes/HostWizard/HostWizardPage/index.js
  webpack/assets/javascripts/react_app/routes/HostWizard/index.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.fixtures.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.test.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI

#7077 Refs #27708 - Fixes line chart test snapshots
  webpack/assets/javascripts/react_app/components/common/charts/LineChart/LineChart.fixtures.js
Labels: Needs testing, UI

#7089 refs #25926 - update audit named route to match.
  app/views/users/_audit_summary_query_builder.html.erb
Labels: Needs testing

#7070 Fixes #27943 - oVirt instance type throw error on vm creation
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
Labels: Needs testing

#7092 Fixes #28014 - graphql: add puppetclasses field to Environment type
  app/graphql/types/environment.rb
  test/graphql/queries/environment_query_test.rb
Labels: Needs testing

#7088 Fixes #28006 - vmware storages fetching
  app/views/compute_resources_vms/form/vmware/_base.html.erb
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/__snapshots__/vmware.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.test.js
Labels: Needs testing, UI

#7050 Fixes #11367 - Default values for the template inputs
  app/controllers/api/v2/template_inputs_controller.rb
  app/controllers/concerns/foreman/controller/parameters/template_input.rb
  app/models/report_composer.rb
  app/models/template_input.rb
  app/views/api/v2/template_inputs/main.json.rabl
  app/views/template_inputs/_form.html.erb
  db/migrate/20190918170516_add_default_to_template_inputs.rb
Labels: Demo worthy

#6875 Fixes #25732, #26641 - report mimetypes and format
  app/controllers/api/v2/report_templates_controller.rb
  app/controllers/templates_controller.rb
  app/models/report_composer.rb
  app/models/report_template.rb
  app/services/report_template_format.rb
  app/views/report_templates/generate.html.erb
  lib/foreman/renderer/scope/report.rb
  test/controllers/api/v2/report_templates_controller_test.rb
  test/controllers/provisioning_templates_controller_test.rb
  test/controllers/ptables_controller_test.rb
  test/controllers/report_templates_controller_test.rb
  test/models/report_template_format_test.rb
  test/models/report_template_test.rb
Labels: Demo worthy, Needs testing

#7094 Fixes #28017 - graphql: fix creating host with puppetclasses
  app/graphql/mutations/hosts/create.rb
  test/graphql/mutations/hosts/create_mutation_test.rb
Labels: Needs testing

#7067 Fixes #27941 - Set timezone based on browser timezone
  app/helpers/application_helper.rb
Labels: Needs testing, UI

#7079 Fixes #27982 - Update desc for compute resource api 'tenant' param
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#7097 Fixes #27941 - Set timezone based on browser timezone
  app/helpers/application_helper.rb
Labels: Needs testing, Stable branch

#7099 Refs #28028 - update chromedriver to match jenkins version
  package.json
Labels: Needs testing

#6549 Fixes #25809 - JWT auth for external users
  Gemfile
  app/controllers/concerns/foreman/controller/authentication.rb
  app/controllers/concerns/foreman/controller/session.rb
  app/models/setting.rb
  app/models/setting/auth.rb
  app/models/user.rb
  app/services/jwt_token.rb
  app/services/oidc_jwt.rb
  app/services/oidc_jwt_validate.rb
  app/services/sso.rb
  app/services/sso/jwt.rb
  app/services/sso/openid_connect.rb
  test/fixtures/settings.yml
  test/models/user_test.rb
  test/unit/oidc_jwt_validate_test.rb
  test/unit/sso/apache_test.rb
  test/unit/sso/jwt_test.rb
  test/unit/sso/openid_connect_test.rb
Labels: Needs testing

#7101 Fixes #28031 - pin signet on Ruby 2.3
  bundler.d/gce.rb
Labels: Needs testing, Ready to merge

#7059 Refs #27906 - Clean up PuppetFactParser
  app/services/puppet_fact_parser.rb
Labels: Needs testing

#7081 Fixes #27995 - Extend reported data facet
  app/models/concerns/hostext/fact_data.rb
  app/models/host/base.rb
  app/models/host/managed.rb
  app/services/fact_parser.rb
  app/services/puppet_fact_parser.rb
  db/migrate/20191001120743_add_fields_to_reported_data_facet.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/models/host_test.rb
Labels: Needs testing

#7106 Fixes #28062 - Show link for bookmark form
  webpack/assets/javascripts/react_app/constants.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
Labels: Needs testing, UI

#6983 Fixes #26338 - use port from HTTP boot feature
  app/models/operatingsystem.rb
  test/models/operatingsystem_test.rb
  test/models/orchestration/dhcp_test.rb
Labels: Needs testing

#7107 Refs #27301 - instead setup call let for usergroup audit tests
  test/models/usergroup_test.rb
Labels: Needs testing

#7111 Fixes #28075 - Ping endpoints apidoc should be explicit
  app/controllers/api/v2/ping_controller.rb
Labels: Needs testing

#7102 Refs #25809 - handle OIDC JWT in apache service
  app/controllers/concerns/foreman/controller/authentication.rb
  app/services/sso/apache.rb
  app/services/sso/base.rb
  app/services/sso/openid_connect.rb
  test/unit/sso/apache_test.rb
  test/unit/sso/openid_connect_test.rb
Labels: Needs testing

#7014 Fixes #26168,#25276 - Create ovirt interface/volume if not empty
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#7115 Fixes #28091 - Make javascript extras executable
  package.json
  script/npm_install_plugins.js
  script/npm_lint_plugins.js
Labels: Needs testing

#7080 Fixes #27994 - Clean up deprecated functions
  app/assets/javascripts/application.js
  app/assets/javascripts/deprecation.js
  app/controllers/api/v2/operatingsystems_controller.rb
  app/helpers/application_helper.rb
  app/helpers/common_parameters_helper.rb
  app/models/operatingsystem.rb
  app/models/setting.rb
  app/registries/foreman/plugin.rb
  app/services/fact_importer.rb
  lib/foreman/renderer/scope/macros/snippet_rendering.rb
  lib/foreman/renderer/scope/variables/base.rb
  lib/tasks/puppet.rake
  script/foreman-config
  test/unit/foreman/renderer/scope/macros/snippet_rendering_test.rb
Labels: Legacy JS, Needs testing

#7114 Fixes #28090 - move entrypoint.sh to extras
  Dockerfile
  extras/containers/entrypoint.sh
Labels: Needs testing

#7116 Refs #27995 - keep set_reported_data in Host::Base
  app/models/host/base.rb
  app/models/host/managed.rb
Labels: Needs testing

#7037 Fixes #26898 - Add taxonomies inheritance on smart class params
  app/models/hostgroup.rb
  app/models/lookup_keys/lookup_key.rb
  app/models/setting/puppet.rb
  app/services/classification/matches_generator.rb
  app/services/classification/values_hash_query.rb
  db/migrate/20190621160800_rename_host_group_matchers.rb
  test/unit/classification_test.rb
Labels: Needs testing

#7119 Refs #27246 - Expand the issue comment describing
  app/models/host/base.rb
Labels: Needs testing

#7108 Fixes #28063 - Fix prop types on audits page
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPageActions.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPageActions.test.js.snap
Labels: Needs testing, UI

#7122 Fixes #27740 - Allow creating parameters with lone taxonomies
  app/controllers/api/base_controller.rb
  test/controllers/api/v2/parameters_controller_test.rb
Labels: Needs testing

#7109 Fixes #28064 - initial script for sidekiq
  Gemfile
  bundler.d/dynflow_sidekiq.rb
  config/dynflow/orchestrator.yml.example
  config/dynflow/worker.yml.example
  config/settings.yaml.example
  extras/dynflow-sidekiq.rb
  extras/systemd/dynflow-sidekiq@.service
Labels: Needs testing

#7120 Fixes #28109 - move export button from pages to routes
  webpack/assets/javascripts/react_app/routes/common/PageLayout/components/ExportButton/ExportButton.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/components/ExportButton/ExportButton.stories.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/components/ExportButton/ExportButton.test.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/components/ExportButton/__snapshots__/ExportButton.test.js.snap
Labels: Ready to merge, UI

#7130 Fixes #28137 - Fix generating global id for operatingsystems
  app/models/operatingsystem.rb
  test/unit/foreman/global_id_test.rb
Labels: Ready to merge

#7132 Fixes #28139 - Fix dynflow initialization with Sidekiq
  extras/dynflow-sidekiq.rb
Labels: Needs testing

#7125 Fixes #28122 - Allow creating common params with lone taxonomy
  app/controllers/api/base_controller.rb
  test/controllers/api/v2/common_parameters_controller_test.rb
Labels: Needs testing

#7129 Fixes #28129 - revert param migration of type casting
  db/migrate/20181105061336_cast_key_types_and_values_in_parameters.rb
  lib/tasks/parameters.rake
Labels: Needs testing

#7127 Fixes #28126 - improve dynflow sidekiq service
  extras/systemd/dynflow-sidekiq@.service
Labels: Needs testing

#7124 templates - sync from community-templates
  app/views/unattended/provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXEGrub2/pxegrub2_global_default.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_default_local_boot.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_global_default.erb
  app/views/unattended/provisioning_templates/PXELinux/rancheros_pxelinux.erb
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/iPXE/ipxe_global_default.erb
  app/views/unattended/provisioning_templates/iPXE/kickstart_default_ipxe.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/preseed_default.erb
  app/views/unattended/provisioning_templates/snippet/fix_hosts.erb
  app/views/unattended/provisioning_templates/snippet/freeipa_register.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_bond_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_bonded_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_discovery.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_mac.erb
  app/views/unattended/provisioning_templates/snippet/pxelinux_chainload.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
  app/views/unattended/report_templates/ansible_inventory.erb
  app/views/unattended/report_templates/entitlements.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Kickstart default PXEGrub2.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/PXELinux default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/PXELinux global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/RancherOS PXELinux.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/fix_hosts.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_discovery.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxelinux_chainload.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed default user data.snap.txt
Labels: Needs re-review, Needs testing, Waiting on contributor

#7133 Fixes #27760 - ImpersonateIconActions to use async/await
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIconActions.js
Labels: Needs testing, UI

#7134 Fixes #27761 - EditorActions to use async/await
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorActions.test.js.snap
Labels: Needs testing, UI

#7135 Fixes #27759 - BreadcrumbBarActions to use async/await
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
Labels: Ready to merge, UI

#7137 Fixes #28145 - fix rake rescan_reports_origins run
  lib/tasks/rescan_reports_origins.rake
Labels: Needs testing

#7118 Fixes #28057 - Remove disabled hosts from config chart
  app/helpers/dashboard_helper.rb
Labels: Needs testing

#7131 Fixes #26608 - suffixed "AdministratorPassword" for windows
  app/models/concerns/host_common.rb
  app/services/password_crypt.rb
  db/migrate/20191028082812_remove_limit_from_root_pass.rb
  test/models/host_test.rb
Labels: Needs testing

#6293 Fixes #25594 - issue warning during unused_ip call
  app/services/ipam/dhcp.rb
Labels: Ready to merge

#7117 Fixes #27835 - fix available_{flavors,zones} methods for ec2
  app/models/compute_resources/foreman/model/ec2.rb
Labels: Needs testing

#7142 Fixes #28154 - random name/description test failure fixed
  lib/core_extensions.rb
  test/test_helper.rb
Labels: Needs testing
