Repository theforeman/foreman, pull requests merged in 2019-06, with the labels that each got.

#6815 Fixes #26932 - react controller property fix
  app/controllers/react_controller.rb
Labels: Needs testing

#6817 Fixes #26935 - added stdout logging option back
  config/logging.yaml
  lib/foreman/logging.rb
Labels: Needs testing

#6821 Fixes #26679 - Add report template API attributes
  app/views/api/v2/report_templates/show.json.rabl
Labels: Needs testing, Stable branch

#6822 Refs #26741 - fix typo and add node about buildah
  developer_docs/containers.asciidoc
Labels: Needs testing

#6808 refs #26741 - switch to fedora-minimal base image
  Dockerfile
Labels: Needs testing

#6767 Fixes #26805 - react-router foundation #4
  app/helpers/application_helper.rb
  app/helpers/layout_helper.rb
  webpack/assets/javascripts/react_app/ReactApp/ReactApp.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppActions.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppConstants.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppReducer.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppSelectors.js
  webpack/assets/javascripts/react_app/ReactApp/index.js
  webpack/assets/javascripts/react_app/common/HOC.js
  webpack/assets/javascripts/react_app/common/HOC.test.js
  webpack/assets/javascripts/react_app/common/__snapshots__/HOC.test.js.snap
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/constants.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/emptypage.scss
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/index.js
  webpack/assets/javascripts/react_app/routes/common/LoadingPage/index.js
  webpack/assets/javascripts/react_app/routes/common/LoadingPage/loadingpage.scss
  webpack/assets/javascripts/react_app/routes/index.js
Labels: Needs testing, UI

#6698 Fixes #26639 - Experimental Host Wizard
  app/registries/menu/loader.rb
  config/routes.rb
  webpack/assets/javascripts/react_app/pages/HostWizardPage/HostWizard.js
  webpack/assets/javascripts/react_app/pages/HostWizardPage/HostWizard.test.js
  webpack/assets/javascripts/react_app/pages/HostWizardPage/__snapshots__/HostWizard.test.js.snap
  webpack/assets/javascripts/react_app/pages/HostWizardPage/index.js
  webpack/assets/javascripts/react_app/routes/HostWizard/index.js
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI

#6827 Fixes #26957 - send request id instead session to proxy
  lib/proxy_api/resource.rb
  test/unit/proxy_api/resource_test.rb
Labels: Needs testing

#6732 Fixes #26728 - configure default language (and timezone)
  app/models/setting.rb
  app/models/setting/general.rb
  app/models/user.rb
Labels: Needs testing

#6824 Fixes #26949 - Use $version instead of $release for FreeBSD
  app/models/operatingsystems/freebsd.rb
  test/factories/medium.rb
  test/factories/operatingsystem.rb
  test/models/operatingsystems/freebsd_test.rb
Labels: Needs testing

#6811 fixes #26918 - add a redis caching backend
  bundler.d/redis.rb
  config/application.rb
  config/settings.yaml.example
Labels: Needs testing

#6831 Fixes #26971 - Uninitialized Constant in app/models/compute_resources…
  app/models/compute_resources/foreman/model/openstack.rb
Labels: Needs testing, Waiting on contributor

#6826 fixes #26955 - load boot settings from env variables
  app/services/foreman/env_settings_loader.rb
  config/boot_settings.rb
  config/settings.rb
  test/unit/foreman/env_settings_loader_test.rb
Labels: Needs testing

#6820 Fixes #26942 - no plan info retrieval if not done
  app/controllers/api/v2/report_templates_controller.rb
  test/controllers/api/v2/report_templates_controller_test.rb
Labels: Needs testing

#6837 Fixes #27013 - Pin shoulda-matchers on Ruby 2.3
  bundler.d/test.rb
Labels: Needs testing

#6836 refs #26918 - adds redis support in docker-compose
  config/application.rb
  docker-compose.yml
Labels: Ready to merge

#6777 Fixes #25897 - Can lookup hosts based on facts
  app/models/concerns/hostext/search.rb
  test/models/concerns/hostext/search_test.rb
Labels: Ready to merge

#6838 refs #26741 - do not include facter in container based builds
  Dockerfile
Labels: Needs testing

#6833 Fixes #27003 - js linter nitpicks
  package.json
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
Labels: Needs testing, UI

#6780 Fixes #26812,#26814 - display correct vm_details in notifications
  app/models/concerns/fog_extensions/google/server.rb
  app/views/compute_resources_vms/show/_gce.html.erb
Labels: Needs re-review, Needs testing

#6812 Fixes #26924 - Deprecate rake taks for puppet import
  lib/tasks/puppet.rake
Labels: Needs testing

#6789 Fixes #26852 - add mountpoint and partition exclude fact patterns
  app/models/setting/provisioning.rb
  test/fact_importer_test_helper.rb
  test/fixtures/settings.yml
  test/unit/fact_importer_test.rb
Labels: Needs testing

#6840 Fixes #27005 - Fix Editor changing locked template
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/Editor.test.js
Labels: Needs testing, UI

#6656 fixes #26548 - graphql: support namespaced modules
  app/graphql/foreman_graphql_schema.rb
  app/models/application_record.rb
  app/models/host/managed.rb
  app/models/subnet.rb
  app/services/foreman/global_id.rb
  test/graphql/foreman_graphql_schema_test.rb
  test/test_helper.rb
Labels: Needs testing

#6799 fixes #26887 - graphql login: count bruteforce attempts
  app/controllers/api/graphql_controller.rb
  app/controllers/concerns/foreman/controller/bruteforce_protection.rb
  app/graphql/mutations/sign_in_user.rb
  app/services/foreman/bruteforce_protection.rb
  test/graphql/mutations/sign_in_user_mutation_test.rb
  test/unit/foreman/bruteforce_protection_test.rb
Labels: Needs testing

#6809 fixes #26541 - graphql: add plugin api
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/graphql_types_registry.rb
  app/services/foreman/module.rb
  config/application.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/unit/foreman/module_test.rb
  test/unit/foreman/plugin/graphql_types_registry_test.rb
  test/unit/plugin_test.rb
Labels: Needs testing

#6658 fixes #26489 - graphql: create host mutation
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/api/v2/interfaces_controller.rb
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/hosts/create.rb
  app/graphql/types/base_object.rb
  app/graphql/types/compute_profile.rb
  app/graphql/types/host.rb
  app/graphql/types/interface_attributes_input.rb
  app/graphql/types/interface_type_enum.rb
  app/graphql/types/mutation.rb
  app/graphql/types/raw_json.rb
  app/graphql/types/user_or_usergroup_union.rb
  app/models/compute_resource.rb
  app/models/host/managed.rb
  app/services/interface_type_mapper.rb
  test/graphql/foreman_graphql_schema_test.rb
  test/graphql/mutations/hosts/create_mutation_test.rb
  test/graphql/queries/host_query_test.rb
  test/graphql/queries/hostgroup_query_test.rb
  test/graphql/queries/hostgroups_query_test.rb
  test/unit/interface_type_mapper_test.rb
Labels: Needs testing

#6839 Fixes #27016 - Reuse Page Reducer Logic
  webpack/assets/javascripts/react_app/common/HOC.js
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/__tests__/__snapshots__/withDataReducer.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/__tests__/__snapshots__/withQueryReducer.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/__tests__/constants.js
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/__tests__/withDataReducer.test.js
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/__tests__/withQueryReducer.test.js
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/withDataReducer.js
  webpack/assets/javascripts/react_app/routes/common/reducerHOC/withQueryReducer.js
Labels: Needs testing, UI

#6848 Fixes #27068 - Pin spring on Ruby < 2.4
  bundler.d/development.rb
Labels: Needs testing

#6819 Fixes #26939 - root_pass limit increased
  db/migrate/20190604081000_change_root_pass_in_host.rb
Labels: Needs testing

#6844 Fixes #27052 - Convert ModelsTable to react hooks
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTable.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTable.test.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/ellipsisCellFormatter.js
Labels: UI

#6700 fixes #26627 - rake task to render templates from dir
  app/models/host/managed.rb
  app/models/operatingsystem.rb
  app/services/foreman/render_templates_from_folder.rb
  lib/foreman/renderer/source/directory.rb
  lib/tasks/templates_renderer.rake
  test/static_fixtures/templates/snippet/three.erb
  test/static_fixtures/templates/snippet/two.erb
  test/unit/foreman/renderer_templates_from_folder_test.rb
Labels: Needs testing

#6749 Fixes #26777 - added taxonomy_taxable id and type index
  db/migrate/20190510082811_add_taxonomy_id_taxable_type_indices_to_taxable_taxonomies.rb
Labels: Needs testing

#6752 Fixes #26783 - Create Statistics Route
  app/controllers/statistics_controller.rb
  config/routes.rb
  package.json
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/Statistics/Statistics.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.fixtures.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPageActions.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPageSelectors.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/StatisticsPage.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/StatisticsPageActions.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/StatisticsPageSelectors.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPageActions.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPageSelectors.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/index.js
  webpack/assets/javascripts/react_app/routes/Statistics/constants.js
  webpack/assets/javascripts/react_app/routes/Statistics/index.js
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI

#6854 Fixes #27104 - Editor replace toString with lodash
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
Labels: Needs testing, UI

#6858 Fixes #27115 - Fix eslint errors
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Template/TemplateInput.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DateInput.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/MonthView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeClock.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/TimeInput.js
Labels: Needs testing, UI

#6834 Updated pull request template and review
  .github/PULL_REQUEST_TEMPLATE.md
  developer_docs/pr_review.asciidoc
Labels: Needs testing, Waiting on contributor

#6851 Fixes #27092 - Current taxonomies in API response header
  app/controllers/api/base_controller.rb
  test/controllers/api/base_controller_subclass_test.rb
Labels: Needs testing

#6706 Fixes #26664 - adds OpenStack project domain
  app/controllers/api/v2/compute_resources_controller.rb
  app/controllers/concerns/foreman/controller/parameters/compute_resource.rb
  app/models/compute_resources/foreman/model/openstack.rb
  app/views/api/v2/compute_resources/openstack.json.rabl
  app/views/compute_resources/form/_openstack.html.erb
Labels: Needs testing

#6754 Fixes #26787 - show console output for GCE instances
  app/models/compute_resources/foreman/model/gce.rb
Labels: Ready to merge

#6835 Fixes #27008 - New External Logout Page
  app/helpers/external_logout_helper.rb
  app/views/users/extlogout.html.erb
  webpack/assets/javascripts/react_app/components/ExternalLogout/ExternalLogout.fixtures.js
  webpack/assets/javascripts/react_app/components/ExternalLogout/ExternalLogout.js
  webpack/assets/javascripts/react_app/components/ExternalLogout/__tests__/ExternalLogout.test.js
  webpack/assets/javascripts/react_app/components/ExternalLogout/__tests__/__snapshots__/ExternalLogout.test.js.snap
  webpack/assets/javascripts/react_app/components/ExternalLogout/externalLogout.scss
  webpack/assets/javascripts/react_app/components/ExternalLogout/index.js
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.scss
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Needs testing, UI

#6747 Fixes #26761 - support associate/disassociate vms action for GCE
  app/models/compute_resources/foreman/model/gce.rb
  test/models/compute_resources/gce_test.rb
Labels: Needs testing

#6855 Fixes #27105 - env variable to disable redux-logger
  config/webpack.config.js
  webpack/assets/javascripts/react_app/redux/index.js
Labels: Needs testing, UI

#6863 Fixes #27172 - Make layout colors overridable
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: Needs testing, UI
