Repository theforeman/foreman, pull requests merged in 2019-05, with the labels that each got.

#6686 Fixes #26620 - Fix import interfaces in ovirt CR
  app/models/compute_resource.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/services/compute_resource_host_importer.rb
  test/unit/compute_resource_host_importer_test.rb
Labels: Needs testing

#6721 refs #26710 - prettify asset pipeline JS
  app/assets/javascripts/about.js
  app/assets/javascripts/charts.js
  app/assets/javascripts/deprecation.js
  app/assets/javascripts/filters.js
  app/assets/javascripts/hidden_values.js
  app/assets/javascripts/host_edit.js
  app/assets/javascripts/host_edit_interfaces.js
  app/assets/javascripts/hosts.js
  app/assets/javascripts/lookup_keys.js
  app/assets/javascripts/parameter_override.js
  app/assets/javascripts/proxy_status.js
  app/assets/javascripts/select_on_click.js
  app/assets/javascripts/settings.js
  app/assets/javascripts/subnets.js
  app/assets/javascripts/taxonomy_edit.js
Labels: Needs testing

#6522 fixes #26186 - add react-router foundation
  app/assets/stylesheets/base.scss
  app/helpers/layout_helper.rb
  app/views/layouts/base.html.erb
  config/webpack.vendor.js
  package.json
  webpack/assets/javascripts/react_app/ReactApp.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutActions.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutConstants.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutActions.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutReducer.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutSelectors.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/LayoutContainer.js
  webpack/assets/javascripts/react_app/components/Layout/components/LayoutContainer.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/LayoutContainer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/history.js
  webpack/assets/javascripts/react_app/routes/index.js
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI

#6722 Fixes #15626 - filters vmware vms by datacenter
  app/models/compute_resource.rb
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#6662 Fixes #26494 - select all on hosts lists
  test/integration/host_js_test.rb
  webpack/assets/javascripts/hosts/tableCheckboxes.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.js
Labels: Needs testing, UI

#6650 Fixes #25656 - Foreman redirects to logout page
  app/registries/menu/item.rb
  app/registries/menu/loader.rb
  test/unit/menu_manager_test.rb
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
Labels: Needs testing, UI

#6715 Fixes #26696 - add react-router foundation #2
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#6729 Fixes #26723 - Bump redux-form version to 8.2.0
  package.json
  webpack/assets/javascripts/react_app/components/bookmarks/form/__snapshots__/form.test.js.snap
Labels: Needs testing, UI

#6677 Fixes #26584 - create FormField using pf components
  app/helpers/.gitignore
  app/helpers/form_helper.rb
  app/helpers/tags/react_input.rb
  app/views/report_templates/generate.html.erb
  webpack/assets/javascripts/react_app/components/common/forms/Form.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/FormField.fixtures.js
  webpack/assets/javascripts/react_app/components/common/forms/FormField.js
  webpack/assets/javascripts/react_app/components/common/forms/__tests__/FormField.test.js
  webpack/assets/javascripts/react_app/components/common/forms/__tests__/__snapshots__/FormField.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Needs testing, UI

#6153 Fixes #25227 - facts:cleanup batch support
  app/services/fact_cleaner.rb
  lib/tasks/facts.rake
Labels: Needs testing

#6738 Refs #25285 - remove old deprecation suppression
  config/as_deprecation_whitelist.yaml
Labels: Needs testing, Not yet reviewed

#6685 Fixes #26618 - show cancelled report generating
  app/controllers/api/v2/report_templates_controller.rb
Labels: Ready to merge

#6441 Fixes #25888 - move components from Katello to Foreman
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
  webpack/assets/javascripts/react_app/common/keyCodes.js
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteConstants.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Settings/SettingsActions.js
  webpack/assets/javascripts/react_app/components/Settings/SettingsConstants.js
  webpack/assets/javascripts/react_app/components/Settings/__tests__/SettingsActions.test.js
  webpack/assets/javascripts/react_app/components/Settings/__tests__/__snapshots__/SettingsActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Settings/__tests__/settings.fixtures.js
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/ModalProgressBar.js
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/ModalProgressBar.scss
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/ModelProgressBar.fixtures.js
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/__tests__/ModalProgressBar.test.js
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/__tests__/__snapshots__/ModalProgressBar.test.js.snap
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/index.js
  webpack/assets/javascripts/react_app/mockRequests.js
Labels: Needs testing, UI

#6744 Fixes #26756 - drop invalid values for scsi_controller_type
  app/models/compute_resources/foreman/model/vmware.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing, Not yet reviewed

#6727 Fixes #26718 - prettify fact origin icon title
  app/helpers/fact_values_helper.rb
Labels: Needs testing, Not yet reviewed

#6701 migrate spice to npm and upgrade
  app/assets/javascripts/spice.js
  app/views/hosts/console/spice.html.erb
  bundler.d/assets.rb
  config/initializers/assets.rb
  package.json
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/spice.js
Labels: Needs testing, Not yet reviewed, UI

#6745 Fixes #26757 - respect current user timezone in search
  Gemfile
Labels: Ready to merge

#6736 Fixes #26738 - seed admin locale + timezone
  db/seeds.d/035-admin.rb
Labels: Needs testing, Not yet reviewed

#6750 Fixes #26781 - DateTimePicker placement
  app/views/report_templates/generate.html.erb
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/__snapshots__/DateTime.test.js.snap
Labels: Needs testing, UI

#6755 Fixes #26790 - Support ES6 in Uglifier
  config/environments/production.rb
Labels: Ready to merge

#6756 Refs #26781 - css independent on the placement
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/date-time-picker.scss
Labels: Needs testing, UI

#6759 Fixes #26790 - Support ES6 in Uglifier
  config/environments/production.rb
Labels: Needs testing, Not yet reviewed

#6763 Revert "Fixes #26790 - Support ES6 in Uglifier"
  config/environments/production.rb
Labels: Needs testing, Not yet reviewed, Stable branch, Waiting on contributor

#6764 Revert "Fixes #26790 - Support ES6 in Uglifier"
  config/environments/production.rb
Labels: Needs testing, Waiting on contributor

#6551 fixes #26052 - add missing IDs to Layout
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
Labels: Needs testing, UI

#6760 Fixes #26799 - typo in redux consts
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthActions.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthConstants.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrengthReducer.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/PasswordStrengthReducer.test.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrengthActions.test.js.snap
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrengthReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/redux/consts.js
Labels: Needs testing, UI

#6741 Fixes #26753 - react-router foundation #3
  app/assets/stylesheets/base.scss
  app/controllers/react_controller.rb
  app/registries/foreman/access_permissions.rb
  app/views/react/index.html.erb
  db/seeds.d/020-permissions_list.rb
  webpack/assets/javascripts/hosts/tableCheckboxes.js
  webpack/assets/javascripts/react_app/common/__snapshots__/urlHelpers.test.js.snap
  webpack/assets/javascripts/react_app/common/document.js
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.test.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.test.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBarHelpers.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/SearchBarHelpers.test.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/assets/javascripts/react_app/components/bookmarks/Bookmark.js
  webpack/assets/javascripts/react_app/components/bookmarks/__snapshots__/bookmark.test.js.snap
  webpack/assets/javascripts/react_app/components/bookmarks/bookmark.test.js
  webpack/assets/javascripts/react_app/components/bookmarks/bookmarks.test.js
  webpack/assets/javascripts/react_app/components/bookmarks/index.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#6765 Fixes #26803 - update patternfly-react to 2.34.1
  package.json
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/Pagination.test.js.snap
Labels: Needs testing, UI

#6766 Fixes #26804 - add_cmd requires second parameter [skip ci]
  script/foreman-debug
Labels: Needs testing

#6394 Fixes #25810 - migrate react-bootstrap to patternfly-react
  config/webpack.vendor.js
  package.json
  test/integration/statistic_test.rb
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcher.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.stories.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
  webpack/assets/javascripts/react_app/components/notifications/ToggleIcon/ToggleIcon.js
  webpack/assets/javascripts/react_app/components/statistics/ChartBox.js
  webpack/assets/javascripts/react_app/components/statistics/StatisticsChartsList.js
  webpack/assets/javascripts/react_app/components/statistics/StatisticsChartsListStyles.scss
  webpack/assets/javascripts/react_app/components/statistics/__snapshots__/ChartBox.test.js.snap
Labels: Needs testing, UI

#6180 Fixes #25335 - Creating a React/Redux Editor
  app/assets/stylesheets/base.scss
  app/assets/stylesheets/editor.scss
  app/helpers/editor_helper.rb
  app/views/editor/_toolbar.html.erb
  app/views/provisioning_templates/_custom_tabs.html.erb
  app/views/ptables/_custom_tabs.html.erb
  app/views/report_templates/_custom_tabs.html.erb
  app/views/templates/_form.html.erb
  package.json
  test/integration/ptable_js_test.rb
  test/integration/ptable_test.rb
  test/integration/report_template_js_test.rb
  webpack/assets/javascripts/foreman_editor.js
  webpack/assets/javascripts/foreman_template_inputs.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/__snapshots__/ExpansiveView.test.js.snap
  webpack/assets/javascripts/react_app/components/DiffView/DiffContainer.js
  webpack/assets/javascripts/react_app/components/DiffView/__snapshots__/DiffContainer.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/Editor.fixtures.js
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/EditorConstants.js
  webpack/assets/javascripts/react_app/components/Editor/EditorReducer.js
  webpack/assets/javascripts/react_app/components/Editor/EditorSelectors.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/Editor.test.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/EditorActions.test.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/EditorReducer.test.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/EditorSelectors.test.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorHostSelect.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorModal.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorOptions.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorRadioButton.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSettings.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorView.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorHostSelect.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorModal.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorNavbar.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorOptions.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorRadioButton.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorSettings.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorView.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorHostSelect.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorModal.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorNavbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorOptions.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorRadioButton.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorView.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/editorhostselect.scss
  webpack/assets/javascripts/react_app/components/Editor/editor.scss
  webpack/assets/javascripts/react_app/components/Editor/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Demo worthy, UI

#6769 Fixes #26826 - Increase js heap size for plugin asset compile
  lib/tasks/plugin_assets.rake
Labels: Needs testing

#6771 Refs #26826 - Correctly increase js heap size
  lib/tasks/plugin_assets.rake
Labels: Needs testing

#6770 Refs #26052 - skip menu items with no name
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutSelectors.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
Labels: UI

#6774 Fixes #26832 - Bump unidiff to 1.x
  package.json
Labels: Needs testing

#6773 Fixes #26830 - upgrade react-redux to v5.1.1
  package.json
Labels: Needs testing

#6730 fixes #26741 - adds containers support for developers
  .dockerignore
  Dockerfile
  docker-compose.yml
  entrypoint.sh
Labels: Ready to merge

#6778 Fixes #26838 - Updated VMware vSphere 6.7 GuestOSIdentifier
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#6758 fixes #26796 - coreos: url_for_boot
  app/models/operatingsystems/coreos.rb
  app/models/operatingsystems/nxos.rb
  app/models/operatingsystems/rancheros.rb
  test/factories/medium.rb
  test/factories/operatingsystem.rb
  test/models/operatingsystems/coreos_test.rb
  test/models/operatingsystems/rancheros_test.rb
Labels: Needs testing

#6779 Fixes #26840 - Remove experimental label from ovirt v4
  app/views/compute_resources/form/_ovirt.html.erb
  app/views/compute_resources/show/_ovirt.html.erb
Labels: Needs testing

#6782 refs #26741 - update the location of the container image
  docker-compose.yml
Labels: Needs testing

#6258 Fixes #24160 - Remove input arrows when input is disabled
  app/helpers/form_helper.rb
Labels: Needs testing

#6761 Refs #26781 - datepicker css v2
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/date-time-picker.scss
Labels: Needs testing, UI

#6772 fixes #26831 - refresh_usergroups as anonymous admin
  lib/tasks/ldap.rake
Labels: Needs testing

#6784 Fixes #26843 - add latest nodeJS 12 to travis
  .travis.yml
Labels: Needs testing

#6234 Fixes #24990 - Move Login Page into React.
  app/assets/stylesheets/login.scss
  app/helpers/login_helper.rb
  app/views/common/_login.html.erb
  app/views/layouts/base.html.erb
  app/views/users/login.html.erb
  test/integration/middleware_js_test.rb
  test/integration/middleware_test.rb
  test/integration/user_test.rb
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.fixtures.js
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.js
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.scss
  webpack/assets/javascripts/react_app/components/LoginPage/__tests__/LoginPage.test.js
  webpack/assets/javascripts/react_app/components/LoginPage/__tests__/__snapshots__/LoginPage.test.js.snap
  webpack/assets/javascripts/react_app/components/LoginPage/components/LoginPageCaption.js
  webpack/assets/javascripts/react_app/components/LoginPage/helpers.js
  webpack/assets/javascripts/react_app/components/LoginPage/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Needs testing, UI

#6785 refs #26741 - use develop container tag vs latest
  docker-compose.yml
Labels: Ready to merge

#6788 Fixes #26849 - update VMware vSphere 6.7 Hardware versions
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#6790 Fixes #26854 - disable Turbolinks for 3rd-party Routing
  app/registries/menu/item.rb
  test/unit/menu_manager_test.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/routes/index.js
Labels: Needs testing, Not yet reviewed, UI

#6485 Fixes #26856 - Support for fog-ovirt namespace changes
  app/models/compute_resources/foreman/model/ovirt.rb
  app/models/concerns/fog_extensions.rb
  bundler.d/ovirt.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#6781 fixes #26841 - sparc: render install_path
  app/models/concerns/host_template_helpers.rb
  test/factories/medium.rb
  test/models/hosts/managed_test.rb
Labels: Needs testing

#6791 Fixes #26859 - revert the changed seed order
  db/seeds.d/050-taxonomies.rb
Labels: Needs testing

#6783 fixes #26842 - altlinux: fix mediumpath
  app/models/operatingsystem.rb
  app/models/operatingsystems/altlinux.rb
  test/factories/medium.rb
  test/factories/operatingsystem.rb
  test/models/operatingsystems/altlinux_test.rb
Labels: Needs testing, Waiting on contributor

#6792 fixes #26860 - refactor mediumpath to os base class
  app/models/operatingsystem.rb
  app/models/operatingsystems/altlinux.rb
  app/models/operatingsystems/junos.rb
  app/models/operatingsystems/nxos.rb
  app/models/operatingsystems/suse.rb
  app/models/operatingsystems/vrp.rb
  app/models/operatingsystems/xenserver.rb
Labels: Needs testing

#6786 refs #26741 - adds usage / build instructions for foreman container
  developer_docs/containers.asciidoc
Labels: Needs testing

#6775 Fixes #26834 - local boot template setting can be lowercase
  app/controllers/unattended_controller.rb
  app/models/host/managed.rb
Labels: Needs testing

#6787 Refs #26803 - pin patternfly-react to 2.31.x
  package.json
Labels: Needs testing, Stable branch, UI

#6555 Fixes #24532 - Allow changing display type and keyboard in oVirt
  app/assets/javascripts/compute_resources/ovirt/display.js
  app/controllers/api/v2/compute_resources_controller.rb
  app/controllers/concerns/foreman/controller/parameters/compute_resource.rb
  app/models/compute_resource.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/api/v2/compute_resources/ovirt.json.rabl
  app/views/compute_resources/form/_ovirt.html.erb
  app/views/compute_resources/show/_ovirt.html.erb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
  app/views/compute_resources_vms/show/_ovirt.html.erb
  config/initializers/assets.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#6796 Fixes #26869 - Add tooltip for IPv4 Subnet on NIC base form
  app/views/nic/_base_form.html.erb
Labels: Needs testing

#6800 Fixes #26756 - drop invalid values for scsi_controller_type (#6744)
  app/models/compute_resources/foreman/model/vmware.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing, Stable branch, Waiting on contributor

#6803 Fixes #26873 - fix vsphere networks (auto)-loading
  app/models/concerns/fog_extensions.rb
Labels: Needs testing

#6533 Fixes #26875 - update factory_bot_rails to 5.x
  bundler.d/test.rb
  test/test_helper.rb
Labels: Blocked by another PR, Needs testing

#6804 fixes #26903 - update webpack-bundle-analyzer
  package.json
Labels: Needs testing

#6805 Fixes #26906 - update show_me_the_cookies to 5.x
  bundler.d/test.rb
Labels: Needs testing
