Repository theforeman/foreman, pull requests merged in 2019-01, with the labels that each got.

#6375 Fixes #25538 - Remove fuzzy translations for 'en' locale
  locale/en/foreman.po
Labels: Needs testing

#6288 Fixes #25525 - fix host_details path for other types on audit
  app/helpers/audits_helper.rb
Labels: Needs testing

#6213 Fixes #25409 - add translateObject/Array helpers
  webpack/assets/javascripts/react_app/common/__snapshots__/helpers.test.js.snap
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.test.js
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/PaginationHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/notifications/index.js
Labels: Needs testing, UI

#6305 Fixes #25624 - add explicit kernel release fact loader
  app/models/host/base.rb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/scope/macros/base_test.rb
Labels: Needs testing

#6380 Fixes #25778 - increase max_old_space_size for webpack:compile
  lib/tasks/webpack.rake
  lib/tasks/webpack_try_compile.rake
Labels: Needs testing

#6381 Fixes #25784 - make sure allows_taxonomy_filtering works with symbols
  app/models/concerns/authorizable.rb
Labels: Needs testing, Waiting on contributor

#6290 Fixes #25577 - updated puppetclass_lookup_keys_controller queries
  app/controllers/puppetclass_lookup_keys_controller.rb
  app/models/environment_class.rb
  app/models/lookup_keys/puppetclass_lookup_key.rb
  app/models/puppetclass.rb
  app/views/puppetclass_lookup_keys/index.html.erb
  db/migrate/20181224174419_add_index_to_environment_class_by_lookup_key_and_puppetclass.rb
  test/controllers/puppetclass_lookup_keys_controller_test.rb
Labels: Needs testing

#6376 Fixes #25760 - audit emails generate incorrect links
  app/views/audit_mailer/summary.html.erb
  app/views/audit_mailer/summary.text.erb
  config/routes.rb
  test/mailers/audit_mailer_test.rb
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/__snapshots__/AuditsList.test.js.snap
Labels: Needs testing, UI

#5889 Fixes #24481 - update log level on plugin assets
  app/registries/foreman/plugin/assets.rb
  test/unit/plugin_test.rb
Labels: Needs testing

#6385 Refs #24259 - make Rubocop pass
  .rubocop_todo.yml
  app/models/role.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/integration/host_js_test.rb
  test/models/report_test.rb
Labels: Needs testing, Stable branch

#6386 Refs #24259 - make Rubocop pass
  .rubocop_todo.yml
  app/models/auth_sources/auth_source_ldap.rb
  app/models/role.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/integration/host_js_test.rb
Labels: Needs testing, Stable branch

#5994 Fixes #24271 - Edit Host as non-admin is slower than admin
  app/helpers/common_parameters_helper.rb
  app/helpers/form_helper.rb
  app/views/common_parameters/_parameter.html.erb
  app/views/common_parameters/_parameters.html.erb
Labels: Needs testing

#6383 Fixes #25767 - fixed call to xen() after rebase
  lib/foreman/renderer/scope/variables/base.rb
Labels: Needs testing

#6307 Fixes #25629: Fix changing disc size
  app/models/compute_resources/foreman/model/vmware.rb
  test/integration/host_js_test.rb
Labels: Ready to merge

#6329 Fixes #25485 - Release name required for debian
  app/models/operatingsystem.rb
  app/services/puppet_fact_parser.rb
  db/migrate/20190108151133_deb_release_name_unknown.rb
  test/fixtures/operatingsystems.yml
  test/models/operatingsystem_test.rb
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing

#6387 Fixes #25798 - wrong message in select all checkbox in hosts page
  app/assets/javascripts/host_checkbox.js
Labels: Needs testing

#6399 Fixes #25717 - use string in `add_controller_action_scope`
  app/registries/foreman/plugin.rb
  test/unit/plugin_test.rb
Labels: Needs testing

#6356 Disable Metric cops
  .rubocop.yml
  .rubocop_todo.yml
  lib/foreman/renderer.rb
  test/controllers/compute_attributes_controller_test.rb
Labels: Needs testing, Waiting on contributor

#6361 Fixes #25748 - fallback to login in user drop down
  app/models/user.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/UserDropdowns.test.js.snap
Labels: Needs testing, UI

#6401 templates - sync from community-templates
  app/views/unattended/provisioning_templates/finish/alterator_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/finish/xenserver_default_finish.erb
  app/views/unattended/provisioning_templates/provision/atomic_kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/preseed_default.erb
  app/views/unattended/provisioning_templates/snippet/_built.erb
  app/views/unattended/provisioning_templates/snippet/_pxegrub2_chainload.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
  app/views/unattended/report_templates/applicable_errata.erb
  app/views/unattended/report_templates/host_statuses_csv.erb
  app/views/unattended/report_templates/registered_hosts.erb
  script/sync_templates.sh
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/XenServer default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Atomic Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST SLES default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_chainload.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed default user data.snap.txt
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#6403 Fixes #25829 - Remove notification for removed settings
  config/application.rb
Labels: Needs testing

#6404 Fixes #25831 - adds storybook badge into readme
  README.md
Labels: Needs testing

#6406 Fixes #25840 - fix ldap logging
  config/initializers/ldap_instrumentation.rb
Labels: Needs testing

#6408 Refs #23369 - Correctly correct string extraction
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/__snapshots__/controller.test.js.snap
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/index.js
Labels: Needs testing, UI

#6412 Fixes #25854 - fix the display type field
  app/views/compute_resources/form/_libvirt.html.erb
Labels: Needs testing

#6271 Fixes #25436 - Add host power state api endpoint
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/hosts_controller.rb
  app/registries/foreman/access_permissions.rb
  app/services/power_manager/power_status.rb
  app/views/hosts/_list.html.erb
  config/routes.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
Labels: Ready to merge

#6393 Fixes #13517 - smart class parameter override values API result
  app/controllers/api/v2/override_values_controller.rb
Labels: Needs testing

#6411 fixes #25852 - coreos mediapath vars are interpolated
  app/models/operatingsystems/coreos.rb
  test/models/operatingsystems/coreos_test.rb
Labels: Needs testing

#6414 Fixes #25826 - fix invalid date in dashboard
  app/helpers/application_helper.rb
Labels: Needs testing

#6352 Fixes #25733 - PXE uid generated from pxedir
  app/services/medium_providers/default.rb
  app/services/medium_providers/provider.rb
  test/models/operatingsystems/operatingsystems_test.rb
  test/models/orchestration/tftp_test.rb
  test/unit/medium_providers/default_test.rb
Labels: Needs testing

#6416 Refs #25733 - Fix medium_provider test for ubuntu
  test/unit/medium_providers/default_test.rb
Labels: Needs testing

#6410 Fixes #25850 - Topbar is shortly white after refresh
  app/assets/stylesheets/colors.scss
  app/assets/stylesheets/navigation.scss
Labels: Needs testing

#6413 Fixes #25806 - bumps gettext_i18n_rails dependency in Gemfile
  Gemfile
Labels: Needs testing

#6419 Fixes #25879 - bump rfauxfactory dependency
  bundler.d/test.rb
Labels: Needs testing

#6417 Fixes #25871 - timestamps removed from logs
  db/migrate/20190116120705_remove_timestamps_from_logs.rb
Labels: Needs testing

#6331 Fixes #25680 - proper overriding of validate_media?
  app/models/host/managed.rb
Labels: Ready to merge

#6415 Fixes #25869 - humanize name of TemplateKind in Audit log
  app/models/template_kind.rb
Labels: Needs testing

#6421 Fixes #25882 - compile extra bundles during plugin compile
  config/webpack.config.js
  script/plugin_webpack_directories.rb
Labels: Needs testing

#6425 Fixes #25893 - Capitalized User Data column
  app/views/images/_list.html.erb
Labels: Needs testing

#6420 Fixes #25551 - Prevent auto-reload when inactive
  app/assets/javascripts/dashboard.js
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/common/document.js
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/components/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/index.js
Labels: Needs re-review, Needs testing, UI

#6297 Fixes #25609 - Move Audits page to React
  app/controllers/audits_controller.rb
  app/controllers/react_controller.rb
  app/helpers/pagination_helper.rb
  app/helpers/search_bar_helper.rb
  app/views/audits/_list.html.erb
  app/views/audits/index.html.erb
  app/views/layouts/react_application.html.erb
  test/controllers/audits_controller_test.rb
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.fixtures.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/AuditsPage.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/AuditsPage.test.js
  webpack/assets/javascripts/react_app/pages/AuditsPage/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.fixtures.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.test.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#6402 Fixes #25098 - Validate compute resource taxonomy on NIC creation
  app/models/concerns/orchestration/compute.rb
  app/models/nic/managed.rb
  test/controllers/hosts_controller_test.rb
  test/models/host_test.rb
  test/models/nics/managed_test.rb
  test/models/shared/taxonomies_base_test.rb
Labels: Needs testing

#6429 Refs #25882 - use working iterator for webpack entries
  config/webpack.config.js
Labels: Needs testing

#6431 Refs #25098 - Adjust tests to provide taxed compute resource
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#6430 Fixes #25898 - partition tables do not render snippets
  app/models/host/managed.rb
  test/models/host_test.rb
Labels: Ready to merge

#6424 Fixes #25889 - Remove the limit from compute resource password
  db/migrate/20190121084601_change_compute_resource_password_length.rb
Labels: Needs testing

#6189 Fixes #25362 - Reset page to 1 when selecting per page
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHelper.test.js
Labels: Needs testing, UI

#6136 Fixes #24834 - HTML-escape fact name only once
  app/helpers/fact_values_helper.rb
  app/views/fact_values/_fact.html.erb
  test/helpers/fact_values_helper_test.rb
Labels: Needs testing

#6379 Fixes #25777 - upgrade patternfly-react
  package.json
Labels: Needs testing, UI, Waiting on Packaging

#6436 Refs #25882 - Load additional plugin chunks
  config/initializers/assets.rb
Labels: Needs testing

#6439 Fixes #16591 - Correct parameter value order for complex matcher
  app/services/classification/values_hash_query.rb
  test/unit/classification_test.rb
Labels: Needs testing

#5989 Fixes #24711 - primary virtual interface parsing support
  app/models/host/base.rb
  test/models/host_test.rb
Labels: Needs re-review, Needs testing

#6426 Fixes #25894 - rename the host statuses report
  app/views/unattended/report_templates/host_statuses.erb
  db/migrate/20190122115421_rename_host_statuses_report.rb
Labels: Needs testing

#6445 Fixes #25941 - fix autocomplete snapshot
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoComplete.test.js.snap
Labels: Needs testing, UI

#6389 Fixes #25800 - one item AuditLists should render expanded
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/__snapshots__/AuditsList.test.js.snap
  webpack/assets/javascripts/react_app/components/AuditsList/index.js
Labels: Needs testing, UI

#6449 Refs #25956 - pin fog-libvirt
  bundler.d/libvirt.rb
Labels: Needs testing, Not yet reviewed, Stable branch

#6450 Refs #25956 - pin fog-libvirt
  bundler.d/libvirt.rb
Labels: Needs testing, Not yet reviewed, Stable branch

#6453 Refs #25956 - pin fog-libvirt
  bundler.d/libvirt.rb
Labels: Needs testing, Not yet reviewed, Stable branch
