Repository theforeman/foreman, pull requests merged in 2019-04, with the labels that each got.

#6624 Fixes #26481 - Add foreman.service systemd file
  extras/systemd/foreman.service
Labels: Needs testing

#6638 Refs #26198 - return result from deprecated js functions
  app/assets/javascripts/deprecation.js
Labels: Ready to merge

#6567 Fixes #25478 - reports by mail
  app/controllers/api/v2/report_templates_controller.rb
  app/controllers/report_templates_controller.rb
  app/jobs/template_render_job.rb
  app/mailers/report_mailer.rb
  app/models/report_composer.rb
  app/views/report_mailer/report.html.erb
  app/views/report_mailer/report.text.erb
  app/views/report_templates/generate.html.erb
  test/controllers/api/v2/report_templates_controller_test.rb
  test/controllers/report_templates_controller_test.rb
  test/jobs/template_render_job_test.rb
  test/models/report_composer_test.rb
  webpack/assets/javascripts/foreman_template_inputs.js
Labels: Demo worthy, Ready to merge, UI

#6640 Fixes #26507 - Don't focus on autocomplete when editing textarea
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
Labels: Needs testing, UI

#6643 Fixes #26509 - notifications 'status' of undefined
  webpack/assets/javascripts/react_app/redux/actions/notifications/index.js
Labels: Needs testing, UI

#6641 Fixes #26508 - Remove taxonomy setting checks from api
  app/controllers/api/v2/base_controller.rb
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/api/v2/users_controller.rb
  app/views/api/v2/hosts/main.json.rabl
  app/views/api/v2/taxonomies/children_nodes.json.rabl
  app/views/api/v2/users/main.json.rabl
Labels: Ready to merge

#6492 Fixes #26083 - rename default in search definition
  app/models/provisioning_template.rb
Labels: Needs testing

#6635 Fixes #26097 - fix storybook build and deployment
  package.json
Labels: Needs testing

#6480 Fixes #25923 - drop slow db_facts method from importers
  app/services/fact_importer.rb
Labels: Needs testing

#6636 fixes #26504 - host search current_user efficiently
  app/models/concerns/hostext/search.rb
  test/models/concerns/hostext/search_test.rb
Labels: Needs testing

#6644 Fixes #26521 - replaced deprecated foreman_url() in host_edit.js
  app/assets/javascripts/host_edit.js
Labels: Needs testing, Ready to merge

#6646 Refs #26198 - fix resetSelection() calling as moved to react file
  app/views/hosts/multiple_destroy.html.erb
Labels: Needs testing

#6642 Fixes #26299 - add schedule for report generation
  app/controllers/api/v2/report_templates_controller.rb
  app/controllers/report_templates_controller.rb
  app/models/report_composer.rb
  app/views/report_templates/generate.html.erb
  test/controllers/api/v2/report_templates_controller_test.rb
  test/controllers/report_templates_controller_test.rb
  test/models/report_composer_test.rb
Labels: Needs testing

#6633 fixes #26495 - graphql: properly auth resources
  app/graphql/collection_loader.rb
  app/graphql/foreman_graphql_schema.rb
  app/graphql/queries/authorized_model_query.rb
  app/graphql/record_loader.rb
  app/graphql/resolvers/concerns/record.rb
  app/graphql/resolvers/domain/subnets.rb
  app/graphql/types/base_object.rb
  app/graphql/types/host.rb
  test/graphql/collection_loader_test.rb
  test/graphql/queries/authorized_model_query_test.rb
  test/graphql/queries/compute_resource_query_test.rb
  test/graphql/queries/host_query_test.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/nodes_query_test.rb
  test/graphql/record_loader_test.rb
  test/test_helper.rb
Labels: Needs testing

#6600 Fixes #26424 - refactor autocomplete errors display
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.fixtures.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteReducer.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteSelectors.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteActions.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoComplete.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteActions.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/integration.test.js.snap
Labels: Needs testing, UI, Waiting on contributor

#6531 Fixes #26080 - Add autocomplete and date inputs to report template
  app/controllers/concerns/foreman/controller/parameters/template_input.rb
  app/helpers/templates_helper.rb
  app/models/report_composer.rb
  app/models/template_input.rb
  app/views/template_inputs/_form.html.erb
  app/views/template_inputs/_invocation_form.html.erb
  db/migrate/20190228160047_add_value_type_and_resource_type_to_template_input.rb
  webpack/assets/javascripts/foreman_template_inputs.js
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/AutoComplete.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/Autocomplete.test.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/TemplateInput.fixures.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/__snapshots__/Autocomplete.test.js.snap
  webpack/assets/javascripts/react_app/components/Template/TemplateInput.js
  webpack/assets/javascripts/react_app/components/Template/__test__/ReportTemplateInput.test.js
  webpack/assets/javascripts/react_app/components/Template/__test__/__snapshots__/ReportTemplateInput.test.js.snap
  webpack/assets/javascripts/react_app/components/bookmarks/form/__snapshots__/form.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/TodayButton.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/TodayButton.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeClock.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/__snapshots__/PickTimeClock.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/__snapshots__/TimeInput.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/DateTimePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/date-time-picker.scss
  webpack/assets/javascripts/react_app/components/common/forms/CommonForm.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.test.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTimeOverrides.scss
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/__snapshots__/DateTime.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/__snapshots__/CommonForm.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Demo worthy, Ready to merge, UI

#6651 Refs #26299 - fixes the bug in mailer
  app/controllers/report_templates_controller.rb
  app/views/report_mailer/report.html.erb
  app/views/report_mailer/report.text.erb
Labels: Needs testing

#5736 fixes #24008 - add graphql mutations
  app/graphql/foreman_graphql_schema.rb
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/create_mutation.rb
  app/graphql/mutations/delete_mutation.rb
  app/graphql/mutations/models/create.rb
  app/graphql/mutations/models/delete.rb
  app/graphql/mutations/models/update.rb
  app/graphql/mutations/update_mutation.rb
  app/graphql/types/attribute_error.rb
  app/graphql/types/base_object.rb
  app/graphql/types/mutation.rb
  app/graphql/types/query.rb
  app/models/concerns/foreman/thread_session.rb
  app/services/graphql_attribute.rb
  test/graphql/mutations/models/create_mutation_test.rb
  test/graphql/mutations/models/delete_mutation_test.rb
  test/graphql/mutations/models/update_mutation_test.rb
  test/unit/foreman/global_id_test.rb
  test/unit/grqphal_attribute_test.rb
Labels: Ready to merge

#6628 Refs #26020 - improve report template API docs
  app/controllers/api/v2/report_templates_controller.rb
Labels: Ready to merge

#6575 Refs #25974 - sort uptime facts by freshness
  app/models/host/base.rb
  test/models/host_test.rb
Labels: Needs testing

#6647 Refs #26481 - Set the foreman user statically
  extras/systemd/foreman.service
Labels: Needs testing

#6347 Fixes #19875 - Disable Style/MultipleComparison cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#6648 fixes #26532 - graphql supports ui sessions
  app/controllers/api/base_controller.rb
  app/controllers/api/graphql_controller.rb
  app/controllers/concerns/foreman/controller/api_csrf_protection.rb
Labels: Needs testing

#6194 Fixes #25365 - Disable Rails/RefuteMethods cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#6388 Fixes #25795 - Improves external usergroups sync :racehorse:
  app/models/auth_source.rb
  app/models/auth_sources/auth_source_ldap.rb
  app/models/external_usergroup.rb
  app/models/user.rb
  test/models/auth_sources/auth_source_ldap_test.rb
  test/models/external_usergroup_test.rb
  test/models/usergroup_test.rb
Labels: Ready to merge

#6032 Fixes #19768 - Fix Layout/ClosingParenthesisIndentation cop
  .rubocop_todo.yml
  app/controllers/api/v2/hosts_controller.rb
  app/helpers/compute_resources_helper.rb
  app/helpers/compute_resources_vms_helper.rb
  app/helpers/form_helper.rb
  app/helpers/hosts_and_hostgroups_helper.rb
  app/helpers/hosts_helper.rb
  app/services/ui_notifications/hosts/build_completed.rb
  test/controllers/api/v2/filters_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/unattended_controller_test.rb
  test/factories/host_related.rb
  test/models/host_test.rb
  test/models/nics/bond_test.rb
  test/models/operatingsystem_test.rb
  test/models/operatingsystems/solaris_test.rb
  test/models/operatingsystems/ztp_test.rb
  test/models/orchestration/dhcp_test.rb
  test/models/orchestration/tftp_test.rb
  test/models/shared/taxonomies_base_test.rb
  test/models/subnet_test.rb
  test/models/usergroup_test.rb
Labels: Needs testing

#6649 Fixes #26540 - fix autocomplete loading spinner
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
Labels: Needs testing, UI

#6655 Refs #26080 - dropped fixes from input value types
  app/controllers/api/v2/template_inputs_controller.rb
  app/helpers/templates_helper.rb
  app/models/template_input.rb
Labels: Needs testing

#6653 Fixes #26543 - make generate_at a datetime field
  app/views/report_templates/generate.html.erb
  webpack/assets/javascripts/react_app/components/Template/TemplateInput.js
  webpack/assets/javascripts/react_app/components/Template/__test__/__snapshots__/ReportTemplateInput.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.fixtures.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.test.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/__snapshots__/DateTime.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Ready to merge, UI

#6667 Fixes #26569 - add hypervisor name
  app/services/fog_extensions/vsphere/mini_server.rb
  app/services/fog_extensions/vsphere/mini_servers.rb
  app/views/compute_resources_vms/index/_vmware.html.erb
Labels: Needs testing

#6134 Fixes #19731 - V2 API ping call
  app/controllers/api/v2/ping_controller.rb
  app/registries/foreman/access_permissions.rb
  app/registries/foreman/plugin.rb
  app/services/ping.rb
  app/views/api/v2/ping/ping.json.rabl
  app/views/api/v2/ping/statuses.json.rabl
  config/routes/api/v2.rb
  db/seeds.d/020-permissions_list.rb
  test/controllers/api/v2/ping_controller_test.rb
  test/unit/foreman/access_permissions_test.rb
Labels: Needs testing

#6674 Revert "Fixes #19731 - V2 API ping call"
  app/controllers/api/v2/ping_controller.rb
  app/registries/foreman/access_permissions.rb
  app/registries/foreman/plugin.rb
  app/services/ping.rb
  app/views/api/v2/ping/ping.json.rabl
  app/views/api/v2/ping/statuses.json.rabl
  config/routes/api/v2.rb
  db/seeds.d/020-permissions_list.rb
  test/controllers/api/v2/ping_controller_test.rb
  test/unit/foreman/access_permissions_test.rb
Labels: Needs testing, Waiting on contributor

#6209 Fixes #25397 - reimplement indent macro
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/scope/macros/base_test.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData default.snap.txt
Labels: Needs testing

#6652 fixes #26528 - graphql: refactor AuthorizedModelQuery to resolver
  app/graphql/queries/authorized_model_query.rb
  app/graphql/resolvers/concerns/collection.rb
  app/graphql/types/sort_direction_enum.rb
  app/services/foreman/global_id.rb
  test/graphql/queries/architecture_query_test.rb
  test/graphql/queries/architectures_query_test.rb
  test/graphql/queries/authorized_model_query_test.rb
  test/graphql/queries/compute_attribute_query_test.rb
  test/graphql/queries/compute_attributes_query_test.rb
  test/graphql/queries/compute_resource_query_test.rb
  test/graphql/queries/compute_resources_query_test.rb
  test/graphql/queries/domain_query_test.rb
  test/graphql/queries/domains_query_test.rb
  test/graphql/queries/environment_query_test.rb
  test/graphql/queries/environments_query_test.rb
  test/graphql/queries/fact_name_query_test.rb
  test/graphql/queries/fact_names_query_test.rb
  test/graphql/queries/fact_value_query_test.rb
  test/graphql/queries/fact_values_query_test.rb
  test/graphql/queries/host_query_test.rb
  test/graphql/queries/hosts_query_test.rb
  test/graphql/queries/location_query_test.rb
  test/graphql/queries/locations_query_test.rb
  test/graphql/queries/media_query_test.rb
  test/graphql/queries/medium_query_test.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/models_query_test.rb
  test/graphql/queries/nodes_query_test.rb
  test/graphql/queries/operatingsystem_query_test.rb
  test/graphql/queries/operatingsystems_query_test.rb
  test/graphql/queries/organization_query_test.rb
  test/graphql/queries/organizations_query_test.rb
  test/graphql/queries/personal_access_token_query_test.rb
  test/graphql/queries/personal_access_tokens_query_test.rb
  test/graphql/queries/ptable_query_test.rb
  test/graphql/queries/ptables_query_test.rb
  test/graphql/queries/puppetclass_query_test.rb
  test/graphql/queries/puppetclasses_query_test.rb
  test/graphql/queries/smart_proxies_query_test.rb
  test/graphql/queries/smart_proxy_query_test.rb
  test/graphql/queries/ssh_key_query_test.rb
  test/graphql/queries/ssh_keys_query_test.rb
  test/graphql/queries/subnet_query_test.rb
  test/graphql/queries/subnets_query_test.rb
  test/graphql/queries/user_query_test.rb
  test/graphql/queries/usergroup_query_test.rb
  test/graphql/queries/usergroups_query_test.rb
  test/graphql/queries/users_query_test.rb
  test/graphql/resolvers/collection_test.rb
  test/unit/foreman/global_id_test.rb
Labels: Needs testing

#6671 Fixes #26580 - Translated Layout Menu items are not active
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
Labels: Needs testing, UI

#6670 Fixes #26579 - could not find media is a warning
  app/registries/foreman/plugin/medium_providers_registry.rb
Labels: Ready to merge

#6679 Fixes #26609 - TopbarSweeper caching empty div
  app/views/layouts/base.html.erb
Labels: Needs testing

#6675 Fixes #26606 - Support gridster for plugins
  webpack/assets/javascripts/foreman_dashboard.js
Labels: Needs testing, UI

#6676 Fixes #26607 - Update shoulda-matchers to 4.x
  bundler.d/test.rb
Labels: Needs testing

#6680 Fixes #26613 - Switch foreman.service to generic foreman-ruby
  extras/systemd/foreman.service
Labels: Needs testing

#6661 fixes #26554 - move class_edit to webpack.
  app/assets/javascripts/class_edit.js
  app/helpers/application_helper.rb
  app/helpers/puppetclasses_helper.rb
  app/views/config_groups/_config_group.html.erb
  app/views/config_groups/_form.html.erb
  app/views/config_groups/index.html.erb
  app/views/hostgroups/_form.html.erb
  app/views/hosts/_form.html.erb
  app/views/puppetclasses/_class_selection.html.erb
  config/initializers/assets.rb
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_class_edit.js
Labels: Ready to merge, UI

#6681 Fixes #26054 - VMware storage controller type chage
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/StorageContainer.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/StorageContainer.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.stories.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/index.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/disk/disk.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
Labels: Needs testing, Not yet reviewed, UI

#6684 Fixes #26617 - Properly expose puppetclass_name
  app/views/api/v2/smart_class_parameters/main.json.rabl
Labels: Needs testing

#6688 Fixes #26628 - Add service.rb to install puma
  bundler.d/service.rb
Labels: Needs testing

#6683 Fixes #26616 - Cast dates to be ISO compatible
  webpack/assets/javascripts/react_app/common/__snapshots__/helpers.test.js.snap
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
  webpack/assets/javascripts/react_app/components/common/dates/IsoDate.js
  webpack/assets/javascripts/react_app/components/common/dates/LongDateTime.js
  webpack/assets/javascripts/react_app/components/common/dates/RelativeDateTime.js
  webpack/assets/javascripts/react_app/components/common/dates/ShortDateTime.js
Labels: Needs testing, UI

#6691 Fixes #26634 - Handle (null) certificates in SmartProxyAuth
  app/controllers/concerns/foreman/controller/smart_proxy_auth.rb
Labels: Ready to merge

#6694 Fixes #26273 - more robust value handler
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/index.js
Labels: Needs testing, UI

#6629 fixes #26488 - graphql: add currentUser query
  app/graphql/resolvers/user/current.rb
  app/graphql/types/query.rb
  test/graphql/queries/current_user_query_test.rb
Labels: Ready to merge

#6695 fixes #26647 - removes hidden_values from asset compile list
  config/initializers/assets.rb
Labels: Needs testing

#6702 Fixes #26652 - Refactor folder structure of ToastList
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.fixtures.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.stories.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.test.js
  webpack/assets/javascripts/react_app/components/ToastsList/__snapshots__/ToastsList.test.js.snap
  webpack/assets/javascripts/react_app/components/ToastsList/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.js
Labels: Needs testing, UI

#6627 fixes #26487 - user login with graphql
  app/graphql/mutations/sign_in_user.rb
  app/graphql/types/mutation.rb
  test/graphql/mutations/sign_in_user_mutation_test.rb
Labels: Ready to merge

#6668 Fixes #26572 - Validate MTU minimum
  app/models/subnet.rb
  db/migrate/20190410143011_fix_mtu_min_value.rb
  test/models/subnet_test.rb
Labels: Needs testing

#6673 Fixes #26590 - Rename template snippets
  app/views/unattended/provisioning_templates/snippet/alterator_pkglist.erb
  app/views/unattended/provisioning_templates/snippet/ansible_provisioning_callback.erb
  app/views/unattended/provisioning_templates/snippet/ansible_tower_callback_script.erb
  app/views/unattended/provisioning_templates/snippet/ansible_tower_callback_service.erb
  app/views/unattended/provisioning_templates/snippet/blacklist_kernel_modules.erb
  app/views/unattended/provisioning_templates/snippet/bmc_nic_setup.erb
  app/views/unattended/provisioning_templates/snippet/built.erb
  app/views/unattended/provisioning_templates/snippet/chef_client.erb
  app/views/unattended/provisioning_templates/snippet/coreos_cloudconfig.erb
  app/views/unattended/provisioning_templates/snippet/create_users.erb
  app/views/unattended/provisioning_templates/snippet/csr_attributes.yaml.erb
  app/views/unattended/provisioning_templates/snippet/efibootmgr_netboot.erb
  app/views/unattended/provisioning_templates/snippet/epel.erb
  app/views/unattended/provisioning_templates/snippet/fips_packages.erb
  app/views/unattended/provisioning_templates/snippet/fix_hosts.erb
  app/views/unattended/provisioning_templates/snippet/freeipa_register.erb
  app/views/unattended/provisioning_templates/snippet/http_proxy.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_bond_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_bonded_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_get_identifier_names.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_networking_setup.erb
  app/views/unattended/provisioning_templates/snippet/preseed_networking_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_chainload.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_discovery.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_mac.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub_chainload.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub_discovery.erb
  app/views/unattended/provisioning_templates/snippet/pxelinux_chainload.erb
  app/views/unattended/provisioning_templates/snippet/pxelinux_discovery.erb
  app/views/unattended/provisioning_templates/snippet/rancheros_cloudconfig.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  app/views/unattended/provisioning_templates/snippet/remote_execution_ssh_keys.erb
  app/views/unattended/provisioning_templates/snippet/saltstack_minion.erb
  app/views/unattended/provisioning_templates/snippet/saltstack_setup.erb
  script/sync_templates.sh
  test/controllers/provisioning_templates_controller_test.rb
  test/unit/foreman/renderer/snapshot_source.rb
  test/unit/foreman/renderer/snapshots.yaml
Labels: Needs re-review, Needs testing

#6703 Refs #26198 - Replace foreman_url with tfm.tools.foremanURL
  app/assets/javascripts/charts.js
  webpack/assets/javascripts/foreman_dashboard.js
Labels: Needs testing, UI

#6696 Fixes #26648 - Remove taxonomy setting checks from routes
  config/routes.rb
  config/routes/api/v2.rb
Labels: Ready to merge

#6705 fixes #26669 - graphql brute force protection
  app/controllers/api/graphql_controller.rb
  test/controllers/api/graphql_controller_test.rb
Labels: Needs testing

#6707 Fixes #26674 - blank NIC name removes DNS
  app/models/concerns/orchestration/dns.rb
  test/models/orchestration/dns_test.rb
Labels: Ready to merge

#6709 Fixes #26371 - Fix breadcrumbs for puppet envs
  app/views/environments/edit.html.erb
  app/views/environments/new.html.erb
Labels: Needs testing

#6708 Fixes #26676 - improve setting initialization
  app/models/setting.rb
Labels: Needs testing

#6711 Fixes #26679 - Add report template API attributes
  app/views/api/v2/report_templates/show.json.rabl
Labels: Needs testing

#6687 fixes #26612 - snapshots for nested snippets
  app/models/template.rb
  app/services/foreman/template_snapshot_service.rb
  lib/foreman/renderer.rb
  lib/foreman/renderer/scope/macros/snippet_rendering.rb
  lib/foreman/renderer/source/snapshot.rb
  lib/tasks/snapshots.rake
  test/static_fixtures/templates/provision/one.erb
  test/static_fixtures/templates/snippet/three.erb
  test/static_fixtures/templates/snippet/two.erb
  test/unit/foreman/renderer/snapshot_source.rb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/source/snapshot_test.rb
  test/unit/foreman/renderer/template_snapshot_service.rb
  test/unit/foreman/renderer_test.rb
Labels: Needs testing

#6714 Revert "Fixes #26676 - improve setting initialization"
  app/models/setting.rb
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#6659 Fixes #26552 - simplify autocomplete redux actions
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.fixtures.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteConstants.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteReducer.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteReducer.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteActions.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/integration.test.js.snap
Labels: Needs testing, UI

#5633 Fixes #23765 - bcrypt hash password instead sha1
  Gemfile
  app/models/personal_access_token.rb
  app/models/setting/auth.rb
  app/models/user.rb
  config/initializers/5_telemetry_metrics.rb
  db/seeds.d/010-calibrate_bcrypt_cost.rb
  lib/foreman/password_hash.rb
  test/factories/personal_access_tokens.rb
  test/fixtures/settings.yml
  test/models/personal_access_token_test.rb
  test/models/user_test.rb
  test/unit/foreman/password_hash_test.rb
  test/unit/tasks/seeds_test.rb
Labels: Demo worthy, Ready to merge

#6697 fixes #16287 - Move gridster from bundle to npm
  app/assets/javascripts/application.js
  bundler.d/assets.rb
  package.json
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/dashboard/gridster.scss
  webpack/assets/javascripts/dashboard/index.js
  webpack/assets/javascripts/dashboard/index.scss
Labels: UI

#6672 Fixes #26581 - Improve Layout active MenuItems performance
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutActions.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutConstants.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutActions.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutReducer.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
Labels: Needs testing, UI

#6418 Fixes #25864 - Refactor the FactChart component structure
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.fixtures.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.stories.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartActions.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartConstants.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartReducer.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartSelectors.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChart.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartActions.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartReducer.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartSelectors.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChart.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartActions.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/components/factCharts/factChart.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/factCharts/factChart.test.js
  webpack/assets/javascripts/react_app/redux/actions/factCharts/index.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/reducers/factCharts/factChart.test.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI

#6057 fixes #24881 - cloud-init nocloud support
  app/controllers/concerns/foreman/controller/ip_from_request_env.rb
  app/controllers/concerns/foreman/controller/template_rendering.rb
  app/controllers/unattended_controller.rb
  app/controllers/userdata_controller.rb
  app/models/template_kind.rb
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/user_data/userdata_open_vm_tools.erb
  config/routes.rb
  test/controllers/userdata_controller_test.rb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud_init/CloudInit default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData open-vm-tools.snap.txt
Labels: Demo worthy, Needs testing

#6660 Fixes #26553 - autocomplete reduce the usage of dispatch
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteActions.test.js.snap
Labels: Needs testing, UI

#6718 fixes #26707 - remove unneeded linting skips
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_compute_resource.js
  webpack/assets/javascripts/foreman_editor.js
Labels: UI

#6716 Fixes #26705 - switch required with tooltip help
  webpack/assets/javascripts/react_app/components/bookmarks/form/__snapshots__/form.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/CommonForm.js
  webpack/assets/javascripts/react_app/components/common/forms/__snapshots__/CommonForm.test.js.snap
Labels: UI

#6725 Refs #26707 - Make storybook work
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/bundle_novnc.js
Labels: Needs testing, UI

#6720 Fixes #26710 - Make application.js Prettier
  app/assets/javascripts/application.js
Labels: Needs testing
