Repository theforeman/foreman, pull requests merged in 2019-08, with the labels that each got.

#6829 Fixes #26974 - removed hardcoded timeout
  app/models/setting/general.rb
  lib/proxy_api/resource.rb
Labels: Needs testing

#6933 fixes #26727 - import host with bonded primary interface
  app/models/host/base.rb
  test/models/host_test.rb
  test/static_fixtures/facts/facts_with_primary_interface_bond.json
Labels: Needs testing

#6944 Fixes #27472 - adds before toolbar to page layout
  webpack/assets/javascripts/react_app/pages/AuditsPage/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/pages/HostWizardPage/__snapshots__/HostWizard.test.js.snap
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.test.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPage.test.js.snap
Labels: Needs testing, UI

#6823 Fixes #26919 - Resolve nil error in ovirt disk clone
  app/assets/javascripts/host_edit.js
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, UI

#6948 Fixes #27496 - Fix actual and expected in renderer test
  test/unit/foreman/renderer_test.rb
Labels: Needs testing

#6861 Fixes #27160 - do not use Ruby Timeout for DNS
  app/models/concerns/orchestration/dns.rb
  app/models/setting/provisioning.rb
  db/migrate/20190801143210_convert_dns_conflict_timeout_setting.rb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  lib/net/dns.rb
Labels: Needs testing

#6956 Refs #26826 - Correctly increase js heap size
  lib/tasks/plugin_assets.rake
Labels: Needs testing, Not yet reviewed

#6957 Fixes #26826 - Increase js heap size for plugin asset compile
  lib/tasks/plugin_assets.rake
Labels: Needs testing, Not yet reviewed

#6955 Fixes #27528 - reporting template input search type
  webpack/assets/javascripts/foreman_template_inputs.js
Labels: Needs testing, UI

#6954 Refs #27160 - Update the DNS timeout description
  app/models/setting/provisioning.rb
Labels: Ready to merge

#6881 Fixes #27185 - dirty association after save
  app/models/concerns/dirty_associations.rb
  test/models/user_test.rb
  test/unit/dirty_associations_test.rb
Labels: Needs testing

#5520 Fixes - #23440 Removing pclasses with API can't use friendly
  app/controllers/api/v2/host_classes_controller.rb
  test/controllers/api/v2/host_classes_controller_test.rb
Labels: Needs testing

#6939 Fixes #27380 - Handle non-unique role on creation
  app/services/foreman/plugin/role_lock.rb
Labels: Needs testing

#6964 Fixes #27537 - Show tooltip for vm memory size
  app/helpers/form_helper.rb
Labels: Needs testing

#6407 Fixes #25543 - Breadcrumb switcher doesn't work for filters
  app/models/filter.rb
  app/views/api/v2/filters/main.json.rabl
  app/views/filters/edit.html.erb
  app/views/filters/index.html.erb
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
Labels: Needs testing, UI

#5121 refs #2062 - vmrc: console link is only valid once
  app/views/hosts/console/vmrc.html.erb
Labels: Needs testing

#6949 Fixes #27500 - Use strings to register graphql types
  app/registries/foreman/plugin/graphql_plugin_fields.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/unit/foreman/plugin/graphql_plugin_fields_test.rb
  test/unit/foreman/plugin/graphql_types_registry_test.rb
Labels: Ready to merge

#6960 Fixes #27533 - use the new Red Hat logo (1.23)
  app/assets/images/Redhat.png
Labels: Needs testing, Stable branch

#6961 Fixes #27533 - use the new Red Hat logo (1.22)
  app/assets/images/Redhat.png
Labels: Needs testing, Stable branch

#6976 Fixes #27624 - connection error rescue for ec2
  app/models/compute_resources/foreman/model/ec2.rb
  app/models/concerns/fog_extensions.rb
  test/models/compute_resources/ec2_test.rb
  test/models/concerns/fog_extensions/aws/server_test.rb
Labels: Needs testing

#6973 Fixes #27588 - Refactor audit taxonomy handling
  app/models/concerns/audit_extensions.rb
  app/models/concerns/taxonomix.rb
  app/models/taxonomies/location.rb
  app/models/taxonomies/organization.rb
  app/models/taxonomy.rb
  test/models/concerns/taxonomix_test.rb
Labels: Needs testing

#6953 Fixes #27025 - validate GCE key format
  app/models/compute_resources/foreman/model/gce.rb
  test/factories/compute_resources.rb
  test/models/compute_resources/gce_test.rb
Labels: Needs testing

#6879 Fixes #27243 - add plugin access for table component
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableActions.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableActions.test.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableConstants.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableReducer.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableReducer.test.js
  webpack/assets/javascripts/react_app/components/ModelsTable/index.js
  webpack/assets/javascripts/react_app/components/common/table/actions/getTableItemsAction.js
  webpack/assets/javascripts/react_app/components/common/table/actions/getTableItemsAction.test.js
  webpack/assets/javascripts/react_app/components/common/table/actionsHelpers/actionTypeCreator.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.js
Labels: Needs testing, UI

#6977 fixes #27634 - enable running this container on openshift.
  Dockerfile
Labels: Needs testing

#6982 Fixes #27382 - doublequote of fact value
  app/controllers/facts_controller.rb
  test/controllers/facts_controller_test.rb
Labels: Needs testing

#6986 Fixes #27666 - pin sass-rails on Ruby < 2.4
  bundler.d/assets.rb
Labels: Needs testing

#6990 Refs #27666 - pin sass-rails on Ruby < 2.4 even lower
  bundler.d/assets.rb
Labels: Needs testing

#6850 Fixes #26984 - maximum subtree fact filter
  app/models/setting/provisioning.rb
  app/services/structured_fact_importer.rb
  test/fact_importer_test_helper.rb
  test/fixtures/settings.yml
  test/unit/fact_importer_test.rb
  test/unit/structured_fact_importer_test.rb
Labels: Needs testing

#6985 Fixes #26822 - correct title after host creation
  app/assets/javascripts/host_edit.js
  app/assets/javascripts/host_edit_interfaces.js
  config/jest.config.js
Labels: Needs testing, UI

#6989 Fixes #27668 - Allow bootdisk_build? in safemode
  app/models/host/managed.rb
Labels: Needs testing

#6984 Fixes #27660 - adds a doc for legacy js in storybook
  webpack/stories/docs/LegacyJs.md
  webpack/stories/index.js
Labels: Needs testing, UI

#6994 Fixes #27681 - Fix test for rest-client 2.1 support
  test/active_support_test_case_helper.rb
Labels: Needs testing

#6993 Revert "Fixes #27668 - Allow bootdisk_build? in safemode"
  app/models/host/managed.rb
Labels: Needs testing, Waiting on contributor

#6992 Fixes #27677 - Make feature unique on its name
  app/models/feature.rb
  db/migrate/20190821135704_feature_unique_name.rb
  test/factories/feature.rb
Labels: Needs testing, Not yet reviewed

#6521 Fixes #26173 - added config_report_metric_count metric
  app/services/config_report_importer.rb
  config/initializers/5_telemetry_metrics.rb
  test/unit/config_report_status_calculator_test.rb
Labels: Needs re-review, Needs testing

#5743 Fixes #24091 - add pf empty state design to hostsgroup
  app/views/hostgroups/welcome.html.erb
Labels: Inactive, Needs testing

#6988 Fixes #27582 - update @theforeman/vendor to v1.4.0
  package.json
Labels: Needs testing

#6959 Fixes #27531 - fix storybook after vendor update
  webpack/stories/index.scss
Labels: Needs testing, UI

#6996 Refs #27666 - Clean up sass-rails pinning
  bundler.d/assets.rb
Labels: Needs testing

#6746 Fixes #26758 - unify renderer_error helper
  app/controllers/concerns/foreman/controller/template_rendering.rb
  app/controllers/unattended_controller.rb
  app/controllers/userdata_controller.rb
Labels: Needs testing

#6975 Fixes #27603 - datadog statsd support
  lib/foreman/telemetry_sinks/statsd_sink.rb
Labels: Needs testing

#6972 Fixes #26655 - show content after creating a host
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.js
  webpack/assets/javascripts/react_app/components/ToastsList/__snapshots__/ToastsList.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/toasts/index.js
Labels: Needs testing, Ready to merge, UI

#6997 Refs #27702 - creates export button component
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.test.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/components/ExportButton/ExportButton.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/components/ExportButton/ExportButton.stories.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/components/ExportButton/ExportButton.test.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/components/ExportButton/__snapshots__/ExportButton.test.js.snap
Labels: Needs testing, UI

#6998 Fixes #27705 - Simplify Taxonomy.ignore? logic
  app/models/taxonomy.rb
Labels: Needs testing

#6978 Fixes #27642 - Add helpers for deep keys transforms
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
Labels: Needs testing, UI

#6967 Fixes #27549 - Do not show encrypted setting in webui in clear
  app/helpers/settings_helper.rb
  app/models/setting.rb
  test/models/setting_test.rb
Labels: Needs testing, Ready to merge

#7000 Fixes #26760 - Improve lookup of partially taxed audits
  app/models/concerns/audit_extensions.rb
Labels: Ready to merge

#6970 Fixes #27577 - Fail test on console.error
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/common/Slot/Slot.test.js
  webpack/assets/javascripts/react_app/components/common/Slot/__snapshots__/Slot.test.js.snap
  webpack/test_setup.js
Labels: Needs testing, UI

#7002 fixes #27710 - remove assets/console gems from image.
  Dockerfile
Labels: Needs testing

#3607 Fixes #15406 - Moved puppet outside hosts helper
  app/helpers/host_description_helper.rb
  app/helpers/hosts_helper.rb
  app/helpers/puppet_related_helper.rb
  app/registries/foreman/plugin.rb
  app/services/ui.rb
  app/services/ui/host_description.rb
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Needs testing

#6968 Fixes #27556 - API errors as warning or higher
  app/controllers/api/base_controller.rb
  app/controllers/api/v2/compute_resources_controller.rb
  app/controllers/api/v2/config_reports_controller.rb
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/api/v2/operatingsystems_controller.rb
  app/controllers/api/v2/reports_controller.rb
  lib/foreman/logging.rb
Labels: Needs testing, Waiting on contributor

#6963 Fixes #27536 - cr tests for image attributes
  test/models/compute_resources/ec2_test.rb
  test/models/compute_resources/libvirt_test.rb
  test/models/compute_resources/openstack_test.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing

#6922 Fixes #27356 - Remove global vars from eslint
  .eslintrc
  webpack/assets/javascripts/bundle_novnc.js
  webpack/assets/javascripts/foreman_class_edit.js
  webpack/assets/javascripts/foreman_navigation.js
  webpack/assets/javascripts/react_app/components/LoginPage/components/LoginPageCaption.js
  webpack/assets/javascripts/react_app/components/LoginPage/helpers.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableSchema.js
  webpack/assets/javascripts/react_app/components/common/table/schemaHelpers/column.js
  webpack/assets/javascripts/react_app/pages/HostWizardPage/HostWizard.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.js
  webpack/assets/javascripts/services/charts/ChartService.js
  webpack/assets/javascripts/spice.js
Labels: Needs testing, UI

#6929 Fixes #27430: Allow for returning current user
  app/controllers/api/v2/users_controller.rb
  app/registries/foreman/access_permissions.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/users_controller_test.rb
Labels: Ready to merge

#7005 fixes #16818 - support slash in fact name
  config/routes.rb
  test/integration/fact_value_test.rb
Labels: Needs testing

#5384 Fixes #23072 - Fix fact importer transaction isolation
  app/services/fact_importer.rb
  test/fact_importer_test_helper.rb
Labels: Needs testing

#7007 Fixes #27734 - fix exportURL function
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.test.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/components/ExportButton/__snapshots__/ExportButton.test.js.snap
Labels: Needs testing, UI

#6871 Fixes #27206 - improve mysql migration
  lib/tasks/convert.rake
Labels: Needs testing

#6035 Fixes #22742 - Add link delay option to subnet
  app/controllers/concerns/foreman/controller/parameters/subnet.rb
  app/models/nic/base.rb
  app/models/subnet.rb
  app/views/subnets/_fields.html.erb
  db/migrate/20180904142922_add_nic_delay_to_subnet.rb
  test/fixtures/subnets.yml
  test/models/nic_test.rb
  test/models/subnet_test.rb
Labels: Ready to merge

#7009 fixes #27742 - preload usergroup ssh keys
  app/models/usergroup.rb
  test/factories/user_related.rb
  test/models/usergroup_test.rb
Labels: Needs testing

#6979 Refs #27644: Add PermissionDenied component
  app/controllers/api/base_controller.rb
  app/views/api/v2/errors/access_denied.json.rabl
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.stories.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.test.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/__snapshots__/PermissionDenied.test.js.snap
  webpack/assets/javascripts/react_app/components/PermissionDenied/index.js
Labels: Needs testing, UI
