Repository theforeman/foreman, pull requests merged in 2019-12, with the labels that each got.

#7157 Fixes #26729 - add intervals middleware
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIMiddleware.test.js
  webpack/assets/javascripts/react_app/redux/index.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalActions.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalConstants.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalFixtures.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalHelpers.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalMiddleware.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalReducer.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalSelectors.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalActions.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalHelpers.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalMiddleware.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalReducer.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalSelectors.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalActions.test.js.snap
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalHelpers.test.js.snap
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalMiddleware.test.js.snap
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalReducer.test.js.snap
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalSelectors.test.js.snap
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/index.js
  webpack/assets/javascripts/react_app/redux/middlewares/common/helpers.js
  webpack/assets/javascripts/react_app/redux/middlewares/index.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/stories/docs/intervalMiddleware.md
  webpack/stories/index.js
Labels: Needs testing, UI

#7227 Refs #28406 - pin mocha to < 1.10
  bundler.d/test.rb
Labels: Needs testing

#7223 Fixes #28121 - Bump fog-ovirt to 1.2.3
  bundler.d/ovirt.rb
Labels: Needs testing

#7221 Fixes #28359 - Added Provisioning Template to auditable_types
  app/models/concerns/audit_search.rb
Labels: Needs testing

#7229 Fixes #28409 - Redux update changed snapshot
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalMiddleware.test.js.snap
Labels: Needs testing

#7224 Revert "Fixes #28380 - Use Github Actions for path based labels"
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7198 Fixes #28339 - update eslint
  .travis.yml
  package.json
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
Labels: Needs testing, UI

#7155 Fixes #28168 - fixing updating time of last login of user when API is used, creating template report of users
  app/controllers/concerns/foreman/controller/authentication.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/controllers/api/v2/base_controller_subclass_test.rb
Labels: Needs testing

#7234 Fixes #28443 - use Layout.propTypes correctly
  webpack/assets/javascripts/react_app/ReactApp/ReactApp.js
  webpack/assets/javascripts/react_app/components/Layout/index.js
Labels: Needs testing, UI

#7231 Fixes #28391 - fix failing tests
  package.json
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/NavDropdown.test.js.snap
Labels: Needs testing, UI, Waiting on Packaging

#7230 Fixes #28422 - use jest instead of jest-cli
  config/jest.config.js
  package.json
Labels: Needs testing

#7235 Fixes #28458 - Don't allow images from gravatar
  config/initializers/secure_headers.rb
  test/integration/middleware_test.rb
Labels: Needs testing

#7237 Fixes #28468 - Misspelling on login page
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.js
  webpack/assets/javascripts/react_app/components/LoginPage/__tests__/__snapshots__/LoginPage.test.js.snap
Labels: Needs testing, UI

#7202 Fixes #28130 - show selected machine_type on GCE host edit form
  app/models/concerns/fog_extensions/google/server.rb
  app/views/compute_resources_vms/form/gce/_base.html.erb
Labels: Needs testing

#7203 Fixes #28136 - add available_*(zones,flavors,networks) for GCE
  app/models/compute_resources/foreman/model/gce.rb
  app/models/concerns/fog_extensions.rb
  app/models/concerns/fog_extensions/google/machine_type.rb
  app/models/concerns/fog_extensions/google/server.rb
Labels: Needs testing

#7144 Fixes #25281,#27002 - support passing names in ovirt
  app/controllers/api/v2/compute_resources_controller.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/models/concerns/fog_extensions/ovirt/server.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#6465 Fixes #25990 - no reverse DNS search for bootserver
  app/models/concerns/orchestration/dhcp.rb
  app/models/smart_proxy.rb
  test/factories/host_related.rb
  test/factories/smart_proxy.rb
  test/models/orchestration/dhcp_test.rb
Labels: Needs testing

#7189 Fixes #28315 - allow autocomplete without form scope
  app/helpers/application_helper.rb
  app/helpers/form_helper.rb
  app/helpers/tags/react_input.rb
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/auto-complete.scss
  webpack/assets/javascripts/react_app/components/SearchBar/search-bar.scss
  webpack/assets/javascripts/react_app/components/common/forms/FormField.js
  webpack/assets/javascripts/react_app/components/common/forms/InputFactory.js
  webpack/assets/javascripts/react_app/components/common/forms/__tests__/FormField.test.js
  webpack/assets/javascripts/react_app/components/common/forms/__tests__/InputFactory.test.js
  webpack/assets/javascripts/react_app/components/common/forms/__tests__/__snapshots__/FormField.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/__tests__/__snapshots__/InputFactory.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: UI

#7211 Fixes #28362 - fix API middleware failure payload
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIRequest.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/powerStatus.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/statistics.fixtures.js
Labels: Needs testing, UI

#7240 Fixes #28480 - Raise exception for non-existing image in GCE
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing

#7098 Fixes #28027 - resource pools needless fetch
  app/helpers/compute_resources_vms_helper.rb
  webpack/assets/javascripts/compute_resource/vmware.js
Labels: Needs testing, UI

#7238 Fixes #28457 - bookmarks, statistics api reducers object fix
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksReducer.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/BookmarksReducer.test.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/index.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.test.js
Labels: Needs testing, UI

#7250 Fixes #28507 - Move stored fixtures to snapshots
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/powerStatus.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/powerStatus.test.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/statistics/statistics.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/statistics.test.js
Labels: Needs testing, UI

#7252 Fixes #28510 - mount_date_component doesnt mount correctly
  app/helpers/application_helper.rb
Labels: Needs testing

#7258 Fixes #28513 - downgrade storybook
  package.json
Labels: Needs testing

#7254 Fixes #28435 - Correct dashboard date layout
  app/helpers/dashboard_helper.rb
Labels: Needs testing, UI

#7267 [CP 1.24]Fixes #28130 - show selected machine_type on GCE host edit form
  app/models/concerns/fog_extensions/google/server.rb
  app/views/compute_resources_vms/form/gce/_base.html.erb
Labels: Needs testing, Not yet reviewed

#7268 Merge pull request #7268 from kgaikwad/cp/28136
  app/models/compute_resources/foreman/model/gce.rb
  app/models/concerns/fog_extensions.rb
  app/models/concerns/fog_extensions/google/machine_type.rb
  app/models/concerns/fog_extensions/google/server.rb
Labels: Needs testing, Not yet reviewed

#7269 Merge pull request #7269 from kgaikwad/cp/28480
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing, Not yet reviewed

#7257 Fixes #28512 - Disable Layout/ClosingHeredocIndentation cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#7249 Fixes #28506 - fix upgraded prometheus
  bundler.d/telemetry.rb
  config/initializers/5_telemetry.rb
  config/initializers/5_telemetry_metrics.rb
  lib/foreman/telemetry.rb
  lib/foreman/telemetry_sinks/prometheus_sink.rb
Labels: Needs testing

#7266 Refs #28391 - snapshots update after vendor 3.9.0 upgrade with patternfly-react 2.39.10
  package.json
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/Bookmarks.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/NavDropdown.test.js.snap
Labels: Needs testing, UI

#7253 Fixes #28509 - relative time tooltip is optional in dates
  app/helpers/application_helper.rb
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/__snapshots__/AuditsList.test.js.snap
  webpack/assets/javascripts/react_app/components/AuditsList/index.js
  webpack/assets/javascripts/react_app/components/common/dates/LongDateTime.js
  webpack/assets/javascripts/react_app/components/common/dates/LongDateTime.test.js
  webpack/assets/javascripts/react_app/components/common/dates/ShortDateTime.js
  webpack/assets/javascripts/react_app/components/common/dates/ShortDateTime.test.js
  webpack/assets/javascripts/react_app/components/common/dates/__snapshots__/LongDateTime.test.js.snap
  webpack/assets/javascripts/react_app/components/common/dates/__snapshots__/ShortDateTime.test.js.snap
  webpack/assets/javascripts/react_app/components/common/dates/dates.stories.js
Labels: Needs testing, UI

#7272 Fixes #28534 - Update provisioning templates to fix Ansible tests
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed default - Ansible.snap.txt
Labels: Needs testing

#7271 Refs #28506 - fixed telemetry boot require
  config/initializers/5_telemetry.rb
  lib/foreman/telemetry_sinks/prometheus_sink.rb
Labels: Needs testing

#7086 Fixes #4160 - foreman_url params option
  lib/foreman/foreman_url_renderer.rb
  test/unit/foreman_url_renderer_test.rb
Labels: Needs testing

#7280 Fixes #28553 - improved password filtering in debug
  script/foreman-debug
Labels: Needs testing

#7256 Fixes #28511 - Fix Lint/SendWithMixinArgument cop
  .rubocop_todo.yml
  app/models/concerns/fog_extensions.rb
  config/application.rb
  config/initializers/audit.rb
  config/initializers/puppet.rb
  config/initializers/rabl_init.rb
Labels: Needs testing

#7273 Fixes #28544 - Remove smart variables from the menu
  app/registries/menu/loader.rb
Labels: Needs testing

#7274 Fixes #28545 - Remove smart variable pages
  app/controllers/variable_lookup_keys_controller.rb
  app/views/variable_lookup_keys/edit.html.erb
  app/views/variable_lookup_keys/index.html.erb
  app/views/variable_lookup_keys/new.html.erb
  app/views/variable_lookup_keys/welcome.html.erb
  config/routes.rb
  test/controllers/variable_lookup_keys_controller_test.rb
  test/integration/variable_lookup_key_js_test.rb
Labels: Needs testing

#7105 Fixes #27853: Connect ForemanModal to Redux store
  webpack/assets/javascripts/react_app/common/IntegrationTestHelper.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModal.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModal.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModal.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalActions.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalActions.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalConstants.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalHooks.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalReducer.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalReducer.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalSelectors.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalSelectors.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalUsage.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/__snapshots__/ForemanModalActions.test.js.snap
  webpack/assets/javascripts/react_app/components/ForemanModal/__snapshots__/ForemanModalReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/ForemanModal/__snapshots__/ForemanModalSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/ForemanModal/__tests__/ForemanModal.integration.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/__tests__/ForemanModal.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/__tests__/__snapshots__/ForemanModal.integration.test.js.snap
  webpack/assets/javascripts/react_app/components/ForemanModal/__tests__/__snapshots__/ForemanModal.test.js.snap
  webpack/assets/javascripts/react_app/components/ForemanModal/__tests__/helpers.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/helpers.js
  webpack/assets/javascripts/react_app/components/ForemanModal/index.js
  webpack/assets/javascripts/react_app/components/ForemanModal/subcomponents/ForemanModalHeader.js
  webpack/assets/javascripts/react_app/components/ForemanModal/subcomponents/__tests__/ForemanModalFooter.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/subcomponents/__tests__/ForemanModalHeader.test.js
  webpack/assets/javascripts/react_app/components/ForemanModal/subcomponents/__tests__/__snapshots__/ForemanModalFooter.test.js.snap
  webpack/assets/javascripts/react_app/components/ForemanModal/subcomponents/__tests__/__snapshots__/ForemanModalHeader.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/stories/storeDecorator.js
Labels: Needs testing, UI

#7281 Fixes #19779 - Fix Layout/IndentHeredoc cop
  .rubocop_todo.yml
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/api/v2/media_controller.rb
  app/services/foreman/ipxe/message_renderer.rb
  lib/foreman/renderer/scope/report.rb
  lib/tasks/audits.rake
  lib/tasks/backup.rake
  lib/tasks/config.rake
  lib/tasks/dynflow.rake
  lib/tasks/encrypt.rake
  lib/tasks/exports.rake
  lib/tasks/facts.rake
  lib/tasks/interfaces.rake
  lib/tasks/model.rake
  lib/tasks/parameters.rake
  lib/tasks/reports.rake
  lib/tasks/reset_permissions.rake
  lib/tasks/rss.rake
  lib/tasks/templates_renderer.rake
  script/dynflowd
  test/benchmark/benchmark_helper.rb
  test/models/lookup_key_test.rb
  test/models/lookup_value_test.rb
  test/models/orchestration/tftp_test.rb
  test/models/parameter_test.rb
  test/models/report_template_test.rb
  test/models/template_test.rb
  test/unit/foreman/renderer/safe_mode_renderer_test.rb
  test/unit/foreman/renderer/scope/report_test.rb
  test/unit/foreman/renderer/unsafe_mode_renderer_test.rb
Labels: Needs testing

#7286 Refs #28512 - Enable Layout/ClosingHeredocIndentation cop
  .rubocop.yml
Labels: Needs testing

#7285 Fixes #7570 - Replace `secret_token` with `secret_key_base`
  config/as_deprecation_whitelist.yaml
  config/initializers/local_secret_token.rb.example
  config/initializers/secret_token.rb
  lib/tasks/security.rake
Labels: Needs testing

#7287 Fixes #28563 - Be defensive about interface type in API
  app/views/api/v2/interfaces/main.json.rabl
Labels: Needs testing

#7275 Fixes #28547 - Don't assign lone taxonomies to reports
  app/controllers/api/base_controller.rb
Labels: Needs testing

#7290 Fixes #28546 - Drop smart variables from API
  app/controllers/api/v2/override_values_controller.rb
  app/controllers/api/v2/smart_variables_controller.rb
  app/views/api/v2/puppetclasses/show.json.rabl
  app/views/api/v2/smart_variables/base.json.rabl
  app/views/api/v2/smart_variables/create.json.rabl
  app/views/api/v2/smart_variables/destroy.json.rabl
  app/views/api/v2/smart_variables/index.json.rabl
  app/views/api/v2/smart_variables/main.json.rabl
  app/views/api/v2/smart_variables/show.json.rabl
  app/views/api/v2/smart_variables/update.json.rabl
  config/routes/api/v2.rb
  test/controllers/api/v2/override_values_controller_test.rb
  test/controllers/api/v2/puppetclasses_controller_test.rb
  test/controllers/api/v2/smart_variables_controller_test.rb
Labels: Needs testing

#7292 Fixes #28002 - drop Ruby < 2.5
  Gemfile
  bundler.d/assets.rb
  bundler.d/development.rb
  bundler.d/gce.rb
  bundler.d/test.rb
  test/unit/oidc_jwt_validate_test.rb
  test/unit/sso/openid_connect_test.rb
Labels: Needs testing

#7293 Fixes #28572 - Bump TargetRubyVersion to 2.5 for Rubocop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#7291 Fixes #28542 - Remove smart variables from puppet class form
  app/assets/javascripts/lookup_keys.js
  app/controllers/puppetclasses_controller.rb
  app/views/lookup_keys/_fields.html.erb
  app/views/puppetclasses/_form.html.erb
  test/integration/puppetclass_test.rb
Labels: Legacy JS, Needs testing

#7296 Fixes #28576 - Fix Style/RedundantBegin cop
  .rubocop_todo.yml
  app/controllers/concerns/foreman/controller/puppet/hosts_controller_extensions.rb
  app/controllers/hosts_controller.rb
  app/graphql/resolvers/concerns/collection.rb
  app/models/compute_resources/foreman/model/vmware.rb
  app/models/concerns/audit_extensions.rb
  app/models/concerns/orchestration.rb
  app/models/concerns/orchestration/compute.rb
  app/models/host/managed.rb
  app/models/provisioning_template.rb
  app/models/template.rb
  app/services/fact_importer.rb
  app/services/foreman/provision/ssh.rb
  app/services/host_build_status.rb
  config/application.rb
  db/migrate/20091214045923_calc_existing_reports.rb
  db/migrate/20120311081257_create_nics.rb
  db/migrate/20150612135546_create_host_status.rb
  db/seeds.d/050-taxonomies.rb
  db/seeds.rb
  lib/foreman/renderer/scope/macros/host_template.rb
  lib/tasks/convert.rake
  lib/tasks/ldap.rake
  test/models/auth_sources/auth_source_ldap_test.rb
  test/models/hosts/managed_test.rb
  test/unit/proxy_api/resource_test.rb
Labels: Needs testing

#7153 Fixes #28204 - Run Dynflow with Sidekiq using docker-compose
  config/settings.yaml.example
  docker-compose.yml
  extras/dynflow-sidekiq.rb
  extras/systemd/dynflow-sidekiq@.service
Labels: Needs testing, Not yet reviewed

#7303 Fixes #28586 - Add application setting to use Rails 6.0
  Gemfile
  bundler.d/sqlite.rb
  config/settings.yaml.example
Labels: Needs testing

#7264 Fixes #28520 - rake task for creation of external auth source
  lib/tasks/auth_source_external.rake
Labels: Needs testing

#7298 Fixes #26314 - disable refresh button for external auth sources
  app/models/auth_source.rb
  app/models/auth_sources/auth_source_external.rb
  app/models/external_usergroup.rb
  app/views/usergroups/_form.html.erb
Labels: Needs testing

#7299 Fixes #28582 - Drop deprecated config_templates api
  app/controllers/api/v2/config_templates_controller.rb
  app/controllers/api/v2/operatingsystems_controller.rb
  app/controllers/api/v2/os_default_templates_controller.rb
  app/controllers/api/v2/template_combinations_controller.rb
  app/controllers/concerns/api/v2/taxonomies_controller.rb
  app/controllers/concerns/foreman/controller/parameters/taxonomy.rb
  app/controllers/concerns/foreman/controller/parameters/template_combination.rb
  app/registries/foreman/access_permissions.rb
  app/views/api/v2/config_templates/base.json.rabl
  app/views/api/v2/config_templates/create.json.rabl
  app/views/api/v2/config_templates/index.json.rabl
  app/views/api/v2/config_templates/main.json.rabl
  app/views/api/v2/config_templates/show.json.rabl
  app/views/api/v2/config_templates/update.json.rabl
  app/views/api/v2/operatingsystems/show.json.rabl
  app/views/api/v2/os_default_templates/base.json.rabl
  app/views/api/v2/taxonomies/show.json.rabl
  app/views/api/v2/template_combinations/base.json.rabl
  config/routes/api/v2.rb
  test/controllers/api/v2/config_templates_controller_test.rb
  test/controllers/api/v2/locations_controller_test.rb
  test/controllers/api/v2/os_default_templates_controller_test.rb
  test/controllers/api/v2/template_combinations_controller_test.rb
  test/controllers/provisioning_templates_controller_test.rb
Labels: Needs testing

#7300 Fixes #28583 - Drop `use_puppet_default` API params
  app/controllers/api/v2/override_values_controller.rb
  app/controllers/api/v2/smart_class_parameters_controller.rb
  app/views/api/v2/override_values/base.json.rabl
  app/views/api/v2/smart_class_parameters/main.json.rabl
  test/controllers/api/v2/override_values_controller_test.rb
  test/controllers/api/v2/smart_class_parameters_controller_test.rb
Labels: Needs testing

#7302 Fixes #28585 - Drop host status api without type
  app/controllers/api/v2/hosts_controller.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#7304 Fixes #28591 - Drop deprecated permissions api params
  app/controllers/api/v2/permissions_controller.rb
Labels: Needs testing

#7305 Fixes #28592 - drop compute resource api uuid param
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#7306 Fixes #28593 - drop host_parameter_attributes.nested support
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/concerns/api/compatibility_checker.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#7297 Fixes #28580 - enable assignment of external users(via oidc) to userg…
  app/services/sso/openid_connect.rb
  test/unit/sso/openid_connect_test.rb
Labels: Needs testing, Waiting on contributor

#7309 Fixes #28567 - Remove smart variables strong param filters
  app/controllers/concerns/foreman/controller/parameters/puppetclass.rb
  app/controllers/concerns/foreman/controller/parameters/variable_lookup_key.rb
Labels: Needs testing

#7310 Refs #28585 - drop host status access permission
  app/registries/foreman/access_permissions.rb
Labels: Needs testing

#7307 Fixes #28594 - Drop reports api endpoints
  app/controllers/api/v2/config_reports_controller.rb
  app/controllers/api/v2/reports_controller.rb
  app/registries/foreman/access_permissions.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/reports_controller_test.rb
  test/integration/config_report_test.rb
Labels: Needs testing
