Repository theforeman/foreman, pull requests merged in 2019-03, with the labels that each got.

#6498 Fixes #26104 - NICs without MAC are orchestrated
  app/models/concerns/orchestration/dhcp.rb
Labels: Ready to merge

#6524 fixes #26189 - remove node 6 from travis matrix
  .travis.yml
Labels: Needs testing

#6176 Fixes #25326 - Fix Lint/SafeNavigationConsistency cop
  .rubocop_todo.yml
  app/models/concerns/orchestration/tftp.rb
  app/models/provisioning_template.rb
Labels: Needs testing

#6525 fixes #26190 - remove unused fact view
  app/views/facts/show.html.erb
Labels: Needs testing

#6527 Fixes #26194 - Silence ruby warnings for foreman-rake
  script/foreman-rake
Labels: Needs testing

#6518 Fixes #26183 - respond with 422 to invalid CR request
  app/controllers/api/v2/compute_resources_controller.rb
  test/controllers/api/v2/compute_resources_controller_test.rb
Labels: Needs testing

#6512 Fixes #26162 - Allow preload for load_hosts macro
  lib/foreman/renderer/scope/macros/base.rb
Labels: Needs testing

#6502 Fixes #26122 - fix layout rendering
  app/assets/javascripts/application.js
  app/assets/stylesheets/base.scss
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_navigation.js
  webpack/assets/javascripts/foreman_store.js
Labels: Needs testing, UI

#6532 Fixes #26022 - Fix host test
  test/controllers/hosts_controller_test.rb
  test/integration/host_js_test.rb
Labels: Needs testing

#6528 fixes #26197 - boot_filename for host without subnet
  app/models/operatingsystem.rb
  test/models/operatingsystem_test.rb
Labels: Needs testing

#5681 fixes #23880 - graphql: relay global id
  app/graphql/foreman_graphql_schema.rb
  app/graphql/types/model.rb
  app/graphql/types/query.rb
  app/services/foreman/global_id.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/models_query_test.rb
  test/graphql/queries/nodes_query_test.rb
  test/unit/foreman/global_id_test.rb
Labels: Waiting on contributor

#6405 Fixes #25833: increase hover delay for menu items.
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
Labels: Needs testing, UI

#6479 Fixes #26039 - disable blob logger by default
  config/application.rb
  config/settings.yaml.example
Labels: Needs testing

#6481 Fixes #26051 - added grub2 pc/bios and elf options
  app/models/concerns/pxe_loader_support.rb
  test/models/concerns/pxe_loader_support_test.rb
Labels: Needs testing, Waiting on contributor

#6538 Fixes #26232 - Adding id contraints on override_values routes
  config/routes/api/v2.rb
Labels: Ready to merge

#6314 Fixes #25642 - Introduce proxy registration protocol version 2
  app/controllers/api/v2/smart_proxies_controller.rb
  app/controllers/smart_proxies_controller.rb
  app/models/feature.rb
  app/models/smart_proxy.rb
  app/models/smart_proxy_feature.rb
  app/views/smart_proxies/logs/_failed_modules.html.erb
  db/migrate/20180705230311_smart_proxy_capabilities.rb
  lib/proxy_api/v2.rb
  lib/proxy_api/v2/features.rb
  test/active_support_test_case_helper.rb
  test/controllers/api/v2/config_reports_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/api/v2/reports_controller_test.rb
  test/controllers/api/v2/smart_proxies_controller_test.rb
  test/controllers/smart_proxies_controller_test.rb
  test/factories/feature.rb
  test/factories/smart_proxy.rb
  test/fixtures/smart_proxies.yml
  test/fixtures/smart_proxy_features.yml
  test/integration/smart_proxy_test.rb
  test/models/feature_test.rb
  test/models/host_test.rb
  test/models/nic_test.rb
  test/models/smart_proxy_test.rb
  test/unit/host_build_status_test.rb
  test/unit/validators/proxy_features_validator_test.rb
Labels: Needs testing

#6516 Fixes #22684 - host creation is bootdisk method friendly
  app/helpers/hosts_helper.rb
  app/models/concerns/orchestration/tftp.rb
  app/models/host/managed.rb
  app/services/nic_ip_required/base.rb
  test/models/host_test.rb
Labels: Needs testing

#6534 Fixes #26209 - undefined method 'e' in compute
  app/models/concerns/orchestration/compute.rb
Labels: Needs testing

#6543 Fixes #26254 - Add plugin_present? to template renderer
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
Labels: Needs testing

#6539 Fixes #26235 - Check for path in webpacked plugins
  app/registries/foreman/plugin/assets.rb
Labels: Needs testing, Waiting on contributor

#6544 Fixes #26259 - Incorect lxcbr0 interface type detection
  app/services/fact_parser.rb
Labels: Needs testing

#6541 fixes #26250 - add dns_servers helper
  app/models/subnet.rb
  test/models/subnet_test.rb
Labels: Needs testing, Ready to merge

#6500 Fixes #26106 - Refactor Autocomplete Redux
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.fixtures.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.stories.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoComplete.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/auto-complete.scss
  webpack/assets/javascripts/react_app/components/AutoComplete/index.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.fixtures.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.stories.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
  webpack/assets/javascripts/react_app/components/SearchBar/search-bar.scss
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI

#6545 Refs #26122 - fix hosts multiple selection regression
  app/assets/stylesheets/base.scss
Labels: Needs testing

#5542 Fixes #17292 - take otp for freeipa before save @host object in db
  app/models/concerns/orchestration/compute.rb
  app/models/concerns/orchestration/realm.rb
Labels: Needs testing

#6547 Fixes #26034 - Show affected taxonomies in audits
  app/helpers/audits_helper.rb
Labels: Needs testing

#6552 Fixes #26280 - preserving selection of related network
  app/assets/javascripts/host_edit.js
Labels: Needs testing

#6537 Fixes #26217, #26208 - small refactor for table
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTable.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableActions.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableActions.test.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableConstants.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableReducer.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableReducer.test.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTableSchema.js
  webpack/assets/javascripts/react_app/components/ModelsTable/index.js
  webpack/assets/javascripts/react_app/components/common/table/actions/getTableItemsAction.js
  webpack/assets/javascripts/react_app/components/common/table/actions/getTableItemsAction.test.js
  webpack/assets/javascripts/react_app/components/common/table/actions/index.js
  webpack/assets/javascripts/react_app/components/common/table/index.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/__snapshots__/createTableReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.test.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/index.js
  webpack/assets/javascripts/react_app/components/common/table/schemaHelpers/schemaHelpers.test.js
  webpack/assets/javascripts/react_app/components/common/table/schemaHelpers/sortableColumn.js
Labels: Needs testing, UI

#6553 Fixes #26285 - Display IPv6 subnet in NIC overview
  app/views/hosts/_nics.html.erb
Labels: Needs testing

#6550 Fixes #25476 - downgrade fog-openstack to 0.2.0
  bundler.d/openstack.rb
Labels: Needs testing

#6556 Fixes #26290 - graphql: query objects by global id
  app/graphql/queries/authorized_model_query.rb
  app/graphql/queries/fetch_field.rb
  app/services/foreman/global_id.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/models_query_test.rb
Labels: Ready to merge

#6557 Fixes #26266 - graphql: add Location queries
  app/graphql/queries/authorized_model_query.rb
  app/graphql/queries/fetch_field.rb
  app/graphql/queries/plural_field.rb
  app/graphql/resolvers/base_resolver.rb
  app/graphql/resolvers/concerns/collection.rb
  app/graphql/resolvers/concerns/record.rb
  app/graphql/resolvers/location.rb
  app/graphql/resolvers/locations.rb
  app/graphql/resolvers/model.rb
  app/graphql/resolvers/models.rb
  app/graphql/types/location.rb
  app/graphql/types/query.rb
  test/graphql/queries/authorized_model_query_test.rb
  test/graphql/queries/location_query_test.rb
  test/graphql/queries/locations_query_test.rb
  test/graphql/queries/model_query_test.rb
Labels: Ready to merge

#6560 Fixes #26265 - graphql: add Operatingsystem queries
  app/graphql/resolvers/concerns/collection.rb
  app/graphql/resolvers/concerns/record.rb
  app/graphql/resolvers/operatingsystem.rb
  app/graphql/resolvers/operatingsystems.rb
  app/graphql/types/base_object.rb
  app/graphql/types/location.rb
  app/graphql/types/model.rb
  app/graphql/types/operatingsystem.rb
  app/graphql/types/query.rb
  test/graphql/queries/location_query_test.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/nodes_query_test.rb
  test/graphql/queries/operatingsystem_query_test.rb
  test/graphql/queries/operatingsystems_query_test.rb
Labels: Ready to merge

#6561 Fixes #26281 - graphql: add Subnet queries
  app/graphql/resolvers/subnet.rb
  app/graphql/resolvers/subnets.rb
  app/graphql/types/query.rb
  app/graphql/types/subnet.rb
  test/graphql/queries/subnet_query_test.rb
  test/graphql/queries/subnets_query_test.rb
Labels: Ready to merge

#6564 Fixes #26289 - graphql: add Usergroup queries
  app/graphql/resolvers/usergroup.rb
  app/graphql/resolvers/usergroups.rb
  app/graphql/types/query.rb
  app/graphql/types/usergroup.rb
  test/graphql/queries/usergroup_query_test.rb
  test/graphql/queries/usergroups_query_test.rb
Labels: Needs testing

#6565 Fixes #26331 - return features with smart proxy create
  app/views/api/v2/smart_proxies/main.json.rabl
Labels: Needs testing

#6563 Fixes #26327 - Deprecate confirm option in link_to helper
  app/helpers/application_helper.rb
  app/helpers/compute_resources_vms_helper.rb
  app/helpers/provisioning_templates_helper.rb
  app/views/config_reports/_list.html.erb
  app/views/provisioning_templates/index.html.erb
Labels: Needs testing

#6566 Fixes #26292 - graphql: add Architecture queries
  app/graphql/resolvers/architecture.rb
  app/graphql/resolvers/architectures.rb
  app/graphql/types/architecture.rb
  app/graphql/types/query.rb
  test/graphql/queries/architecture_query_test.rb
  test/graphql/queries/architectures_query_test.rb
Labels: Ready to merge

#6540 Fixes #26041 - Only validate MAC-address if subnet is set
  app/models/nic/base.rb
  test/models/nics/base_test.rb
Labels: Ready to merge

#6571 Fixes #25892 - Removed back buttons where is breadcrumb bar
  app/helpers/hosts_helper.rb
  app/helpers/smart_proxies_helper.rb
  app/views/compute_profiles/show.html.erb
  app/views/compute_resources_vms/show.html.erb
Labels: Ready to merge

#6569 Fixes #26341 - graphql: Run GraphQL tests in Jenkins
  app/graphql/types/base_object.rb
  lib/tasks/jenkins.rake
  lib/tasks/test.rake
Labels: Ready to merge

#6573 Fixes #26357 - Show library/type of HTTP Proxy request
  lib/foreman/http_proxy.rb
  lib/foreman/http_proxy/excon_connection_extension.rb
  lib/foreman/http_proxy/net_http_extension.rb
  lib/foreman/http_proxy/rest_client_extension.rb
Labels: Needs testing

#6559 Fixes #26307 - vmware network guessing
  app/assets/javascripts/host_edit.js
Labels: Needs testing, Waiting on contributor

#6576 Fixes #26367 - Fix building sources outside of bundler
  lib/tasks/pkg.rake
Labels: Needs testing

#6577 Fixes #26295 - graphql: add SmartProxy queries
  app/graphql/resolvers/architecture.rb
  app/graphql/resolvers/architectures.rb
  app/graphql/resolvers/generic.rb
  app/graphql/resolvers/location.rb
  app/graphql/resolvers/locations.rb
  app/graphql/resolvers/model.rb
  app/graphql/resolvers/models.rb
  app/graphql/resolvers/operatingsystem.rb
  app/graphql/resolvers/operatingsystems.rb
  app/graphql/resolvers/subnet.rb
  app/graphql/resolvers/subnets.rb
  app/graphql/resolvers/usergroup.rb
  app/graphql/resolvers/usergroups.rb
  app/graphql/types/query.rb
  app/graphql/types/smart_proxy.rb
  test/graphql/queries/smart_proxies_query_test.rb
  test/graphql/queries/smart_proxy_query_test.rb
  test/graphql/resolvers/generic_test.rb
Labels: Ready to merge

#6580 Fixes #26379 - allow to reuse SearchBar.updateSearchQuery
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBarHelpers.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/SearchBarHelpers.test.js
Labels: Needs testing, UI

#6579 Fixes #26378 - Adds new layout yeild before_search_bar
  app/views/layouts/_application_content.html.erb
Labels: Needs testing

#6581 Fixes #26380 - Only execute webpack:compile task once
  lib/tasks/webpack_compile.rake
Labels: Needs testing

#6542 Fixes #26253 - Migration to fix the format of vm attributes
  db/migrate/20190305150816_drop_elements_from_vm_attrs_hash.rb
Labels: Needs testing

#6526 fixes #26192 - moves dashboard.js to webpack
  app/assets/javascripts/dashboard.js
  app/helpers/dashboard_helper.rb
  app/views/dashboard/index.html.erb
  config/initializers/assets.rb
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_dashboard.js
Labels: Needs testing, UI

#6568 Fixes #26333 - improve documentation of ovirt-quota
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#6583 Fixes #26382 - graphql: add Organization queries
  app/graphql/resolvers/host.rb
  app/graphql/resolvers/hosts.rb
  app/graphql/types/organization.rb
  app/graphql/types/query.rb
  test/graphql/queries/organization_query_test.rb
  test/graphql/queries/organizations_query_test.rb
Labels: Needs testing

#6546 Fixes #26260 - Mass assign discovered hosts to seeded taxonomies
  db/seeds.d/050-taxonomies.rb
Labels: Needs testing

#6584 Fixes #26267 - graphql: add Domain queries
  app/graphql/types/domain.rb
  app/graphql/types/query.rb
  app/graphql/types/subnet.rb
  test/graphql/queries/domain_query_test.rb
  test/graphql/queries/domains_query_test.rb
  test/graphql/queries/subnet_query_test.rb
Labels: Ready to merge

#6590 Fixes #26404 - update will_paginate to 3.1.7
  Gemfile
Labels: Needs testing, Not yet reviewed

#6570 Fixes #26356 - hostgroup combo works with katello
  app/models/provisioning_template.rb
  test/factories/operatingsystem.rb
  test/fixtures/templates.yml
  test/models/provisioning_template_test.rb
Labels: Needs testing

#6587 Fixes #26344 - Skip nested associations during taxonomy seed
  db/seeds.d/050-taxonomies.rb
Labels: Needs testing

#6582 Fixes #26383 - fix duel imports
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/react_app/common/DeprecationService.js
  webpack/assets/javascripts/react_app/common/I18n.js
Labels: Needs testing, UI

#6586 Fixes #26268, #26269 - graphql: add FactName and FactValue queries
  app/graphql/resolvers/generic.rb
  app/graphql/types/base_object.rb
  app/graphql/types/domain.rb
  app/graphql/types/fact_name.rb
  app/graphql/types/fact_value.rb
  app/graphql/types/host.rb
  app/graphql/types/model.rb
  app/graphql/types/organization.rb
  app/graphql/types/query.rb
  app/graphql/types/subnet.rb
  test/graphql/queries/fact_name_query_test.rb
  test/graphql/queries/fact_names_query_test.rb
  test/graphql/queries/fact_value_query_test.rb
  test/graphql/queries/fact_values_query_test.rb
  test/graphql/queries/host_query_test.rb
  test/graphql/resolvers/generic_test.rb
Labels: Ready to merge

#6536 Fixes #26215 - Autocomplete console warnings
  app/helpers/search_bar_helper.rb
  package.json
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.fixtures.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoComplete.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteMenu.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.fixtures.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#6554 Fixes #26287 - Add a loader of global js files for plugins
  app/helpers/reactjs_helper.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/global_js.rb
  app/views/layouts/base.html.erb
  test/helpers/reactjs_helper_test.rb
Labels: Ready to merge

#6501 Fixes #26121 - distinguish between Autocompletes
  app/helpers/search_bar_helper.rb
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.fixtures.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteReducer.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteSelectors.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteActions.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoCompleteSelectors.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoComplete.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteActions.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoCompleteReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/index.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
Labels: Needs testing, Ready to merge, UI

#6591 Fixes #26405 - Disable implicit puppetclass taxonomy search
  app/models/puppetclass.rb
Labels: Needs testing

#6601 Refs #26423 - pin fog-vsphere to <3.0
  bundler.d/vmware.rb
Labels: Needs testing

#6602 Refs #26121 - Fix rubocop
  app/helpers/search_bar_helper.rb
Labels: Needs testing

#6054 Fixes #24850 - Do not add usergroup to itself
  app/controllers/api/v2/usergroups_controller.rb
  app/controllers/usergroups_controller.rb
  app/models/usergroup.rb
  app/models/usergroup_member.rb
  app/views/usergroups/_form.html.erb
  test/controllers/api/v2/usergroups_controller_test.rb
  test/models/usergroup_test.rb
Labels: Needs testing

#6594 Fixes #26294 - graphql: add Environment queries
  app/graphql/types/environment.rb
  app/graphql/types/host.rb
  app/graphql/types/query.rb
  test/graphql/queries/environment_query_test.rb
  test/graphql/queries/environments_query_test.rb
  test/graphql/queries/host_query_test.rb
Labels: Ready to merge

#6612 Refs #26423 - pin fog-vsphere to <3.0
  bundler.d/vmware.rb
Labels: Needs testing, Stable branch

#6611 Refs #26423 - pin fog-vsphere to <3.0
  bundler.d/vmware.rb
Labels: Needs testing, Stable branch

#6610 Refs #26253 - fix typos in migration
  db/migrate/20190305150816_drop_elements_from_vm_attrs_hash.rb
Labels: Needs testing

#6382 Fixes #24345 - fix breadcrumbs item url
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarSelector.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/BreadcrumbBar.test.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/BreadcrumbSwitcherPopover.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/index.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
Labels: Needs testing, UI

#6592 Fixes #26408 - improve PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Needs testing

#6613 fixes #26394 - fix layout crash w/nested taxonomies
  app/helpers/layout_helper.rb
Labels: Needs testing

#6603 Refs #22467 - removed unreachable code
  app/helpers/hosts_helper.rb
Labels: Needs testing

#6614 Fixes #26435 - upgrade storybook
  package.json
Labels: Needs testing

#6616 Fixes #26154 - implement pxedir method for operatingsystem base
  app/models/operatingsystem.rb
  app/models/operatingsystems/rancheros.rb
  app/models/operatingsystems/xenserver.rb
Labels: Needs testing

#6617 Fixes #26441 - default value for React datetime
  app/helpers/application_helper.rb
Labels: Ready to merge

#6503 Fixes #26020 - report templates in background process
  Gemfile
  app/controllers/api/v2/report_templates_controller.rb
  app/controllers/report_templates_controller.rb
  app/jobs/stored_values_cleanup_job.rb
  app/jobs/template_render_job.rb
  app/models/report_composer.rb
  app/models/stored_value.rb
  app/registries/foreman/access_permissions.rb
  app/views/report_templates/generate.html.erb
  app/views/report_templates/report_data.html.erb
  config/initializers/stored_value_cleanup.rb
  config/routes.rb
  config/routes/api/v2.rb
  db/migrate/20190225115728_create_stored_values.rb
  package.json
  test/controllers/api/v2/report_templates_controller_test.rb
  test/controllers/report_templates_controller_test.rb
  test/factories/stored_values.rb
  test/jobs/stored_values_cleanup_job_test.rb
  test/jobs/template_render_job_test.rb
  test/models/report_composer_test.rb
  test/models/stored_value_test.rb
  webpack/assets/javascripts/foreman_template_inputs.js
  webpack/assets/javascripts/react_app/common/testHelpers.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGenerator.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGeneratorActions.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGeneratorConstants.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGeneratorReducer.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGeneratorSelectors.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/TemplateGenerator.fixtures.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/TemplateGenerator.test.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/TemplateGeneratorActions.test.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/TemplateGeneratorReducer.test.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/TemplateGeneratorSelectors.test.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/__snapshots__/TemplateGenerator.test.js.snap
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/__snapshots__/TemplateGeneratorReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/__snapshots__/TemplateGeneratorSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/TemplateGenerator/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI

#6595 Fixes #26402 - VMware scsi_controller type from hammer
  app/models/compute_resources/foreman/model/vmware.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing

#6482 Fixes #26054 - VMware storage controller type chage
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/StorageContainer.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/StorageContainer.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.stories.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/index.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/disk/disk.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
Labels: Needs testing, UI

#6295 Fixes #14833 - Add cloning of disk for ovirt vm
  app/models/compute_resources/foreman/model/ovirt.rb
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, UI

#6598 Fixes #26419 - allow setting custom recipients on notification
  app/models/notification.rb
  test/models/notification_test.rb
Labels: Ready to merge

#6519 Fixes #26087 - Bruteforce attack cause reloading users sessions
  app/controllers/concerns/foreman/controller/bruteforce_protection.rb
Labels: Needs testing

#6619 Fixes #26457 - graphql: Allow filtering subnets in the Domain query
  app/graphql/collection_loader.rb
  app/graphql/resolvers/domain/subnets.rb
  app/graphql/types/base_object.rb
  app/graphql/types/domain.rb
  test/graphql/queries/domain_query_test.rb
Labels: Needs testing, Waiting on contributor

#6618 Fixes #26452 - default disable autocomplete key shortcuts
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/AutoComplete.test.js
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/AutoComplete.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteFocusShortcut.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.fixtures.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI, Waiting on contributor

#6475 Fixes #26024,#26025 - removed gem fog & locked versions for fog-core, fog-google, net-ssh
  Gemfile
  app/models/concerns/fog_extensions.rb
  bundler.d/fog.rb
  bundler.d/gce.rb
  test/unit/compute_resource_host_importer_test.rb
Labels: Needs testing

#6599 Fixes #26423 - update fog-vsphere
  app/models/compute_resources/foreman/model/vmware.rb
  app/models/concerns/fog_extensions.rb
  bundler.d/vmware.rb
Labels: Needs testing

#6609 Fixes #26270 - graphql: add PersonalAccessToken queries
  app/graphql/types/personal_access_token.rb
  app/graphql/types/query.rb
  app/graphql/types/user.rb
  test/graphql/queries/personal_access_token_query_test.rb
  test/graphql/queries/personal_access_tokens_query_test.rb
  test/graphql/queries/user_query_test.rb
Labels: Ready to merge

#6621 Fixes #26450 - add destroy rabl for compute resource
  app/views/api/v2/compute_resources/destroy.json.rabl
Labels: Needs testing

#6606 Fixes #26291 - graphql: add ComputeResource queries
  app/graphql/types/compute_attribute.rb
  app/graphql/types/compute_resource.rb
  app/graphql/types/fact_name.rb
  app/graphql/types/host.rb
  app/graphql/types/provider_enum.rb
  app/graphql/types/provider_friendly_name_enum.rb
  app/graphql/types/query.rb
  test/graphql/queries/compute_attribute_query_test.rb
  test/graphql/queries/compute_attributes_query_test.rb
  test/graphql/queries/compute_resource_query_test.rb
  test/graphql/queries/compute_resources_query_test.rb
  test/graphql/queries/fact_name_query_test.rb
  test/graphql/queries/host_query_test.rb
Labels: Ready to merge

#6622 Refs #26423 - Fix fog-vsphere references in tests
  test/models/compute_resources/vmware_test.rb
  test/unit/compute_resource_host_importer_test.rb
Labels: Needs testing

#6596 Fixes #26081 - Add DateTimePicker component
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DateConstants.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DateInput.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DateInput.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/Day.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/Day.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeView.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeViewHeader.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeViewHeader.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeViewTable.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeViewTable.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/Header.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/Header.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/HeaderHelpers.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/MonthView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/MonthView.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/TodayButton.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/TodayButton.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/YearView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/YearView.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/DateInput.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/Day.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/DecadeView.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/DecadeViewHeader.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/DecadeViewTable.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/Header.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/MonthView.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/TodayButton.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/YearView.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/helpers.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/helpers.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.stories.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeClock.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeClock.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeTable.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/PickTimeTable.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/TimeConstants.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/TimeInput.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/TimeInput.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/__snapshots__/PickTimeClock.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/__snapshots__/PickTimeTable.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimeComponents/__snapshots__/TimeInput.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/DatePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/DateTimePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/TimePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/date-time-picker.scss
Labels: Needs testing, UI

#6597 Fixes #26297 - graphql: add Host queries
  app/graphql/resolvers/host/path.rb
  app/graphql/types/architecture.rb
  app/graphql/types/domain.rb
  app/graphql/types/host.rb
  app/graphql/types/location.rb
  app/graphql/types/operatingsystem.rb
  app/graphql/types/smart_proxy.rb
  app/graphql/types/user.rb
  app/graphql/types/usergroup.rb
  test/graphql/queries/architecture_query_test.rb
  test/graphql/queries/architectures_query_test.rb
  test/graphql/queries/authorized_model_query_test.rb
  test/graphql/queries/compute_attribute_query_test.rb
  test/graphql/queries/compute_attributes_query_test.rb
  test/graphql/queries/compute_resource_query_test.rb
  test/graphql/queries/compute_resources_query_test.rb
  test/graphql/queries/domain_query_test.rb
  test/graphql/queries/domains_query_test.rb
  test/graphql/queries/environment_query_test.rb
  test/graphql/queries/environments_query_test.rb
  test/graphql/queries/fact_name_query_test.rb
  test/graphql/queries/fact_names_query_test.rb
  test/graphql/queries/fact_value_query_test.rb
  test/graphql/queries/fact_values_query_test.rb
  test/graphql/queries/host_query_test.rb
  test/graphql/queries/hosts_query_test.rb
  test/graphql/queries/location_query_test.rb
  test/graphql/queries/locations_query_test.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/models_query_test.rb
  test/graphql/queries/nodes_query_test.rb
  test/graphql/queries/operatingsystem_query_test.rb
  test/graphql/queries/operatingsystems_query_test.rb
  test/graphql/queries/organization_query_test.rb
  test/graphql/queries/organizations_query_test.rb
  test/graphql/queries/personal_access_token_query_test.rb
  test/graphql/queries/personal_access_tokens_query_test.rb
  test/graphql/queries/puppetclass_query_test.rb
  test/graphql/queries/puppetclasses_query_test.rb
  test/graphql/queries/smart_proxies_query_test.rb
  test/graphql/queries/smart_proxy_query_test.rb
  test/graphql/queries/subnet_query_test.rb
  test/graphql/queries/subnets_query_test.rb
  test/graphql/queries/user_query_test.rb
  test/graphql/queries/usergroup_query_test.rb
  test/graphql/queries/usergroups_query_test.rb
  test/graphql/queries/users_query_test.rb
  test/test_helper.rb
Labels: Ready to merge

#6625 Fixes #26387 - graphql: add network queries
  app/graphql/resolvers/compute_resource/networks.rb
  app/graphql/types/base_union.rb
  app/graphql/types/compute_resource.rb
  app/graphql/types/networks/union.rb
  app/graphql/types/networks/vmware.rb
  test/graphql/queries/compute_resource_query_test.rb
Labels: Needs testing

#6608 Fixes #26298 - graphql: add SshKey queries
  app/graphql/types/query.rb
  app/graphql/types/ssh_key.rb
  app/graphql/types/user.rb
  test/graphql/queries/ssh_key_query_test.rb
  test/graphql/queries/ssh_keys_query_test.rb
  test/graphql/queries/user_query_test.rb
Labels: Ready to merge

#6562 Fixes #26325 - Remove data-id aid attributes
  app/helpers/application_helper.rb
  app/helpers/form_helper.rb
  test/controllers/architectures_controller_test.rb
  test/integration/org_admin_js_test.rb
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/components/DeleteButton.js
  webpack/assets/javascripts/react_app/components/common/table/components/NameCell.js
Labels: Ready to merge, UI

#6630 Fixes #26493 - Pin Capybara on Ruby 2.3 to supported version
  bundler.d/test.rb
Labels: Needs testing

#6529 fixes #26198 - ensure host list does not require full page reload
  app/assets/javascripts/application.js
  app/assets/javascripts/deprecation.js
  app/assets/javascripts/host_checkbox.js
  app/helpers/hosts_helper.rb
  app/views/hosts/_assign_hosts.html.erb
  app/views/hosts/_list.html.erb
  app/views/hosts/index.html.erb
  app/views/hosts/rebuild_config.html.erb
  app/views/hosts/select_multiple_environment.html.erb
  app/views/hosts/select_multiple_hostgroup.html.erb
  app/views/hosts/select_multiple_location.html.erb
  app/views/hosts/select_multiple_organization.html.erb
  app/views/hosts/select_multiple_owner.html.erb
  app/views/hosts/select_multiple_power_state.html.erb
  config/initializers/assets.rb
  test/integration/host_js_test.rb
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_hosts.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/hosts/tableCheckboxes.js
Labels: Needs testing, UI

#6623 Fixes #26475 - Password Strength snapshot changed
  package.json
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrength.test.js.snap
Labels: Ready to merge, UI, Waiting on Packaging

#6589 Refs #26122 - fix audit page rendering
  webpack/assets/javascripts/react_app/pages/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/pages/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#6535 Fixes #16520 - Associating VM-mac is case sensitive
  app/models/compute_resource.rb
  app/models/compute_resources/foreman/model/libvirt.rb
  test/models/compute_resource_test.rb
  test/models/compute_resources/libvirt_test.rb
  test/models/compute_resources/ovirt_test.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing

#6620 Fixes #26462 - Add 'Not implemented' error for refresh_cache
  app/models/compute_resource.rb
  test/controllers/api/v2/compute_resources_controller_test.rb
  test/controllers/compute_resources_controller_test.rb
Labels: Needs testing
