Repository theforeman/foreman, pull requests merged in 2020-01, with the labels that each got.

#7301 Fixes #28584 - refactor API middleware payload
  webpack/assets/javascripts/react_app/components/Bookmarks/Bookmarks.fixtures.js
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksReducer.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/BookmarksReducer.test.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Bookmarks/components/BookmarkForm/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartReducer.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartReducer.test.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.test.js
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIRequest.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.test.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/storage/vmware.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/index.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.test.js
Labels: Needs testing, UI

#7316 Fixes #28604 - update DecadeView snapshots to 2020
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/__snapshots__/DecadeView.test.js.snap
Labels: Needs testing, UI

#7311 Fixes #28600 - don't change encoding of empty strings
  app/models/auth_sources/auth_source_ldap.rb
Labels: Needs testing

#7315 Fixes #12712 - Fix owner link from host info page
  app/helpers/host_description_helper.rb
Labels: Needs testing

#7312 Fixes #28603 - remove redundant react-test-renderer package
  package.json
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.test.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/__snapshots__/EmptyState.test.js.snap
Labels: Needs testing, UI

#7021 Fixes #27788 - IPv6 support for trusted hosts
  app/controllers/concerns/foreman/controller/smart_proxy_auth.rb
  app/models/setting.rb
  app/models/setting/auth.rb
  app/validators/array_hostnames_ips_validator.rb
  test/controllers/smart_proxy_auth_test.rb
  test/unit/validators/array_hostnames_ips_validator_test.rb
Labels: Needs testing

#7318 Fixes #28565 - Avoid association_scope method
  lib/core_extensions.rb
Labels: Needs testing

#7278 Fixes #28566 - add organizations and locations to http proxy show api
  app/views/api/v2/http_proxies/show.json.rabl
Labels: Needs testing, Waiting on contributor

#7317 Fixes #28606 - fix DecadeView test
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/DecadeView.test.js
Labels: Needs testing, UI

#7283 Fixes #19884 - Disable Style/NumericPredicate cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#7289 Fixes #23234 - Simplify parent scope lookup
  app/controllers/api/base_controller.rb
  lib/core_extensions.rb
Labels: Needs testing

#7323 Fixes #28619 - remove strip_heredoc
  lib/tasks/webpack_compile.rake
Labels: Needs testing

#7327 Refs #28028 - update chromedriver to match jenkins version
  package.json
Labels: Needs testing

#7326 Fixes #28638 - Require mocha 1.11+
  bundler.d/test.rb
Labels: Needs testing

#7308 Fixes #28595 - move API actions to an helper action
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksActions.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartActions.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartActions.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/actions/__snapshots__/getTableItemsAction.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/actions/getTableItemsAction.js
  webpack/assets/javascripts/react_app/redux/API/APIActions.js
  webpack/assets/javascripts/react_app/redux/API/APIFixtures.js
  webpack/assets/javascripts/react_app/redux/API/APIMiddleware.js
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIActions.test.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIRequest.test.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIActions.test.js.snap
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIRequest.test.js.snap
  webpack/assets/javascripts/react_app/redux/API/index.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/__snapshots__/vmware.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/statistics/index.js
  webpack/stories/docs/APIMiddleware.md
Labels: Needs testing, UI

#7321 Fixes #28543 - Remove smart vars from host edit page
  app/helpers/lookup_keys_helper.rb
  app/helpers/puppet_related_helper.rb
  app/views/puppetclasses/_class_parameters.html.erb
  app/views/puppetclasses/_classes_parameters.html.erb
  test/controllers/puppetclasses_controller_test.rb
Labels: Needs testing

#7329 Fixes #28540 - Drop smart variables from ENC output
  app/helpers/hosts_helper.rb
  app/models/concerns/host_params.rb
  app/models/host_info_providers/puppet_info.rb
  test/models/lookup_key_test.rb
Labels: Needs testing

#7328 Refs #23234 - Prefer friendly find to id lookup
  app/controllers/api/base_controller.rb
Labels: Needs testing

#7330 fixes #28643 - update base image to Fedora 31
  Dockerfile
Labels: Needs testing

#7324 Fixes #28124 - validate zone name in GCE along with key path
  app/models/compute_resources/foreman/model/gce.rb
  test/factories/compute_resources.rb
  test/models/compute_resources/gce_test.rb
Labels: Needs testing, Not yet reviewed

#7333 [CP 1.24]Fixes #28124 - validate zone name in GCE along with key path
  app/models/compute_resources/foreman/model/gce.rb
  test/factories/compute_resources.rb
  test/models/compute_resources/gce_test.rb
Labels: Needs testing

#7334 Fixes #28645 - fix smart proxy version comparison test
  test/controllers/smart_proxies_controller_test.rb
Labels: Needs testing

#7336 Fixes #28651 - changes http proxy id description
  app/controllers/api/v2/http_proxies_controller.rb
Labels: Needs testing

#7245 Fixes #28324 - Fix logout URL for OpenID connect users
  app/models/setting/auth.rb
  app/services/sso/apache.rb
  app/services/sso/openid_connect.rb
Labels: Needs testing

#7263 Refs #28315 - FormField storybook
  webpack/assets/javascripts/react_app/components/common/forms/Form.stories.js
Labels: Needs testing, UI

#7340 Fixes #22334 - Update safemode, remove ruby2ruby pin
  Gemfile
Labels: Needs testing, Not yet reviewed, Stable branch

#7288 Fixes #28564 - improve performance of orphaned facts cleanup
  app/services/fact_cleaner.rb
Labels: Needs testing

#7325 Fixes #28636 - allow group_by on AR objects
  config/initializers/active_record_extensions.rb
Labels: Needs testing

#7339 Fixes #26608 - suffixed "AdministratorPassword" for windows
  app/models/concerns/host_common.rb
  app/services/password_crypt.rb
  db/migrate/20191028082812_remove_limit_from_root_pass.rb
  test/models/host_test.rb
Labels: Needs testing, Stable branch

#7225 Fixes #28393 - consume eslint config from foreman-js
  .eslintrc
  package.json
  webpack/assets/javascripts/bundle_novnc.js
  webpack/assets/javascripts/compute_resource/ec2.js
  webpack/assets/javascripts/compute_resource/libvirt.js
  webpack/assets/javascripts/compute_resource/openstack.js
  webpack/assets/javascripts/compute_resource/ovirt.js
  webpack/assets/javascripts/compute_resource/vmware.js
  webpack/assets/javascripts/dashboard/index.js
  webpack/assets/javascripts/foreman_advanced_fields.js
  webpack/assets/javascripts/foreman_auth_source.js
  webpack/assets/javascripts/foreman_auth_source.test.js
  webpack/assets/javascripts/foreman_class_edit.js
  webpack/assets/javascripts/foreman_compute_resource.js
  webpack/assets/javascripts/foreman_hostgroups.test.js
  webpack/assets/javascripts/foreman_http_proxies.js
  webpack/assets/javascripts/foreman_medium.js
  webpack/assets/javascripts/foreman_medium.test.js
  webpack/assets/javascripts/foreman_navigation.js
  webpack/assets/javascripts/foreman_ssh_keys.js
  webpack/assets/javascripts/foreman_ssh_keys.test.js
  webpack/assets/javascripts/foreman_template_inputs.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/foreman_trends.js
  webpack/assets/javascripts/foreman_trends.test.js
  webpack/assets/javascripts/foreman_users.js
  webpack/assets/javascripts/foreman_users.test.js
  webpack/assets/javascripts/hosts/tableCheckboxes.js
  webpack/assets/javascripts/jquery.ui.custom_spinners.js
  webpack/assets/javascripts/react_app/.eslintrc
  webpack/assets/javascripts/react_app/common/HOC.js
  webpack/assets/javascripts/react_app/components/ModelsTable/ModelsTable.js
  webpack/assets/javascripts/react_app/redux/index.js
  webpack/assets/javascripts/spice.js
Labels: UI, Waiting on Packaging

#7260 Fixes #27585 - default dns timeout value is nil
  db/migrate/20200107154252_correct_dns_timeout_setting.rb
Labels: Needs testing, Ready to merge

#7342 Refs #28488 - fix jest watch and watchAll options
  package.json
Labels: Needs testing

#7294 Fixes #28573 - use @theforeman/stories
  .storybook/addons.js
  .storybook/config.js
  .storybook/manager-head.html
  .storybook/webpack.config.js
  package.json
  script/npm-fix-foreman-stories.sh
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.stories.js
  webpack/assets/javascripts/react_app/components/Bookmarks/Bookmarks.stories.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.stories.js
  webpack/assets/javascripts/react_app/components/ConfigReports/DiffModal/DiffModal.stories.js
  webpack/assets/javascripts/react_app/components/DiffView/DiffView.stories.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModal.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalHooks.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalUsage.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/index.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.stories.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.stories.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.stories.mdx
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.stories.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.stories.js
  webpack/assets/javascripts/react_app/components/common/DocumentationLink/DocumentationLink.stories.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/BarChart/BarChart.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/LineChart/LineChart.stories.js
  webpack/assets/javascripts/react_app/components/common/dates/dates.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/Form.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/Orderable.stories.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/powerStatusInner/PowerStatusInner.stories.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.stories.js
  webpack/assets/javascripts/react_app/components/statistics/ChartBox.stories.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/components/ExportButton/ExportButton.stories.js
  webpack/stories/docs/APIMiddlewareUsage.md
  webpack/stories/docs/adding-dependencies.stories.mdx
  webpack/stories/docs/adding-new-components.stories.mdx
  webpack/stories/docs/api-middleware-usage.stories.mdx
  webpack/stories/docs/api-middleware.stories.mdx
  webpack/stories/docs/creating-a-form.stories.mdx
  webpack/stories/docs/getting-started.stories.mdx
  webpack/stories/docs/hoc.md
  webpack/stories/docs/hoc.stories.mdx
  webpack/stories/docs/images/foreman-frontend-infra.png
  webpack/stories/docs/internationalization.stories.mdx
  webpack/stories/docs/interval-middleware.stories.mdx
  webpack/stories/docs/legacy-js.stories.mdx
  webpack/stories/docs/markdown.scss
  webpack/stories/docs/plugins.stories.mdx
  webpack/stories/docs/slot-and-fill.stories.mdx
  webpack/stories/index.js
  webpack/stories/index.scss
Labels: Needs testing, UI

#7344 Refs #28710 - Pin gettext on Ruby 2.3
  bundler.d/development.rb
Labels: Needs testing, Not yet reviewed

#7343 Refs #28710 - Pin gettext on Ruby 2.3
  bundler.d/development.rb
Labels: Needs testing, Not yet reviewed

#7346 Fixes #28727 - Correct dns_timeout setting value
  db/migrate/20200112121946_fix_dns_timeout_setting.rb
Labels: Needs testing

#7350 fixes #28735 - Audits page causes endless loop of calls
  webpack/assets/javascripts/react_app/common/HOC.js
Labels: Needs testing, Ready to merge, UI

#7351 Fixes #28538 - Remove Smart Variables from views
  app/views/puppetclasses/index.html.erb
Labels: Needs testing

#7349 Fixes #28733 - Editor allow refresh preview after error
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
Labels: Needs testing, UI

#7277 Fixes #28548 - added virtual machine command for compute resource
  app/controllers/api/v2/compute_resources_controller.rb
  app/models/compute_resource.rb
  app/registries/foreman/access_permissions.rb
  app/views/api/v2/compute_resources/available_virtual_machines.rabl
  config/routes/api/v2.rb
  db/seeds.d/020-permissions_list.rb
  test/controllers/api/v2/compute_resources_controller_test.rb
Labels: Needs testing

#7347 Fixes #28514 - Skip cycle validation for user type membership
  app/models/usergroup_member.rb
  test/models/usergroup_member_test.rb
Labels: Needs testing

#7314 Fixes #3678 - Make Pry default development console
  bundler.d/development.rb
Labels: Needs testing

#7345 Fixes #28724: Convert all Storybook stories to Component Story Format
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoComplete.stories.js
  webpack/assets/javascripts/react_app/components/Bookmarks/Bookmarks.stories.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.stories.js
  webpack/assets/javascripts/react_app/components/ConfigReports/DiffModal/DiffModal.stories.js
  webpack/assets/javascripts/react_app/components/DiffView/DiffView.stories.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModal.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModalUsage.stories.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.stories.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.stories.js
  webpack/assets/javascripts/react_app/components/common/DocumentationLink/DocumentationLink.stories.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/BarChart/BarChart.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/LineChart/LineChart.stories.js
  webpack/assets/javascripts/react_app/components/common/dates/dates.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/Form.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/Orderable.stories.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/powerStatusInner/PowerStatusInner.stories.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.stories.js
  webpack/assets/javascripts/react_app/components/statistics/ChartBox.stories.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/components/ExportButton/ExportButton.stories.js
Labels: Needs testing, UI

#6768 Fixes #26010 - boot_order by orderable select
  app/models/compute_resources/foreman/model/vmware.rb
  app/views/compute_resources_vms/form/vmware/_base.html.erb
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/OrderableSelect.js
Labels: Needs testing, UI

#6859 Fixes #27098 - Update scoped search descriptions
  Gemfile
  app/controllers/api/v2/auth_source_externals_controller.rb
  app/controllers/api/v2/auth_source_internals_controller.rb
  app/controllers/api/v2/auth_sources_controller.rb
  app/controllers/api/v2/http_proxies_controller.rb
  app/controllers/api/v2/personal_access_tokens_controller.rb
  app/controllers/api/v2/template_inputs_controller.rb
  app/controllers/concerns/api/v2/taxonomies_controller.rb
Labels: Needs testing

#7365 Fixes #28770 - add more formatting macros
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
Labels: Needs testing

#7262 Fixes #28519: Hash and run database seeds on startup
  app/models/foreman_internal.rb
  app/services/foreman_seeder.rb
  config/initializers/seeds.rb
  db/migrate/20200107181613_add_foreman_internal_table.rb
  db/seeds.rb
  test/unit/tasks/seeds_test.rb
Labels: Ready to merge

#7359 Fixes #28763 - split ChartBox and StatisticsChartsList
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.css
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.fixtures.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.stories.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.test.js
  webpack/assets/javascripts/react_app/components/ChartBox/__snapshots__/ChartBox.test.js.snap
  webpack/assets/javascripts/react_app/components/ChartBox/index.js
  webpack/assets/javascripts/react_app/components/ConfigReports/ConfigReports.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsList.fixtures.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsList.test.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsListStyles.scss
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/__snapshots__/StatisticsChartsList.test.js.snap
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/Statistics/Statistics.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.fixtures.js
Labels: Needs testing, Ready to merge, UI

#7352 Fixes #28737 - fix template assignment in OS form
  app/helpers/operatingsystems_helper.rb
  app/views/operatingsystems/_template_defaults.html.erb
  test/fixtures/templates.yml
Labels: Needs testing

#7363 Fixes #28768 - always export metadata first
  app/models/template.rb
  test/models/template_test.rb
Labels: Needs testing

#7226 Fixes #28405 - Missing permissions to Table Preferences
  app/registries/foreman/access_permissions.rb
  db/seeds.d/020-roles_list.rb
  test/controllers/api/v2/table_preferences_controller_test.rb
Labels: Needs testing

#7279 Fixes #28552 - update http_proxy model to filter/scope by taxonomy
  app/models/http_proxy.rb
  test/controllers/api/v2/http_proxies_controller_test.rb
  test/controllers/http_proxies_controller_test.rb
Labels: Needs testing

#7251 Fixes #28508 - Ovirt, Get instance unless id.empty
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#7331 Fixes #28617 - Drop Enable_Smart_Variables_in_ENC setting
  app/models/host_info_providers/puppet_info.rb
  app/models/setting/puppet.rb
  db/migrate/20200102150855_drop_smart_var_setting.rb
  test/fixtures/settings.yml
  test/models/host_test.rb
Labels: Needs testing

#7362 Fixes #28767: Drop extra transaction from plugin Role creation
  app/services/foreman/plugin/role_lock.rb
  test/unit/role_lock_test.rb
Labels: Needs testing

#7370 Fixes #28802 - lint issue in empty state component
  webpack/assets/javascripts/react_app/components/common/EmptyState/DefaultEmptyState.js
Labels: Needs testing, UI

#7374 Fixes #28820 - protect registering the react-component
  webpack/assets/javascripts/react_app/common/MountingService.js
Labels: Needs testing, UI

#7376 Fixes #28821 - Make component registry resiliant to duplication
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/components/componentRegistry.test.js
Labels: Needs testing, UI

#7377 Fixes #28823: Pin pry-byebug to less than 3.7.0
  bundler.d/development.rb
Labels: Needs testing

#7373 Fixes #28817 - fixed inconsistency in trend api params
  app/controllers/api/v2/trends_controller.rb
Labels: Needs testing

#7372 Fixes #28815 - keep .txt extension for text reports
  app/services/report_template_format.rb
  test/models/report_template_format_test.rb
Labels: Needs testing

#7367 Fixes #28783 - Update CR api 'region' description for AzureRm
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#7369 Fixes #25762 - display filterable request UUID
  app/models/concerns/audit_search.rb
  app/views/api/v2/audits/main.json.rabl
  webpack/assets/javascripts/react_app/components/AuditsList/ShowInlineRequestUuid.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/AuditsList.test.js
  webpack/assets/javascripts/react_app/components/AuditsList/__tests__/__snapshots__/AuditsList.test.js.snap
  webpack/assets/javascripts/react_app/components/AuditsList/audit.scss
  webpack/assets/javascripts/react_app/components/AuditsList/index.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/components/AuditsTable.js
Labels: Needs testing, UI

#7379 Fixes #28844 - protect the state from duplication
  webpack/assets/javascripts/react_app/redux/index.js
  webpack/assets/javascripts/react_app/redux/reducers/registerReducer.js
Labels: Ready to merge, UI

#7348 Fixes #28725 - prevent image field from disabling on host form
  app/assets/javascripts/host_edit.js
Labels: Legacy JS, Needs testing, Waiting on contributor

#7206 Fixes #21987 - Add UI for Auth Sources
  app/controllers/auth_source_externals_controller.rb
  app/controllers/auth_source_ldaps_controller.rb
  app/controllers/auth_sources_controller.rb
  app/helpers/auth_sources_helper.rb
  app/models/auth_source.rb
  app/models/setting.rb
  app/models/setting/auth.rb
  app/models/user.rb
  app/registries/foreman/access_permissions.rb
  app/registries/menu/loader.rb
  app/views/auth_source_externals/_external_card_kebab.html.erb
  app/views/auth_source_externals/_form.html.erb
  app/views/auth_source_externals/edit.html.erb
  app/views/auth_source_ldaps/_form.html.erb
  app/views/auth_source_ldaps/_ldap_card_kebab.html.erb
  app/views/auth_source_ldaps/_ldap_table.html.erb
  app/views/auth_source_ldaps/welcome.html.erb
  app/views/auth_sources/_auth_source_card.html.erb
  app/views/auth_sources/_welcome.html.erb
  app/views/auth_sources/index.html.erb
  app/views/common/_card.html.erb
  config/routes.rb
  db/migrate/20180720143228_set_default_authsource_external_setting.rb
  test/controllers/auth_source_externals_controller_test.rb
  test/controllers/auth_source_ldaps_controller_test.rb
  test/controllers/auth_sources_controller_test.rb
  test/factories/auth_source_external.rb
  test/integration/auth_source_ldap_test.rb
  test/integration/auth_source_test.rb
Labels: Needs testing

#7389 Fixes #28857 - protect the Intl from code duplications
  webpack/assets/javascripts/react_app/common/I18n.js
  webpack/assets/javascripts/react_app/common/forceSingleton.js
  webpack/assets/javascripts/react_app/common/forceSingleton.test.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/index.js
  webpack/assets/javascripts/react_app/redux/reducers/registerReducer.js
Labels: Needs testing, UI

#7388 Fixes #28824 - Make boot time search only explicit
  app/models/concerns/hostext/search.rb
Labels: Needs testing

#7382 [CP 1.24]Fixes #28725 - prevent image field from disabling on host form
  app/assets/javascripts/host_edit.js
Labels: Legacy JS, Needs testing, Stable branch

#7383 [CP 1.24]Fixes #28783 - Update CR api 'region' description for AzureRm
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing, Stable branch

#7393 Fixes #28863 - upgrade tfm-builder to v4.0.7
  package.json
Labels: Needs testing

#7395 Fixes #28872 - Raise minium secure_headers version
  Gemfile
Labels: Needs testing

#7295 Fixes #28575 - Fix Performance/RegexpMatch cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#7398 Fixes #28872 - Raise minium secure_headers version
  Gemfile
Labels: Needs testing

#7397 Fixes #28872 - Raise minium secure_headers version
  Gemfile
Labels: Needs testing

#7400 Fixes #28895 - Improve message for impersonation
  app/controllers/users_controller.rb
Labels: Ready to merge

#7121 Refs #26729 - replace notifications polling by middleware
  webpack/assets/javascripts/react_app/components/notifications/helpers.js
  webpack/assets/javascripts/react_app/components/notifications/index.js
  webpack/assets/javascripts/react_app/components/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/__snapshots__/notifications.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/notifications/constants.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/index.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalMiddleware.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/index.js
  webpack/assets/javascripts/react_app/redux/reducers/notifications/index.js
  webpack/assets/javascripts/react_app/redux/reducers/notifications/notifications.fixtures.js
Labels: Needs testing, UI

#7405 Fixes #28860 - fixing bad logging of bruteforce
  app/services/foreman/bruteforce_protection.rb
Labels: Needs testing
