Repository theforeman/foreman, pull requests merged in 2020-11, with the labels that each got.

#8119 Fixes #31228 - Improve UUID check performance
  lib/foreman.rb
Labels: Needs testing

#8104 Fixes #31020 - Global Registration & REX setup parameter
  app/controllers/api/v2/registration_controller.rb
  app/controllers/concerns/foreman/controller/registration.rb
  app/controllers/registration_controller.rb
  app/views/registration/_form.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/snippet/remote_execution_ssh_keys.erb
  db/seeds.d/180-common_parameters.rb
  test/controllers/api/v2/registration_controller_test.rb
  test/controllers/registration_controller_test.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD (mfsBSD) finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Atomic Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST SLES default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/remote_execution_ssh_keys.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData default.snap.txt
Labels: Needs testing, Templates

#8117 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/gl/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ko/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/sv_SE/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Legacy JS, Needs testing, Waiting on contributor

#8120 Fix ipv6 factory to stop failing
  test/factories/host_related.rb
Labels: Needs testing, Waiting on contributor

#8121 Fixes #31236 - Host setup action in RegistrationController extendable from plugins
  app/controllers/api/v2/registration_controller.rb
  app/controllers/registration_controller.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates, Waiting on contributor

#8092 Fixes #31082 - Add Insights snippet to the Kickstart templates
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  app/views/unattended/provisioning_templates/registration/linux_registration_default.erb
  app/views/unattended/provisioning_templates/snippet/insights.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
Labels: Needs testing, Templates

#8041 Fixes #30957 - External IPAM improved error handling and doc updates
  app/models/subnet.rb
  lib/proxy_api/external_ipam.rb
Labels: Needs testing, Waiting on contributor

#8125 Fixes #31258 - Don't fail migration if setting is hardcoded
  db/migrate/20200602155700_drop_puppet_run.rb
Labels: Needs testing

#8126 Fixes #31262 - Warn about incorrect logging layout
  lib/tasks/errors.rake
Labels: Needs testing

#6797 Fixes #26871 - restore taxonomy name as ID in API
  app/controllers/api/base_controller.rb
  app/controllers/concerns/application_shared.rb
Labels: Needs testing

#8103 Fixes #31168 - Add host name to ENC output
  app/models/host_info_providers/static_info.rb
Labels: Needs testing

#7684 Fixes #28214 - lock all input fields
  app/views/template_inputs/_form.html.erb
Labels: Needs testing, Waiting on contributor

#8132 Fixes #31291 - No breadcrumbs for React pages
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#8106 Fixes #31177 - make registration variables more readable
  app/controllers/concerns/foreman/controller/registration.rb
Labels: Needs testing

#7942 Fixes #30552 - Fix vmware vm cloning when volumes are not present
  app/models/compute_resources/foreman/model/vmware.rb
  test/models/compute_resources/vmware_test.rb
Labels: Needs testing

#8138 Fixes #31317 - Fix broken VNC console in a secured connection
  app/controllers/concerns/foreman/controller/console_common.rb
  lib/ws_proxy.rb
Labels: Needs testing

#8139 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/en/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/ja/foreman.po
  locale/zh_CN/foreman.po
Labels: Legacy JS, Needs testing, Waiting on contributor

#8134 Fixes #31168 - rename ENC var name to hostname
  app/models/host_info_providers/static_info.rb
Labels: Needs testing

#8128 Fixes #31273 - improve token logging
  app/models/concerns/hostext/token.rb
Labels: Needs testing

#8137 Fixes #31311 - add `id` to apidoc of interfaces_attributes
  app/controllers/api/v2/hosts_controller.rb
Labels: Needs testing

#7971 Fixes #30799 - Upgrade js tests to support Jest 26
  package.json
  webpack/assets/javascripts/react_app/common/IntegrationTestHelper.js
  webpack/assets/javascripts/react_app/components/common/Slot/__snapshots__/Slot.test.js.snap
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/__tests__/__snapshots__/ModelsPage.test.js.snap
Labels: Needs testing, UI, Waiting on Packaging

#8113 Fixes #31193 - allow ansible inventory template without Katello
  app/views/unattended/report_templates/ansible_-_ansible_inventory.erb
Labels: Needs testing, Templates

#8141 Fixes #31281 - Registration Form - Add info about JWT access
  app/views/registration/_form.erb
Labels: Needs testing

#8122 Fixes #31241 - show dateTimePicker default value
  webpack/assets/javascripts/react_app/components/Template/TemplateInput.js
  webpack/assets/javascripts/react_app/components/Template/__test__/__snapshots__/ReportTemplateInput.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/DatePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/DateTimePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/DateTime.test.js
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/__snapshots__/DateTime.test.js.snap
Labels: Needs testing, UI

#8140 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/gl/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ko/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/sv_SE/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Legacy JS, Needs testing, Waiting on contributor

#8097 Fixes #31139 - Docs - How to create plugin minor update
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Docs, Needs testing

#8131 Fixes #31290 - plugin_documentation_url params
  app/controllers/links_controller.rb
  test/controllers/links_controller_test.rb
Labels: Needs testing

#8060 Fixes #30934 - improve template invocation_form inputs
  app/helpers/templates_helper.rb
  app/views/template_inputs/_invocation_form.html.erb
  webpack/assets/javascripts/react_app/components/Template/Inputs/AutoComplete.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/Autocomplete.test.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/TemplateInput.fixures.js
  webpack/assets/javascripts/react_app/components/Template/Inputs/__snapshots__/Autocomplete.test.js.snap
  webpack/assets/javascripts/react_app/components/Template/TemplateInput.js
  webpack/assets/javascripts/react_app/components/Template/__test__/ReportTemplateInput.test.js
  webpack/assets/javascripts/react_app/components/Template/__test__/__snapshots__/ReportTemplateInput.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: UI

#8147 Fixes #31367 - Drop unused get_search_props method
  app/helpers/search_bar_helper.rb
Labels: Needs testing

#8146 Fixes #31365 - Breadcrumbs story is empty
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.stories.js
Labels: Needs testing, UI

#8142 Fixes #31345: Fix permissions undefined for nil due to race condition
  app/models/role.rb
Labels: Needs testing, Waiting on contributor

#8157 Fixes #31398 - Allow period in external usergroup name
  config/routes.rb
Labels: Needs testing

#8143 Fixes #31348 - raw params in foreman_url support
  app/views/unattended/provisioning_templates/iPXE/ipxe_intermediate_script.erb
  lib/foreman/foreman_url_renderer.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/iPXE intermediate script.snap.txt
  test/unit/foreman/renderer_test.rb
  test/unit/foreman_url_renderer_test.rb
Labels: Ready to merge, Templates

#8156 Fixes #31397 - Global Registration - Host Group not assigned
  app/controllers/registration_controller.rb
  app/views/registration/_form.erb
Labels: Needs testing, Waiting on contributor

#8159 Fixes #31397 - Global Registration - hostgroup_id instead of host_group_id
  app/controllers/registration_controller.rb
  app/views/registration/_form.erb
Labels: Needs testing, Waiting on contributor

#7973 Fixes #28521 - log location, pre/post, dynamic layout
  app/views/unattended/partition_tables_templates/kickstart_dynamic.erb
  app/views/unattended/provisioning_templates/provision/atomic_kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Atomic Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
Labels: Demo worthy, Needs testing, Templates

#8161 Fixes #31364 - Properly import facts when unattended == false
  app/models/host/managed.rb
Labels: Needs testing

#7505 Fixes #29324 - Adding head tags dynamically with react
  webpack/assets/javascripts/react_app/common/document.js
  webpack/assets/javascripts/react_app/components/Head/index.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.fixtures.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.test.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#7901 prefer exacter matches of the vlanid when auto-selecting a related network
  app/assets/javascripts/host_edit.js
Labels: Inactive, Legacy JS, Needs testing
