Repository theforeman/foreman, pull requests merged in 2020-04, with the labels that each got.

#7528 Fixes #1513 - distinguish between RHEL 7 Server and Workstation
  app/services/puppet_fact_parser.rb
  test/static_fixtures/facts/facts_rhel_7_server.json
  test/static_fixtures/facts/facts_rhel_7_workstation.json
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing, Waiting on contributor

#7073 Fixes #27975 - DHCP cleanup task
  lib/tasks/orchestration.rake
Labels: Demo worthy, Needs testing

#7472 Fixes #29178 - improved labels and help on proxy page
  app/views/smart_proxies/_form.html.erb
Labels: Needs testing

#7556 templates - sync from community-templates
  app/views/unattended/provisioning_templates/iPXE/ipxe_global_default.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_discovery.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_discovery.snap.txt
Labels: Needs testing, Waiting on contributor

#7559 Fixes #29464 - plain inputs can be hidden
  app/controllers/api/v2/template_inputs_controller.rb
  app/controllers/concerns/foreman/controller/parameters/template_input.rb
  app/models/template_input.rb
  app/views/api/v2/template_inputs/main.json.rabl
  app/views/template_inputs/_form.html.erb
  app/views/template_inputs/_invocation_form.html.erb
  db/migrate/20200402190048_add_hidden_value_to_template_input.rb
  webpack/assets/javascripts/foreman_template_inputs.js
Labels: Demo worthy, Needs testing, UI

#7557 Fixes #29452 - fk migrations cleanup
  db/migrate/20140910153654_move_host_nics_to_interfaces.rb
  db/migrate/20150514114044_migrate_ptables_to_templates.rb
  db/migrate/20150521121315_rename_config_template_to_provisioning_template.rb
Labels: Needs testing

#7552 Fixes #28620 - sqlite foreign_key removal
  config/initializers/sqlite_hacks.rb
Labels: Needs re-review, Needs testing

#7569 Refs #29481 - Pin capybara
  bundler.d/test.rb
Labels: Needs testing

#7568 Fixes #29477 - updated VMware vSphere 7.0 VM Hardware version
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#7571 Fixes #29491 - Simplify Plugin#pending_migration method
  app/registries/foreman/plugin.rb
Labels: Needs testing

#7572 Fixes #26210 - Don't remove locked template
  app/models/template.rb
Labels: Needs testing

#7551 Fixes #29439 - VMRC doesn't start
  app/views/hosts/console/vmrc.html.erb
Labels: Needs testing

#7577 Fixes #29504 - Skip plugin registration if the DB is not ready
  app/registries/foreman/plugin.rb
Labels: Ready to merge

#7589 Fixes #29525 - Use model name from global id to load object
  app/graphql/foreman_graphql_schema.rb
Labels: Needs testing

#7591 Fixes #29532 - Require scoped_search to 4.1.8
  Gemfile
Labels: Needs testing

#7586 Fixes #29523 - GraphQL collection preloading on Rails 6
  app/graphql/collection_loader.rb
  config/initializers/z_rails_5_compatibility.rb
Labels: Needs testing

#7553 Fixes #29447 - Build more efficient taxonomy search for filters
  app/models/filter.rb
  test/models/filter_test.rb
Labels: Needs testing

#7575 Refs #29483 - remove unecessary use of implicit scopes
  app/models/bookmark.rb
  app/models/concerns/audit_extensions.rb
  app/models/mail_notifications/config_management_error.rb
Labels: Needs testing

#7584 Fixes #29520 - use Arel.sql() where needed
  app/helpers/operatingsystems_helper.rb
  app/models/subnet.rb
  app/services/tax_host.rb
  config/as_deprecation_whitelist.yaml
  db/migrate/20171126131104_remove_duplicate_taxable_taxonomies.rb
  db/migrate/20171213161035_add_indexes_on_images.rb
Labels: Needs testing

#7588 Fixes #29524 - association loading in testing
  test/graphql/queries/usergroup_query_test.rb
  test/test_helper.rb
Labels: Needs testing

#7573 Fixes #29496 - Fix pagination for client-side paging
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.test.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.js
Labels: Needs testing, UI

#7192 Fixes #28323 - Collect information about Dynflow sidekiq in f-debug
  script/foreman-debug
Labels: Needs testing, Waiting on contributor

#7601 Fixes #28539 - Drop smart variables from DB
  db/migrate/20200406113832_drop_variable_lookup_key.rb
Labels: Needs testing

#7594 Fixes #29567 - Add nulldb for build environments
  bundler.d/nulldb.rb
  db/schema.rb.nulldb
Labels: Needs testing

#7604 Refs #29605 - pin babel-plugin-dynamic-import-node
  package.json
Labels: Needs testing

#7595 Docker nulldb
  Dockerfile
Labels: Needs testing

#7191 Fixes #29522 - upgrade jquery-ui-rails
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  bundler.d/assets.rb
Labels: Legacy JS, Needs testing

#7602 Refs #28539 - smart variables migration direction
  db/migrate/20200406113832_drop_variable_lookup_key.rb
Labels: Needs testing, Ready to merge

#7583 Fixes #26311 - graceful fail of external user creation
  app/models/user.rb
  test/models/user_test.rb
Labels: Needs testing

#7608 Fixes #29612 - Update debian.rb to support Ubuntu 20 legacy pxe
  app/models/operatingsystems/debian.rb
Labels: Needs testing

#7596 Fixes #28596 - remove smart variables from LookupKeysCommonController
  app/controllers/api/v2/override_values_controller.rb
  app/controllers/concerns/api/v2/lookup_keys_common_controller.rb
  test/controllers/concerns/lookup_keys_common_controller_test.rb
Labels: Needs testing

#7597 Fixes #29433 - seeding with scope
  db/seeds.d/150-bookmarks.rb
  lib/seed_helper.rb
  test/factories/bookmark.rb
  test/unit/seed_helper_test.rb
Labels: Needs testing

#7537 Fixes #29434 - Add basic documentation for template macros
  .gitignore
  Gemfile
  app/views/about/index.html.erb
  app/views/apipie_dsl/apipie_dsls/_help_accordion.html.erb
  app/views/apipie_dsl/apipie_dsls/help.html.erb
  config/initializers/apipie.rb
  config/routes.rb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/doc_templates/basic_ruby_methods.rb
  test/unit/foreman/access_permissions_test.rb
Labels: Ready to merge

#7609 Fixes #29621 - Switch default to Rails 6.0
  config/boot_settings.rb
  config/settings.yaml.example
Labels: Needs testing, Waiting on Packaging

#7613 Refs #27298 - Try to fix audit mailer test again
  test/mailers/audit_mailer_test.rb
Labels: Needs testing

#7600 Fixes #29584 - Preload Puma in production
  config/puma/production.rb
Labels: Needs testing

#7338 Fixes #28669 - Fix looping after logout for SSO users
  app/services/sso/openid_connect.rb
  test/unit/sso/openid_connect_test.rb
Labels: Needs testing, UI

#7622 Refs #29605 - pin more more of babel-plugin-dyncamic-import-node
  package.json
Labels: Needs testing

#7621 Fixes #29670 - upgrade patternfly
  bundler.d/assets.rb
Labels: Needs testing

#7565 Fixes #28598,#28597 - remove VariableLookupKey model, tests
  app/controllers/concerns/api/import_puppetclasses_common_controller.rb
  app/helpers/audits_helper.rb
  app/models/concerns/audit_search.rb
  app/models/lookup_keys/lookup_key.rb
  app/models/lookup_keys/variable_lookup_key.rb
  app/models/puppetclass.rb
  app/services/puppet_class_importer.rb
  db/migrate/20151220093801_remove_spaces_from_smart_variable_key.rb
  db/migrate/20160516070529_divide_lookup_key_permissions.rb
  db/migrate/20180816134832_cast_lookup_key_values.rb
  test/factories/puppet_related.rb
  test/fixtures/lookup_keys.yml
  test/models/lookup_key_test.rb
  test/models/lookup_keys/variable_lookup_key_test.rb
  test/models/lookup_value_test.rb
  test/models/puppetclass_test.rb
  test/models/subnet_test.rb
  test/unit/classification_test.rb
Labels: Needs testing

#7619 Fixes #29655 - Allow hosts for Rails in devel environment
  config/environments/development.rb
Labels: Needs testing

#7623 Fixes #29673 - Upgrade to Rails 6.0.2.2
  Gemfile
  bundler.d/assets.rb
  config/initializers/z_rails_5_compatibility.rb
Labels: Needs testing
