Repository theforeman/foreman, pull requests merged in 2020-08, with the labels that each got.

#7847 Fixes #30319 - Taxonomy scope for AuthSources#index
  app/controllers/auth_sources_controller.rb
Labels: Needs testing

#7870 Fixes #30526 - provisioning templates will be taken from CR in HG too
  app/models/concerns/hostext/operating_system.rb
Labels: Needs testing, Waiting on contributor

#7855 fixes #30499 - update latest versions of fedora, ruby and node
  Dockerfile
Labels: Needs testing

#7830 Fixes #30437 - add react context to pagination broken story
  webpack/assets/javascripts/react_app/components/Pagination/Context.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.stories.js
Labels: Needs testing, UI

#7857 Refs #30159 - drop Statistics UI
  test/integration/statistic_test.rb
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsList.fixtures.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsList.test.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsListStyles.scss
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/__snapshots__/StatisticsChartsList.test.js.snap
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/Statistics/Statistics.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.fixtures.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPageActions.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPageSelectors.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/StatisticsPage.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/StatisticsPageActions.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/StatisticsPageSelectors.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPageActions.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/__tests__/__snapshots__/StatisticsPageSelectors.test.js.snap
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/index.js
  webpack/assets/javascripts/react_app/routes/Statistics/constants.js
  webpack/assets/javascripts/react_app/routes/Statistics/index.js
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI, Waiting on contributor

#7858 Fixes #30159 - drop Statistics backend
  app/controllers/api/v2/statistics_controller.rb
  app/controllers/statistics_controller.rb
  app/registries/foreman/access_permissions.rb
  app/registries/menu/loader.rb
  app/services/statistics.rb
  app/services/statistics/base.rb
  app/services/statistics/count_facts.rb
  app/services/statistics/count_hosts.rb
  app/services/statistics/count_numerical_fact_pair.rb
  app/services/statistics/count_puppet_classes.rb
  config/routes.rb
  config/routes/api/v2.rb
  db/seeds.d/020-permissions_list.rb
  db/seeds.d/020-roles_list.rb
  test/controllers/api/v2/statistics_controller_test.rb
  test/controllers/statistics_controller_test.rb
  test/fixtures/filterings.yml
  test/fixtures/permissions.yml
  test/unit/foreman/access_permissions_test.rb
  test/unit/statistics_test.rb
Labels: Needs testing

#7875 Fixes #30551 - Move section to a parameter in documentation links
  app/helpers/application_helper.rb
Labels: Needs testing

#7882 Refs #28384 - handle case when request ID is missing
  lib/foreman/logging.rb
Labels: Needs testing

#7883 Fixes #30127 - always skip orchestration
  app/models/concerns/orchestration.rb
  app/services/host_fact_importer.rb
Labels: Needs testing

#7884 Fixes #30587 - forgeries rake task
  lib/tasks/seed.rake
Labels: Needs testing

#7880 Fixes #30563 - link to generated page instead of directory
  app/views/apipie_dsl/apipie_dsls/help.html.erb
Labels: Needs testing, Waiting on contributor

#7871 Fixes #30528 - Run rake console as dynflow client
  lib/tasks/console.rake
  lib/tasks/dynflow.rake
Labels: Needs testing

#7887 Fixes #30617 - Fix Change Owner bulk action
  app/helpers/host_description_helper.rb
Labels: Needs testing

#7876 Fixes #30554 - Update Storybook docs for plugins and mount_react_component
  webpack/stories/docs/adding-new-components.stories.mdx
  webpack/stories/docs/plugins.stories.mdx
Labels: Needs testing, Ready to merge, UI

#7862 Fixes #30510 - Compare host packages report
  app/views/unattended/report_templates/host_-_compare_content_hosts_packages.erb
Labels: Blocked by another PR, Ready to merge

#7890 Fixes #30614 - webcomponent mount on ptable welcome
  app/views/ptables/welcome.html.erb
Labels: Needs testing

#7894 Fixes #30620 - Fix CR creation from the API
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#7891 Fixes #30611 - webcomponent mount FactChart
  app/views/fact_values/_fact.html.erb
  webpack/assets/javascripts/react_app/components/FactCharts/index.js
Labels: Needs testing, UI

#7889 Add single commit check to GH actions
  .github/workflows/single_commit.yml
Labels: Needs re-review, Needs testing, Waiting on contributor

#7827 Fixes #30430 - fix split_matcher
  app/services/classification/values_hash_query.rb
  test/unit/classification/values_hash_query_test.rb
Labels: Needs testing

#7900 Fixes #30597 - replace mount_react_component in pagination
  app/views/common/_pagination.html.erb
Labels: Needs testing

#7893 Fixes #30613 - Use new mounter for report diff
  app/views/config_reports/show.html.erb
Labels: Needs testing

#7899 Fixes #30610 - Use new react mounter for vmware vm
  app/views/compute_resources_vms/form/vmware/_base.html.erb
Labels: Needs testing

#7906 Fixes #30650 - fixed linter error in HOC.js
  webpack/assets/javascripts/react_app/common/HOC.js
Labels: Needs testing, UI

#7878 Fixes #30558 - Fix typos in templates DSL
  app/models/host/base.rb
  app/models/operatingsystem.rb
  app/views/apipie_dsl/apipie_dsls/help.html.erb
  lib/foreman/renderer/doc_templates/basic_ruby_methods.rb
  lib/foreman/renderer/scope/macros/base.rb
  lib/foreman/renderer/scope/macros/loaders.rb
Labels: Legacy JS, Needs testing

#7902 Fixes #30600 - use react_component in asciidoc
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Needs testing

#7908 Refs #30659 - pin friendly_id to < 5.4
  Gemfile
Labels: Needs testing

#7888 Fixes #30618 - remove foreman-js:link
  script/npm_link_foreman_js.sh
  webpack/stories/docs/adding-dependencies.stories.mdx
Labels: Needs testing, UI, Waiting on contributor

#7864 Fixes #30512 - avoid query for smart proxy settings
  app/models/smart_proxy.rb
Labels: Needs testing

#7912 Fixes #30667 - Reuse log level configured for Dynflow for Sidekiq
  config/initializers/sidekiq.rb
Labels: Needs testing

#7907 Fixes #30595,#30656 - support rendering multiple distribution widgets
  app/views/dashboard/_distribution_widget.html.erb
Labels: Needs testing, Waiting on contributor

#7905 Fixes #30643 - Properly handle AuthSource subclasses
  app/models/auth_source.rb
Labels: Needs testing

#7916 Fixes #30598 - replace mount_react_component with react_component
  app/views/report_templates/report_data.html.erb
Labels: Needs testing

#7921 Fixes #30599 - replace mount_react_component in login
  app/views/common/_login.html.erb
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.js
  webpack/assets/javascripts/react_app/components/LoginPage/__tests__/__snapshots__/LoginPage.test.js.snap
Labels: Needs testing, UI

#7919 Fixes #30605 - replace mount_react_component in search
  app/helpers/search_bar_helper.rb
  app/views/common/_searchbar.html.erb
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/__tests__/__snapshots__/SearchBar.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#7897 Fixes #30556 - Get an accurate err for invalid hosts in report
  app/controllers/api/v2/report_templates_controller.rb
  app/views/unattended/report_templates/host_-_compare_content_hosts_packages.erb
  db/migrate/20200825121733_drop_compare_content_host_template.rb
Labels: Needs testing, Waiting on contributor

#7823 Fixes #30415 - use only repos managed by sub-man
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing

#7859 Fixes #30442 - Global registration template params & host registration
  app/controllers/api/v2/provisioning_templates_controller.rb
  app/controllers/concerns/foreman/controller/provisioning_templates.rb
  app/models/concerns/jwt_auth.rb
  app/registries/foreman/plugin.rb
  app/services/jwt_token.rb
  app/services/sso/jwt.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  config/routes.rb
  test/controllers/api/v2/provisioning_templates_controller_test.rb
  test/unit/jwt_token_test.rb
Labels: Demo worthy, Needs testing

#7877 Fixes #30555 - Authorizer uses subselect for joined_on
  app/services/authorizer.rb
  test/unit/authorizer_test.rb
Labels: Needs testing

#7841 Fixes #30466 - trigger toasts from API middleware
  webpack/assets/javascripts/react_app/components/Bookmarks/components/BookmarkForm/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/redux/API/APIActions.js
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIRequest.test.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIRequest.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
  webpack/assets/javascripts/react_app/redux/actions/toasts/index.js
  webpack/stories/docs/api-middleware.stories.mdx
Labels: Needs testing, Ready to merge, UI

#7872 Fixes #30538 - Update set of available events
  app/models/concerns/foreman/observable_model.rb
  app/models/domain.rb
  app/models/host/managed.rb
  app/models/hostgroup.rb
  app/models/model.rb
  app/models/subnet.rb
  app/models/user.rb
  test/models/concerns/foreman/observable_model_test.rb
  test/models/domain_test.rb
  test/models/hosts/managed_test.rb
  test/models/subnet_test.rb
  test/models/user_test.rb
Labels: Needs testing, Waiting on contributor

#7924 Fixes #30709 - disable hound eslint checks
  .hound.yml
Labels: Needs testing

#7926 Fixes #30712 - pin shoulda_matcher < 4.4
  bundler.d/test.rb
Labels: Needs testing

#7856 Fixes #30348 - trends cleanup task
  lib/tasks/cleanup.rake
Labels: Needs testing

#7920 Fixes #30606 - replace mount_react_component in extlogout
  app/helpers/external_logout_helper.rb
  webpack/assets/javascripts/react_app/components/ExternalLogout/externalLogout.scss
Labels: Needs testing, UI

#7932 Refs #30348 - statistic permission cleanup
  lib/tasks/cleanup.rake
Labels: Needs testing

#7933 Fixes #30609 - Use new react mounter for users form
  app/views/users/_form.html.erb
Labels: Needs testing

#7873 Fixes #29984 - Validate all ovirt volume attrs are string
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#7917 Fixes #30684 - add password edit button to the http proxy form
  app/views/http_proxies/_form.html.erb
Labels: Needs testing

#7935 Fixes #30596 - replace mount_react_component in config reports
  app/views/config_reports/_metrics.html.erb
Labels: Needs testing

#7853 Fixes #30492 - Fixed bug in Highly Available checkbox in ovirt cp
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
Labels: Needs testing

#7886 Fixes #30615 - Fix incorrect ipv6 error showing in host interfaces
  app/assets/javascripts/host_edit.js
  test/integration/host_js_test.rb
Labels: Legacy JS, Needs testing, Waiting on contributor

#7923 Fixes #29536: Use puma-systemd-plugin to provide systemd notify support
  bundler.d/service.rb
  config/puma/production.rb
  extras/systemd/foreman.service
Labels: Needs testing, Waiting on contributor

#7937 Fixes #30730 - Implement systemd notify support for dynflow-sidekiq
  bundler.d/dynflow_sidekiq.rb
  extras/dynflow-sidekiq.rb
  extras/systemd/dynflow-sidekiq@.service
Labels: Needs testing, Waiting on contributor

#7895 Fixes #30627 - mac address is not required for virtual resources
  app/models/nic/base.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing
