Repository theforeman/foreman, pull requests merged in 2020-06, with the labels that each got.

#7715 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/en/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/pt_BR/foreman.po
Labels: Legacy JS, Needs testing, Waiting on contributor

#7687 Fixes #29702 - added image validation check to ovirt
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#7677 Fixes #29900 - Add Cpu/Cores react component
  webpack/assets/javascripts/react_app/components/CPUCoresInput/CPUCoresInput.js
  webpack/assets/javascripts/react_app/components/CPUCoresInput/CPUCoresInput.stories.js
  webpack/assets/javascripts/react_app/components/CPUCoresInput/__tests__/CPUCoresInput.test.js
  webpack/assets/javascripts/react_app/components/CPUCoresInput/__tests__/__snapshots__/CPUCoresInput.test.js.snap
  webpack/assets/javascripts/react_app/components/CPUCoresInput/cpuCoresInput.scss
  webpack/assets/javascripts/react_app/components/CPUCoresInput/index.js
Labels: Needs testing, UI

#7710 Fixes #29850 - Add DSL docs for realm
  app/models/realm.rb
Labels: Needs testing, Waiting on contributor

#7717 Fixes #29990 - stop clear API response on polling
  webpack/assets/javascripts/react_app/redux/API/APIReducer.js
Labels: Needs testing, UI

#7713 Fixes #29974 - allow subnet helpers
  app/models/operatingsystem.rb
  app/models/smart_proxy.rb
  app/models/subnet.rb
  test/factories/feature.rb
  test/factories/smart_proxy.rb
  test/models/smart_proxy_test.rb
Labels: Needs testing

#7685 Fixes #29909 - Fetch all records from API
  app/controllers/api/base_controller.rb
  app/controllers/api/v2/base_controller.rb
  app/controllers/api/v2/settings_controller.rb
  test/controllers/api/v2/architectures_controller_test.rb
  test/controllers/shared/basic_rest_response_test.rb
Labels: Demo worthy, Needs testing

#7714 Fixes #29973 - Move property docs next to the jail
  app/models/domain.rb
  app/models/ssh_key.rb
  app/models/taxonomies/location.rb
  app/models/taxonomies/organization.rb
  app/models/taxonomy.rb
Labels: Needs testing

#7707 Fixes #29855 - Add DSL docs for users
  app/models/user.rb
Labels: Needs testing

#7722 Fixes #29974 - allow subnet helpers (CP 2.1)
  app/models/operatingsystem.rb
  app/models/smart_proxy.rb
  app/models/subnet.rb
  test/factories/feature.rb
  test/factories/smart_proxy.rb
  test/models/smart_proxy_test.rb
Labels: Needs testing, Stable branch

#7709 Fixes #29856 - Add DSL docs for subnets
  app/models/subnet.rb
Labels: Needs testing

#7679 Fixes #29903 - Add select functionality to table
  webpack/assets/javascripts/react_app/components/common/table/TableSelection.stories.mdx
  webpack/assets/javascripts/react_app/components/common/table/actions/__snapshots__/selectionActions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/actions/index.js
  webpack/assets/javascripts/react_app/components/common/table/actions/selectionActions.js
  webpack/assets/javascripts/react_app/components/common/table/actions/selectionActions.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/TableSelectionCell.js
  webpack/assets/javascripts/react_app/components/common/table/components/TableSelectionHeaderCell.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/DeleteButton.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/HostsCountCell.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/NameCell.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/SortableHeader.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/Table.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/TableBody.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/TableBodyMessage.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/TableSelectionCell.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/TableSelectionHeaderCell.test.js
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/__snapshots__/Table.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/__snapshots__/TableBody.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/__snapshots__/TableBodyMessage.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/__snapshots__/TableSelectionCell.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/components/__tests__/__snapshots__/TableSelectionHeaderCell.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/constants/SelectionConstants.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/__test__/__snapshots__/selectionCellFormatter.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/formatters/__test__/__snapshots__/selectionHeaderCellFormatter.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/formatters/__test__/selectionCellFormatter.test.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/__test__/selectionHeaderCellFormatter.test.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/index.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/selectionCellFormatter.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/selectionHeaderCellFormatter.js
  webpack/assets/javascripts/react_app/components/common/table/index.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/__snapshots__/createTableReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/reducers/__snapshots__/selectionReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/index.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/selectionReducer.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/selectionReducer.test.js
  webpack/assets/javascripts/react_app/components/common/table/schemaHelpers/index.js
  webpack/assets/javascripts/react_app/components/common/table/schemaHelpers/selection.js
  webpack/assets/javascripts/react_app/components/common/table/schemaHelpers/selection.test.js
  webpack/assets/javascripts/react_app/components/common/table/selectors/selectionSelectors.js
Labels: Needs testing, UI

#7648 Fixes #29219 - Deploy Storybook to surge.sh
  .github/workflows/storybook_deploy_main.yml
  README.md
Labels: Needs testing, Waiting on contributor

#7727 Fixes #30052 - Do not dump dynflow tables when dumping db schema
  config/initializers/dynflow.rb
Labels: Needs testing

#7721 Fixes #30014 - set MALLOC_ARENA_MAX=2 for puma
  extras/systemd/foreman.service
Labels: Needs testing

#7337 Fixes #28664 - support API middleware response callbacks
  webpack/assets/javascripts/react_app/redux/API/APIActions.js
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIRequest.test.js
  webpack/stories/docs/api-middleware.stories.mdx
Labels: Needs testing, UI

#7731 Fixes #29852 - Add DSL docs for PTables
  app/models/ptable.rb
  app/models/template.rb
Labels: Needs testing

#7741 Fixes #30052 - Do not dump dynflow tables when dumping db schema
  config/initializers/dynflow.rb
Labels: Needs testing, Stable branch

#7740 Fixes #30097 - media provider friendly_name method removed
  app/registries/foreman/plugin/medium_providers_registry.rb
Labels: Needs testing

#7259 Fixes #28515 - refactor power status
  app/views/hosts/_list.html.erb
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatus.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatus.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatus.stories.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatus.test.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatusConstants.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatusSelectors.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/__snapshots__/PowerStatus.test.js.snap
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/__tests__/PowerStatus.test.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/__tests__/PowerStatusSelectors.test.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/__tests__/__snapshots__/PowerStatus.test.js.snap
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/__tests__/__snapshots__/PowerStatusSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/powerStatusInner/PowerStatusInner.scss
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/powerStatusInner/PowerStatusInner.stories.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/powerStatusInner/index.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/powerStatus.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/powerStatus/powerStatus.test.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/index.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/__snapshots__/powerStatus.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/index.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/powerStatus/powerStatus.test.js
  webpack/stories/components/StoryWithCustomState/index.js
  webpack/stories/components/index.js
Labels: Needs testing, UI

#7730 Fixes #29853 - Add DSL docs for OS
  app/models/operatingsystem.rb
Labels: Needs testing

#7701 Refs #26925 - registration token method naming
  app/services/foreman_register/registration_token.rb
  test/unit/foreman_register/registration_token_test.rb
Labels: Needs testing

#7716 Fixes #29988 - Upgrade Rails to 6.0.3.1
  Gemfile
  app/models/host/managed.rb
  config/as_deprecation_whitelist.yaml
Labels: Needs testing

#7736 Fixes #29854 - Add DSL docs for host groups
  app/models/hostgroup.rb
Labels: Needs testing

#7723 Fixes #29967 - encrypt root password in settings
  app/models/setting/provisioning.rb
Labels: Needs testing, Waiting on contributor

#7729 Fixes #30056 - Forcing Unicode in reports
  app/models/stored_value.rb
  test/models/stored_value_test.rb
Labels: Needs testing

#7750 [CP-2.1] Fixes #29490 - adds http_proxy support in GCE
  app/models/compute_resources/foreman/model/gce.rb
  app/views/compute_resources/form/_gce.html.erb
Labels: Needs testing, Stable branch

#7720 Fixes #30001 - fix auth sources breadcrumbs
  app/views/auth_source_externals/edit.html.erb
  app/views/auth_source_ldaps/edit.html.erb
  app/views/auth_source_ldaps/new.html.erb
Labels: Needs testing

#7753 Fixes #30139 - UserDropdowns.scss is a duplicate
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.scss
Labels: Needs testing, UI

#7751 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/en/app.js
  locale/foreman.pot
Labels: Legacy JS, Needs testing, Not yet reviewed, Stable branch, Waiting on contributor

#7724 Fixes #30030 - use media_type where appropriate
  config/application.rb
  config/as_deprecation_whitelist.yaml
  test/controllers/api/v2/provisioning_templates_controller_test.rb
  test/controllers/api/v2/ptables_controller_test.rb
  test/controllers/api/v2/report_templates_controller_test.rb
  test/controllers/provisioning_templates_controller_test.rb
  test/controllers/ptables_controller_test.rb
  test/controllers/report_templates_controller_test.rb
Labels: Needs testing

#7186 Fixes #28303 - connect react router to redux
  webpack/assets/javascripts/foreman_navigation.js
  webpack/assets/javascripts/react_app/Root/ReactApp.js
  webpack/assets/javascripts/react_app/components/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/history.js
  webpack/assets/javascripts/react_app/redux/index.js
  webpack/assets/javascripts/react_app/redux/middlewares/index.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/routes/RouterSelector.js
  webpack/assets/javascripts/react_app/routes/index.js
  webpack/stories/docs/connected-react-router.stories.mdx
Labels: Legacy JS, Needs testing, UI

#7757 Sync templates and generate snapshot for 2.1
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_discovery.erb
  app/views/unattended/report_templates/host_-_registered_content_hosts.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Kickstart default PXEGrub2.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_discovery.snap.txt
Labels: Needs testing, Waiting on contributor

#7752 Fixes #30138 - report template download button
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGenerator.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/__snapshots__/TemplateGenerator.test.js.snap
Labels: Needs testing, UI

#7758 Fixes #30138 - report template download button
  webpack/assets/javascripts/react_app/components/TemplateGenerator/TemplateGenerator.js
  webpack/assets/javascripts/react_app/components/TemplateGenerator/__tests__/__snapshots__/TemplateGenerator.test.js.snap
Labels: Needs testing, UI

#7742 Fixes #30107 - graphql powerStatus field
  app/graphql/resolvers/host/power_status.rb
  app/graphql/types/host.rb
  test/graphql/resolvers/host/power_status_test.rb
Labels: Needs testing

#7761 Fixes #30154 - Use LazyValidator for models
  app/models/hostgroup.rb
  app/models/operatingsystem.rb
  app/models/ssh_key.rb
  app/models/subnet.rb
  app/models/user.rb
Labels: Needs testing

#7574 Fixes #29498 - improve pending_migrations check
  app/registries/foreman/plugin.rb
  app/services/foreman_seeder.rb
Labels: Needs testing

#7187 Fixes #28226 - upgrade to sprockets 4
  Gemfile
  app/assets/config/manifest.js
  bundler.d/assets.rb
  config/initializers/assets.rb
Labels: Legacy JS, Needs testing, Waiting on Packaging

#7744 Fixes #30110 - upgrade vendor to v4.7.0
  package.json
Labels: Needs testing

#7519 Fixes #29331 - use patternfly v4 fonts
  app/assets/stylesheets/base-pf4.scss
  app/assets/stylesheets/base.scss
  app/assets/stylesheets/navigation.scss
  app/assets/stylesheets/typography.scss
  app/controllers/application_controller.rb
  app/views/dashboard/_new_hosts_widget_host_list.html.erb
  app/views/hosts/_list.html.erb
  app/views/layouts/base.html.erb
  vendor/assets/fonts/overpass_bold-web.woff
  vendor/assets/fonts/overpass_regular-web.woff
Labels: Needs testing

#7732 Fixes #29851 - Add DSL docs for NIC
  app/models/nic/base.rb
Labels: Needs testing

#7733 Fixes #28986 - Hide host selector from report templates
  app/models/report_template.rb
  app/models/template.rb
  app/views/templates/_form.html.erb
  webpack/assets/javascripts/react_app/components/Editor/Editor.fixtures.js
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorNavbar.test.js.snap
Labels: Needs testing, UI

#7746 Fixes #29849 - Add DSL docs for hosts
  app/models/concerns/host_common.rb
  app/models/concerns/host_params.rb
  app/models/host/base.rb
  app/models/host/managed.rb
Labels: Needs testing

#7767 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  locale/fr/foreman.po
  locale/ja/foreman.po
  locale/zh_CN/foreman.po
Labels: Legacy JS, Needs testing, Stable branch, Waiting on contributor

#7738 Fixes #30085 - return after interval middleware stop action
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalHelpers.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalMiddleware.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalHelpers.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalMiddleware.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalHelpers.test.js.snap
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalMiddleware.test.js.snap
Labels: Needs testing, UI

#7694 Fixes #29445 - restrict STI deletion to admin
  app/controllers/application_controller.rb
  app/views/common/confirm_class_clean_up.html.erb
Labels: Needs testing

#7764 Fixes #30178 - User role with long name overlaps to another column
  app/assets/stylesheets/base.scss
  app/views/roles/index.html.erb
Labels: Needs testing

#7756 Fixes #30146 - Allow running Rake tasks as Dynflow clients
  lib/tasks/dynflow.rake
Labels: Needs testing

#7773 Refs #29331 - increase the vertical nav font-size
  app/assets/stylesheets/base-pf4.scss
Labels: Needs testing

#7771 Refs #30085 - pass stop_interval action to reducer
  webpack/assets/javascripts/react_app/components/notifications/notifications.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/IntervalMiddleware.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/IntervalMiddleware.test.js
  webpack/assets/javascripts/react_app/redux/middlewares/IntervalMiddleware/__tests__/__snapshots__/IntervalMiddleware.test.js.snap
Labels: Needs testing, UI

#7745 Fixes #30080 - run plugins react tests in GH action
  .github/workflows/plugins_react_tests.yml
Labels: Needs testing

#7780 Fixes #30231 - Fix keyboard to keyboard_layout in ovirt CR API
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#7760 Fixes #30152 - Unfreeze full_name for settings
  app/models/setting.rb
Labels: Needs testing
