Repository theforeman/foreman, pull requests merged in 2020-09, with the labels that each got.

#7896 Fixes #30638 - replace react-numeric-input with rc-number-input
  .stylelintrc
  package.json
  webpack/assets/javascripts/react_app/components/CPUCoresInput/__tests__/__snapshots__/CPUCoresInput.test.js.snap
  webpack/assets/javascripts/react_app/components/CPUCoresInput/cpuCoresInput.scss
  webpack/assets/javascripts/react_app/components/common/forms/NumericInput.js
  webpack/assets/javascripts/react_app/components/common/forms/NumericInput.scss
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/disk/disk.scss
Labels: UI, Waiting on Packaging

#7943 Fixes #30601 - replace mount_react_component in toasts
  app/helpers/application_helper.rb
Labels: Needs testing

#7952 Fixes #30706 - Gracefully recover from CR connection error
  app/controllers/compute_resources_controller.rb
Labels: Needs testing

#7948 Fixes #30603 - replace mount_react_component in templates helper
  app/helpers/templates_helper.rb
  app/views/template_inputs/_invocation_form.html.erb
Labels: Needs testing

#7950 Refs #27298 - drop unstable audit mailer test
  test/mailers/audit_mailer_test.rb
Labels: Needs testing

#7953 Fixes #30739 - User must login with the assigned auth source
  app/models/user.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
  test/models/user_test.rb
Labels: Needs testing

#7958 Fixes #30778 - Report Template host_cores macro
  lib/foreman/renderer/scope/macros/base.rb
Labels: Needs testing

#7959 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/cs_CZ/foreman.po
  locale/en/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/ja/foreman.po
  locale/pt_BR/foreman.po
  locale/zh_CN/foreman.po
Labels: Legacy JS, Needs testing, Stable branch, Waiting on contributor

#7945 Fixes #30744 - fix host creation when volume is empty
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#7962 Fixes #30786 - Fix yup snapshots
  webpack/assets/javascripts/react_app/components/Bookmarks/components/BookmarkForm/__tests__/__snapshots__/BookmarkForm.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/__snapshots__/ForemanForm.test.js.snap
Labels: Needs testing, UI

#7955 Fixes #30763 - move architecture to abstract provider
  app/services/medium_providers/default.rb
  app/services/medium_providers/provider.rb
Labels: Needs testing

#7941 Fixes #30608 - Use new react mounter for templates form
  app/views/templates/_form.html.erb
  test/integration/ptable_js_test.rb
  test/integration/report_template_js_test.rb
Labels: Needs testing, UI

#7966 Fixes #30790 - wrap all examples in apipie_dsl_example()
  app/views/apipie_dsl/apipie_dsls/help.html.erb
Labels: Needs testing

#7918 Fixes #30698 - set title for new/edit auth source ldaps
  app/views/auth_source_externals/edit.html.erb
  app/views/auth_source_ldaps/edit.html.erb
  app/views/auth_source_ldaps/new.html.erb
Labels: Needs testing

#7956 Fixes #30768 - remove API status selector default
  webpack/assets/javascripts/react_app/redux/API/APISelectors.js
Labels: Needs testing, UI

#7968 Fixes #30792 - Added root pw for image based deploy
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
Labels: Needs testing, Templates, Waiting on contributor

#7915 Fixes #30444 - Host registration template
  app/controllers/foreman_register/hosts_controller.rb
  app/models/host/base.rb
  app/views/api/v2/hosts/main.json.rabl
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/foreman_register/hosts_controller_test.rb
  test/models/host_test.rb
Labels: Needs testing

#7938 Fixes #30734 - Use noninteractive frontend while installing freeipa-client on debian systems.
  app/views/unattended/provisioning_templates/snippet/freeipa_register.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/freeipa_register.snap.txt
Labels: Needs testing, Templates, Waiting on contributor

#7985 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  locale/en/foreman.po
  locale/foreman.pot
  locale/ja/foreman.po
  locale/zh_CN/foreman.po
Labels: Legacy JS, Needs testing, Stable branch, Waiting on contributor

#7913 Fixes #30681 - fact value host search
  app/models/concerns/hostext/search.rb
Labels: Needs testing

#7977 Fixes #28210 - API to fix Locked template input
  app/models/template_input.rb
  test/factories/report_template.rb
  test/models/template_input_test.rb
Labels: Needs testing

#7986 Fixes #30836 - prevent DHCP nil exception
  app/models/concerns/orchestration/dhcp.rb
Labels: Needs testing

#7842 Refs #29992 - pass stopInterval as callback also on API success
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIRequest.test.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIRequest.test.js.snap
  webpack/stories/docs/api-middleware.stories.mdx
  webpack/stories/docs/interval-middleware.stories.mdx
Labels: Needs testing, UI

#7982 Fixes #30822 - disabling filling of mac address in UI when hostgroup is set
  app/models/concerns/orchestration/compute.rb
  test/models/orchestration/dhcp_test.rb
Labels: Needs testing

#7995 Fixes #30847 - rebuild taxonomy_search
  db/migrate/20200908120905_rebuild_taxonomy_search.rb
Labels: Needs testing

#7992 Fixes #30843 - check for seeding on template input lock
  app/models/template_input.rb
Labels: Needs testing

#7879 Fixes #30559 - allow "ids" in safemode for ActiveRecord
  config/initializers/active_record_extensions.rb
Labels: Needs testing

#7983 Fixes #30830 - Fix ovirt CR creation from API
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Needs testing

#8003 Refs #30667 - Use separate logger config for sidekiq workers
  config/application.rb
  config/initializers/sidekiq.rb
  config/settings.yaml.example
Labels: Needs testing

#7993 Fixes #30844 - do not error on exposed port for BIOS
  app/models/operatingsystem.rb
  test/models/operatingsystem_test.rb
Labels: Needs testing

#7979 Fixes #30817 - Remove AIO dirs in puppet.conf
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet.conf.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.snap.txt
Labels: Needs testing

#7867 Fixes #30519 - Add queries for config reports
  app/graphql/types/config_report.rb
  app/graphql/types/host.rb
  app/graphql/types/query.rb
  test/graphql/queries/config_report_query_test.rb
  test/graphql/queries/config_reports_query_test.rb
Labels: Ready to merge

#7765 Fixes #30029 - telemetry label filter
  config/initializers/5_telemetry_metrics.rb
  lib/foreman/telemetry.rb
  lib/foreman/telemetry_sinks/prometheus_sink.rb
Labels: Needs testing

#7815 Fixes #28787 - Introduce last host checkin report
  app/views/unattended/report_templates/host_-_last_checkin.erb
Labels: Needs testing

#7957 Fixes #30774 - Show cancel btn on new hw model page
  webpack/assets/javascripts/react_app/routes/index.js
Labels: Needs testing, UI

#7863 Refs #29295 - fixes the API doc
  app/controllers/api/v2/hosts_controller.rb
Labels: Needs testing

#7929 Fixes #30715 - Add foreman JS tests github action
  .dockerignore
  .github/workflows/js_tests.yml
  .travis.yml
  script/travis_run_js_tests.sh
Labels: Needs testing, UI

#7949 Fixes #30750 - poweroff -r command for SSH finish
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/finish/alterator_default_finish.erb
  app/views/unattended/provisioning_templates/finish/freebsd_(mfsbsd)_finish.erb
  app/views/unattended/provisioning_templates/finish/jumpstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/finish/xenserver_default_finish.erb
  app/views/unattended/provisioning_templates/snippet/blacklist_kernel_modules.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
  app/views/unattended/provisioning_templates/snippet/schedule_reboot.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub/Kickstart default PXEGrub.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Kickstart default PXEGrub2.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Kickstart default PXELinux.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD (mfsBSD) finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/XenServer default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST SLES default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet.conf.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData default.snap.txt
Labels: Ready to merge

#8016 Refs #30750 - update snapshots for puppet sha change
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD (mfsBSD) finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST SLES default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet.conf.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed default user data.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData default.snap.txt
Labels: Needs testing

#8013 Refs #30715 - Set timeout for JS GH actions
  .github/workflows/js_tests.yml
  .github/workflows/plugins_react_tests.yml
Labels: Needs testing

#8010 Refs #30029 - moved initialization of allowed tags
  config/initializers/5_telemetry_metrics.rb
  lib/foreman/telemetry.rb
Labels: Needs testing

#8017 Fixes #30905 - do not use ancestry 3.2.0
  Gemfile
Labels: Needs testing

#8021 Fixes #30916 - pin puma to < 5.0
  bundler.d/service.rb
  bundler.d/test.rb
Labels: Needs testing

#8023 Fixes #30916 - pin puma to < 5.0
  bundler.d/service.rb
  bundler.d/test.rb
Labels: Needs testing, Stable branch

#8022 Fixes #30916 - pin puma to < 5.0
  bundler.d/service.rb
  bundler.d/test.rb
Labels: Needs testing, Stable branch

#7970 Fixes #30798 - remove unused erb in apipie_dsls
  app/views/apipie_dsl/apipie_dsls/_help_accordion.html.erb
Labels: Needs testing

#8019 Fixes #30912 - Fix ovirt API CR creation with Quota name
  app/models/compute_resources/foreman/model/ovirt.rb
Labels: Needs testing

#7936 Fixes #30607 - replace mount_react_component in Slot
  app/helpers/extendable_components_helper.rb
Labels: Needs testing

#7944 Fixes #30602 - Use new react mounter for form_helper
  app/helpers/form_helper.rb
Labels: Needs testing

#8029 Refs #30840 - spelling findings after using eslint spellcheck plugin
  app/controllers/api/graphql_controller.rb
  app/controllers/unattended_controller.rb
  app/models/concerns/orchestration/common.rb
  app/validators/subnets_consistency_validator.rb
  lib/tasks/rss.rake
  lib/tasks/templates_renderer.rake
  test/controllers/users_controller_test.rb
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/AutoComplete/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.stories.js
  webpack/assets/javascripts/react_app/components/ForemanModal/ForemanModal.stories.js
  webpack/assets/javascripts/react_app/components/common/ActionButtons/ActionButtons.stories.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.stories.js
  webpack/assets/javascripts/react_app/components/common/dates/dates.stories.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.stories.js
  webpack/assets/javascripts/react_app/components/common/table/reducers/__snapshots__/createTableReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/common/table/reducers/createTableReducer.test.js
  webpack/assets/javascripts/react_app/components/hosts/powerStatus/PowerStatus.stories.js
  webpack/stories/docs/api-middleware.stories.mdx
Labels: Needs testing, UI

#7972 Refs #30803: Enable unix socket binding
  config/puma/production.rb
  extras/systemd/foreman.service
Labels: Needs testing

#7946 Fixes #30604 - replace mount_react_component in ReactApp
  app/helpers/layout_helper.rb
  app/views/layouts/base.html.erb
  test/controllers/shared/basic_rest_response_test.rb
  webpack/assets/javascripts/react_app/Root/ReactApp.js
  webpack/assets/javascripts/react_app/components/Layout/components/LayoutContainer.js
  webpack/assets/javascripts/react_app/components/Layout/components/LayoutContainer.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/LayoutContainer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: Needs testing, UI

#8032 Fixes #30932: Rescue from RecordInvalid for plugin role creation
  app/services/foreman/plugin/role_lock.rb
Labels: Needs testing

#8031 Fixes #30931 - Add a default empty query string to pushUrl helper
  webpack/assets/javascripts/foreman_navigation.js
Labels: Needs testing, UI

#8020 Fixes #13459 - libvirt name coding
  app/views/compute_resources_vms/form/libvirt/_network.html.erb
  app/views/compute_resources_vms/form/libvirt/_volume.html.erb
Labels: Blocked by another PR, Needs testing
