Repository theforeman/foreman, pull requests merged in 2020-10, with the labels that each got.

#8026 Fixes #30921 - enable authorized link_to from engines
  app/helpers/application_helper.rb
Labels: Needs testing

#8030 Fixes #30930 Allow methods to traverse hostgroup hierarchy
  app/models/hostgroup.rb
Labels: Needs testing

#8038 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/en/app.js
  locale/foreman.pot
Labels: Legacy JS, Needs testing, Stable branch, Waiting on contributor

#8028 Fixes #30922 - common lookup_key rabl template
  app/views/api/v2/lookup_keys/base.json.rabl
  app/views/api/v2/lookup_keys/main.json.rabl
  app/views/api/v2/puppetclasses/show.json.rabl
  app/views/api/v2/smart_class_parameters/main.json.rabl
Labels: Needs testing

#8018 Fixes #30771 - Global registration - New Workflow
  app/controllers/api/v2/provisioning_templates_controller.rb
  app/controllers/api/v2/registration_controller.rb
  app/controllers/concerns/foreman/controller/parameters/registration.rb
  app/controllers/concerns/foreman/controller/provisioning_templates.rb
  app/controllers/concerns/foreman/controller/registration.rb
  app/registries/foreman/access_permissions.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/registration/linux_registration_default.erb
  app/views/unattended/provisioning_templates/snippet/insights.erb
  config/routes.rb
  db/seeds.d/180-common_parameters.rb
  test/controllers/api/v2/provisioning_templates_controller_test.rb
  test/controllers/api/v2/registration_controller_test.rb
Labels: Needs testing

#8050 Fixes #30992 - HRT API endpoint should document ipv6 parameter
  app/controllers/api/v2/registration_controller.rb
Labels: Needs testing

#8048 Fixes #30999 - Add :activation_key to the Global registration template
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Waiting on contributor

#8049 Fixes #30993 - Host Registration endpoind - Remove :owner from Host params
  app/controllers/concerns/foreman/controller/parameters/registration.rb
Labels: Needs testing, Waiting on contributor

#8057 Refs #29683 - clean up forgotten puts
  test/models/operatingsystem_test.rb
Labels: Needs testing

#8056 Fixes #31011 - Allow :url in SmartProxy jail
  app/models/smart_proxy.rb
Labels: Needs testing

#8025 Fixes #30446 - Global Registration Template - Default taxonomies
  app/controllers/concerns/foreman/controller/registration.rb
Labels: Needs testing

#8033 Fixes #30952 - Rename react-component to foreman-react-component
  app/helpers/reactjs_helper.rb
  webpack/assets/javascripts/react_app/common/MountingService.js
  webpack/stories/docs/adding-new-components.stories.mdx
  webpack/stories/docs/plugins.stories.mdx
Labels: Needs testing, UI

#7989 Fixes #30840 - Add eslint spellcheck
  .eslintignore
  .eslintrc
  .github/workflows/js_tests.yml
  package.json
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/__snapshots__/Parameters.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/__snapshots__/Properties.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/index.js
  webpack/assets/javascripts/react_app/components/common/ComponentWrapper/ComponentWrapper.js
  webpack/assets/javascripts/react_app/components/common/SubstringWrapper/index.js
  webpack/assets/javascripts/react_app/components/common/forms/Select.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/__snapshots__/controller.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/components/ModelDeleteModal.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/components/__snapshots__/ModelDeleteModal.test.js.snap
Labels: Legacy JS, Needs testing, UI

#8001 Fixes #30860 - introduce SettingPresenter
  app/helpers/settings_helper.rb
  app/models/setting.rb
  app/presenters/setting_presenter.rb
  app/views/api/v2/settings/index.json.rabl
  app/views/api/v2/settings/main.json.rabl
  app/views/api/v2/settings/show.json.rabl
  app/views/api/v2/settings/update.json.rabl
  test/models/setting_test.rb
  test/presenters/setting_presenter_test.rb
Labels: Needs testing

#7994 Fixes #30738 - Configure katello-agent with act key
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing

#7641 Fixes #29710 - Clean up .where conditions
  app/controllers/api/base_controller.rb
  app/controllers/application_controller.rb
  app/controllers/filters_controller.rb
  app/controllers/hosts_controller.rb
  app/helpers/common_parameters_helper.rb
  app/helpers/smart_proxies_helper.rb
  app/helpers/taxonomy_helper.rb
  app/models/concerns/authorizable.rb
  app/models/concerns/host_common.rb
  app/models/concerns/hostext/search.rb
  app/models/concerns/nested_ancestry_common.rb
  app/models/concerns/smart_proxy_host_extensions.rb
  app/models/concerns/taxonomix.rb
  app/models/config_group.rb
  app/models/environment_class.rb
  app/models/host/managed.rb
  app/models/hostgroup.rb
  app/models/lookup_value.rb
  app/models/nic/base.rb
  app/models/puppetclass.rb
  app/models/report.rb
  app/models/user.rb
  app/registries/foreman/plugin/rbac_support.rb
  app/services/authorizer.rb
  app/services/foreman/unattended_installation/host_finder.rb
  app/views/taxonomies/_form.html.erb
  db/migrate/20150525081931_remove_duplicate_tokens.rb
  test/controllers/locations_controller_test.rb
  test/controllers/organizations_controller_test.rb
  test/models/role_test.rb
  test/models/usergroup_member_test.rb
  test/models/usergroup_test.rb
Labels: Needs testing

#8053 Refs #29970 - speedup Applicable Errata report
  app/views/unattended/report_templates/host_-_applicable_errata.erb
Labels: Needs testing, Waiting on contributor

#7791 Fixes #29024 - help distinguish multiple Foremans from each other
  app/helpers/layout_helper.rb
  app/models/setting.rb
  app/models/setting/general.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/InstanceTitleViewer.js
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/UserDropdowns.test.js.snap
Labels: Needs testing, UI

#8062 Fixes #31030 - update broken snapshots
  webpack/assets/javascripts/react_app/components/HostDetails/Interfaces/__snapshots__/Interfaces.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/__snapshots__/Parameters.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/__snapshots__/Properties.test.js.snap
Labels: Needs testing, UI

#8064 Refs #31031 - no mixed hash keys
  .rubocop.yml
  app/controllers/application_controller.rb
  app/controllers/concerns/foreman/controller/template_rendering.rb
  app/controllers/hosts_controller.rb
  app/graphql/mutations/base_mutation.rb
  app/models/jwt_secret.rb
  app/models/subnet.rb
  test/controllers/api/v2/report_templates_controller_test.rb
  test/controllers/links_controller_test.rb
  test/integration/fact_value_test.rb
  test/models/auth_sources/auth_source_ldap_test.rb
  test/models/compute_resources/vmware_test.rb
  test/models/lookup_key_test.rb
  test/unit/foreman/renderer/scope/macros/base_test.rb
Labels: Needs testing

#8012 Refs #30519 - Add graphql types related to report
  app/graphql/types/config_report.rb
  app/graphql/types/log.rb
  app/graphql/types/message.rb
  app/graphql/types/report.rb
  app/graphql/types/source.rb
  test/graphql/queries/config_report_query_test.rb
Labels: Needs testing

#8052 Refs #29257 - clean up unused setting UI helpers
  app/helpers/settings_helper.rb
  app/models/setting.rb
  test/helpers/settings_helper_test.rb
  test/models/setting_test.rb
Labels: Needs testing

#8065 Fixes #31031 - no rocket hash keys in routes
  .rubocop.yml
  config/routes.rb
Labels: Needs testing

#8066 Fixes #31041 - Insights snippet - Add connection test
  app/views/unattended/provisioning_templates/snippet/insights.erb
Labels: Needs testing

#8061 Fixes #31015 - Add macros to deal with json and yaml in safemode
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/base.rb
  lib/foreman/renderer/scope/macros/helpers.rb
  test/unit/foreman/renderer/scope/macros/helpers_test.rb
Labels: Needs testing

#8055 Fixes #31016 - refresh registries after plugin testing
  app/models/concerns/host_common.rb
  app/models/concerns/host_template_helpers.rb
  app/models/operatingsystem.rb
  app/models/operatingsystems/solaris.rb
  app/models/operatingsystems/vrp.rb
  app/models/provisioning_template.rb
  app/registries/foreman/plugin.rb
  config/initializers/foreman.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  lib/foreman/renderer/scope/variables/base.rb
  test/models/concerns/belongs_to_proxies_test.rb
  test/models/operatingsystems/operatingsystems_test.rb
  test/models/operatingsystems/ztp_test.rb
  test/models/provisioning_template_test.rb
  test/test_helper.rb
  test/unit/medium_providers/default_test.rb
  test/unit/medium_providers/plugin_test.rb
  test/unit/plugin_test.rb
  test/unit/rabl_test.rb
Labels: Needs testing

#8037 Fixes #30946: Use Rails default for JSON root node
  app/assets/javascripts/host_edit.js
  app/controllers/api/v2/base_controller.rb
  config/initializers/wrap_parameters.rb
  test/controllers/hostgroups_controller_test.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.js
Labels: Legacy JS, Needs testing, UI

#8070 Refs #25478 - TemplateRenderJob mailer test
  test/jobs/template_render_job_test.rb
Labels: Needs testing

#8045 Fixes #30997 - allow image_path in all cases
  app/helpers/operatingsystems_helper.rb
  test/helpers/operatingsystems_helper_test.rb
Labels: Needs testing

#8046 Fixes #30929 - Deprecate ovirt v3 API
  app/views/compute_resources/form/_ovirt.html.erb
  config/initializers/deprecations.rb
Labels: Needs testing

#8036 Fix #30936 - Toast should have fallback type
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.fixtures.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.test.js
Labels: Needs testing, UI

#8071 Fixes #31048 - Fix 'add widget' dropdown header style
  app/helpers/dashboard_helper.rb
Labels: Needs testing, Not yet reviewed

#8027 Fixes #30926 - move parse_facts to HostFactImporter
  app/models/host/base.rb
  app/services/host_fact_importer.rb
  test/unit/facet_test.rb
Labels: Needs testing, Not yet reviewed

#8047 Fixes #30998 - Global Registration - Secure connection
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
Labels: Needs testing

#8039 Fixes #30949 - Safe mode preview
  .eslintrc
  app/controllers/concerns/foreman/controller/template_rendering.rb
  app/controllers/templates_controller.rb
  app/models/template.rb
  app/views/hosts/_templates.html.erb
  app/views/templates/_form.html.erb
  lib/foreman/renderer/base_renderer.rb
  lib/foreman/renderer/scope/base.rb
  lib/foreman/renderer/scope/macros/snippet_rendering.rb
  test/controllers/unattended_controller_test.rb
  webpack/assets/javascripts/react_app/components/Editor/Editor.fixtures.js
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSafemodeCheckbox.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorNavbar.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorNavbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/editorsafemodecheckbox.scss
Labels: Needs testing, UI

#8006 Fixes #30839 - accept Arrays of nested compute attributes
  app/models/compute_attribute.rb
  app/models/compute_resource.rb
  test/controllers/api/v2/compute_attributes_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/factories/compute_resources.rb
  test/models/compute_attribute_test.rb
  test/models/compute_resource_test.rb
Labels: Needs testing

#8081 update the number of vmware docs
  app/views/compute_resources/form/_vmware.html.erb
Labels: Needs testing, Waiting on contributor

#7909 Fixes #30535 - Use HTTP headers in puma
  app/controllers/application_controller.rb
  app/models/setting/auth.rb
  app/services/sso/apache.rb
  db/migrate/20200918223816_update_login_delegation_description.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
  test/controllers/users_controller_test.rb
  test/unit/sso/apache_test.rb
Labels: Needs testing

#7319 Fixes #28682 - stop using jquery in ToastNotifications
  app/helpers/application_helper.rb
  test/integration_test_helper.rb
  webpack/assets/javascripts/foreman_toast_notifications.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.fixtures.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.test.js
  webpack/assets/javascripts/react_app/components/ToastsList/__snapshots__/ToastsList.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/HostWizard/HostWizardPage/__snapshots__/HostWizard.test.js.snap
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/ModelsPage.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/__tests__/__snapshots__/ModelsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.fixtures.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.test.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#8075 Fixes #31071 - expose created_at for report template
  app/models/host/managed.rb
Labels: Needs testing

#8080 Fixes #31091 - logging config absolute path
  lib/foreman/logging.rb
Labels: Needs testing

#7825 Fixes #30417 - add pf4 EmptyState component
  webpack/assets/javascripts/react_app/components/common/EmptyState/DefaultEmptyState.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.scss
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.stories.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyState.test.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStateFixtures.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePattern.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePrimaryActionButton.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePropTypes.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStateSecondaryActionButtons.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/__snapshots__/EmptyState.test.js.snap
Labels: Needs testing, UI

#8084 Fixes #29017 - do not show 2nd tooltip on SP name
  app/views/smart_proxies/index.html.erb
Labels: Needs testing

#8079 Fixes #31090 - drop poltergeist dependency
  bundler.d/test.rb
  test/integration_test_helper.rb
Labels: Needs testing

#8087 Fixes #31107 - test Middleware on domain resource
  test/integration/middleware_test.rb
Labels: Needs testing

#8089 Refs #31107 - test login page separately
  test/integration/login_page_test.rb
Labels: Needs testing

#8040 Fixes #30942 - use react_component to mount breadcrumbs
  app/helpers/layout_helper.rb
  app/views/layouts/_application_content.html.erb
  test/active_support_test_case_helper.rb
  test/controllers/filters_controller_test.rb
  test/helpers/layout_helper_test.rb
  test/integration/auth_source_js_test.rb
  test/integration/bookmark_js_test.rb
  test/integration/compute_profile_js_test.rb
  test/integration/compute_profile_test.rb
  test/integration/config_report_js_test.rb
  test/integration/config_report_test.rb
  test/integration/host_js_test.rb
  test/integration/host_test.rb
  test/integration/location_js_test.rb
  test/integration/location_test.rb
  test/integration/organization_js_test.rb
  test/integration/organization_test.rb
  test/integration/smart_proxy_js_test.rb
  test/integration/usergroup_js_test.rb
  test/integration/usergroup_test.rb
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.fixtures.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#7967 Fixes #30791 - Add tab-extension ability (host details page)
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/HostDetails.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Details.css
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/common/Fill/FillActions.js
  webpack/assets/javascripts/react_app/components/common/Fill/FillReducer.js
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/__snapshots__/FillActions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/Slot/SlotSelectors.js
  webpack/assets/javascripts/react_app/components/common/Slot/__snapshots__/Slot.test.js.snap
  webpack/assets/javascripts/react_app/components/common/Slot/index.js
  webpack/assets/javascripts/services/SlotsRegistry/__snapshots__/SlotsRegistry.test.js.snap
  webpack/assets/javascripts/services/SlotsRegistry/index.js
Labels: Needs testing, UI

#8093 Fixes #31123 - cover menu generation by test
  test/unit/user_menu_test.rb
Labels: Needs testing

#7874 Fixes #30544 - deprecate mount_react_component
  app/helpers/reactjs_helper.rb
Labels: Needs testing

#7969 Fixes #30036 - add fallback to parameterize in templates
  app/views/templates/_form.html.erb
  app/views/templates/_help_accordion.html.erb
Labels: Needs testing

#7794 Fixes #29964 - Add memory allocation react component
  .eslintrc
  webpack/assets/javascripts/react_app/components/CPUCoresInput/__tests__/__snapshots__/CPUCoresInput.test.js.snap
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/MemoryAllocationInput.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/MemoryAllocationInput.stories.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/__tests__/MemoryAllocationInput.test.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/__tests__/__snapshots__/MemoryAllocationInput.test.js.snap
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/constants.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/index.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/memoryAllocationInput.scss
  webpack/assets/javascripts/react_app/components/common/forms/NumericInput.js
Labels: Blocked by another PR, Needs testing, UI

#8034 Fixes #30473 - UI for Global Registration
  app/controllers/registration_controller.rb
  app/registries/foreman/access_permissions.rb
  app/views/hosts/index.html.erb
  app/views/registration/_form.erb
  app/views/registration/create.html.erb
  app/views/registration/new.html.erb
  config/routes.rb
  test/controllers/registration_controller_test.rb
  webpack/assets/javascripts/foreman_hosts.js
Labels: Needs testing, UI

#7927 Fixes #30713 - power_status helper fixed
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Needs testing

#7999 Fixes #30852 - eager loading of report.logs
  app/controllers/api/v2/config_reports_controller.rb
Labels: Needs testing

#7987 Fixes #30838 - do not return report after create
  app/views/api/v2/config_reports/create.json.rabl
Labels: Needs testing

#7242 Fixes #28484 - Pass hostname to GCP API
  app/models/compute_resources/foreman/model/gce.rb
  bundler.d/gce.rb
Labels: Needs testing

#8099 Fixes #31161 - default cancel_path for engines
  app/helpers/form_helper.rb
Labels: Needs testing

#8096 Refs #30921 - enable authorized link_to from engines
  app/helpers/application_helper.rb
Labels: Needs testing

#8073 Fixes #31067 - improve error message for ESP chainload
  app/views/unattended/provisioning_templates/snippet/pxegrub2_chainload.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_chainload.snap.txt
Labels: Needs testing, Templates

#8068 Fixes #31043 - Global Registration Template - Replace JSON in CURL with form-data
  app/controllers/api/v2/registration_controller.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  test/controllers/api/v2/registration_controller_test.rb
Labels: Needs testing, Templates, Waiting on contributor

#7981 Fixes #30820 - drop digest and use hash index instead
  app/models/message.rb
  app/models/source.rb
  db/migrate/20200911083030_use_hash_index_for_reports.rb
  test/benchmark/puppet_report_benchmark.rb
  test/factories/reports_related.rb
  test/models/message_test.rb
Labels: Demo worthy, Needs testing

#8101 Fixes #31024 - Optimize host taxonomy_conditions
  app/models/host/base.rb
Labels: Demo worthy, Needs testing

#8083 Fixes #31099 - filter out unstable facts: memory and load
  app/models/setting/provisioning.rb
  test/fact_importer_test_helper.rb
  test/fixtures/settings.yml
Labels: Needs testing

#8054 Fixes #30459 - Global Registration Template - Smart Proxy callback support
  app/controllers/concerns/foreman/controller/registration.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/registration/linux_registration_default.erb
  test/controllers/api/v2/registration_controller_test.rb
Labels: Needs testing, Templates

#8067 Fixes #30890 - added externalipam to subnet API
  app/controllers/api/v2/subnets_controller.rb
Labels: Needs testing

#7925 Fixes #30710 - Add id to console button
  app/helpers/compute_resources_vms_helper.rb
Labels: Needs testing, Waiting on contributor

#8109 Refs #28384 - Use correct Foreman version in error log task
  lib/tasks/errors.rake
Labels: Needs testing

#8108 Fixes #31164 - Hosts Welcome page - Register host button
  app/views/hosts/welcome.html.erb
Labels: Demo worthy, Needs testing

#8111 Fixes #31191 - use correct status when report scheduling fails
  app/controllers/api/v2/report_templates_controller.rb
Labels: Needs testing

#8112 Refs #30791 - update snapshots due to pf4 update
  webpack/assets/javascripts/react_app/components/HostDetails/Interfaces/__snapshots__/Interfaces.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/__snapshots__/Parameters.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/__snapshots__/Properties.test.js.snap
Labels: Needs testing, UI

#8082 Fixes #31097 - link to a tab in host details page
  app/assets/javascripts/hosts.js
  app/assets/javascripts/proxy_status.js
  app/views/hosts/show.html.erb
  test/integration/host_js_test.rb
  webpack/assets/javascripts/foreman_tools.js
Labels: Legacy JS, Needs testing, UI

#6936 Fixes #27457 - Add support for react router in plugins
  webpack/assets/javascripts/react_app/components/common/Slot/SlotSelectors.js
  webpack/assets/javascripts/react_app/routes/ForemanSwitcher/ForemanSwitcher.js
  webpack/assets/javascripts/react_app/routes/ForemanSwitcher/index.js
  webpack/assets/javascripts/react_app/routes/RouterSelector.js
  webpack/assets/javascripts/react_app/routes/RoutingService.js
  webpack/assets/javascripts/react_app/routes/__test__/ForemanSwitcher.test.js
  webpack/assets/javascripts/react_app/routes/__test__/Routes.fixtures.js
  webpack/assets/javascripts/react_app/routes/__test__/RoutingService.test.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/ForemanSwitcher.test.js.snap
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/RoutingService.test.js.snap
  webpack/assets/javascripts/react_app/routes/index.js
  webpack/assets/javascripts/services/SlotsRegistry/index.js
  webpack/stories/docs/ClientRouting.mdx
  webpack/stories/docs/plugins.stories.mdx
Labels: Legacy JS, Needs testing, UI

#8044 Fixes #30966 - make host substatus clickable
  app/assets/stylesheets/status-colors.scss
  app/helpers/host_description_helper.rb
  app/helpers/hosts_helper.rb
  app/models/host_status/status.rb
Labels: Demo worthy, Needs testing

#7904 Fixes #30647 - Parameterize redhat_register install parameters for kt_activation_keys.
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Templates, Waiting on contributor

#8114 Refs #27457 - add children prop to AppSwitcher
  webpack/assets/javascripts/react_app/routes/__test__/ForemanSwitcher.fixtures.js
  webpack/assets/javascripts/react_app/routes/__test__/ForemanSwitcher.test.js
  webpack/assets/javascripts/react_app/routes/__test__/Routes.test.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/ForemanSwitcher.test.js.snap
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/Routes.test.js.snap
  webpack/assets/javascripts/react_app/routes/index.js
Labels: Needs testing, UI

#8105 Fixes #31174 - PaginationWrapper is not translated
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.js
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/Pagination.test.js.snap
Labels: Needs testing, UI

#8091 Fixes #31021 - Global Registration & Insights setup parameter
  app/controllers/api/v2/registration_controller.rb
  app/controllers/concerns/foreman/controller/registration.rb
  app/controllers/registration_controller.rb
  app/views/registration/_form.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  test/controllers/api/v2/registration_controller_test.rb
  test/controllers/registration_controller_test.rb
Labels: Needs testing, Templates, Waiting on contributor
