Repository theforeman/foreman, pull requests merged in 2020-03, with the labels that each got.

#7454 Fixes #29043 - Add name to 'generate_at' field
  app/helpers/tags/react_input.rb
  test/integration/report_template_js_test.rb
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
Labels: Needs testing, UI

#7474 Fixes #29183 - hide image selection from compute-profile in GCE
  app/views/compute_resources_vms/form/gce/_base.html.erb
Labels: Needs testing

#7469 Fixes #29139 - cherry pick fix height of html and body to 1.24
  app/assets/stylesheets/base.scss
Labels: Needs testing

#7360 Fixes #28764 - StatisticsChartsList to use the api reducer
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.css
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.stories.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.test.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBoxConstants.js
  webpack/assets/javascripts/react_app/components/ChartBox/index.js
  webpack/assets/javascripts/react_app/components/ConfigReports/ConfigReports.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsList.fixtures.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/StatisticsChartsList.test.js
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/__snapshots__/StatisticsChartsList.test.js.snap
  webpack/assets/javascripts/react_app/components/StatisticsChartsList/index.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/actions/statistics/index.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/statistics.fixtures.js
  webpack/assets/javascripts/react_app/redux/actions/statistics/statistics.test.js
  webpack/assets/javascripts/react_app/redux/consts.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/__snapshots__/statistics.test.js.snap
  webpack/assets/javascripts/react_app/redux/reducers/statistics/index.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.fixtures.js
  webpack/assets/javascripts/react_app/redux/reducers/statistics/statistics.test.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/Statistics/Statistics.js
  webpack/assets/javascripts/react_app/routes/Statistics/StatisticsPage/StatisticsPage.fixtures.js
Labels: Needs testing, UI

#7484 Fixes #29043 - Add name to 'generate_at' field
  app/helpers/tags/react_input.rb
  test/integration/report_template_js_test.rb
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
Labels: Needs testing, Stable branch, UI

#7485 Fixes #29043 - Add name to 'generate_at' field
  app/helpers/tags/react_input.rb
  test/integration/report_template_js_test.rb
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
Labels: Needs testing, UI

#5623 Fixes #23704 - allow subnet order by network
  app/controllers/api/v2/subnets_controller.rb
  app/controllers/subnets_controller.rb
  app/models/subnet.rb
  test/controllers/subnets_controller_test.rb
Labels: Needs testing

#7419 Fixes #28927 - Forget host status
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/hosts_controller.rb
  app/helpers/host_description_helper.rb
  app/registries/foreman/access_permissions.rb
  config/routes.rb
  config/routes/api/v2.rb
  db/seeds.d/020-permissions_list.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/controllers/hosts_controller_test.rb
Labels: Demo worthy, Needs testing

#7483 Fixes #29249 - Fix chartbox overflowed title
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.js
  webpack/assets/javascripts/react_app/components/ChartBox/__snapshots__/ChartBox.test.js.snap
Labels: Needs testing, UI

#7481 Fixes #29230 - Fix redirect for host audits
  app/helpers/host_description_helper.rb
  config/routes.rb
Labels: Needs testing

#7487 Fixes #29258 - Initialize dynflow in puma workers
  config/application.rb
  config/puma/production.rb
Labels: Needs testing, Waiting on contributor

#6666 Fixes #26567 - improve vm listing performance
  app/helpers/compute_resources_vms_helper.rb
Labels: Needs testing

#5010 Fixes #21654 - create registry for importers
  app/controllers/api/v2/hosts_controller.rb
  app/models/host/base.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/fact_importer_registry.rb
  app/services/fact_importer.rb
  config/initializers/puppet.rb
  test/fact_importer_test_helper.rb
  test/unit/fact_importer_test.rb
  test/unit/plugin/importer_registry_test.rb
Labels: Needs testing

#7490 Refs #29258 - Lazy initialize dynflow during rake tasks
  lib/foreman/dynflow/configuration.rb
Labels: Needs testing

#7486 Fixes #29248 - add DNS stubs for all tests
  test/test_helper.rb
Labels: Needs testing

#7451 Fixes #28957 - reduce the amount of taxonomies queries
  app/models/user.rb
Labels: Needs testing

#7060 Fixes #27907 - Add update_subnets_from_facts setting
  app/models/host/managed.rb
  app/models/setting/puppet.rb
  test/fixtures/settings.yml
  test/models/host_test.rb
Labels: Inactive, Needs testing

#7491 Fixes #29275 - Documentation button for reports
  app/views/report_templates/index.html.erb
Labels: Needs testing

#7492 Fixes #29276 - pin statsd-instrument
  bundler.d/telemetry.rb
Labels: Needs testing

#7494 Fixes #29065 - Do not add lone taxonomies to filter
  app/controllers/api/base_controller.rb
Labels: Needs testing

#7364 Fixes #28769 - add more loader macros
  app/models/domain.rb
  app/models/hostgroup.rb
  app/models/nic/base.rb
  app/models/operatingsystem.rb
  app/models/realm.rb
  app/models/smart_proxy.rb
  app/models/ssh_key.rb
  app/models/subnet.rb
  app/models/taxonomies/location.rb
  app/models/taxonomies/organization.rb
  app/models/template.rb
  app/models/token.rb
  app/models/user.rb
  app/models/usergroup.rb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/base.rb
  lib/foreman/renderer/scope/macros/base.rb
  lib/foreman/renderer/scope/macros/loaders.rb
Labels: Needs testing

#7489 Fixes #29265 - do not cache datacenters list
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#7455 Fixes #29010 - graphql: fix creating object by user with create perission
  app/graphql/mutations/base_mutation.rb
  test/fixtures/filterings.yml
  test/fixtures/filters.yml
  test/graphql/mutations/hosts/create_mutation_test.rb
  test/graphql/mutations/models/create_mutation_test.rb
  test/graphql/mutations/models/delete_mutation_test.rb
  test/graphql/mutations/models/update_mutation_test.rb
Labels: Needs testing, Stable branch

#7008 Fixes #27735 - added foreman_comment fact parsing
  app/models/host/base.rb
  app/services/fact_parser.rb
  test/models/host_test.rb
Labels: Demo worthy, Needs testing

#7139 Fixes #28148 - Add react context provider
  app/helpers/application_helper.rb
  app/views/common/_pagination.html.erb
  test/integration/audit_js_test.rb
  webpack/assets/javascripts/react_app/ReactApp/ReactApp.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppActions.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppConstants.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppReducer.js
  webpack/assets/javascripts/react_app/ReactApp/ReactAppSelectors.js
  webpack/assets/javascripts/react_app/ReactApp/index.js
  webpack/assets/javascripts/react_app/Root/Context/ForemanContext.js
  webpack/assets/javascripts/react_app/Root/ReactApp.js
  webpack/assets/javascripts/react_app/common/MountingService.js
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/components/AuditsList/index.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.test.js
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/Pagination.test.js.snap
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPage.fixtures.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPage.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/components/AuditsTable.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/index.js
  webpack/stories/docs/foreman-context.stories.mdx
  webpack/test_setup.js
Labels: Needs testing, UI

#7477 Fixes #28946 - describe HTTP proxy usage
  app/models/setting/general.rb
  app/views/http_proxies/_form.html.erb
Labels: Needs testing

#7466 Fixes #29143 - Lock audit comment for locked templates
  app/views/templates/_form.html.erb
Labels: Needs testing

#7431 Fixes #28974 - Add mutations for operating systems
  app/graphql/mutations/operatingsystems/common.rb
  app/graphql/mutations/operatingsystems/create.rb
  app/graphql/mutations/operatingsystems/delete.rb
  app/graphql/mutations/operatingsystems/update.rb
  app/graphql/types/mutation.rb
  app/graphql/types/operatingsystem.rb
  app/graphql/types/password_hash_enum.rb
  test/graphql/mutations/operatingsystems/create_mutation_test.rb
  test/graphql/mutations/operatingsystems/delete_mutation_test.rb
  test/graphql/mutations/operatingsystems/update_mutation_test.rb
Labels: Needs testing

#7468 Fixes #28945 - Taxonomy scope for interfaces action
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
Labels: Demo worthy, Needs testing

#7396 Refs #28320 - upgrade sass to sassc
  bundler.d/assets.rb
Labels: Needs testing, Waiting on Packaging

#7499 [WIP] Fixes #28945 - Fix failing integration tests
  test/integration/host_js_test.rb
Labels: Needs testing

#7501 Refs #28320 - Allow sass-rails 5.x again
  bundler.d/assets.rb
Labels: Needs testing

#7495 Fixes #28885 - added provider field to virtual machine api
  app/controllers/api/v2/compute_resources_controller.rb
Labels: Waiting on contributor

#7047 Fixes #27877 - no conflicts on DHCP filename change
  lib/net/dhcp/record.rb
  test/models/orchestration/dhcp_test.rb
  test/unit/net/dhcp_test.rb
Labels: Needs testing

#7503 Fixes #29285 - Deprecate Rackspace Compute Resource
  config/initializers/deprecations.rb
Labels: Needs testing

#7500 Fixes #29317 - Add title to login page
  app/views/layouts/login.html.erb
Labels: Needs testing

#7507 Fixes #29325 - Add queries, mutations for bookmarks
  app/graphql/mutations/bookmarks/common.rb
  app/graphql/mutations/bookmarks/create.rb
  app/graphql/mutations/bookmarks/delete.rb
  app/graphql/mutations/bookmarks/update.rb
  app/graphql/types/bookmark.rb
  app/graphql/types/mutation.rb
  app/graphql/types/query.rb
  test/graphql/mutations/bookmarks/create_mutation_test.rb
  test/graphql/mutations/bookmarks/delete_mutation_test.rb
  test/graphql/mutations/bookmarks/update_mutation_test.rb
  test/graphql/queries/bookmark_query_test.rb
  test/graphql/queries/bookmarks_query_test.rb
Labels: Needs testing

#7406 Fixes #28905 - DatePicker: make it possible to submit an empty date field
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateComponents/MonthView.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/__snapshots__/DatePicker.test.js.snap
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/date-time-picker.scss
  webpack/assets/javascripts/react_app/components/common/forms/DateTime/__snapshots__/DateTime.test.js.snap
Labels: Needs testing, UI, Waiting on contributor

#7375 Fixes #25925 - Disable autocomplete for password input on User Edit page
  webpack/assets/javascripts/react_app/components/PasswordStrength/PasswordStrength.js
  webpack/assets/javascripts/react_app/components/PasswordStrength/__tests__/__snapshots__/PasswordStrength.test.js.snap
Labels: Needs testing, UI, Waiting on contributor

#7496 Fixes #29311 - Add Rails logging for API deprecation warnings.
  app/services/foreman/deprecation.rb
  config/application.rb
  test/unit/foreman_deprecation_test.rb
Labels: Needs testing

#7504 Fixes #28568 - Drop smart variable permissions
  app/registries/foreman/access_permissions.rb
  db/migrate/20200311131527_drop_smart_variable_permissions.rb
  db/seeds.d/020-permissions_list.rb
  db/seeds.d/020-roles_list.rb
Labels: Needs testing

#7512 Fixes #29338 - Add hosts to the hostgroup jail
  app/models/hostgroup.rb
Labels: Needs testing

#7514 Fixes #19904 - Configure Style/SymbolArray cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#7510 Refs #28568 - removing external_variables permissions
  app/controllers/concerns/api/v2/lookup_keys_common_controller.rb
  app/models/lookup_keys/variable_lookup_key.rb
  test/fixtures/filterings.yml
  test/fixtures/filters.yml
  test/fixtures/permissions.yml
  test/models/lookup_key_test.rb
  test/models/puppetclass_test.rb
Labels: Needs testing

#7463 Fixes #29049 - hide deprecated images & extends projects in GCE
  app/models/compute_resources/foreman/model/gce.rb
  test/models/compute_resources/gce_test.rb
Labels: Needs testing, Waiting on contributor

#7506 Fixes #28363 - Drop lookup key matcher length limit
  app/models/concerns/nested_ancestry_common.rb
  db/migrate/20200311134414_change_match_to_text_in_lookupvalue.rb
  test/models/hostgroup_test.rb
  test/models/location_test.rb
  test/models/organization_test.rb
  test/models/shared/taxonomies_base_test.rb
  test/test_helper.rb
Labels: Needs testing, Ready to merge

#7524 Refs #29049 - fix image_families filter test for GCE
  test/models/compute_resources/gce_test.rb
Labels: Needs testing

#7525 don't quote CMD in Dockerfile
  Dockerfile
Labels: Needs testing, Waiting on contributor

#7521 [CP 1.24]Fixes #29183 - hide image selection from compute-profile in GCE
  app/views/compute_resources_vms/form/gce/_base.html.erb
Labels: Needs testing, Stable branch

#7509 Fixes #29334 - Pass additional props to slot helper
  app/helpers/extendable_components_helper.rb
Labels: Needs testing, Ready to merge

#7434 Fixes #28868 - Add location inherited parameters
  app/views/api/v2/taxonomies/show.json.rabl
Labels: Needs testing

#7513 Fixes #29344 - fix editor cursor position
  webpack/assets/javascripts/react_app/components/Editor/editor.scss
Labels: Needs testing, UI

#7356 Fixes #28757 - Editor didnt change diff view for translated
  webpack/assets/javascripts/react_app/components/DiffView/DiffConsts.js
  webpack/assets/javascripts/react_app/components/DiffView/DiffRadioButtons.js
Labels: Needs testing, UI

#7361 Fixes #28766 - add version macro
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
Labels: Needs testing

#7516 Fixes #19892 - Fix Style/Proc cop
  .rubocop_todo.yml
  app/controllers/api/v2/config_reports_controller.rb
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/lookup_keys_controller.rb
  app/mailers/application_mailer.rb
  app/models/auth_sources/auth_source_ldap.rb
  app/models/bookmark.rb
  app/models/compute_resources/foreman/model/vmware.rb
  app/models/concerns/audit_extensions.rb
  app/models/concerns/hostext/ownership.rb
  app/models/concerns/nested_ancestry_common.rb
  app/models/concerns/taxonomix.rb
  app/models/external_usergroup.rb
  app/models/fact_name.rb
  app/models/filter.rb
  app/models/host/managed.rb
  app/models/jwt_secret.rb
  app/models/lookup_value.rb
  app/models/medium.rb
  app/models/nic/base.rb
  app/models/nic/interface.rb
  app/models/operatingsystem.rb
  app/models/provisioning_template.rb
  app/models/ptable.rb
  app/models/setting.rb
  app/models/setting/email.rb
  app/models/setting/general.rb
  app/models/setting/provisioning.rb
  app/models/setting/puppet.rb
  app/models/subnet.rb
  app/models/subnet/ipv6.rb
  app/models/taxonomy.rb
  app/models/user.rb
  app/registries/menu/loader.rb
  app/registries/pagelets/pagelet.rb
  config/application.rb
  test/controllers/smart_proxy_auth_test.rb
  test/helpers/pagelets_helper_test.rb
  test/helpers/settings_helper_test.rb
  test/integration/smart_proxy_test.rb
  test/models/settings/email_setting_test.rb
  test/unit/menu_item_test.rb
  test/unit/parameter_filter_test.rb
Labels: Needs testing

#7385 Fixes #28853 - Add NIC type to safemode methods
  app/models/host/managed.rb
  app/models/nic/base.rb
Labels: Needs testing

#7526 Fixes #29272 - add template locked error only in not seeding
  app/models/template.rb
  app/services/foreman_seeder.rb
Labels: Needs testing

#7520 Fixes #29352 - Create action_buttons in react
  webpack/assets/javascripts/react_app/components/common/ActionButtons/ActionButtons.fixtures.js
  webpack/assets/javascripts/react_app/components/common/ActionButtons/ActionButtons.js
  webpack/assets/javascripts/react_app/components/common/ActionButtons/ActionButtons.stories.js
  webpack/assets/javascripts/react_app/components/common/ActionButtons/ActionButtons.test.js
  webpack/assets/javascripts/react_app/components/common/ActionButtons/__snapshots__/ActionButtons.test.js.snap
Labels: Needs testing, UI

#7113 Fixes #27067 - IPAM Integration with phpIPAM
  app/assets/javascripts/subnets.js
  app/controllers/concerns/foreman/controller/parameters/subnet.rb
  app/helpers/subnets_helper.rb
  app/models/concerns/orchestration/external_ipam.rb
  app/models/nic/managed.rb
  app/models/subnet.rb
  app/models/subnet/ipv4.rb
  app/models/subnet/ipv6.rb
  app/services/ipam.rb
  app/services/ipam/external_ipam.rb
  app/views/subnets/_fields.html.erb
  db/migrate/20191017151119_add_external_ipam_id_to_subnets.rb
  db/seeds.d/110-smart_proxy_features.rb
  lib/proxy_api/external_ipam.rb
  test/factories/feature.rb
  test/factories/smart_proxy.rb
  test/factories/subnet.rb
  test/helpers/subnets_helper_test.rb
  test/models/orchestration/external_ipam_test.rb
  test/models/subnet/external_ipam_test.rb
Labels: Legacy JS, Needs testing

#7533 Fixes #29379 - don't try to load removed widget
  app/models/widget.rb
  app/views/dashboard/index.html.erb
Labels: Needs testing

#7539 Fixes #29390 - Unpin pry-byebug
  bundler.d/development.rb
Labels: Needs testing

#7207 Fixes #3750 - Fix cloning ovirt host
  app/models/compute_resources/foreman/model/ovirt.rb
  test/models/compute_resource_test.rb
Labels: Legacy JS, Needs testing

#7540 use ENV not ARG to set RAILS_ENV in the running container
  Dockerfile
Labels: Needs testing, Waiting on contributor

#7542 Fixes #27151 - fixing falsy 100% in charts
  webpack/assets/javascripts/react_app/components/ChartBox/__snapshots__/ChartBox.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChart.test.js.snap
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/DonutChart.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/__snapshots__/DonutChart.test.js.snap
  webpack/assets/javascripts/react_app/components/common/charts/DonutChart/index.js
Labels: Needs testing, UI

#7536 Fixes #29144 - Use systemd socket activation
  extras/systemd/foreman.service
  extras/systemd/foreman.socket
Labels: Needs testing

#7488 Fixes #29263 - catch permission error for hypervisor name
  app/helpers/compute_resources_vms_helper.rb
  app/views/compute_resources_vms/index/_vmware.html.erb
Labels: Needs testing

#7335 Fixes #28648 - handle nil jwt token
  app/services/jwt_token.rb
  app/services/sso/jwt.rb
  app/services/sso/openid_connect.rb
  test/unit/jwt_token_test.rb
  test/unit/sso/jwt_test.rb
  test/unit/sso/openid_connect_test.rb
Labels: Needs testing, Ready to merge

#7518 Fixes #29350 - Fix Layout/EmptyLineAfterGuardClause cop
  .rubocop.yml
  .rubocop_todo.yml
Labels: Needs testing

#7545 Fixes #29416 - Trigger a full page reload on session expiration
  webpack/assets/javascripts/react_app/components/notifications/helpers.js
  webpack/assets/javascripts/react_app/components/notifications/index.js
Labels: Needs testing, UI

#7531 Fixes #20832 - allow deletion of unkown STI records
  app/controllers/application_controller.rb
  app/controllers/settings_controller.rb
  app/views/common/class_clean_up_failed.html.erb
  app/views/common/confirm_class_clean_up.html.erb
Labels: Needs testing

#7548 Fixes #29427 - change breadcrumbs path in compute resources
  app/views/compute_resources_vms/index.html.erb
  app/views/compute_resources_vms/show.html.erb
Labels: Needs testing

#7547 Refs #20832 - extract strings
  app/views/common/confirm_class_clean_up.html.erb
Labels: Needs testing, Ready to merge

#7544 Fixes #29386 - fix setting_type for oidc_audience
  app/models/setting/auth.rb
  db/migrate/20200326164755_change_oidc_audience_setting_type.rb
Labels: Needs testing

#7353 Fixes #28734 - Add hostgroup inherited parameters in GET
  app/models/concerns/nested_ancestry_common.rb
  app/views/api/v2/hostgroups/main.json.rabl
  test/controllers/api/v2/hostgroups_controller_test.rb
Labels: Needs testing

#7550 fixes #29432 - add flatcar os support
  app/helpers/operatingsystems_helper.rb
  app/models/operatingsystem.rb
  app/models/operatingsystems/coreos.rb
  db/seeds.d/100-installation_media.rb
  test/factories/medium.rb
  test/factories/operatingsystem.rb
  test/models/operatingsystems/coreos_test.rb
Labels: Needs testing
