Repository theforeman/foreman, pull requests merged in 2020-02, with the labels that each got.

#7408 Fixes #28835 - API docs mention allowed trend types
  app/controllers/api/v2/trends_controller.rb
Labels: Needs testing

#7410 Fixes #28912 - Remove pointer from VM tab to interfaces
  app/views/hosts/_compute_detail.html.erb
Labels: Needs testing

#7387 Fixes #28856 - Add TypeAheadSelect connected component
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_type_ahead_select.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelect.fixtures.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelect.stories.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectActions.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectConstants.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectReducer.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectSelectors.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/TypeAheadSelectActions.test.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/TypeAheadSelectReducer.test.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/TypeAheadSelectSelectors.test.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/__snapshots__/TypeAheadSelectActions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/__snapshots__/TypeAheadSelectReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/__snapshots__/TypeAheadSelectSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/index.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/integration.test.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI

#7413 Fixes #28923 - Mention puppet classes for hostgroup create/update
  app/controllers/api/v2/hostgroups_controller.rb
Labels: Needs testing

#7391 Fixes #28861 - Use sha256 fingerprints for SSH keys due to FIPS
  app/models/ssh_key.rb
  db/migrate/20200127103144_ssh_keys_fingerprints_sha1.rb
Labels: Needs testing

#7414 Fixes #28926 - Remove Parametrized_Classes_in_ENC setting
  app/models/host/managed.rb
  app/models/host_info_providers/puppet_info.rb
  app/models/setting/puppet.rb
  db/migrate/20200205105956_drop_parameterized_classes_setting.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/fixtures/settings.yml
  test/models/host_test.rb
Labels: Needs testing

#7392 templates - sync from community-templates
  app/views/unattended/partition_tables_templates/kickstart_custom.erb
  app/views/unattended/provisioning_templates/iPXE/kickstart_default_ipxe.erb
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/windows_default_provisioning.erb
  app/views/unattended/provisioning_templates/script/windows_default_script.erb
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_discovery.erb
  app/views/unattended/report_templates/registered_users.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 global default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet.conf.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_discovery.snap.txt
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#7424 Fixes #28860 - fixing bad logging of bruteforce
  app/services/foreman/bruteforce_protection.rb
Labels: Needs testing, Stable branch

#7423 Fixes #28860 - fixing bad logging of bruteforce
  app/services/foreman/bruteforce_protection.rb
Labels: Needs testing, Stable branch

#7417 Fixes #28932 - prevent ERROR: subquery has too many columns
  app/models/concerns/hostext/search.rb
Labels: Needs testing

#7401 Fixes #28867 - Do not delete impersonating user
  app/controllers/users_controller.rb
  app/helpers/users_helper.rb
Labels: Needs testing

#7426 Pin sexp_processor on Ruby 2.3
  Gemfile
Labels: Needs testing, Not yet reviewed, Stable branch, Waiting on contributor

#7425 Pin sexp_processor on Ruby 2.3
  Gemfile
Labels: Needs testing, Not yet reviewed, Stable branch, Waiting on contributor

#7420 Fixes #28891 - Show host properties tab if missing taxonomy
  app/helpers/host_description_helper.rb
Labels: Needs testing

#7427 Cherry-pick to foreman 1.20: Pin sexp_processor on Ruby 2.3
  Gemfile
Labels: Needs testing, Not yet reviewed, Stable branch, Waiting on contributor

#7381 Fixes #28846 - PPC64 pxedir location
  app/models/operatingsystem.rb
  app/models/operatingsystems/aix.rb
  app/models/operatingsystems/altlinux.rb
  app/models/operatingsystems/archlinux.rb
  app/models/operatingsystems/coreos.rb
  app/models/operatingsystems/debian.rb
  app/models/operatingsystems/freebsd.rb
  app/models/operatingsystems/junos.rb
  app/models/operatingsystems/nxos.rb
  app/models/operatingsystems/redhat.rb
  app/models/operatingsystems/solaris.rb
  app/models/operatingsystems/suse.rb
  app/models/operatingsystems/vrp.rb
  app/services/medium_providers/default.rb
  test/fixtures/architectures.yml
  test/models/operatingsystems/operatingsystems_test.rb
Labels: Needs testing, Waiting on contributor

#7429 Fixes #28858 - allow delete user with multiple groups
  app/models/usergroup_member.rb
  test/models/user_test.rb
Labels: Ready to merge

#7430 Fixes #28929 - allow complex types in settings api
  app/controllers/api/v2/settings_controller.rb
  test/controllers/api/v2/settings_controller_test.rb
  test/fixtures/settings.yml
Labels: Needs testing

#7433 Clean up deprecation notifications for 2.0
  config/initializers/deprecations.rb
Labels: Needs testing

#7432 Fixes #28965 - calculate PXE UID from OS version
  app/services/medium_providers/default.rb
  test/factories/operatingsystem.rb
  test/models/operatingsystems/operatingsystems_test.rb
  test/models/orchestration/tftp_test.rb
  test/models/provisioning_template_test.rb
  test/unit/medium_providers/default_test.rb
Labels: Needs testing

#7409 Fixes #28898 - show unique machine_types/flavors in GCE
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing

#7428 Fixes #28967 - Handle base errors in ForemanForm
  webpack/assets/javascripts/react_app/components/Bookmarks/components/BookmarkForm/__tests__/__snapshots__/BookmarkForm.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.fixtures.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.test.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/__snapshots__/ForemanForm.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/integration.test.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
Labels: Needs testing, UI

#7435 Fixes #28987 - Fix report_templates API taxonomies routing
  config/routes/api/v2.rb
Labels: Needs testing

#7437 Fixes #29006 - Netmask is optional in API docs
  app/controllers/api/v2/subnets_controller.rb
Labels: Needs testing

#7366 Fixes #28754 - Disabling MAC address input for virtualization
  app/views/nic/_base_form.html.erb
Labels: Needs testing

#7357 Fixes #28624 - Scrolling in the editor scrolls the preview
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/EditorView.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorModal.test.js.snap
Labels: Needs testing, UI

#7440 Fixes #29010 - graphql: fix creating object by user with create permission
  app/graphql/mutations/base_mutation.rb
  test/fixtures/filterings.yml
  test/fixtures/filters.yml
  test/graphql/mutations/hosts/create_mutation_test.rb
  test/graphql/mutations/models/create_mutation_test.rb
  test/graphql/mutations/models/delete_mutation_test.rb
  test/graphql/mutations/models/update_mutation_test.rb
Labels: Needs testing, Waiting on contributor

#7403 Fixes #28900 - Add search to Taxonomies in top navigation dropdowns
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: Needs testing, UI, Waiting on contributor

#7443 templates - sync from community-templates
  app/views/unattended/provisioning_templates/PXEGrub2/pxegrub2_default_local_boot.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2 default local boot.snap.txt
Labels: Needs testing, Waiting on contributor

#7441 Fixes #29027 - session_id out of range error
  db/migrate/20200217110708_alter_session_sequence_to_cycle.rb
Labels: Needs testing

#7444 Fixes #29021 - Add titles to welcome pages
  app/views/compute_resources/welcome.html.erb
  app/views/domains/welcome.html.erb
  app/views/operatingsystems/welcome.html.erb
  app/views/subnets/welcome.html.erb
  app/views/usergroups/welcome.html.erb
Labels: Needs testing

#7355 Fixes #28755 - fix chart stories titles
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/BarChart/BarChart.stories.js
  webpack/assets/javascripts/react_app/components/common/charts/LineChart/LineChart.stories.js
Labels: Needs testing, UI

#7439 [CP 1.24]Fixes #28898 - show unique machine_types/flavors in GCE
  app/models/compute_resources/foreman/model/gce.rb
Labels: Needs testing, Stable branch

#7446 Fixes #29010 - graphql: fix creating object by user with create permission
  app/graphql/mutations/base_mutation.rb
  test/fixtures/filterings.yml
  test/fixtures/filters.yml
  test/graphql/mutations/hosts/create_mutation_test.rb
  test/graphql/mutations/models/create_mutation_test.rb
  test/graphql/mutations/models/delete_mutation_test.rb
  test/graphql/mutations/models/update_mutation_test.rb
Labels: Needs testing, Stable branch

#7384 Fixes #28849 - Long role names are cut off in the roles UI
  app/views/roles/index.html.erb
Labels: Needs testing

#7448 Refs #29027 - session out of range adhere pg versions
  db/migrate/20200217110708_alter_session_sequence_to_cycle.rb
Labels: Needs testing

#7421 Fixes #28955 - Added puma configuration
  config/puma/production.rb
Labels: Needs testing

#7447 Fixes #29056 - Fix API filter creation in case of organization_id exists
  app/controllers/api/v2/filters_controller.rb
  test/controllers/api/v2/filters_controller_test.rb
Labels: Needs testing, Waiting on contributor

#7442 Fixes #29044 - Hide values of encrypted settings in API
  app/views/api/v2/settings/main.json.rabl
Labels: Needs testing

#7457 Refs #29027 - replace server_version with server_version_num
  db/migrate/20200217110708_alter_session_sequence_to_cycle.rb
Labels: Needs testing

#7415 Fixes #28935 - Add mutations for media
  app/graphql/mutations/concerns/taxonomy_args.rb
  app/graphql/mutations/media/common.rb
  app/graphql/mutations/media/create.rb
  app/graphql/mutations/media/delete.rb
  app/graphql/mutations/media/update.rb
  app/graphql/mutations/models/update.rb
  app/graphql/mutations/update_mutation.rb
  app/graphql/types/mutation.rb
  test/graphql/mutations/media/create_mutation_test.rb
  test/graphql/mutations/media/delete_mutation_test.rb
  test/graphql/mutations/media/update_mutation_test.rb
Labels: Needs testing

#7453 Fixes #29106 - orderable select value
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/OrderableSelect.js
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/__tests__/OrderableSelect.test.js
Labels: Ready to merge, UI

#7450 Fixes #29053 - Fix navbar render when navigating back
  webpack/assets/javascripts/react_app/routes/index.js
Labels: Needs testing, Stable branch, UI

#7404 Fixes #28884 - DatePicker: fix calendar
  app/helpers/form_helper.rb
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.stories.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Needs testing, UI

#7461 Fixes #28802 - lint issue in empty state component
  webpack/assets/javascripts/react_app/components/common/EmptyState/DefaultEmptyState.js
Labels: Needs testing, Stable branch, UI, Waiting on contributor

#7459 Fixes #28838, #28931 - Safer seeding on initialization
  config/initializers/seeds.rb
Labels: Needs testing

#7177 Fixes #28268 - change v4 to be the default in ovirt cr
  app/models/compute_resources/foreman/model/ovirt.rb
  bundler.d/ovirt.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#7456 Sort Rubocop rules
  .rubocop.yml
Labels: Needs testing, Waiting on contributor

#7458 Fixes #29070 - HTTP Proxy taxonomy searching incorrect
  app/models/taxonomy.rb
  test/controllers/api/v2/http_proxies_controller_test.rb
  test/fixtures/http_proxies.yml
Labels: Needs testing

#7465 Fixes #29139 - fix height of html and body
  app/assets/stylesheets/base.scss
Labels: Needs testing

#7358 Fixes #28758 - Editor modal is shown empty
  webpack/assets/javascripts/react_app/components/Editor/editor.scss
Labels: Needs testing, UI

#7452 Fixes #29018 - disabled buttons are still working
  app/assets/javascripts/application.js
Labels: Legacy JS, Needs testing

#7473 Fixes #28995 - change NonUniqueInputsError to Foreman::Exception
  app/models/template.rb
Labels: Needs testing

#7445 Fixes #29047 - Fix os icon for unknown os family
  app/helpers/operatingsystems_helper.rb
Labels: Needs testing

#7371 Fixes #28629 - Always associate template kind
  app/models/provisioning_template.rb
  test/models/provisioning_template_test.rb
Labels: Needs testing
