Repository theforeman/foreman, pull requests merged in 2021-08, with the labels that each got.

#8701 Refs #31093 - drop ConfigGroup edit js
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_class_edit.js
Labels: Needs testing, Not yet reviewed, UI

#8700 Fixes #33179 - Fix header in Enviroments page
  app/views/environments/welcome.html.erb
  webpack/assets/javascripts/react_app/components/Enviroments/Welcome.js
Labels: Needs testing, Stable branch, UI

#8687 Fixes #33033 - shell_escape template macro
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/helpers.rb
  test/unit/foreman/renderer/scope/macros/helpers_test.rb
Labels: Needs testing, Templates

#8703 Fixes #33197 - Show error message if credentials are wrong
  app/helpers/compute_resources_helper.rb
  app/models/compute_resources/foreman/model/vmware.rb
  lib/foreman/exception.rb
Labels: Needs testing, Not yet reviewed

#8696 Fixes #33153 - make slot registry singleton
  webpack/assets/javascripts/react_app/components/common/Fill/FillActions.js
  webpack/assets/javascripts/react_app/components/common/Slot/SlotSelectors.js
  webpack/assets/javascripts/services/SlotsRegistry/SlotsRegistry.test.js
  webpack/assets/javascripts/services/SlotsRegistry/index.js
Labels: Ready to merge, UI

#8705 Fixes #32963 - Load only present categories
  app/services/setting_registry.rb
Labels: Needs cherrypick, Needs testing, Not yet reviewed

#8708 Fixes #32963 - Load only present categories
  app/services/setting_registry.rb
Labels: Needs testing, Not yet reviewed, Stable branch

#8676 Fixes #33048 - Add Associate VM to dropdown
  app/helpers/compute_resources_vms_helper.rb
  app/views/compute_resources_vms/index/_ec2.html.erb
  app/views/compute_resources_vms/index/_gce.html.erb
  app/views/compute_resources_vms/index/_libvirt.html.erb
  app/views/compute_resources_vms/index/_vmware.html.erb
Labels: Needs testing

#8668 Fixes #32792 - Add update to ca when vmware cr is updated
  app/controllers/api/v2/compute_resources_controller.rb
  app/models/compute_resource.rb
  test/controllers/api/v2/compute_resources_controller_test.rb
  test/factories/compute_resources.rb
Labels: Ready to merge

#8710 Bump develop to 3.1.0-develop
  VERSION
  package.json
Labels: Not yet reviewed, Waiting on contributor, Needs testing

#8677 Fixes #32769 - Associate a VM via API to a compute resource
  app/controllers/api/v2/compute_resources_controller.rb
  app/services/compute_resource_host_associator.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/compute_resources_controller_test.rb
Labels: Needs testing

#8600 Fixes #32822 - Job templates and resource picker
  app/helpers/templates_helper.rb
  app/models/template_input.rb
  app/views/template_inputs/_form.html.erb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/errors.rb
  lib/foreman/renderer/scope/macros/inputs.rb
  test/factories/template_input.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
  webpack/assets/javascripts/foreman_template_inputs.js
Labels: Needs testing, Demo worthy, UI

#8572 Fixes #32727 - Added status and version to api call
  app/controllers/api/v2/smart_proxies_controller.rb
  app/views/api/v2/smart_proxies/main.json.rabl
  app/views/api/v2/smart_proxies/show.json.rabl
  test/controllers/api/v2/smart_proxies_controller_test.rb
Labels: Needs testing

#8693 Fixes #32541 - add "overwrite" parameter for creating host in apidoc
  app/controllers/api/v2/hosts_controller.rb
Labels: Needs re-review, Needs testing

#8076 Fixes #31049 - Introduce server CA file setting
  app/models/setting.rb
  app/models/setting/auth.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/fixtures/settings.yml
  test/static_fixtures/certificates/example2.com.crt
  test/unit/foreman/renderer/renderers_shared_tests.rb
Labels: Needs testing, Demo worthy

#8688 Fixes #33092 - Restart network on EL8
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
Labels: Needs re-review, Needs testing, Templates

#8260 Fixes #31638 - Move the host status page from foreman_wreckingball to core
  app/assets/stylesheets/common.scss
  app/controllers/api/v2/host_statuses_controller.rb
  app/models/concerns/hostext/search.rb
  app/models/host/managed.rb
  app/models/host_status/build_status.rb
  app/models/host_status/global.rb
  app/models/host_status/status.rb
  app/presenters/host_status_presenter.rb
  app/registries/foreman/access_permissions.rb
  app/registries/menu/loader.rb
  app/views/api/v2/host_statuses/index.json.rabl
  config/routes.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/host_statuses_controller_test.rb
  test/models/concerns/hostext/search_test.rb
  webpack/assets/javascripts/react_app/components/HostStatuses/HostStatuses.fixtures.js
  webpack/assets/javascripts/react_app/components/HostStatuses/HostStatuses.scss
  webpack/assets/javascripts/react_app/components/HostStatuses/HostStatusesConstants.js
  webpack/assets/javascripts/react_app/components/HostStatuses/HostStatusesSelectors.js
  webpack/assets/javascripts/react_app/components/HostStatuses/HostStatusesSelectors.test.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/Details.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/GlobalStatusIcon.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/LinkOrLabel.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/Status.scss
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/Status.test.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/StatusSkeleton.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/__snapshots__/Status.test.js.snap
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/index.js
  webpack/assets/javascripts/react_app/components/HostStatuses/__snapshots__/HostStatusesSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/HostStatuses/index.js
  webpack/assets/javascripts/react_app/components/common/SkeletonLoader/index.js
  webpack/assets/javascripts/react_app/routes/HostStatuses/constants.js
  webpack/assets/javascripts/react_app/routes/HostStatuses/index.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/Routes.test.js.snap
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI, Legacy JS

#8515 Fixes #22801 - Encrypted spice consoles
  app/helpers/compute_resources_vms_helper.rb
  webpack/assets/javascripts/spice.js
Labels: Not yet reviewed, Needs testing, UI

#8709 Fixes #32908 - Allow UTF character in vnic attributes
  app/views/compute_resources_vms/form/ovirt/_network.html.erb
Labels: Not yet reviewed, Needs testing

#8716 Fixes #33265 - Katello Nightly Failure
  package.json
Labels: Needs testing

#8717 Fixes #22801 - Encrypted spice consoles
  app/helpers/compute_resources_vms_helper.rb
  webpack/assets/javascripts/spice.js
Labels: Not yet reviewed, Needs testing, UI

#8725 Fixes #33311 - align host details cards
  webpack/assets/javascripts/react_app/components/HostDetails/HostDetails.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: Needs testing, UI

#8726 Fixes #32928 - Allow templates to hide preview button
  app/models/template.rb
  app/views/templates/_form.html.erb
Labels: Not yet reviewed, Needs testing, Stable branch

#8729 Fixes #33318 - add JS packages to be excluded for packaging
  package-exclude.json
Labels: Needs testing

#8723 Fixes #33305 - Fix for yum remove katello-ca-consumer
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Waiting on contributor, Needs testing, Templates

#8730 Fixes #33319 - don't run fix-stories on every postinstall
  package.json
  script/npm-fix-foreman-stories.sh
Labels: Needs testing

#8731 Refs #33318 - add a script to filter package.json
  script/filter-package-json.py
Labels: Needs testing

#8733 Fixes #33323 - broken Documentation in search for react page
  webpack/assets/javascripts/react_app/constants.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/__tests__/__snapshots__/ModelsPage.test.js.snap
Labels: Not yet reviewed, Needs testing, UI

#8734 Fixes #33324 - fix host details tabs redundant re-render
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Not yet reviewed, Needs testing, UI

#8718 Fixes #30984 - translate host relative date creation
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/common/dates/RelativeDateTime.js
Labels: Needs re-review, Needs testing, UI

#8727 Fixes #33316 - display toasts messages properly
  webpack/assets/javascripts/react_app/components/ToastsList/index.js
Labels: Not yet reviewed, Needs testing, UI

#8732 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/fr/foreman.po
  locale/gl/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ko/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/sv_SE/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Not yet reviewed, Waiting on contributor, Needs testing, Legacy JS

#8719 Fixes #32541 - add "overwrite" parameter in apidoc (CP 3.0)
  app/controllers/api/v2/hosts_controller.rb
Labels: Not yet reviewed, Needs testing, Stable branch

#8720 Fixes #33280 - category for DSL defined settings
  app/presenters/setting_presenter.rb
  app/services/setting_registry.rb
Labels: Not yet reviewed, Needs testing

#8740 call npm install with --no-optional and --no-audit for plugins
  script/npm_install_plugins.js
Labels: Waiting on contributor, Needs testing

#8623 Fixes #32892 - add rails URL validator
  app/models/concerns/url_validation.rb
  app/models/setting/general.rb
  app/validators/http_url_validator.rb
Labels: Not yet reviewed, Needs testing

#8741 Refs #33008 - ignore db/structure.sql
  .gitignore
Labels: Needs testing

#8674 Fixes #33122 - Introduce skip pattern for ACL test
  test/unit/shared/access_permissions_test_base.rb
Labels: Needs re-review, Needs testing

#8748 Fixes #33311 - align host details cards (cp 3.0)
  webpack/assets/javascripts/react_app/components/HostDetails/HostDetails.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: Not yet reviewed, Needs testing, UI, Stable branch
