Repository theforeman/foreman, pull requests merged in 2021-01, with the labels that each got.

#8223 Refs #31250 - fix API middleware usage story
  webpack/stories/docs/api-middleware-usage.stories.mdx
Labels: Needs testing, UI

#8180 Fixes #31454 - extract eject cdrom into snippet
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/eject_cdrom.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed default finish.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST SLES default.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST default.snap.txt
Labels: Needs testing, Templates

#8224 Fixes #31561 - fix propTypes in EmptyStatePattern
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePattern.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePropTypes.js
Labels: Needs testing, UI

#8208 Fixes #31526 - ConfigReports chart clicks
  app/views/config_reports/_metrics.html.erb
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.js
Labels: Needs testing, UI

#8205 Fixes #31517 - do not use deprecated Net::LDAP:LdapError
  Gemfile
  app/models/auth_sources/auth_source_ldap.rb
  app/models/external_usergroup.rb
Labels: Needs testing, Waiting on Packaging

#8170 Fixes #31429 - expose nic_delay in interfaces and subnets api views
  app/views/api/v2/interfaces/base.json.rabl
  app/views/api/v2/subnets/main.json.rabl
Labels: Needs testing

#8225 Fixes #31567 - Fix bundler not found issue in Storybook deploy action
  .github/workflows/storybook_deploy_main.yml
Labels: Needs testing

#8227 Fixes #31568 - Use puppet-release in provisioning
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
Labels: Needs testing, Templates

#8216 fixes #31543 - Fixing bad error message at puppetrun endpoint
  app/controllers/api/v2/puppet_hosts_controller.rb
Labels: Needs testing

#7892 Fixes #29969 - applied errata host filter
  app/views/unattended/report_templates/host_-_applied_errata.erb
Labels: Demo worthy, Needs testing, Templates

#8115 Fixes #31213 - hostgroup API facets extension point
  app/models/concerns/facets/hostgroup_extensions.rb
  app/models/concerns/facets/model_extensions_base.rb
  app/services/facets.rb
  app/services/facets/host_base_entry.rb
  app/views/api/v2/hostgroups/main.json.rabl
  app/views/api/v2/hostgroups/show.json.rabl
  app/views/api/v2/hosts/main.json.rabl
  app/views/api/v2/hosts/show.json.rabl
  test/controllers/api/v2/hostgroups_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/static_fixtures/views/api/v2/test/facet.json.rabl
Labels: Needs testing

#8232 Fixes #31584 - Fix rake config output
  lib/tasks/config.rake
Labels: Needs testing

#7824 Fixes #29914 - show taxonomy switcher when no view permission
  app/helpers/layout_helper.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher.test.js
  webpack/assets/javascripts/react_app/components/Layout/index.js
Labels: Inactive, Needs testing, UI, Waiting on contributor

#7655 Fixes #29792 - Add current taxonomies and user in react context
  app/helpers/application_helper.rb
  webpack/assets/javascripts/react_app/Root/Context/ForemanContext.js
  webpack/stories/docs/foreman-context.stories.mdx
Labels: Needs testing, UI

#8235 Fixes #31587 - SettingName fallback to name
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/SettingRecords.fixtures.js
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/__snapshots__/SettingRecordsReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/__snapshots__/SettingRecordsSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingCell.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingName.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/SettingCell.test.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/SettingName.test.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/__snapshots__/SettingCell.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/__snapshots__/SettingName.test.js.snap
Labels: Needs testing, UI

#8175 Fixes #31440 - adding snippet_if_exists to nochroot block
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Templates

#8171 Fixes #31431 - Update to Puma ~> 5.1
  bundler.d/service.rb
  bundler.d/test.rb
  config/puma/production.rb
  extras/systemd/foreman.service
Labels: Needs testing

#8241 Fixes #31587 - SettingName fallback to name
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/SettingRecords.fixtures.js
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/__snapshots__/SettingRecordsReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/__snapshots__/SettingRecordsSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingCell.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingName.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/SettingCell.test.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/SettingName.test.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/__snapshots__/SettingCell.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/__snapshots__/SettingName.test.js.snap
Labels: Needs testing, Stable branch, UI

#8244 Fixes #31578 - External IPAM now fails with 'mac address cannot be nil'
  lib/proxy_api/external_ipam.rb
Labels: Needs testing, Waiting on contributor

#8242 Fixes #31599 - Simplify TaxonomySwitcher
  webpack/assets/javascripts/react_app/components/Layout/LayoutConstants.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/TaxonomySwitcher.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/index.js
Labels: Needs testing, UI

#7826 Fixes #30426 - Add pf4 editable text display React component
  .eslintrc
  webpack/assets/javascripts/react_app/common/hooks/useSubmitOnEnter.js
  webpack/assets/javascripts/react_app/common/hooks/useSubmitOnEnter.test.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/InlineEdit.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/InlineEdit.stories.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/InlineTextInput.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/__tests__/inlineEdit.test.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/index.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/inlineEdit.scss
Labels: Demo worthy, Needs testing, UI

#8245 Fixes #31603 - Fix setting for HTTP proxy
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/SettingRecords.fixtures.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableHelpers.js
  webpack/assets/javascripts/react_app/components/SettingsTable/__tests__/SettingsTableHelpers.test.js
Labels: Needs testing, UI

#8207 Fixes #31521 - structured plugin information in statuses API
  app/services/ping.rb
  test/unit/plugin_test.rb
Labels: Needs testing

#8233 Fixes #31518 - remove unused registration_token from API
  app/views/api/v2/hosts/main.json.rabl
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing, UI

#8211 Fixes #31531 - less general OS name matchers
  app/helpers/operatingsystems_helper.rb
Labels: Needs testing

#8243 Fixes #31600 - cant change taxonomies in small screens
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
Labels: Needs testing, UI

#8206 Fixes #31503 - Add insecure checkbox to the registration form
  app/controllers/registration_controller.rb
  app/views/registration/_form.erb
Labels: Demo worthy, Needs testing

#8251 Fixes #31639 - Fix for syntax error when rendering Global Registration Template
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates, Waiting on contributor

#8252 Fixes #31645 - Missing host UUID in global registration template
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#8247 Fixes #31625 - Correctly display environments for class params
  app/views/lookup_keys/_fields.html.erb
Labels: Needs testing

#8250 Fixes #31637 - nilify http proxy credentials
  app/models/http_proxy.rb
  db/migrate/20210114143800_nilify_empty_proxy_credentials.rb
  test/unit/http_proxy_test.rb
Labels: Needs testing

#8240 Fixes: #31585 iPXE ping gateway and name server
  app/views/unattended/provisioning_templates/iPXE/autoyast_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/kickstart_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/windows_default_ipxe.erb
Labels: Needs testing, Templates

#8253 Fixes #31645 - Missing host UUID in global registration template (#8252)
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Stable branch, Templates, Waiting on contributor

#8193 Fixes #31480 - External IPAM Error Handling Fix
  lib/proxy_api/external_ipam.rb
Labels: Needs testing

#8258 Fixes #31669 - Register RegistrationFacet in application.rb
  config/application.rb
  config/initializers/foreman_register.rb
Labels: Needs testing

#8257 Fixes #31664 - add OpenWrt icons
  app/assets/images/icons16x16/openwrt.png
  app/assets/images/icons64x64/openwrt.png
  app/helpers/operatingsystems_helper.rb
Labels: Needs testing

#8248 Fixes #31626 - convert list into comma separated string
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Needs testing, Templates

#8259 fixes #31631 - configure bond the right way
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Templates

#8263 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/gl/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ko/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/sv_SE/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Legacy JS, Needs testing, Waiting on contributor

#8230 Fixes #31573 - drop IPAPPEND2 and use BOOTIF with 01 prefix
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub/Kickstart default PXEGrub.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Kickstart default PXEGrub2.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Kickstart default PXELinux.snap.txt
Labels: Needs testing, Templates

#8229 Fixes #31571 - CentOS Stream installation media
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  db/seeds.d/100-installation_media.rb
Labels: Needs testing, Templates

#8005 Fixes #30835 - ovirt Filter SD by data and volume
  app/models/compute_resources/foreman/model/ovirt.rb
  bundler.d/ovirt.rb
Labels: Needs testing

#8266 Fixes #31688 - Remove NavDropdown component
  webpack/assets/javascripts/react_app/components/Layout/components/NavDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/NavDropdown.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/NavDropdown.test.js.snap
Labels: Needs testing, UI

#8270 Add .nvmrc to gitignore
  .gitignore
Labels: Needs testing, Waiting on contributor

#8265 fixes #31675 - Fix provisioning template to build correct bond configuration for centos
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_bond_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_get_identifier_names.erb
Labels: Needs testing, Templates

#8196 Fixes #31483 - Provisioning templates - Error message for blank template & fix resetting fields
  app/controllers/templates_controller.rb
  app/views/templates/_form.html.erb
Labels: Needs testing, Waiting on contributor

#8274 Fixes #31718 - Remove use of {locations,organizations}_enabled
  app/registries/menu/loader.rb
Labels: Needs testing

#8278 Fixes #22259 - bump fog-libvirt
  bundler.d/libvirt.rb
Labels: Needs testing

#8267 Fixes #31666 - Deprecate current taxonomies from store
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
Labels: Needs testing, UI

#8124 Fixes #31243 - subscription API for active job
  app/jobs/create_rss_notifications.rb
  app/jobs/stored_values_cleanup_job.rb
  app/jobs/template_render_job.rb
  app/models/concerns/foreman/observable_job.rb
  app/models/concerns/foreman/observable_model.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  lib/foreman/event_subscribers.rb
  lib/foreman/observable.rb
  test/models/concerns/foreman/observable_job_test.rb
  test/models/concerns/foreman/observable_model_test.rb
  test/models/hosts/managed_test.rb
  test/unit/foreman/observable_test.rb
Labels: Docs, Needs testing

#8281 Fixes #31233 - Clean up deprecations for 2.4 and older
  app/controllers/api/v2/base_controller.rb
  app/helpers/application_helper.rb
  app/models/host/base.rb
  app/services/fact_importer.rb
  app/services/report_importer.rb
  lib/foreman/foreman_url_renderer.rb
  lib/tasks/trends.rake
  webpack/assets/javascripts/foreman_navigation.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/react_app/API.js
Labels: Needs testing, UI

#8197 Fixes #30834 - Add support for vnic profile
  .eslintrc
  app/controllers/api/v2/compute_resources_controller.rb
  app/models/compute_resource.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/registries/foreman/access_permissions.rb
  app/views/api/v2/compute_resources/available_vnic_profiles.rabl
  app/views/compute_resources_vms/form/ovirt/_network.html.erb
  config/routes/api/v2.rb
  test/unit/compute_resource_host_importer_test.rb
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, UI

#8286 Fixes #31573 - drop IPAPPEND2 and use BOOTIF with 01 prefix (2.3 CP)
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub/Kickstart default PXEGrub.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Kickstart default PXEGrub2.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Kickstart default PXELinux.snap.txt
Labels: Needs testing, Not yet reviewed, Stable branch, Templates

#8268 Fixes #31689 - Handle vertical drag & drop
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/__tests__/helpers.test.js
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/helpers.js
Labels: Needs testing, UI

#8228 Fixes #31569 - deprecate flot pie chart
  app/assets/javascripts/charts.js
  app/helpers/application_helper.rb
Labels: Legacy JS, Needs testing
