Repository theforeman/foreman, pull requests merged in 2021-03, with the labels that each got.

#8272 Fixes #31713 - Add Raspberry Pi OS logo
  app/assets/images/icons16x16/raspbian.png
  app/assets/images/icons64x64/raspbian.png
  app/helpers/operatingsystems_helper.rb
Labels: Needs testing, Not yet reviewed

#8292 Fixes #31742 - enable eager_load in dev environment
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Labels: Needs testing

#8320 Fixes #31850 - Host Registration - REX interface issue
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#8332 Fixes #31179 - Curls output during Global Registration
  app/controllers/concerns/foreman/controller/registration_commands.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/registration/linux_registration_default.erb
  test/controllers/api/v2/registration_commands_controller_test.rb
Labels: Needs testing, Templates

#8369 Fixes #32026 - cloned role throws error 500 if invalid
  app/controllers/roles_controller.rb
  app/views/roles/_form.html.erb
Labels: Needs testing

#8357 Fixes #31597 - Add description for host param in LDAP
  app/controllers/api/v2/auth_source_ldaps_controller.rb
Labels: Needs testing

#8370 Fixes #32029 - test coverage for taxed_and_untaxed
  test/models/audit_test.rb
Labels: Needs testing

#8366 Fixes #32009 - removes flot_pie_chart
  app/assets/images/pie_overlay.png
  app/assets/javascripts/charts.js
  app/assets/stylesheets/charts.scss
  app/assets/stylesheets/smart_proxy.scss
  app/helpers/application_helper.rb
Labels: Legacy JS, Needs testing

#8342 Fixes #31885 - Registration - Simplified logic for rex & insights
  app/controllers/concerns/foreman/controller/registration.rb
  app/controllers/concerns/foreman/controller/registration_commands.rb
  app/views/registration_commands/_form.erb
  test/controllers/api/v2/registration_commands_controller_test.rb
  test/controllers/api/v2/registration_controller_test.rb
  test/controllers/registration_commands_controller_test.rb
Labels: Needs testing

#8372 Fixes #32046 - Set setting with selection to empty value
  webpack/assets/javascripts/react_app/components/SettingUpdateModal/components/__snapshots__/SettingValueField.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/SelectHelpers.js
Labels: Needs testing, UI

#8364 Fixes #31990 - Optimize tooltip and popover initialization
  app/assets/javascripts/application.js
  app/views/hosts/show.html.erb
  test/integration/host_js_test.rb
  test/integration/organization_js_test.rb
  test/integration/puppetclass_test.rb
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
Labels: Legacy JS, Needs testing, UI

#8374 Fixes #32055 - Don't show missing doc link on EmptyState
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePattern.js
Labels: Needs testing, UI

#8373 Fixes #32051 - Change exit status in iPXE templates
  app/views/unattended/provisioning_templates/iPXE/ipxe_default_local_boot.erb
  app/views/unattended/provisioning_templates/iPXE/ipxe_global_default.erb
Labels: Needs testing, Templates, Waiting on contributor

#8358 Fixes #31962 - Preseed ipxe bootdisk domainfix
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
Labels: Needs testing, Templates, Waiting on contributor

#8379 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/en/app.js
  locale/cs_CZ/foreman.po
  locale/en/foreman.po
  locale/foreman.pot
Labels: Legacy JS, Needs testing, Waiting on contributor

#8381 Fixes #31990 - Optimize tooltip and popover initialization (CP 2.4)
  app/assets/javascripts/application.js
  app/views/hosts/show.html.erb
  test/integration/host_js_test.rb
  test/integration/organization_js_test.rb
  test/integration/puppetclass_test.rb
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
Labels: Legacy JS, Needs testing, UI

#8368 Fixes #32025 - allow changing root Component props
  webpack/assets/javascripts/react_app/common/MountingService.js
  webpack/stories/docs/adding-new-components.stories.mdx
Labels: Needs testing, UI, Waiting on contributor

#8256 Fixes #31663 - Global Registration - Usability issues with templates & operating systems
  app/controllers/api/v2/registration_controller.rb
  app/controllers/foreman_register/hosts_controller.rb
  app/models/concerns/foreman_register/host_extensions.rb
  app/models/operatingsystem.rb
  app/models/provisioning_template.rb
  app/models/setting/provisioning.rb
  app/models/template_kind.rb
  app/views/hosts/_init_config_tab.html.erb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  db/migrate/20210115124508_template_kind_registration.rb
  test/controllers/api/v2/os_default_templates_controller_test.rb
  test/controllers/api/v2/registration_controller_test.rb
  test/controllers/foreman_register/hosts_controller_test.rb
  test/controllers/operatingsystems_controller_test.rb
  test/fixtures/os_default_templates.yml
  test/fixtures/settings.yml
  test/fixtures/template_kinds.yml
  test/fixtures/templates.yml
  test/models/concerns/hostext/operating_system_test.rb
  test/models/operatingsystem_test.rb
  test/models/provisioning_template_test.rb
Labels: Needs testing, Templates

#8375 Fixes #32056 - Open EmptyState documentation links in new tab
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePattern.js
Labels: Needs testing, UI

#7805 Refs #30331 - refctor nav header to pf4
  app/assets/stylesheets/base-pf4.scss
  app/assets/stylesheets/navigation.scss
  app/assets/stylesheets/patternfly_and_overrides.scss
  test/integration/notifications_drawer_test.rb
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/common/colors.scss
  webpack/assets/javascripts/react_app/common/variables.scss
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutSelectors.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/CustomContextSelector.js
  webpack/assets/javascripts/react_app/components/Layout/components/CustomContextSelector.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.scss
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/__snapshots__/ImpersonateIcon.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomyDropdown.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomyDropdown.scss
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomyDropdown.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomySwitcher.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomySwitcher.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/__snapshots__/TaxonomySwitcher.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/HeaderToolbar.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/HeaderToolbar.scss
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/HeaderToolbar.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/InstanceTitleViewer.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/UserDropdowns.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/__snapshots__/HeaderToolbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/__snapshots__/UserDropdowns.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/UserDropdowns.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/CustomContextSelector.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/TaxonomySwitcher.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/__snapshots__/UserDropdowns.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/index.js
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
  webpack/assets/javascripts/react_app/components/notifications/notifications.scss
  webpack/test_setup.js
Labels: Needs testing, UI

#8396 Refs #31663 - Host detail - Fix typo in @host variable
  app/views/hosts/_init_config_tab.html.erb
Labels: Needs testing

#8399 Refs #32025 - fix rerender guard condition
  webpack/assets/javascripts/react_app/common/MountingService.js
Labels: Needs testing, UI

#8387 Refs #31745 - Require @theforeman/vendor 8.4.1
  package.json
Labels: Needs testing

#8371 Fixes #32042 - Remove :host_param_true? from REX & insights snippets
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/snippet/insights.erb
  app/views/unattended/provisioning_templates/snippet/remote_execution_ssh_keys.erb
Labels: Needs testing, Templates, Waiting on contributor

#8363 Fixes #31992 - Registering hosts with enabled FIPS
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#8318 Fixes #31848 - fix ForemanForm error regression
  webpack/assets/javascripts/react_app/components/Bookmarks/components/BookmarkForm/BookmarkForm.js
  webpack/assets/javascripts/react_app/components/SettingUpdateModal/components/SettingForm/SettingForm.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.fixtures.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/ForemanForm.test.js
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/__snapshots__/ForemanForm.test.js.snap
  webpack/assets/javascripts/react_app/components/common/forms/ForemanForm/integration.test.js
  webpack/assets/javascripts/react_app/components/users/PersonalAccessTokens/PersonalAccessTokenForm.js
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
Labels: Needs testing, UI

#8273 Fixes #31715 - print slow initializers to debug log
  config/initializers/0_print_time_spent.rb
  config/initializers/z_print_slow_initializers.rb
Labels: Needs testing

#7960 Fixes #30779 - Implement ActionDispatch::RemoteIp
  app/controllers/api/graphql_controller.rb
  app/controllers/concerns/foreman/controller/bruteforce_protection.rb
  app/controllers/concerns/foreman/controller/ip_from_request_env.rb
  app/controllers/concerns/foreman/controller/smart_proxy_auth.rb
  app/controllers/unattended_controller.rb
  app/controllers/userdata_controller.rb
  app/controllers/users_controller.rb
  app/models/setting.rb
  app/models/setting/provisioning.rb
  config/application.rb
  db/migrate/20210317170111_remove_the_remote_add_setting.rb
  lib/foreman/renderer/configuration.rb
  test/controllers/userdata_controller_test.rb
  test/fixtures/settings.yml
  test/models/setting_test.rb
Labels: Needs testing

#8403 Fixes #32118 - remove legacy code and update version for jwt gem
  Gemfile
  app/services/oidc_jwt_validate.rb
Labels: Needs testing

#8394 Fixes #32090 - deprecate flot_bar_chart
  app/helpers/application_helper.rb
Labels: Needs testing

#8405 Fixes #30779 - Implement ActionDispatch::RemoteIp (#7960)
  app/controllers/api/graphql_controller.rb
  app/controllers/concerns/foreman/controller/bruteforce_protection.rb
  app/controllers/concerns/foreman/controller/ip_from_request_env.rb
  app/controllers/concerns/foreman/controller/smart_proxy_auth.rb
  app/controllers/unattended_controller.rb
  app/controllers/userdata_controller.rb
  app/controllers/users_controller.rb
  app/models/setting.rb
  app/models/setting/provisioning.rb
  config/application.rb
  db/migrate/20210317170111_remove_the_remote_add_setting.rb
  lib/foreman/renderer/configuration.rb
  test/controllers/userdata_controller_test.rb
  test/fixtures/settings.yml
  test/models/setting_test.rb
Labels: Needs testing

#8406 Correct coloring of zero metrics in report overviews
  app/helpers/reports_helper.rb
  app/views/dashboard/_reports_widget.html.erb
Labels: Needs testing, Waiting on contributor

#8400 Fixes #29295 - Change operatingsystem_id type from string to number i…
  app/controllers/api/v2/architectures_controller.rb
  app/controllers/api/v2/images_controller.rb
  app/controllers/api/v2/media_controller.rb
  app/controllers/api/v2/os_default_templates_controller.rb
  app/controllers/api/v2/parameters_controller.rb
  app/controllers/api/v2/provisioning_templates_controller.rb
  app/controllers/api/v2/ptables_controller.rb
Labels: Needs testing, Waiting on contributor

#8386 Fixes #32063 - remove use-ntp parameter from timezone command
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Templates

#8391 Fixes #32084 - document default attributes retrieve
  developer_docs/architecture/hosts/diagrams/vm_attributes_diagram.mmd
  developer_docs/architecture/hosts/diagrams/vm_render_form_tab_diagram.mmd
  developer_docs/architecture/hosts/images/vm_attributes_diagram.svg
  developer_docs/architecture/hosts/images/vm_render_form_tab_diagram.svg
  developer_docs/architecture/hosts/vm_handling.asciidoc
Labels: Docs, Needs testing

#8255 Fixes #31665 - Remove changeTaxonomy actions from layout
  webpack/assets/javascripts/foreman_navigation.js
  webpack/assets/javascripts/react_app/components/Layout/Layout.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutActions.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutConstants.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutReducer.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutActions.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/LayoutReducer.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutActions.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomySwitcher.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/__snapshots__/TaxonomySwitcher.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/HeaderToolbar.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/HeaderToolbar.test.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/__snapshots__/HeaderToolbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/index.js
Labels: Needs testing, UI

#8294 Fixes #31750 - :foreman_server_ca_cert macro & not existing file
  lib/foreman/renderer/errors.rb
  lib/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/renderers_shared_tests.rb
Labels: Needs testing

#8409 Fixes #31070 - update the macro documentation
  lib/foreman/renderer/scope/macros/base.rb
Labels: Needs testing

#8339 Fixes #31883 - Validate compute attributes before API creation
  app/controllers/api/v2/compute_attributes_controller.rb
  app/models/compute_attribute.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  test/models/compute_resources/ovirt_test.rb
Labels: Needs testing

#8100 Fixes #30784 - replace memory allocation input to react comp
  app/views/compute_resources_vms/form/libvirt/_base.html.erb
  app/views/compute_resources_vms/form/ovirt/_base.html.erb
  webpack/assets/javascripts/compute_resource/ovirt.js
  webpack/assets/javascripts/react_app/components/CPUCoresInput/__tests__/__snapshots__/CPUCoresInput.test.js.snap
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/MemoryAllocationInput.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/MemoryAllocationInput.stories.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/__tests__/MemoryAllocationInput.test.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/__tests__/__snapshots__/MemoryAllocationInput.test.js.snap
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/constants.js
  webpack/assets/javascripts/react_app/components/MemoryAllocationInput/memoryAllocationInput.scss
  webpack/assets/javascripts/react_app/components/common/forms/NumericInput.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: Needs testing, UI

#8417 Fixes #32217 - Correct OS search on host list
  app/helpers/host_description_helper.rb
Labels: Needs testing

#8410 Fixes #32177 - Return result key as snake case symbol
  app/graphql/mutations/base_mutation.rb
Labels: GraphQL, Needs testing

#8420 Fixes #31361 - Mark strings translatable for infrastructure page
  app/helpers/smart_proxies_helper.rb
  app/views/dashboard/_distribution_widget.html.erb
  app/views/http_proxies/_form.html.erb
Labels: Needs testing

#7728 Fixes #30053 - Audit page render slow when organization is set
  app/models/concerns/audit_extensions.rb
  app/models/concerns/taxonomix.rb
  test/models/concerns/taxonomix_test.rb
Labels: Inactive, Reached an impasse, Ready to merge

#8421 Fixes #32238 - Bind systemd socket to IPv6
  extras/systemd/foreman.socket
Labels: Needs cherrypick
