Repository theforeman/foreman, pull requests merged in 2021-11, with the labels that each got.

#8857 Fixes #33727 - Fixed gathering of allowed actions for permission
  app/registries/foreman/access_control.rb
Labels: Needs testing

#8881 Fixes #32064 - drop Puppet related settings
  app/registries/foreman/settings/cfgmgmt.rb
  app/registries/foreman/settings/facts.rb
  test/fixtures/settings.yml
  test/integration/dashboard_test.rb
  test/models/host_status/configuration_status_test.rb
  test/models/setting_test.rb
Labels: Needs testing

#8888 Fix upgrade tests
  db/migrate/20130520161514_add_unique_constraint_to_fact_name.rb
  db/migrate/20131021152315_change_name_index_on_fact_name.rb
Labels: Waiting on contributor, Needs testing, Stable branch

#8879 Fixes #33484 - add setting for opt-in/out the new host details
  app/assets/javascripts/host_edit.js
  app/controllers/hosts_controller.rb
  app/helpers/application_helper.rb
  app/helpers/audits_helper.rb
  app/helpers/hosts_helper.rb
  app/registries/foreman/settings/general.rb
  app/views/config_reports/index.html.erb
  config/routes.rb
  test/integration/host_js_test.rb
  test/integration/model_js_test.rb
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/react_app/routes/HostDetails/constants.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/Routes.test.js.snap
Labels: Needs testing, UI, Legacy JS

#8894 Fixes #33833 - add integration tests for host details
  test/integration/host_js_test.rb
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: Needs testing, UI

#8866 Fixes #33769 - Windows client installation type
  app/services/puppet_fact_parser.rb
  test/static_fixtures/facts/puppet_facts_windows_10.json
  test/static_fixtures/facts/puppet_facts_windows_server_2019.json
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing

#8878 Fixes #33732 - Make sure base64 encoding is done when creating a host via API
  app/controllers/api/v2/hosts_controller.rb
Labels: Waiting on contributor, Needs testing

#8855 Fixes #33697 - Registration - smart proxy features
  app/controllers/api/v2/registration_commands_controller.rb
  app/controllers/concerns/foreman/controller/registration_commands.rb
  app/controllers/registration_commands_controller.rb
  test/controllers/api/v2/registration_commands_controller_test.rb
  test/controllers/registration_commands_controller_test.rb
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/SmartProxy.test.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/SmartProxy.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/SmartProxy.js
Labels: Needs testing, UI

#8895 Fixes #33793 Template written twice
  app/views/hosts/_provisioning.html.erb
Labels: Needs testing

#8897 Fixes #32999 - add console to kebab dropdown
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/actions.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: Needs testing, UI

#8836 Fixes #33680 - removed AppStream Pulp2 workaround
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Templates

#8638 Fixes #32937 - Support static networking in AutoYaST iPXE
  app/views/unattended/provisioning_templates/iPXE/autoyast_default_ipxe.erb
Labels: Needs testing, Templates

#8355 Fixes #31947 - add grub2/ks validation to jenkins rake task
  .gitignore
  lib/tasks/jenkins.rake
  lib/tasks/test.rake
  test/external/grub_syntax_test.rb
  test/external/kickstart_syntax_test.rb
  test/factories/host_related.rb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Atomic_Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/XenServer_default_answerfile.host4dhcp.snap.txt
Labels: Needs testing

#8900 Job templates - demodulize resource type for permission
  app/helpers/templates_helper.rb
  lib/foreman/renderer/scope/macros/inputs.rb
  test/helpers/templates_helper_test.rb
Labels: Waiting on contributor, Needs testing

#8898 Fixes #33851 - cleanup Bullet config
  config/environments/development.rb
Labels: Needs testing

#8901 Fixes #33248 - show auth source form errors
  app/controllers/auth_source_ldaps_controller.rb
  test/controllers/auth_source_ldaps_controller_test.rb
Labels: Needs testing

#8905 Fixes #31454 - make sure eject is installed on debian/ubuntu systems
  app/views/unattended/provisioning_templates/provision/preseed_default.erb
Labels: Waiting on contributor, Needs testing, Templates

#8902 Fixes #33861 - add default type for DB settings
  app/services/setting_registry.rb
Labels: Needs testing

#8913 Fixes #33861 - add default type for DB settings (CP 3.0)
  app/services/setting_registry.rb
Labels: Needs testing, Stable branch

#8912 Fixes #33894 - Decode string when setting active tab on host details page
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#8915 Fixes #33794 - Remove auto-suggested address when the domain has changed
  app/assets/javascripts/host_edit.js
Labels: Waiting on contributor, Needs testing, Legacy JS

#8916 Refs #33773 - Fix french translations
  app/assets/javascripts/locale/fr/app.js
  locale/fr/foreman.po
Labels: Needs testing, Legacy JS

#8893 Fixes #33826 - Better determine if the host has a BMC interface
  app/models/host/managed.rb
  test/models/nics/bmc_test.rb
Labels: Needs testing

#8921 Fixes #33916 - Bump develop to 3.2.0-develop
  VERSION
  package.json
Labels: Needs testing

#8923 Fixes #33681 - delete unused react_pagination_props
  app/helpers/pagination_helper.rb
Labels: Needs testing

#8919 Fixes #33907 - Add current_date macro
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/helpers.rb
Labels: Needs testing

#8918 Fixes #33906 - Drop fix_db_cache setting
  app/registries/foreman/settings/general.rb
  app/services/cache_manager.rb
  config/initializers/fix_cache.rb
  db/migrate/20140219183343_migrate_permissions.rb
  db/migrate/20140219183345_add_taxonomy_searches_to_filter.rb
  db/migrate/20211111115000_drop_fix_db_cache_setting.rb
Labels: Needs testing

#8906 Fixes #33872 - disable build option when no permission
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: Needs testing, UI

#8924 Fixes #33920 - drop translations for some languages
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  locale/ca/foreman.po
  locale/gl/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/sv_SE/foreman.po
Labels: Needs testing, Legacy JS

#8904 API Development Guidelines
  developer_docs/api.asciidoc
Labels: Needs testing, Docs

#8909 Fixes #33882 - refresh host's global status after clearing a sub status
  app/controllers/hosts_controller.rb
  test/controllers/hosts_controller_test.rb
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusActions.js
Labels: Waiting on contributor, Needs testing, UI

#8927 Fixes #33935 - Cache setting categories
  app/presenters/setting_presenter.rb
  app/services/setting_registry.rb
Labels: Needs testing

#8931 Require Foreman::Gettext in initializers
  config/initializers/1_fast_gettext.rb
  lib/foreman/gettext/all_domains.rb
  lib/foreman/gettext/debug.rb
Labels: Needs testing

#8899 Fixes #32602 - enables puppet 7 agent support
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD_(mfsBSD)_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet.conf.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData_default.host4dhcp.snap.txt
Labels: Needs testing, Templates

#8932 Fix early load of plugin fact parsers
  config/initializers/plugin_parsers.rb
  config/initializers/z_plugin_parsers.rb
Labels: Needs testing

#8821 Fixes #33656 - Updating scoped search for org and loc at FactValue
  app/models/fact_value.rb
Labels: Needs testing

#8679 Fixes #33055: Support ADFS-style JWTs
  app/services/oidc_jwt_validate.rb
Labels: Needs testing

#8934 Fix early load of ForemanInternal in initializer
  config/initializers/seeds.rb
Labels: Needs testing

#8938 Load Menu::Loader in 'befor_init'
  config/initializers/foreman.rb
Labels: Needs testing

#8935 Fixes #33955 - Host detail page can't fully see build modal
  app/assets/stylesheets/patternfly_and_overrides.scss
Labels: Needs testing

#8940 Fix loading of Foreman::Telemetry in initializers
  app/services/foreman/telemetry_helper.rb
  config/initializers/5_telemetry.rb
  config/initializers/5_telemetry_metrics.rb
  lib/foreman/telemetry.rb
  lib/foreman/telemetry_sinks/metric_exporter_sink.rb
  lib/foreman/telemetry_sinks/prometheus_sink.rb
  lib/foreman/telemetry_sinks/rails_logger_sink.rb
  lib/foreman/telemetry_sinks/statsd_sink.rb
Labels: Needs testing

#8939 Loading constants in initializers/active_record_extensions.rb
  app/models/application_record.rb
  app/models/concerns/host_mix.rb
  app/models/host/hostmix.rb
  config/application.rb
  config/initializers/safemode_jail.rb
  config/initializers/uri_jail.rb
Labels: Waiting on contributor, Needs testing

#8947 Fixes #33987 - HostMix using Concern properly
  app/models/application_record.rb
  app/models/concerns/host_mix.rb
Labels: Needs testing

#8946 Fixes #33986 - moves Callback ensures to separate files
  app/models/concerns/ensure_no_cycle.rb
  app/models/concerns/ensure_not_used_by.rb
  lib/core_extensions.rb
  test/models/usergroup_member_test.rb
  test/unit/ensure_no_cycle_test.rb
Labels: Needs testing

#8933 Fixes #33872 - disable build option when no permission (CP 3.1)
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: Not yet reviewed, Needs testing, UI, Stable branch

#8944 Fixes #33983 - removes custom update methods
  lib/core_extensions.rb
Labels: Needs testing

#8943 Fixes #33981 - fix the RHEL OS name parsing
  app/services/foreman_ansible/operating_system_parser.rb
  test/static_fixtures/facts/ansible_rhel_7_server.json
  test/static_fixtures/facts/ansible_rhel_8.json
  test/unit/foreman_ansible/fact_parser_test.rb
Labels: Needs testing

#8945 Fixes #33985 - move identifiers to ApplicationRecord
  app/models/application_record.rb
  lib/core_extensions.rb
Labels: Needs testing

#8911 Fixes #33892 - add setting validations in to_prepare
  app/registries/foreman/setting_manager.rb
  test/unit/setting_manager_test.rb
Labels: Needs testing

#8887 Fixes #33811 - Fixing inheriting of root password for Hosts
  app/models/concerns/host_common.rb
  app/models/host/managed.rb
  app/models/hostgroup.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/models/host_test.rb
  test/models/hostgroup_test.rb
  test/unit/foreman/renderer/scope/macros/host_template_test.rb
Labels: Needs testing

#8952 Fixes #34002 - add Foreman::Plugin#medium_providers_registry
  app/registries/foreman/plugin.rb
Labels: Needs testing

#8488 Fixes #32461 - add endline in save_to_file
  lib/foreman/renderer/scope/macros/base.rb
Labels: Needs testing

#8948 Fix autoload of constants in ApiPie initializer
  config/initializers/apipie.rb
Labels: Needs testing

#8942 Registration - name & path to host_init_config template
  app/controllers/registration_commands_controller.rb
  test/controllers/registration_commands_controller_test.rb
Labels: Waiting on contributor, Needs testing, Needs cherrypick

#8953 Fixes #34008 Add org + loc params to scoped search
  app/models/concerns/hostext/search.rb
  test/models/host_test.rb
Labels: Needs testing

#8925 Fixes #33929 - improve subnet network exception
  app/models/subnet.rb
Labels: Needs testing

#8949 Require /lib dependencies in initializers/foreman.rb
  config/initializers/foreman.rb
  lib/foreman/controller.rb
Labels: Waiting on contributor, Needs testing

#8957 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/gl/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ko/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/sv_SE/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Needs testing, Stable branch, Legacy JS
