Repository theforeman/foreman, pull requests merged in 2021-09, with the labels that each got.

#8724 Fixes #33177 - Don't store incorrect referrer for redirect
  app/controllers/concerns/foreman/controller/auto_complete_search.rb
Labels: Needs testing

#8751 Fixes #33229 - BMC feature error reports correctly (CP 3.0)
  app/controllers/hosts_controller.rb
Labels: Not yet reviewed, Needs testing, Stable branch

#8738 Fixes #32398 - add hash-router for tabs
  webpack/assets/javascripts/react_app/common/hooks/API/APIHooks.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/TabRouter/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/consts.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#8747 Fixes #30504 - Remove trends and statistics endpoints
  .rubocop_todo.yml
  app/controllers/api/v2/statistics_controller.rb
  app/controllers/api/v2/trends_controller.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/statistics_controller_test.rb
  test/controllers/api/v2/trends_controller_test.rb
Labels: Needs testing

#8750 Fixes #33389 - Make the registration form more compact
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: Not yet reviewed, Needs testing, UI

#8754 Fixes #33396 - Filter out vms with missing instanceUuid
  app/services/fog_extensions/vsphere/mini_servers.rb
Labels: Needs testing

#8752 Use PF4 styling for warning in registration form
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/Actions.test.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Actions.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/Actions.js
Labels: Not yet reviewed, Needs testing, UI

#8753 Ignore `@babel/eslint-*` in packaging
  package-exclude.json
Labels: Waiting on contributor, Needs testing

#8619 Fixes #32880 - Add confirmation modal service
  test/integration/operatingsystem_js_test.rb
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/dashboard/index.js
  webpack/assets/javascripts/foreman_editor.js
  webpack/assets/javascripts/foreman_overrides.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/react_app/Root/ReactApp.js
  webpack/assets/javascripts/react_app/components/ConfirmModal/ConfirmModal.stories.js
  webpack/assets/javascripts/react_app/components/ConfirmModal/index.js
  webpack/assets/javascripts/react_app/components/ConfirmModal/integration.test.js
  webpack/assets/javascripts/react_app/components/ConfirmModal/slice.js
  webpack/assets/javascripts/react_app/components/users/PersonalAccessTokens/PersonalAccessTokens.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI, Legacy JS

#8755 Fixes #33405 - fix unregister fill reducer
  webpack/assets/javascripts/react_app/components/common/Fill/FillActions.js
  webpack/assets/javascripts/react_app/components/common/Fill/FillReducer.js
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/FillActions.test.js
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/FillReducer.test.js
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/__snapshots__/FillActions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/Fill/__tests__/__snapshots__/FillReducer.test.js.snap
Labels: Needs testing, Ready to merge, UI

#8766 Fixes #33316 - display toasts messages properly (CP 3.0)
  webpack/assets/javascripts/react_app/components/ToastsList/index.js
Labels: Not yet reviewed, Needs testing, UI, Stable branch

#8606 Fixes #32837 - drop unwanted URI parsing from extension
  lib/foreman/http_proxy/net_http_extension.rb
Labels: Needs testing, Needs cherrypick

#8768 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/ru/app.js
  locale/en/foreman.po
  locale/foreman.pot
  locale/ru/foreman.po
Labels: Not yet reviewed, Waiting on contributor, Needs testing, Legacy JS

#8764 Fixes #33423 - Keep gray bg on overview tab only
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Not yet reviewed, Needs testing, UI

#8745 Fixes #33371 - Fixing personal tokens for users
  app/controllers/api/v2/personal_access_tokens_controller.rb
  app/models/personal_access_token.rb
  app/views/personal_access_tokens/_personal_access_tokens_tab.html.erb
Labels: Needs testing

#8772 Fixes #33432 - Rename the Report template button
  app/helpers/form_helper.rb
  app/views/report_templates/generate.html.erb
Labels: Needs testing

#8773 Fixes #33440 - Fixes bad explanation of "Oauth map users" setting
  app/models/setting/auth.rb
Labels: Needs testing

#8776 Fixes #33473 - use the confirm modal in the host details page
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusTable.js
Labels: Not yet reviewed, Needs testing, UI

#8556 Fixes #32273 - VMWare compute failure ends up in ArgumentError
  app/models/compute_resources/foreman/model/vmware.rb
  app/models/concerns/orchestration/compute.rb
Labels: Waiting on contributor, Needs testing, Inactive

#8749 Fixes #33387 - Remove view_tasks permission
  app/registries/foreman/access_permissions.rb
  db/migrate/20210901081438_drop_view_tasks_permission.rb
  db/seeds.d/020-permissions_list.rb
  db/seeds.d/020-roles_list.rb
Labels: Not yet reviewed, Needs testing

#8765 Fixes #33426 - changing virtual in ks fixed
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
Labels: Needs testing, Templates

#8771 Fixes #33223 - Improving Job Invocation Report Template (CP 3.0)
  app/views/unattended/report_templates/jobs_-_invocation_report_template.erb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/base.rb
Labels: Not yet reviewed, Needs testing, Stable branch, Templates

#8470 Fixes #32403 - Add validations to a setting DSL
  app/models/setting.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/setting_manager.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/models/setting_test.rb
  test/unit/setting_manager_test.rb
Labels: Needs testing, Demo worthy, Docs

#8769 Refs #32398 - Pass router history to tabs
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/TabRouter/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#8774 fixes #33408 - Add Support for Rocky Linux Registration
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#8782 Fixes #33503 - change Mac to MAC in the overview
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
Labels: UI

#8783 Fixes #33514 - correct errorToast type
  webpack/assets/javascripts/react_app/redux/API/APIRequest.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/__snapshots__/APIRequest.test.js.snap
Labels: Needs testing, UI

#8786 Fixes #30981 - add a slot in the new host page kebab
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/Selectors.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: Ready to merge, UI

#8762 Fixes #33419 - Introduce Fact Parser Registry
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/fact_parser_registry.rb
  app/services/fact_parser.rb
  app/services/host_fact_importer.rb
  config/initializers/puppet.rb
  config/initializers/z_plugin_parsers.rb
  test/unit/fact_parser_test.rb
  test/unit/plugin/parser_registry_test.rb
Labels: Needs testing

#8788 Fixes #33539 - Undefined method error for Api::V2::SmartProxiesContro…
  app/controllers/concerns/api/import_puppetclasses_common_controller.rb
Labels: Waiting on contributor, Needs testing

#8789 Run 'subscription-manager clean' when force=true
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#8767 Fixes #33025 - allow filtering hosts by user id
  app/models/report.rb
Labels: Needs testing, Templates

#8796 Fixes #33265 - Revert foreman-js upgrade causing katello test failures
  package.json
Labels: Waiting on contributor, Needs testing

#8798 Fixes #33570 - Fix confirm action for unlock
  webpack/assets/javascripts/foreman_overrides.js
Labels: Needs testing, UI

#8797 Fixes #33566 - don't install wget on RHEL 9+
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Needs testing, Templates
