Repository theforeman/foreman, pull requests merged in 2021-07, with the labels that each got.

#8625 Fixes #32894 - add types to Setting DSL
  app/registries/foreman/plugin.rb
  app/registries/foreman/setting_manager.rb
  app/services/setting_registry.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/controllers/settings_controller_test.rb
  test/integration/setting_js_test.rb
  test/models/host_status/configuration_status_test.rb
  test/unit/setting_manager_test.rb
  test/unit/setting_registry_test.rb
Labels: Docs, Needs testing

#8630 Fixes #32490 - proper permission for ansible
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
Labels: Needs testing, Templates

#8636 Fix broken pot file
  locale/foreman.pot
Labels: Needs testing, Waiting on contributor

#8637 Fixes #32928 - Allow templates to hide preview button
  app/models/template.rb
  app/views/templates/_form.html.erb
Labels: Needs testing, Not yet reviewed

#8608 Fixes #32752 - Don't allow editing readonly settings
  webpack/assets/javascripts/react_app/components/SettingRecords/SettingRecordsActions.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTable.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableFormatters.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableSchema.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingCell.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingCellInner.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/__snapshots__/SettingCell.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingsTable/index.js
Labels: Needs re-review, Needs testing, UI

#8569 Fixes #32692 - add kebab dropdown support to host details cards
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: Needs re-review, Needs testing, UI

#8641 Fixes #32924 - Add validation for compute-profile-id to hostgroup API
  app/models/hostgroup.rb
Labels: Needs re-review, Needs testing, Waiting on contributor

#8635 Fixes #32921 - treat empty TFTP servername correctly
  app/models/concerns/orchestration/dhcp.rb
  test/models/orchestration/dhcp_test.rb
Labels: Needs cherrypick, Needs testing, Not yet reviewed

#8643 Fixes #32942 - properly state the user name when failing
  app/models/user.rb
Labels: Needs testing

#8610 Fixes #32840 - Avoid duplicate tooltips on settings
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableFormatters.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableHelpers.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingCell.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/SettingCellInner.js
  webpack/assets/javascripts/react_app/components/SettingsTable/components/__tests__/__snapshots__/SettingCell.test.js.snap
Labels: Needs re-review, Needs testing, UI

#8618 Fixes #32860 - move toast list to app's root
  app/helpers/application_helper.rb
  app/views/layouts/_application_content.html.erb
  app/views/layouts/login.html.erb
  webpack/assets/javascripts/react_app/Root/ReactApp.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/HostWizard/HostWizardPage/__snapshots__/HostWizard.test.js.snap
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/ModelsPage.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/__tests__/__snapshots__/ModelsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/index.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.test.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#8631 Fixes #32589 - add a support for Oracle Linux registration
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Not yet reviewed, Templates

#8508 Fix #32517 - Moving rhsm parser and importer to core
  app/models/fact_names/katello/rhsm_fact_name.rb
  app/services/katello/rhsm_fact_importer.rb
  app/services/katello/rhsm_fact_parser.rb
  config/initializers/z_plugin_parsers.rb
  test/unit/katello/rhsm_fact_importer_test.rb
  test/unit/katello/rhsm_fact_parser_test.rb
Labels: Needs testing

#8646 Fixes #32953 - create DB settings on full load
  app/services/setting_registry.rb
Labels: Needs testing, Not yet reviewed

#8651 Fixes #32963 - Load only present categories
  app/services/setting_registry.rb
Labels: Needs testing

#8650 Revert "Fixes #32952 - Set upper version of rake to avoid failures"
  Gemfile
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8644 Fixes #32948 - change slot warning to be more explicit
  webpack/assets/javascripts/react_app/components/common/Slot/Slot.js
Labels: Needs re-review, Needs testing, UI

#8645 Fixes #32959 - Unassign OS from registration templates
  db/migrate/20210115124508_template_kind_registration.rb
Labels: Needs re-review, Needs testing

#8666 Fixes #33011 - Navigation doesn't display Host Wizard without admin
  app/registries/menu/loader.rb
Labels: Needs testing, Waiting on contributor

#8664 Refs #32840 - Fix setting editing
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableHelpers.js
Labels: Needs testing, UI

#8667 Fixes #32013 - improve the UX for adding host parameters
  app/assets/javascripts/application.js
  app/helpers/form_helper.rb
  app/views/common_parameters/_parameters.html.erb
Labels: Demo worthy, Legacy JS, Needs re-review, Needs testing

#8594 Fixes #32808 - Add visual Amazon support
  app/assets/images/icons16x16/amazon.png
  app/assets/images/icons64x64/amazon.png
  app/helpers/operatingsystems_helper.rb
  app/models/operatingsystem.rb
Labels: Needs testing, Waiting on contributor

#8634 Fixes #32918 - Host registration - Update packages
  app/controllers/api/v2/registration_commands_controller.rb
  app/controllers/api/v2/registration_controller.rb
  app/controllers/concerns/foreman/controller/registration.rb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  lib/foreman/renderer/configuration.rb
  lib/foreman/renderer/scope/macros/host_template.rb
  test/controllers/api/v2/registration_commands_controller_test.rb
  test/controllers/registration_commands_controller_test.rb
  test/unit/foreman/renderer/scope/macros/host_template_test.rb
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Advanced.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/fixtures.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/Advanced.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/UpdatePackages.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: Needs testing, Templates, UI

#8663 Fixes #33013 - Silence bundler in production
  config/application.rb
Labels: Needs testing

#8678 Remove hound badge
  README.md
Labels: Needs testing, Not yet reviewed, Waiting on contributor

#8512 Fix 32558 - Moving Chef parser and importer to Core
  app/models/fact_names/foreman_chef/fact_name.rb
  app/services/foreman_chef/fact_importer.rb
  app/services/foreman_chef/fact_parser.rb
  config/initializers/z_plugin_parsers.rb
Labels: Needs testing

#8673 Fixes #33042 - salt-minion is installed in saltstack_setup
  app/views/unattended/provisioning_templates/provision/preseed_default.erb
Labels: Needs testing, Not yet reviewed, Templates

#8672 Fixes #33038 - add bmc_available to host show API
  app/models/host/managed.rb
  app/views/api/v2/hosts/main.json.rabl
Labels: Needs re-review, Needs testing

#8629 Toast notifications & PatternFly 4
  app/assets/stylesheets/base-pf4.scss
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.fixtures.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastList.scss
  webpack/assets/javascripts/react_app/components/ToastsList/ToastListHelpers.js
  webpack/assets/javascripts/react_app/components/ToastsList/ToastsList.test.js
  webpack/assets/javascripts/react_app/components/ToastsList/__snapshots__/ToastsList.test.js.snap
  webpack/assets/javascripts/react_app/components/ToastsList/__tests__/fixtures.js
  webpack/assets/javascripts/react_app/components/ToastsList/__tests__/helpers.test.js
  webpack/assets/javascripts/react_app/components/ToastsList/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/ToastsList/index.js
Labels: Needs testing, UI

#8682 Refs #32860 - don't put notification deprecation in the html
  app/helpers/application_helper.rb
Labels: Needs testing

#8295 Fixes #31751 - make enable-epel false by default
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
Labels: Demo worthy, Ready to merge, Templates

#8675 Fixes #33049 - Properly handle missing status type
  app/models/host/managed.rb
Labels: Needs testing, Not yet reviewed

#8511 Fixes 32548 - Moving salt parser and importer to core
  app/models/fact_names/foreman_salt/fact_name.rb
  app/services/foreman_salt/fact_importer.rb
  app/services/foreman_salt/fact_parser.rb
  config/initializers/z_plugin_parsers.rb
  test/static_fixtures/facts/grains_centos.json
  test/unit/foreman_salt/salt_fact_importer_test.rb
  test/unit/foreman_salt/salt_fact_parser_test.rb
Labels: Needs testing

#8685 fixes #33093 - force Fedora 33 builds due to failures on 34
  Dockerfile
Labels: Needs testing, Not yet reviewed

#8686 Fixes #33098 - update fog-libvirt to 0.9.0
  bundler.d/libvirt.rb
Labels: Needs testing, Not yet reviewed

#8660 Fixes #33008 - switch to sql schema dumping
  config/application.rb
  config/initializers/dynflow.rb
Labels: Needs testing, Not yet reviewed

#8598 Fixes #32828 - align recent audits card to the new design
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#8509 Fixes #32540 - host_param_(true|false)? cleanup
  lib/foreman/renderer/scope/macros/host_template.rb
  test/unit/foreman/renderer/scope/macros/host_template_test.rb
Labels: Needs testing

#8465 Fixes #32415 - access only through SettingRegistry
  app/controllers/api/v2/settings_controller.rb
  app/models/setting.rb
  app/presenters/setting_presenter.rb
  app/services/setting_registry.rb
  test/controllers/api/v2/settings_controller_test.rb
  test/unit/setting_registry_test.rb
Labels: Needs testing

#8689 Fixes #33110 - host details page - cleanup
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Interfaces/Interfaces.test.js
  webpack/assets/javascripts/react_app/components/HostDetails/Interfaces/__snapshots__/Interfaces.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Interfaces/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/Parameters.test.js
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/__snapshots__/Parameters.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Parameters/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/Details.css
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#8665 Restrict search operators for Settings
  app/models/setting.rb
  app/presenters/setting_presenter.rb
  test/unit/setting_registry_test.rb
Labels: Needs testing, Not yet reviewed

#8285 Fixes #31444 - Add host's statuses to the details page
  app/controllers/hosts_controller.rb
  app/registries/foreman/access_permissions.rb
  config/routes.rb
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusItem.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/Constants.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalState.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalStatus.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/HostStatusSelector.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/Status.test.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusActions.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusIcon.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusTable.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusesModal.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/__snapshots__/Status.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Status/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/styles.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/common/dates/RelativeDateTime.js
  webpack/assets/javascripts/react_app/redux/API/APIReducer.js
Labels: Needs testing, UI

#8692 Fixes #33123 - Add GraphQL type for permissions
  app/graphql/types/permission.rb
  app/graphql/types/query.rb
  app/graphql/types/user.rb
  test/graphql/queries/permission_query_test.rb
  test/graphql/queries/permissions_query_test.rb
  test/graphql/queries/user_query_test.rb
Labels: GraphQL, Needs testing

#8684 Fixes #33090 - load AIX OS attributes
  lib/foreman/renderer/scope/variables/base.rb
Labels: Needs testing

#8694 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/gl/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/nl_NL/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/sv_SE/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/gl/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ko/foreman.po
  locale/nl_NL/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/sv_SE/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Legacy JS, Needs testing, Waiting on contributor

#8697 Fixes #33155 - Drop Spice XPI support
  app/helpers/compute_resources_vms_helper.rb
  app/models/compute_resources/foreman/model/ovirt.rb
  app/views/hosts/console/spice.html.erb
  webpack/assets/javascripts/spice.js
Labels: Needs testing, UI

#8691 Fixes #32493 - add deprecation only once
  app/views/puppetclasses/_classes_parameters.html.erb
Labels: Needs testing, Not yet reviewed, Stable branch

#8690 Registration command API & params with false values
  app/controllers/concerns/foreman/controller/registration_commands.rb
  test/controllers/api/v2/registration_commands_controller_test.rb
Labels: Needs testing, Waiting on contributor

#8680 Delete host params when register host
  app/controllers/concerns/foreman/controller/registration.rb
Labels: Needs testing

#8657 Fixes #33003 - Refactor FactChart to use slice pattern
  package.json
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartActions.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartConstants.js
  webpack/assets/javascripts/react_app/components/FactCharts/FactChartReducer.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChart.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartActions.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartReducer.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChartSelectors.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartActions.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChartSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/fixtures.js
  webpack/assets/javascripts/react_app/components/FactCharts/index.js
  webpack/assets/javascripts/react_app/components/FactCharts/selectors.js
  webpack/assets/javascripts/react_app/components/FactCharts/slice.js
  webpack/assets/javascripts/react_app/components/FactCharts/stories.js
  webpack/assets/javascripts/react_app/components/FactCharts/style.scss
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI, Waiting on contributor

#8699 Fixes #33161 - Add useCallback to RegistrationCommandsPage
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: Needs testing, UI

#8659 Registration - Refresh subscription data
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
Labels: Needs testing, Templates

#8583 Fixes #31128 - add host details card to overview tab
  .eslintrc
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/DefaultLoaderEmptyState.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/styles.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/Properties.test.js
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/__snapshots__/Properties.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/Properties/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/common/SkeletonLoader/index.js
Labels: Needs testing, UI

#8475 Fixes #32437 - fix webpack-dev-server h2 issue
  Procfile
  package.json
  script/foreman-start-dev
Labels: Needs re-review, Needs testing, UI

#8551 Fixes #29681 - Fixing bad regex for excluding facts
  app/services/fact_importer.rb
  test/fact_importer_test_helper.rb
Labels: Needs re-review, Needs testing
