Repository theforeman/foreman, pull requests merged in 2022-12, with the labels that each got.

#9469 Update pkg_manager.erb to include support/detection for AmazonLinux 2 and AmazonLinux 2022
  app/views/unattended/provisioning_templates/snippet/pkg_manager.erb
Labels: Waiting on contributor, Templates

#9525 Fix 35796 - Allow overriding default kernel parameters
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
Labels: Templates

#9531 Refs #35796 - Reduce empty lines
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
Labels: Templates

#9459 Fix 35286 - New PXEGrub2 template for Ubuntu Autoinstall
  app/views/unattended/provisioning_templates/PXEGrub2/preseed_default_pxegrub2_autoinstall.erb
  app/views/unattended/provisioning_templates/PXELinux/preseed_default_pxelinux_autoinstall.erb
  app/views/unattended/provisioning_templates/snippet/preseed_kernel_options_autoinstall.erb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Preseed_default_PXEGrub2_Autoinstall.ubuntu_autoinst4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux_Autoinstall.ubuntu_autoinst4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/preseed_kernel_options_autoinstall.host4dhcp.snap.txt
Labels: Templates

#9471 Fixes #35645 - install and use sub-man for SLES OS during host-reg
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/snippet/pkg_manager.erb
Labels: Waiting on contributor, Templates

#9457 Fixes #35648 - Fixes API documentation typo
  app/controllers/api/v2/ptables_controller.rb
Labels: Needs cherrypick

#9427 Refs #35361 - Add development docs
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Docs

#9540 Fixes #35836 - Drop "BIOS" UUID field
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
Labels: UI

#9542 Fixes #35839 - Move Details tab out of experimental labs
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: UI

#9458 Refs #32685 - Keep modulized model name in Global ID
  app/graphql/foreman_graphql_schema.rb
  app/services/foreman/global_id.rb
  test/test_helper.rb
Labels: GraphQL

#9338 Fixes #35326 - Rename hostname/fqdn ENC vars to avoid conflicts
  app/models/host_info_providers/static_info.rb
Labels: Needs testing

#9553 Refs #32685 - Keep modulized model name in Global ID
  app/graphql/foreman_graphql_schema.rb
  app/services/foreman/global_id.rb
  test/test_helper.rb
Labels: Stable branch, GraphQL

#9555 Fixes #35326 - Rename hostname/fqdn ENC vars to avoid conflicts
  app/models/host_info_providers/static_info.rb
Labels: Not yet reviewed

#9518 Fixes #35781 - Drop old Ruby < 2.5 compatibility code
  app/services/password_crypt.rb
Labels: Not yet reviewed

#9501 Fixes #35719 - Preseed Autoinstall auto updates
  app/views/unattended/provisioning_templates/user_data/preseed_autoinstall_cloud_init.erb
Labels: Templates

#9559 Fixes #35871 - purge trends only when statistics not installed
  lib/cleanup_helper.rb
  lib/tasks/cleanup.rake
Labels: Needs cherrypick

#9478 Fixes #35660 - Update report templates for multi CV
  app/views/unattended/report_templates/ansible_-_ansible_inventory.erb
  app/views/unattended/report_templates/host_-_applicable_errata.erb
  app/views/unattended/report_templates/subscription_-_entitlement_report.erb
Labels: Templates
