Repository theforeman/foreman, pull requests merged in 2022-06, with the labels that each got.

#9244 Fixes #34994 - require ApplicationRecord early for migrations
  config/application.rb
Labels: Needs testing

#9240 Refs #32686 - relax fog-core pin, we support newer fog-google now
  Gemfile
Labels: Needs testing

#9246 Refs #34305 - forgotten category for new settings
  app/services/setting_registry.rb
Labels: Needs testing

#9212 Fixes #34881 - Clean up MountingService
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/react_app/common/MountingService.js
Labels: Needs testing, UI

#9248 Fixes #32476 - 'No matches found' text is untranslated
  app/assets/javascripts/application.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/react_app/components/common/forms/Select.js
Labels: Needs testing, UI, Legacy JS

#9247 Fixes #9770 - add functionality to create hosts from hostgroups
  app/assets/javascripts/host_edit.js
  app/views/hostgroups/index.html.erb
Labels: Needs testing, Legacy JS

#9229 Fixes #34942 - Adapt installation media search path for Ubuntu 20.04.3+
  app/models/operatingsystems/debian.rb
Labels: Waiting on contributor, Needs testing

#9213 Fixes #34887 - userdata controller should be able to look up host by MAC address
  app/controllers/userdata_controller.rb
  config/routes.rb
Labels: Waiting on contributor, Needs testing

#9253 preseed_default_finish: fix typo
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
Labels: Waiting on contributor, Needs testing, Templates

#9250 Fixes #35013 - config rake uses Setting DSL
  lib/tasks/config.rake
Labels: Needs testing

#9239 Fixes #34981 - Add 'Recent communication' card to overview
  .eslintrc
  webpack/assets/javascripts/react_app/components/HostDetails/RecentCommunicationCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/CardsRegistry.js
Labels: Needs testing, UI

#9252 Fixes #35017 - Add Tracer installation status to System properties card
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
Labels: Waiting on contributor, Needs testing, UI

#9251 Fixes #35001 - adjust card weights
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/CardsRegistry.js
Labels: Needs testing, UI

#9243 Support != and ~ search on os_minor and ~ on os_major
  app/models/concerns/hostext/search.rb
  test/models/concerns/hostext/search_test.rb
Labels: Needs testing

#9249 Fixes #34998 - long breadcrumb switcher is out of view
  webpack/assets/javascripts/react_app/components/PF4/BreadcrumbSwitcher/breadcrumb-switcher.scss
  webpack/assets/javascripts/react_app/components/PF4/BreadcrumbSwitcher/index.js
Labels: Needs testing, UI

#9262 chore: Set permissions for GitHub actions
  .github/workflows/js_tests.yml
  .github/workflows/plugins_react_tests.yml
  .github/workflows/rubocop.yml
  .github/workflows/single_commit.yml
  .github/workflows/storybook_deploy_main.yml
Labels: Waiting on contributor, Needs testing

#9193 Fixes #34791 - remove pf3 bookmarks
  webpack/assets/javascripts/react_app/components/BookmarkForm/BookmarkForm.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/SearchModal.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/BookmarkForm.test.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/SearchModal.test.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/__snapshots__/BookmarkForm.test.js.snap
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/__snapshots__/SearchModal.test.js.snap
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/index.js
  webpack/assets/javascripts/react_app/components/Bookmarks/Bookmarks.fixtures.js
  webpack/assets/javascripts/react_app/components/Bookmarks/Bookmarks.js
  webpack/assets/javascripts/react_app/components/Bookmarks/Bookmarks.stories.js
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksActions.js
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksConstants.js
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksReducer.js
  webpack/assets/javascripts/react_app/components/Bookmarks/BookmarksSelectors.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/Bookmarks.test.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/BookmarksReducer.test.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/BookmarksSelectors.test.js
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/Bookmarks.test.js.snap
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/BookmarksReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/BookmarksSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Bookmarks/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Bookmarks/components/Bookmark.js
  webpack/assets/javascripts/react_app/components/Bookmarks/components/__tests__/Bookmark.test.js
  webpack/assets/javascripts/react_app/components/Bookmarks/components/__tests__/__snapshots__/Bookmark.test.js.snap
  webpack/assets/javascripts/react_app/components/Bookmarks/index.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/Bookmarks.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: Needs testing, UI

#9235 Fixes #34969 - Set up REX pull provider during provisioning and registration
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: Needs testing, UI, Templates

#9268 Refs #35001 - fix recent communication card weight
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/CardsRegistry.js
Labels: Needs testing, UI

#9237 Fixes #34971 - fix the validators label help
  app/helpers/lookup_keys_helper.rb
Labels: Needs testing

#9260 Fixes #35047 - improve copy to clipboard react component
  webpack/assets/javascripts/react_app/components/common/ClipboardCopy/index.js
Labels: Needs testing, UI

#9257 Split npm dependency resolution from module installation in React tests
  .github/workflows/js_tests.yml
  .github/workflows/plugins_react_tests.yml
Labels: Waiting on contributor, Needs testing

#9269 Fixes #34901 - System properties card updates
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
Labels: Needs testing, UI

#9258 Fixes #32881 - Expose previous application record revision through safemode
  app/services/foreman/renderer/configuration.rb
  app/services/foreman/renderer/scope/macros/base.rb
  test/unit/foreman/renderer/scope/macros/base_test.rb
Labels: Waiting on contributor, Needs testing, Demo worthy

#9266 Fixes #35069 - ApplicationRecord.<=> undefined method 'name'
  app/models/application_record.rb
Labels: Needs testing

#9271 Fixes #35083 - add power status timeout param
  app/controllers/api/v2/hosts_controller.rb
  app/services/power_manager/power_status.rb
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/PowerStatus/constants.js
Labels: Needs testing, UI

#8529 Fixes #32612 - Add some extra metadata to the default kickstart
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/preseed_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed_default.ubuntu4dhcp.snap.txt
Labels: Needs testing, Templates

#9263 Fixes #35066 - Puppet enablement flags are inconsistent
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
Labels: Needs testing, Templates
