Repository theforeman/foreman, pull requests merged in 2022-09, with the labels that each got.

#9298 Fixes #35166 - Enable DHCP and static IP deployment for Ubuntu Autoinstall
  app/views/unattended/provisioning_templates/PXELinux/preseed_default_pxelinux_autoinstall.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux_Autoinstall.ubuntu_autoinst4dhcp.snap.txt
Labels: Needs testing, Templates

#9395 Fixes #31966 - Add warning for foreman-rake permissions:reset task
  lib/tasks/reset_permissions.rake
Labels: Waiting on contributor, Needs testing

#9386 Fixes #35436 - Add ouiaId prop to all supported components in host details
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/__tests__/__snapshots__/BreadcrumbBar.test.js.snap
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/BuildModal.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/PowerStatus/PowerStatusDropDown.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalState.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusTable.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusesModal.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/ReportsTab/ReportsTable.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/ReportsTab/helpers.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/ReportsTab/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/TabRouter/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/Details.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/StatusSkeleton.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/__snapshots__/Status.test.js.snap
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/index.js
  webpack/assets/javascripts/react_app/components/HostStatuses/index.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/BookmarkItems.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/Bookmarks.js
  webpack/assets/javascripts/react_app/components/PF4/BreadcrumbSwitcher/index.js
  webpack/assets/javascripts/react_app/components/PF4/DocumentationLink/__snapshots__/DocumentationLink.test.js.snap
  webpack/assets/javascripts/react_app/components/PF4/DocumentationLink/index.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/InlineEdit.js
  webpack/assets/javascripts/react_app/components/PF4/InlineEdit/InlineTextInput.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/ActionButtons.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/__snapshots__/PermissionDenied.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/ModalProgressBar.js
  webpack/assets/javascripts/react_app/components/common/ModalProgressBar/__tests__/__snapshots__/ModalProgressBar.test.js.snap
Labels: Waiting on contributor, Needs testing, UI

#9398 Fixes #35472 - Try restarting yggdrasild before enabling it
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
Labels: Needs testing, Templates

#9350 Fixes #35152 - Add clone media option
  app/controllers/media_controller.rb
  app/registries/foreman/access_permissions.rb
  app/views/media/index.html.erb
  config/routes.rb
  test/controllers/media_controller_test.rb
Labels: Needs testing

#9400 Fixes #35475 - add masonryLayout to os card
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/OperatingSystem/index.js
Labels: Needs testing, UI

#9408 Fixes #35490 - Registration - Changing proxy cause an error
  app/controllers/registration_commands_controller.rb
Labels: Needs testing

#9385 Fixes #35439 - Add ouia-id to ConfirmModal
  webpack/assets/javascripts/react_app/components/ConfirmModal/index.js
Labels: Needs testing, UI

#9411 Fixes #35472 - Try restarting yggdrasild before enabling it
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
Labels: Needs testing, Stable branch, Templates

#9402 Fixes #35480 - Host provisioning & OS without family
  app/models/operatingsystem.rb
Labels: Needs testing

#9409 Fixes #35491 - host details statuses clear button disabled
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalStatus.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9412 Fixes #35472 - Try restarting yggdrasild before enabling it
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
Labels: Needs testing, Stable branch, Templates

#9291 Fixes #35177 - Option to switch to graphical kickstart
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
Labels: Needs testing, Templates

#9285 Fixes #35137 Permit setting puppet tag during install
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD_(mfsBSD)_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData_default.host4dhcp.snap.txt
Labels: Needs testing, Templates

#9294 Fixes #35180 - Remove default network identifier
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_generic_interface.erb
Labels: Needs testing, Templates

#9384 Fixes #35424 - host details audits change from list to table
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
Labels: Needs testing, UI

#9332 Fixes #35300 - Pass keyword arguments correctly
  app/helpers/application_helper.rb
  app/models/concerns/foreman/sti.rb
  app/models/concerns/has_many_common.rb
  app/services/csv_exporter.rb
  app/services/foreman/renderer/scope/template.rb
Labels: Needs testing

#9420 fixes #31593 - included puppet7 param in kickstart_default header
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Templates

#9407 Fixes #35488 - Fix snapshots:generate task
  lib/tasks/snapshots.rake
Labels: Needs testing

#9397 Fixes #35055 - Add permission to action_permission for bootfiles
  app/controllers/api/v2/operatingsystems_controller.rb
Labels: Not yet reviewed, Needs testing

#9369 Fixes #35417 - adding testing instructions to the development setup guide
  developer_docs/foreman_dev_setup.asciidoc
Labels: Waiting on contributor, Needs testing, Docs

#9361 Fixes #35391 - Dev docs - Smart Proxy, REX & Ansible
  developer_docs/ansible_dev_setup.asciidoc
  developer_docs/foreman_dev_setup.asciidoc
  developer_docs/remote_execution_dev_setup.asciidoc
  developer_docs/smart_proxy_dev_setup.asciidoc
Labels: Needs testing, Docs

#9367 Fixes #35416 - adding a disabled option to links in the dropdown menus
  app/assets/stylesheets/base.scss
  app/helpers/application_helper.rb
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Waiting on contributor, Needs testing, UI, Docs

#9425 refs #35331 - Anaconda rhsm RHEL 9 params fix
  app/views/unattended/provisioning_templates/snippet/kickstart_rhsm.erb
Labels: Templates

#9403 Fixes #35485 - concurrent safe create OS when parsing facts
  app/services/katello/rhsm_fact_parser.rb
Labels: Needs testing

#9405 Fixes #25507 - Add a help bubble with an explanation and link to a manual
  app/views/subnets/_fields.html.erb
Labels: Waiting on contributor, Needs testing

#9419 Fixes #35206 - more accurate messaging when host statuses are cleared
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalState.js
Labels: Waiting on contributor, UI

#9421 Fixes #35519 - fix the iPXE default template description
  app/views/unattended/provisioning_templates/iPXE/ipxe_global_default.erb
Labels: Templates

#9311 Fixes #35240 - Add support for static IP to AutoYaST PXELinux
  app/views/unattended/provisioning_templates/PXELinux/autoyast_default_pxelinux.erb
Labels: Needs testing, Templates

#9322 Fixes #35285: New Discovery kexec template for Ubuntu Autoinstall
  app/views/unattended/provisioning_templates/discovery/ubuntu_kexec.erb
Labels: Needs testing, Templates

#9232 Fixes #34949 - Do not set taxonomies during extlogin
  app/controllers/users_controller.rb
  test/controllers/users_controller_test.rb
Labels: Needs testing

#9186 Fixes #34764 - refactor filters page
  .eslintrc
  app/controllers/filters_controller.rb
  app/controllers/permissions_controller.rb
  app/helpers/roles_helper.rb
  app/models/role.rb
  app/registries/foreman/access_permissions.rb
  app/views/filters/_form.html.erb
  app/views/filters/edit.html.erb
  app/views/filters/new.html.erb
  app/views/permissions/index.js.erb
  app/views/roles/_form.html.erb
  app/views/roles/index.html.erb
  config/routes.rb
  test/controllers/filters_controller_test.rb
  webpack/assets/javascripts/react_app/components/common/Pf4DualList/DualListWithIds.js
  webpack/assets/javascripts/react_app/components/common/Pf4DualList/index.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/EditFiltersFormPage.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/FilterForm.scss
  webpack/assets/javascripts/react_app/routes/FiltersForm/FiltersForm.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/FiltersForm.test.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/FiltersFormConstants.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/NewFiltersFormPage.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/SelectPermissions.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/SelectResourceType.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/SelectRole.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/Taxonomies.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/constants.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/index.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/Routes.test.js.snap
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI

#9417 fixes #35466 - change repo location of puppet-release files
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
Labels: Templates

#9343 Fixes #35347 - purge old foreman_docker references
  db/migrate/20220907145552_clean_trends_and_foreman_docker_data.rb
  lib/cleanup_helper.rb
  lib/tasks/cleanup.rake
Labels: Waiting on contributor, Needs testing

#9390 Fixes #35449 - Update sshkey to 2.x
  Gemfile
Labels: Needs testing

#9391 Fixes #35450 - Update rack-cors to 1.1.x
  Gemfile
Labels: Needs testing

#9416 Fixes #34997 - Fix expand/collapse all behavior in Details tab
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/OperatingSystem/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: UI

#9389 Fixes #35448 - Update roadie-rails to 3.x
  Gemfile
Labels: Needs testing

#9433 Fixes #35558 - Fix current lint warnings
  .eslintrc
  webpack/assets/javascripts/react_app/components/common/forms/CounterInput/CounterInput.js
Labels: UI

#9357 Fixes #35131 - Change icon of disabled user
  app/helpers/application_helper.rb
Labels: Needs testing

#9435 Fixes #35561 - Allow delaying yggdrasil restart
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
Labels: Templates

#9230 Fixes #32685 - update graphql to 1.13.0+
  Gemfile
  app/graphql/foreman_graphql_schema.rb
  app/graphql/types/base_object.rb
  app/graphql/types/concerns/meta_field.rb
  app/graphql/types/interface_attributes_input.rb
  app/graphql/types/model.rb
  app/graphql/types/query.rb
  app/graphql/types/setting.rb
  app/services/foreman/global_id.rb
  test/graphql/mutations/bookmarks/create_mutation_test.rb
  test/graphql/mutations/bookmarks/delete_mutation_test.rb
  test/graphql/mutations/bookmarks/update_mutation_test.rb
  test/graphql/mutations/hosts/create_mutation_test.rb
  test/graphql/mutations/media/create_mutation_test.rb
  test/graphql/mutations/media/delete_mutation_test.rb
  test/graphql/mutations/media/update_mutation_test.rb
  test/graphql/mutations/operatingsystems/create_mutation_test.rb
  test/graphql/mutations/operatingsystems/delete_mutation_test.rb
  test/graphql/mutations/operatingsystems/update_mutation_test.rb
  test/graphql/mutations/settings/update_setting_test.rb
  test/graphql/mutations/sign_in_user_mutation_test.rb
  test/graphql/queries/host_query_test.rb
  test/graphql/queries/model_query_test.rb
  test/graphql/queries/nodes_query_test.rb
  test/graphql/resolvers/collection_test.rb
  test/graphql/resolvers/host/power_status_test.rb
  test/test_helper.rb
Labels: Waiting on contributor, Needs testing, GraphQL, Breaking change

#9432 Fixes #34949 - Do not set taxonomies during extlogin
  app/controllers/users_controller.rb
  test/controllers/users_controller_test.rb
Labels: Stable branch

#9359 Fixes #35387 - Host details templates card
  app/controllers/api/v2/hosts_controller.rb
  app/helpers/application_helper.rb
  app/registries/foreman/access_permissions.rb
  config/routes/api/v2.rb
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/TemplatesCard/index.js
Labels: Needs testing, UI

#9414 Fixes #35497 - New host UI - Link to host group
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
Labels: Needs testing, UI
