Repository theforeman/foreman, pull requests merged in 2022-04, with the labels that each got.

#9170 Fixes #34689 - bootfile should be useable in Jail (CP 3.2)
  app/models/operatingsystem.rb
Labels: Needs testing, Stable branch

#8713 Fixes #33236 - optimize useAPI hook
  webpack/assets/javascripts/react_app/common/hooks/API/APIHooks.js
  webpack/assets/javascripts/react_app/common/hooks/API/APIHooks.test.js
Labels: Needs testing, UI

#9174 Fixes #34714 - Refactor handling of External IPAM response
  app/services/proxy_api/external_ipam.rb
Labels: Needs testing

#9179 Fixes #34745 - Error on API actions if no key is passed
  webpack/assets/javascripts/react_app/redux/API/APIMiddleware.js
  webpack/assets/javascripts/react_app/redux/API/__tests__/APIMiddleware.test.js
Labels: Needs testing, UI

#9167 Fixes #34690 - rake printing auditable attributes
  lib/tasks/audits.rake
Labels: Needs testing

#9172 Fixes #34713 - Remove pf3 OverlayTrigger
  app/assets/stylesheets/base.scss
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteClearButton.js
  webpack/assets/javascripts/react_app/components/AutoComplete/components/AutoCompleteFocusShortcut.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorOptions.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSettings.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorOptions.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChart.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/__snapshots__/ImpersonateIcon.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/InstanceTitleViewer.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableFormatters.js
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableHelpers.js
  webpack/assets/javascripts/react_app/components/common/ClipboardCopy/index.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DatePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/TimePicker.test.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/date-time-picker.scss
  webpack/assets/javascripts/react_app/components/notifications/ToggleIcon/ToggleIcon.js
  webpack/assets/javascripts/react_app/components/notifications/ToggleIcon/__snapshots__/ToggleIcon.test.js.snap
Labels: Needs testing, UI

#9180 Fixes #34747 - override_param should consider direction
  app/assets/javascripts/parameter_override.js
Labels: Needs testing, Legacy JS, Needs cherrypick

#9183 Fixes #34755 - Fix text/icon alignment on host status card
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusItem.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusIcon.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/styles.scss
Labels: UI

#9181 Fixes #34748 - Taxonomies api to accept per_page all
  app/controllers/concerns/api/v2/taxonomies_controller.rb
Labels: Needs testing

#9185 Fixes #34744 - Remove reports deprecation warning
  app/views/config_reports/index.html.erb
Labels: Needs testing, Stable branch

#9173 Fixes #34712 - Add enabled repositories report
  app/views/unattended/report_templates/host_-_enabled_repositories.erb
Labels: Needs testing, Templates

#9171 Fixes #34710 - Use foreman request address
  app/services/foreman/foreman_url_renderer.rb
  app/services/foreman/renderer/configuration.rb
  app/views/unattended/provisioning_templates/iPXE/windows_default_ipxe.erb
  test/unit/foreman_url_renderer_test.rb
Labels: Needs testing, Templates

#9188 Fixes #34776 - removes the doubled description key
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
Labels: Needs testing, Templates

#9189 Fixes #33010 - Add Details tab to host details page
  app/helpers/application_helper.rb
  webpack/assets/javascripts/react_app/common/hooks/Common/index.js
  webpack/assets/javascripts/react_app/common/hooks/Storage/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/DefaultLoaderEmptyState.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/CardsRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/styles.css
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/common/Slot/Slot.js
  webpack/assets/javascripts/react_app/components/common/Slot/__snapshots__/Slot.test.js.snap
Labels: Needs testing, UI

#9165 Fixes #34643 - Do not use Apipie cache
  app/controllers/api/v2/base_controller.rb
  config/initializers/apipie.rb
Labels: Needs testing

#9195 Fixes #34802 - Pin tabbable version
  package-exclude.json
  package.json
Labels: Needs testing

#9194 Fixes #34798 - New host detail page sentence case fixes
  test/integration/host_js_test.rb
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalState.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusTable.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusesModal.js
Labels: Needs testing, UI

#9200 Fixes #34815 - Fix slots in system properties card
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
  webpack/assets/javascripts/react_app/components/common/Slot/Slot.js
Labels: Needs testing, UI

#9199 Fixes #34809 - provide a description for the checkin report
  app/views/unattended/report_templates/host_-_last_checkin.erb
Labels: Needs testing, Templates

#9197 [CP 3.1] Fixes #34747 - override_param should consider direction
  app/assets/javascripts/parameter_override.js
Labels: Needs testing, Stable branch, Legacy JS

#9182 Fixes #34515, #34516 - Add host owner and comment on host list page
  app/helpers/hosts_helper.rb
  app/views/hosts/_list.html.erb
Labels: Needs testing

#9202 Fixes #34831 - change host status icon to green
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/GlobalState.js
Labels: Needs testing, UI
