Repository theforeman/foreman, pull requests merged in 2022-11, with the labels that each got.

#9472 Refs #35300 - Pass arguments as keyword arguments
  app/controllers/api/base_controller.rb
  app/models/fact_value.rb
Labels: Templates

#9462 Fixes #35621 - Make power status a selectable column
  app/helpers/hosts_helper.rb
  app/registries/foreman/settings/general.rb
  app/views/hosts/_list.html.erb
  config/initializers/foreman_register.rb
  db/migrate/20221017161042_remove_host_power_status_from_settings.rb
  test/controllers/api/v2/settings_controller_test.rb
Labels: Not yet reviewed

#9494 Fixes #35702 - Move Card Context to apply all host tabs
  webpack/assets/javascripts/react_app/components/HostDetails/CardExpansionContext.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: UI

#9496 Foreman 3.5.0 translations
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Needs re-review, Legacy JS

#9492 Fixes #35667 - Add Details tab - BIOS card
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Bios/index.js
Labels: UI

#9475 Fixes #35656 - host details Networking interfaces card
  .eslintrc
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/NetworkingInterfaces/NICDescriptionList.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/NetworkingInterfaces/NetworkingInterfaces.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/NetworkingInterfaces/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/styles.css
Labels: UI

#9495 Fixes #35605 - host details tab can be too tall
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/styles.css
Labels: UI

#9502 Fixes #35724 - Add page title to Host Statuses
  webpack/assets/javascripts/react_app/components/HostStatuses/index.js
Labels: UI

#9504 Fixes #34219 - Add page title to Host Detail
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: UI

#9510 Fixes #35751 - Hide Manage columns text in small screens
  webpack/assets/javascripts/react_app/components/ColumnSelector/ColumnSelector.js
  webpack/assets/javascripts/react_app/components/ColumnSelector/column-selector.scss
Labels: UI

#9509 Fixes #35745 - Add Virtual guests to System properties card
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
Labels: UI

#9467 Fixes #35642 - updated the message in the new UI to show the host's creator
  app/models/host/base.rb
  app/views/api/v2/hosts/main.json.rabl
  db/migrate/20221025151600_add_creator_id_to_hosts.rb
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Waiting on contributor, UI

#9515 Refs #35578 - Fix netplan interface template syntax
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_generic_interface.erb
Labels: Templates, Needs cherrypick

#9519 Refs #35578 - Fix netplan interface template syntax
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_generic_interface.erb
Labels: Not yet reviewed, Templates

#9520 Fixes #35757 - Same columns should have the same status
  webpack/assets/javascripts/react_app/components/ColumnSelector/ColumnSelector.js
Labels: UI

#9413 Fixes #32521 - Compute resource console button reflects availability
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: Waiting on contributor, Needs testing, UI

#9368 Fixes #35255 - Hosts details page show parameters
  app/controllers/api/v2/hosts_controller.rb
  app/registries/foreman/access_permissions.rb
  app/views/api/v2/parameters/base.json.rabl
  config/routes/api/v2.rb
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/EditTableRow.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/Parameters.scss
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/ParametersConstants.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/ParametersTable.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/RowActions.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/TableRow.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/ViewTableRow.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/PF4/Helpers/useTableSort.js
Labels: UI

#9528 Fixes #35802 - Use per_page=all in the UI
  webpack/assets/javascripts/react_app/components/HostStatuses/index.js
  webpack/assets/javascripts/react_app/components/users/PersonalAccessTokens/PersonalAccessTokensActions.js
Labels: UI

#9493 Fixes #35630 - remove translated string in layout html
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutHelper.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/integration.test.js.snap
Labels: UI
