Repository theforeman/foreman, pull requests merged in 2022-03, with the labels that each got.

#9112 Fixes #34489 - AutoYaST PXE http-proxy without http-proxy-port
  app/views/unattended/provisioning_templates/PXELinux/autoyast_default_pxelinux.erb
  app/views/unattended/provisioning_templates/iPXE/autoyast_default_ipxe.erb
Labels: Needs testing, Templates

#8639 Fixes #20265 - Add UEFI Grub(2) templates for SUSE
  app/views/unattended/provisioning_templates/PXEGrub/autoyast_default_pxegrub.erb
  app/views/unattended/provisioning_templates/PXEGrub2/autoyast_default_pxegrub2.erb
Labels: Needs testing, Templates

#9113 Fixes #34311 - Update AutoYaST SLES default provisioning template for 15 SP3
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
Labels: Needs testing, Templates

#9069 Fixes #34346 - support Openstack URI with paths
  app/models/compute_resources/foreman/model/openstack.rb
  test/models/compute_resources/openstack_test.rb
Labels: Needs testing

#9118 Fixes #34506 - infer correct permisson name in authorized_for
  app/helpers/authorize_helper.rb
  test/helpers/authorize_helper_test.rb
Labels: Needs testing, Needs cherrypick

#9076 Fixes #32632 - initial verison of Ubuntu autoinstall templates
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/partition_tables_templates/preseed_default_autoinstall.erb
  app/views/unattended/provisioning_templates/PXELinux/preseed_default_pxelinux_autoinstall.erb
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_setup.erb
  app/views/unattended/provisioning_templates/user_data/preseed_autoinstall_cloud_init.erb
  lib/tasks/snapshots.rake
  test/factories/host_related.rb
  test/factories/operatingsystem.rb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Preseed_default_PXEGrub2.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux_Autoinstall.ubuntu_autoinst4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Preseed_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_Autoinstall_cloud-init_user_data.ubuntu_autoinst4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.ubuntu4dhcp.snap.txt
Labels: Needs testing, Templates

#9123 Fixes #34532 - disable EFI local chainloading by default
  app/registries/foreman/settings/provisioning.rb
  app/views/unattended/provisioning_templates/snippet/pxegrub2_chainload.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_global_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_chainload.host4dhcp.snap.txt
Labels: Needs testing, Templates

#9126 Add mountpoints for hosts list
  app/views/hosts/_list.html.erb
Labels: Needs testing

#9127 Fixes #34544 - Update pagelet documentation for developers
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Needs testing, Docs

#9066 Fixes #34328 - GraphQL uses SettingRegistry directly
  app/graphql/mutations/settings/update.rb
  app/graphql/resolvers/setting_resolver.rb
  app/graphql/resolvers/settings_resolver.rb
  app/graphql/types/query.rb
  app/graphql/types/setting.rb
  app/models/setting.rb
  app/presenters/setting_presenter.rb
  test/graphql/mutations/settings/update_setting_test.rb
  test/graphql/queries/setting_query_test.rb
  test/graphql/queries/settings_query_test.rb
Labels: Needs testing, GraphQL

#8926 Fixes #33931 - update kickstart custom template
  app/views/unattended/partition_tables_templates/kickstart_custom.erb
Labels: Needs testing, Templates

#9128 Refs #34489 - update snapshot tests for Yast PXE
  app/views/unattended/provisioning_templates/PXELinux/autoyast_default_pxelinux.erb
  app/views/unattended/provisioning_templates/iPXE/autoyast_default_ipxe.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/AutoYaST_default_PXELinux.host4dhcp.snap.txt
Labels: Needs testing, Templates

#9024 Fixes #34240 - do not read undefined setting
  app/services/dashboard/data.rb
Labels: Needs testing

#8822 Fixes #33660 - ignore dynflow tables for dump
  config/initializers/dynflow.rb
Labels: Needs testing

#9116 Fixes #34498 - added RHEL9 and CentOS9 Guest OSes
  app/models/compute_resources/foreman/model/vmware.rb
Labels: Needs testing

#9086 Add support skipping puppet setup explicitly
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/freebsd_(mfsbsd)_finish.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/finish/windows_default_finish.erb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/userdata_default.erb
Labels: Waiting on contributor, Needs testing, Templates

#9120 Undefined method 'format_errors' when db:seed fail
  db/seeds.d/035-admin.rb
  db/seeds.d/100-installation_media.rb
  db/seeds.d/110-smart_proxy_features.rb
  db/seeds.d/130-compute_profiles.rb
  db/seeds.d/150-bookmarks.rb
  db/seeds.d/160-mail_notifications.rb
  db/seeds.rb
Labels: Needs testing

#9121 Fixes #34525 - Honor host_registration_insights param in provisioning templates
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
Labels: Waiting on contributor, Needs testing, Templates

#8830 Refs #33671 - print apipie warnings on stderr
  config/initializers/apipie.rb
Labels: Needs testing

#9017 Add Safemode Jail for ActiveSupport::TimeWithZone
  config/initializers/safemode_jail.rb
Labels: Waiting on contributor, Needs testing

#9130 Refs #34323 - explicit value for Rails 6.1
  app/models/setting.rb
  app/presenters/setting_presenter.rb
  app/services/setting_registry.rb
Labels: Needs testing

#9133 Fixes #34553 - Use systemd for Ansible callback under newer Debian family OSes
  app/views/unattended/provisioning_templates/snippet/ansible_provisioning_callback.erb
Labels: Waiting on contributor, Needs testing, Templates

#9141 Fixes #34579 - fix the redirect after canceling host's form
  app/views/hosts/_form.html.erb
Labels: Needs testing

#9104 Refs #34442 - Allow plugins to hide tabs on new host detail page
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9144 3.1 CPs 09-03-2022
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
Labels: Not yet reviewed, Waiting on contributor, Needs testing, Templates

#9102 Fixes #34228 - close bookmarks after selecting a bookmark
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/Bookmarks.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/__tests__/Bookmarks.test.js
Labels: Needs testing, UI

#9114 Fixes #34495 - Breadcrumb switcher doesn't work with katello
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
Labels: Needs testing, UI

#9051 Fixes #32035 - Add DSL autocompletion in templates
  .eslintrc
  app/controllers/templates_controller.rb
  app/services/foreman/renderer/scope/macros/base.rb
  app/views/templates/_form.html.erb
  webpack/assets/javascripts/react_app/components/Editor/Editor.fixtures.js
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/EditorHelpers.js
  webpack/assets/javascripts/react_app/components/Editor/EditorReducer.js
  webpack/assets/javascripts/react_app/components/Editor/EditorSelectors.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/Editor.test.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorModal.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorOptions.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSettings.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorView.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorSettings.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorModal.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorNavbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorOptions.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorView.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/editor.scss
  webpack/assets/javascripts/react_app/components/Editor/index.js
  webpack/test_setup.js
Labels: Needs testing, UI

#9042 Fixes #33782 - do not use fixtures for Settings
  lib/tasks/snapshots.rake
  test/controllers/api/v2/settings_controller_test.rb
  test/fixtures/settings.yml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_global_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/PXELinux_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/PXELinux_global_default.host4dhcp.snap.txt
  test/unit/host_fact_importer_test.rb
Labels: Needs testing

#9147 Fixes #34596 - sanitize default template names
  app/models/provisioning_template.rb
  app/models/template_kind.rb
  app/registries/foreman/settings/provisioning.rb
  app/validators/pxe_template_name_validator.rb
  lib/foreman/provision.rb
Labels: Needs testing

#9124 Refs #34511 - align pf4 design to breadcrumbs
  test/integration/host_js_test.rb
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBar.scss
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9136 Fixes #34565 - fix installation media for new Ubuntu autoinstall (subiquity)
  app/models/operatingsystems/debian.rb
Labels: Waiting on contributor, Needs testing

#9134 Fixes #34557 - improve association resolver
  app/graphql/resolvers/concerns/association.rb
  app/graphql/resolvers/generic.rb
  app/graphql/types/base_object.rb
Labels: Needs testing, GraphQL

#9140 Fixes #34572 - fix invalid redirect after host edit
  app/assets/javascripts/host_edit.js
  app/views/hosts/edit.html.erb
Labels: Needs testing, Legacy JS

#9138 Fixes #34570 - pass kwarks args properly
  app/services/setting_registry.rb
Labels: Needs testing

#9145 Refs #34360 - allow host deleting with host_reports plugin
  app/controllers/hosts_controller.rb
  app/models/host/managed.rb
  app/models/host_status/configuration_status.rb
  lib/tasks/seed.rake
Labels: Waiting on contributor, Needs testing

#9153 Refs #34360 - allow host deleting with host_reports plugin (CP 3.2)
  app/controllers/hosts_controller.rb
  app/models/host/managed.rb
  app/models/host_status/configuration_status.rb
  lib/tasks/seed.rake
Labels: Not yet reviewed, Needs testing

#9089 Fixes #34391 - use facets to expose reported data in API
  app/views/api/v2/hosts/main.json.rabl
  app/views/api/v2/hosts/reported_data.json.rabl
  config/application.rb
Labels: Needs testing

#9131 Fixes #34634 - fix order description syntax
  app/controllers/api/v2/base_controller.rb
Labels: Needs testing

#9151 Fixes #34610 - Entitlement report double counts consumed subs
  app/views/unattended/report_templates/subscription_-_entitlement_report.erb
Labels: Needs testing, Blocked by another PR, Templates

#8359 Fixes #31965 - make bmc_credentials_accessible disabled by default
  app/models/host/managed.rb
  app/models/nic/bmc.rb
  app/registries/foreman/settings/auth.rb
  app/registries/foreman/settings/provisioning.rb
  test/controllers/api/v2/interfaces_controller_test.rb
  test/controllers/hosts_controller_test.rb
  test/models/nics/bmc_test.rb
  test/models/setting_test.rb
Labels: Waiting on contributor, Needs testing, Inactive

#9156 Fixes #34546 - Bookmarks should update the searchbar
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteActions.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteConstants.js
  webpack/assets/javascripts/react_app/components/AutoComplete/AutoCompleteReducer.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.fixtures.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.js
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: Needs testing, UI

#9137 Fixes #34569 - postpone LookupValue#match validations
  app/models/concerns/host_common.rb
  app/models/lookup_value.rb
  test/models/host_test.rb
  test/models/lookup_value_test.rb
Labels: Needs testing

#9159 Fixes #34662 - Breadcrumb switcher use V for selected
  webpack/assets/javascripts/react_app/components/PF4/BreadcrumbSwitcher/breadcrumb-switcher.scss
  webpack/assets/javascripts/react_app/components/PF4/BreadcrumbSwitcher/index.js
Labels: Needs testing, UI

#9152 Fixes #34614 - Provide JS helpers for dealing with global IDs
  webpack/assets/javascripts/react_app/common/globalIdHelpers.js
  webpack/assets/javascripts/react_app/common/globalIdHelpers.test.js
Labels: Needs testing, UI

#9162 Fixes #34661 - Registration migration with nil template
  db/migrate/20210115124508_template_kind_registration.rb
Labels: Needs testing

#9161 Fixes #34661 - Registration migration with nil template
  db/migrate/20210115124508_template_kind_registration.rb
Labels: Needs testing

#9125 Fixes #34542 - Add ouiaId for easier testing
  webpack/assets/javascripts/react_app/components/ConfirmModal/index.js
Labels: Needs testing, UI

#8517 Fixes #32572 - PBKDF2 password hashing support
  app/models/personal_access_token.rb
  app/models/user.rb
  app/registries/foreman/settings/auth.rb
  app/services/foreman/password_hash.rb
  test/models/user_test.rb
  test/unit/foreman/password_hash_test.rb
  test/unit/tasks/seeds_test.rb
Labels: Needs testing

#9158 Fix #34658 - Harmonize preseed templates
  app/views/unattended/provisioning_templates/PXEGrub2/preseed_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXELinux/preseed_default_pxelinux.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
  app/views/unattended/provisioning_templates/snippet/preseed_kernel_options.erb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Preseed_default_PXEGrub2.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Preseed_default_PXEGrub2.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/AutoYaST_default_iPXE.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Kickstart_default_iPXE.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Kickstart_default_iPXE.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Kickstart_default_iPXE.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Kickstart_default_iPXE.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Kickstart_default_iPXE.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Preseed_default_iPXE.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Preseed_default_iPXE.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/iPXE_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/iPXE_global_default.host4dhcp.snap.txt
Labels: Needs testing, Templates

#9163 Fixes #34673 - properly note what identifier is passed in props
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/BuildModal.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9166 Fixes #34689 - bootfile should be useable in Jail
  app/models/operatingsystem.rb
Labels: Needs testing

#9150 Fixes #34603 - deprecate non-DSL setting definitions
  app/models/setting.rb
  app/services/setting_registry.rb
  config/initializers/foreman.rb
Labels: Needs testing, Breaking change

#9053 Fixes #34307: Support unattended partitionning using crypto under Debian
  app/views/unattended/partition_tables_templates/preseed_default.erb
Labels: Waiting on contributor, Needs testing, Templates

#9154 Remove duplicate puma gem declaration
  bundler.d/service.rb
  bundler.d/test.rb
Labels: Waiting on contributor, Needs testing

#9168 Refs #34495 - Katello erros from Breadcrumb switcher
  app/services/breadcrumbs_options.rb
  test/unit/breadcrumbs_options_test.rb
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/BreadcrumbBarActions.js
Labels: Needs testing, UI

#9155 Fixes #34646 - move initialization into initializer
  config/application.rb
  config/initializers/foreman.rb
Labels: Needs testing
