Repository theforeman/foreman, pull requests merged in 2022-01, with the labels that each got.

#8870 Fixes #33470 - Adding support for CentOS Stream
  app/services/foreman_ansible/operating_system_parser.rb
  app/services/foreman_chef/fact_parser.rb
  app/services/foreman_salt/fact_parser.rb
  app/services/katello/rhsm_fact_parser.rb
  app/services/puppet_fact_parser.rb
  test/static_fixtures/facts/ansible_centos_8.json
  test/static_fixtures/facts/ansible_centos_stream.json
  test/static_fixtures/facts/chef_centos_7.json
  test/static_fixtures/facts/chef_centos_8.json
  test/static_fixtures/facts/chef_centos_stream.json
  test/static_fixtures/facts/puppet_centos_8_facter_2.5.json
  test/static_fixtures/facts/puppet_centos_8_facter_4.1.json
  test/static_fixtures/facts/puppet_centos_stream.json
  test/static_fixtures/facts/puppet_centos_stream_facter_2.5.json
  test/static_fixtures/facts/salt_centos_8.json
  test/static_fixtures/facts/salt_centos_stream.json
  test/unit/foreman_ansible/fact_parser_test.rb
  test/unit/foreman_chef/fact_parser_test.rb
  test/unit/foreman_salt/salt_fact_parser_test.rb
  test/unit/katello/rhsm_fact_parser_test.rb
  test/unit/puppet_fact_parser_test.rb
Labels: Needs testing

#9012 Fixes #34212 - pin Psych < 4
  Gemfile
Labels: Needs testing

#9001 Fixes #34165 - Require code from lib folder
  config/application.rb
  config/initializers/foreman.rb
Labels: Needs testing

#9015 Fixes #34214 - Typos in provisioning templates broke Puppet aio detec…
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD_(mfsBSD)_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet.conf.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/puppet_setup.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData_default.host4dhcp.snap.txt
Labels: Waiting on contributor, Needs testing, Templates, Needs cherrypick

#9013 Fixes #34213 - 'truthy?' and 'falsy?' template helpers
  app/services/foreman/renderer/configuration.rb
  app/services/foreman/renderer/scope/macros/helpers.rb
  test/unit/foreman/renderer/scope/macros/helpers_test.rb
Labels: Needs testing

#9010 Fixes #34206 - Fix bool params in global registration template
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#8985 Fixes #34122 - Report disallowed metric labels as other
  app/services/authorizer_cache.rb
  config/initializers/5_telemetry.rb
  lib/foreman/telemetry.rb
  lib/foreman/telemetry_sinks/statsd_sink.rb
Labels: Needs testing

#9006 Fixes #28155 - Return valid vsphere folder
  app/models/concerns/fog_extensions/vsphere/folder.rb
Labels: Needs testing

#9002 Fixes #34166 - enable the new host page by default
  app/registries/foreman/settings/general.rb
  test/controllers/hosts_controller_test.rb
  test/integration/host_js_test.rb
  test/integration/host_test.rb
Labels: Needs testing

#8995 Fixes #34142 - make the core cards arrangeable in new host page
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/CardsRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Overview/index.js
Labels: Needs testing, UI

#9019 Fixes #33310 - Remove epoch shifting, as AreaChart already does this
  app/helpers/hosts_helper.rb
Labels: Waiting on contributor, Needs testing

#8385 Fixes #32035 - Add DSL autocompletion in templates
  .eslintrc
  app/controllers/templates_controller.rb
  app/services/foreman/renderer/scope/macros/base.rb
  app/views/templates/_form.html.erb
  webpack/assets/javascripts/react_app/components/Editor/Editor.fixtures.js
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/EditorHelpers.js
  webpack/assets/javascripts/react_app/components/Editor/EditorReducer.js
  webpack/assets/javascripts/react_app/components/Editor/EditorSelectors.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/EditorModal.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorOptions.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSettings.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorView.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/EditorSettings.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorModal.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorNavbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorOptions.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorView.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/editor.scss
  webpack/assets/javascripts/react_app/components/Editor/index.js
Labels: Needs testing, Demo worthy, UI, Headline feature

#9022 Fixes #34140 - remove reports warning
  app/views/config_reports/index.html.erb
Labels: Needs testing, Stable branch

#8979 Fixes #23300 - Brakeman SQL injections
  app/models/compute_resource.rb
  app/models/concerns/hostext/search.rb
  app/models/concerns/taxonomix.rb
  app/models/config_report.rb
  app/models/host/managed.rb
  app/models/report.rb
  app/registries/foreman/plugin/rbac_support.rb
  app/services/foreman/advisory_lock_manager.rb
  app/services/host_counter.rb
Labels: Needs testing

#9018 Refs #33968 - Telemetry is not autoloadable
  config/initializers/5_telemetry.rb
  lib/foreman/telemetry.rb
Labels: Needs testing

#9021 Fixes #34236 - Drop require_ssl_smart_proxies setting
  app/controllers/concerns/foreman/controller/smart_proxy_auth.rb
  app/registries/foreman/settings/auth.rb
  db/migrate/20220111110149_drop_require_ssl_smart_proxies_setting.rb
  test/controllers/api/v2/config_reports_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/fixtures/settings.yml
Labels: Needs testing, Demo worthy

#9020 Fixes #34234 - do not allow HTTP on SmartProxy Auth
  app/controllers/concerns/foreman/controller/smart_proxy_auth.rb
  test/controllers/api/v2/config_reports_controller_test.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#9026 Fixes #34250 - Insecure help text at Host Registration
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/Insecure.test.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Insecure.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/Insecure.js
Labels: Needs testing, UI

#9034 Fixes #34265 - change more deprecated ks/sendmac Anaconda options
  app/views/unattended/provisioning_templates/PXEGrub/pxegrub_global_default.erb
  app/views/unattended/provisioning_templates/PXEGrub2/pxegrub2_global_default.erb
  app/views/unattended/provisioning_templates/PXELinux/pxelinux_global_default.erb
  app/views/unattended/provisioning_templates/script/grubby_default.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Needs testing, Templates

#8990 Fixes #34133 - Use PF4 pagination as default
  app/assets/stylesheets/base.scss
  app/assets/stylesheets/patternfly_and_overrides.scss
  app/views/common/_pagination.html.erb
  test/integration/audit_js_test.rb
  webpack/assets/javascripts/hosts/tableCheckboxes.js
  webpack/assets/javascripts/react_app/Root/Context/ForemanContext.js
  webpack/assets/javascripts/react_app/components/Pagination/Context.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.js
  webpack/assets/javascripts/react_app/components/Pagination/Pagination.test.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHooks.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationHooks.test.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.fixtures.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.js
  webpack/assets/javascripts/react_app/components/Pagination/PaginationWrapper.stories.js
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/Pagination.test.js.snap
  webpack/assets/javascripts/react_app/components/Pagination/__snapshots__/PaginationHooks.test.js.snap
  webpack/assets/javascripts/react_app/components/Pagination/index.js
  webpack/assets/javascripts/react_app/components/Pagination/index.scss
  webpack/assets/javascripts/react_app/components/Pagination/pagination.scss
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPageActions.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/components/AuditsTable.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/ModelsPage.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/ModelsPageHelpers.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/__tests__/ModelsPage.fixtures.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/__tests__/__snapshots__/ModelsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/components/ModelsPageContent.js
  webpack/assets/javascripts/react_app/routes/Models/ModelsPage/index.js
  webpack/test_setup.js
Labels: Needs testing, UI

#9035 Fixes #34271 - Ignore url query params when setting active tab
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#8059 Fixes #31027 - transpiler macros for CoreOS family
  app/registries/foreman/setting_manager.rb
  app/registries/foreman/settings/provisioning.rb
  app/services/foreman/renderer/configuration.rb
  app/services/foreman/renderer/scope/base.rb
  app/services/foreman/renderer/scope/macros/transpilers.rb
  app/views/unattended/provisioning_templates/provision/coreos_provision.erb
  app/views/unattended/provisioning_templates/snippet/coreos_provision_post
  config/ct/.gitkeep
  lib/foreman/command_runner.rb
  lib/tasks/snapshots.rake
  test/fixtures/settings.yml
  test/unit/foreman/renderer/scope/macros/transpilers_test.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/CoreOS_provision.host4dhcp.snap.txt
Labels: Needs testing, Ready to merge, Demo worthy, Templates, Headline feature

#9036 Fixes #34280 - Add `ip_include?` method to `IPAM::Base`
  app/services/ipam/base.rb
  test/unit/ipam_test.rb
Labels: Needs testing

#9016 Fixes #34223 - fix the missing username in audits
  app/models/concerns/audit_extensions.rb
Labels: Needs cherrypick

#9040 Refs #34252 - Registration API - Remove dots from param descriptions
  app/controllers/api/v2/registration_commands_controller.rb
  app/controllers/api/v2/registration_controller.rb
Labels: Waiting on contributor, Needs testing

#9032 Fixes #34259 - add slot for rex dropdown in host page
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9037 Refs #33418 - Make last_report.origin interval parametrizable
  app/models/host_status/configuration_status.rb
  app/registries/foreman/settings/general.rb
  test/models/host_status/configuration_status_test.rb
Labels: Needs testing

#9041 Fixes #34292 - support pxe_kernel_options in Preseed templates
  app/views/unattended/provisioning_templates/PXEGrub2/preseed_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXELinux/preseed_default_pxelinux.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
Labels: Needs testing, Templates

#9045 Refs #33418 - Make last_report.origin interval parametrizable fixup
  app/models/host_status/configuration_status.rb
Labels: Waiting on contributor, Needs testing

#9046 Fixes #34299 - allow input deletion during seeding
  app/models/template_input.rb
Labels: Needs testing

#9048 Fixes #32919 - Add Salt Autosign grain to minion configuration
  app/views/unattended/provisioning_templates/snippet/saltstack_minion.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/saltstack_minion.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/saltstack_setup.host4dhcp.snap.txt
Labels: Needs testing, Templates

#8903 Fixes #33862 - add empty state for new host page
  config/routes.rb
  webpack/assets/javascripts/react_app/components/HostDetails/EmptyState/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/consts.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/Routes.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/RedirectedEmptyPage.js
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/route.js
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: Needs testing, UI

#9008 Fixes #34062 - update ace-editor to fix toggel typo
  package.json
  test/integration_test_helper.rb
  webpack/assets/javascripts/react_app/components/Editor/__tests__/Editor.test.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/Editor/components/EditorView.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorView.test.js.snap
Labels: Needs testing, UI, Waiting on Packaging

#9033 Registration and host_init_config templates previews
  app/controllers/templates_controller.rb
  app/helpers/templates_helper.rb
  app/models/provisioning_template.rb
  app/models/template.rb
  app/views/provisioning_templates/_custom_tabs.html.erb
  app/views/templates/_form.html.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_template_kind.js
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/EditorActions.js
  webpack/assets/javascripts/react_app/components/Editor/EditorConstants.js
  webpack/assets/javascripts/react_app/components/Editor/EditorReducer.js
  webpack/assets/javascripts/react_app/components/Editor/EditorSelectors.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/EditorReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/components/EditorNavbar.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorNavbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/index.js
Labels: Waiting on contributor, Needs testing, UI, Templates

#9028 Fixes #34249 - Update facts after host registration
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
Labels: Needs testing, Templates

#8930 Fixes #33946 - remove dangerouslySetInnerHTML uses
  .eslintrc
  webpack/assets/javascripts/react_app/components/Architectures/Welcome.js
  webpack/assets/javascripts/react_app/components/AuthSource/Welcome.js
  webpack/assets/javascripts/react_app/components/ConfigReports/Welcome.js
  webpack/assets/javascripts/react_app/components/common/ErrorBoundary/index.js
Labels: Needs testing, UI

#9038 Fixes #34289 - remove workaround for encoding root_pass
  app/controllers/api/v2/hosts_controller.rb
  test/controllers/api/v2/hosts_controller_test.rb
Labels: Needs testing

#9047 Fixes #34300 - correctly construct the fqdn for redirect
  app/assets/javascripts/host_edit.js
  app/assets/javascripts/host_edit_interfaces.js
  app/views/hosts/_form.html.erb
  test/integration/host_js_test.rb
Labels: Needs testing, Legacy JS

#9049 Fixes #34302 - associate CentOS_Stream OS with the templates
  app/views/unattended/partition_tables_templates/kickstart_custom.erb
  app/views/unattended/partition_tables_templates/kickstart_default.erb
  app/views/unattended/partition_tables_templates/kickstart_default_thin.erb
  app/views/unattended/partition_tables_templates/kickstart_dynamic.erb
  app/views/unattended/provisioning_templates/PXEGrub/kickstart_default_pxegrub.erb
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/PXELinux/kickstart_default_pxelinux.erb
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/iPXE/kickstart_default_ipxe.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/userdata_default.erb
  app/views/unattended/provisioning_templates/user_data/userdata_open_vm_tools.erb
  test/static_fixtures/templates/provision/one.erb
Labels: Needs testing, Templates

#9067 Fixes #34340 - Insights snippet - Remove connection test
  app/views/unattended/provisioning_templates/snippet/insights.erb
Labels: Needs testing, Templates

#9043 Fixes #34293 - remove experimental banner in new host page
  webpack/assets/javascripts/react_app/components/HostDetails/ExperimentalAlert.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9064 Fixes #34329 - Allow permissions to be excluded from default roles
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/rbac_registry.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/unit/plugin_test.rb
Labels: Waiting on contributor, Needs testing, Docs

#9073 Fixes #34351 - Allow Site manager role to be extended from plugins
  app/models/role.rb
  app/registries/foreman/plugin/rbac_support.rb
  db/seeds.d/020-roles_list.rb
Labels: Waiting on contributor, Needs testing
