Repository theforeman/foreman, pull requests merged in 2022-08, with the labels that each got.

#9286 Fixes #35132 - Make audits host detection regex more strict
  app/models/concerns/audit_extensions.rb
  db/migrate/20220630104300_fix_facet_audits.rb
Labels: Needs testing

#9333 Fixes #35301 - minitest 5 deprecation fixes
  test/helpers/compute_resources_helper_test.rb
  test/models/compute_resources/ovirt_test.rb
  test/models/concerns/taxonomix_test.rb
  test/models/role_test.rb
  test/models/template_input_test.rb
  test/models/template_test.rb
  test/models/user_test.rb
  test/unit/compute_resource_host_associator_test.rb
  test/unit/foreman/force_ssl_test.rb
  test/unit/net/validations_test.rb
  test/unit/plugin_test.rb
Labels: Needs testing

#9331 Fixes #35299 - Remove redundant mocha inclusion
  test/unit/proxy_api/bmc_test.rb
Labels: Needs testing

#9330 Fixes #35298 - Pass trim_mode as a keyword argument
  app/services/foreman/renderer/safe_mode_renderer.rb
  app/services/foreman/renderer/unsafe_mode_renderer.rb
Labels: Needs testing

#9329 Fixes #30659 - Allow friendly_id 5.4 again
  Gemfile
Labels: Needs testing

#9321 Fixes #35280 - Install katello-host-tools / -tracer during host registration
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
Labels: Waiting on contributor, Needs testing, Templates

#9319 Fixes #35274 - Make columns on host index page selectable
  app/controllers/application_controller.rb
  app/controllers/concerns/application_shared.rb
  app/controllers/hosts_controller.rb
  app/helpers/selectable_columns_helper.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/selectable_columns/category.rb
  app/registries/foreman/selectable_columns/storage.rb
  app/registries/foreman/selectable_columns/table.rb
  app/views/common/_selectable_column_td.html.erb
  app/views/common/_selectable_column_th.html.erb
  app/views/hosts/_list.html.erb
  config/initializers/foreman_register.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/helpers/selectable_columns_helper_test.rb
  test/unit/selectable_columns/category_test.rb
  test/unit/selectable_columns/storage_test.rb
  test/unit/selectable_columns/table_test.rb
Labels: Needs testing, Docs

#9337 Fixes #35288 - add pry debugging to the development setup guide
  developer_docs/foreman_dev_setup.asciidoc
Labels: Needs testing, Docs

#9334 Fixes #35306 - host_puppet_* template macros ignores host_param
  app/services/foreman/renderer/scope/macros/host_template.rb
  test/unit/foreman/renderer/scope/macros/host_template_test.rb
Labels: Needs testing

#9313 Add explanation about plugin installation
  developer_docs/foreman_dev_setup.asciidoc
Labels: Needs testing, Docs

#9335 Fixes #34969 - Set up REX pull on client setup
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: Needs testing, UI, Templates

#9309 Fixes #35239 - Update AutoYaST SLES default provisioning template for 15 SP4
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
Labels: Waiting on contributor, Needs testing, Templates

#8795 Fixes #33565 - speed-up kickstart on air gapped infra where repos are unreachable
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
Labels: Needs testing, Templates

#9320 Fixes #35279 - Add SLES support for host registration
  app/controllers/api/v2/registration_commands_controller.rb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/snippet/pkg_manager.erb
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Repository.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/Repository.js
Labels: Needs testing, UI, Templates

#9325 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/ru/app.js
  locale/ca/foreman.po
  locale/en/foreman.po
  locale/foreman.pot
  locale/ka/foreman.po
  locale/ru/foreman.po
Labels: Waiting on contributor, Needs testing, Legacy JS

#9345 Refs #35274 - Revert "Make columns on host index page selectable
  app/controllers/application_controller.rb
  app/controllers/concerns/application_shared.rb
  app/controllers/hosts_controller.rb
  app/helpers/selectable_columns_helper.rb
  app/registries/foreman/plugin.rb
  app/registries/foreman/selectable_columns/category.rb
  app/registries/foreman/selectable_columns/storage.rb
  app/registries/foreman/selectable_columns/table.rb
  app/views/common/_selectable_column_td.html.erb
  app/views/common/_selectable_column_th.html.erb
  app/views/hosts/_list.html.erb
  config/initializers/foreman_register.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/helpers/selectable_columns_helper_test.rb
  test/unit/selectable_columns/category_test.rb
  test/unit/selectable_columns/storage_test.rb
  test/unit/selectable_columns/table_test.rb
Labels: Waiting on contributor, Needs testing, Docs

#9346 Fixes #35151 - Add CentOS Stream 9 installation medium
  db/seeds.d/100-installation_media.rb
Labels: Needs testing

#9349 Update develop to 3.5.0-develop
  VERSION
  package.json
Labels: Waiting on contributor, Needs testing

#9342 Fixes #35346 - change only the corresponding network
  webpack/assets/javascripts/compute_resource/ovirt.js
Labels: Needs testing, UI

#9353 Fixes #35371 - Update show_me_the_cookies to 6.x
  bundler.d/test.rb
Labels: Needs testing

#9348 Fixes #35359 - Add cacert to http proxy
  app/controllers/concerns/foreman/controller/parameters/http_proxy.rb
  app/models/compute_resource.rb
  app/models/http_proxy.rb
  app/views/http_proxies/_form.html.erb
  db/migrate/20220809191656_add_ssl_ca_to_http_proxy.rb
  lib/foreman/util.rb
Labels: Needs testing

#9355 Refs #35359 - cleaner add_ca_bundle_to_store
  lib/foreman/util.rb
Labels: Needs testing

#9347 Fixes #35051 - Registration - always use LC_ALL=C LANG=C
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Needs testing, Templates

#9327 Fixes #35294 - Switch to masonry card layout for Details tab
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/styles.css
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: Needs testing, UI, Blocked by another PR

#9303 Fixes #35207 - dual stack fallback
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Needs testing, Templates

#9299 Fixes #35194 - add option for reboot --kexec to kickstart
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Waiting on contributor, Needs testing, Templates

#9317 Fixes #35264 - Unpin net-ssh dependency
  Gemfile
Labels: Needs testing

#9370 Fixes #35419 - Remove empty webpack_assets.rb file
  app/registries/foreman/plugin/webpack_assets.rb
Labels: Needs testing

#9372 Fixes #35421 - Pin will_paginate to at least 3.3.0
  Gemfile
Labels: Needs testing

#9371 Fixes #35420 - Drop boot_settings.rb for early settings
  Gemfile
  app/services/foreman/env_settings_loader.rb
  config/boot_settings.rb
  config/settings.rb
  config/settings.yaml.example
  test/unit/foreman/env_settings_loader_test.rb
Labels: Needs testing

#9373 Fixes #35422 - Update audited to version 5
  Gemfile
Labels: Needs testing

#9374 Fixes #35423 - Update ancestry to version 4
  Gemfile
Labels: Needs testing

#9376 Refs #35420 - Remove unused settings.yaml.dist file
  config/settings.yaml.dist
Labels: Needs testing

#9378 Fixes #35427 - Update scoped_search to at least 4.1.10
  Gemfile
Labels: Needs testing

#9379 Fixes #35429 - Update oauth to version 1.x
  Gemfile
Labels: Needs testing

#9380 Fixes #35429 - Update as_deprecations_tracker for Ruby 3
  bundler.d/test.rb
Labels: Needs testing

#9377 Fixes #35428 - Update rails-i18n to version 7
  Gemfile
  config/environments/production.rb
Labels: Needs testing

#9341 Fixes #35345 - Host details Operating system card
  .eslintrc
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/OperatingSystem/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
Labels: Needs testing, UI

#9365 Fixes #35403 - disable public_file_server in production
  config/environments/production.rb
Labels: Needs testing

#9383 Fixes #35438 - Unescape cluster on compute resource controller
  app/controllers/api/v2/compute_resources_controller.rb
  app/views/api/v2/compute_resources/available_clusters.rabl
  app/views/api/v2/compute_resources/available_images.json.rabl
  app/views/api/v2/compute_resources/available_networks.rabl
  app/views/api/v2/compute_resources/available_resource_pools.rabl
  app/views/api/v2/compute_resources/available_storage_pods.rabl
  app/views/api/v2/compute_resources/available_virtual_machines.rabl
Labels: Needs testing

#9344 Fixes #35319 - host card remove isSelectable
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/__snapshots__/Status.test.js.snap
  webpack/assets/javascripts/react_app/components/HostStatuses/Status/index.js
Labels: Needs testing, UI

#9388 Fixes #35447 - Update apipie-rails to 0.8.x
  Gemfile
Labels: Needs testing

#9393 Fixes #35305 - make host details labels clickable
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: Needs testing, UI

#9392 Fixes #29539 - Unbundle websockify
  README.md
  extras/noVNC/websockify.py
  extras/noVNC/websockify/__init__.py
  extras/noVNC/websockify/websocket.py
  extras/noVNC/websockify/websocketproxy.py
  lib/ws_proxy.rb
Labels: Needs testing

#9316 Fixes #35203 - bulk rebuild host if token expired
  app/controllers/hosts_controller.rb
Labels: Needs testing
