Repository theforeman/foreman, pull requests merged in 2023-10, with the labels that each got.

#9823 Fixes #36723 - Remove Fedora/Red Hat Atomic related code
  app/services/katello/rhsm_fact_parser.rb
  app/views/unattended/provisioning_templates/discovery/debian_kexec.erb
  app/views/unattended/provisioning_templates/discovery/redhat_kexec.erb
  app/views/unattended/provisioning_templates/discovery/ubuntu_kexec.erb
  app/views/unattended/provisioning_templates/provision/atomic_kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  db/seeds.d/100-installation_media.rb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Atomic_Kickstart_default.host4dhcp.snap.txt
Labels: Templates

#9852 Fixes #36796 - Make host_facts_updated event visible
  app/models/concerns/foreman/observable_model.rb
  app/models/host/base.rb
  app/models/host/managed.rb
  test/models/hosts/managed_test.rb
  test/unit/host_fact_importer_test.rb
Labels: Stable branch

#9842 Fixes #36775 - Allow creation of unlimited PATs again
  webpack/assets/javascripts/react_app/components/users/PersonalAccessTokens/PersonalAccessTokenModal.js
Labels: UI

#9613 Fixes #36160 - Redefine append domain names setting
  app/assets/javascripts/host_edit_interfaces.js
  app/helpers/application_helper.rb
  app/models/host/base.rb
  app/registries/foreman/settings/general.rb
  app/services/name_synchronizer.rb
  app/views/api/v2/hosts/base.json.rabl
  app/views/dashboard/_hosts_in_build_mode_widget_host_list.html.erb
  app/views/dashboard/_new_hosts_widget_host_list.html.erb
  app/views/hosts/_form.html.erb
  db/migrate/20230414091257_rename_append_domain_setting.rb
  db/migrate/20230418075940_assign_fqdn_to_host_name.rb
  test/controllers/api/v2/settings_controller_test.rb
  test/integration/host_js_test.rb
  test/models/lookup_value_test.rb
  test/unit/name_synchronizer_test.rb
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/SettingRecords.fixtures.js
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/__snapshots__/SettingRecordsReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingRecords/__tests__/__snapshots__/SettingRecordsSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/SettingsTable/__tests__/__snapshots__/SettingsTable.test.js.snap
Labels: UI, Legacy JS

#9856 drop last remain of the Rackspace CR
  app/views/compute_resources_vms/form/rackspace/_base.html.erb
Labels: Needs re-review

#9859 Fixes #36821 - Fix table pagination to be used separately
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
Labels: UI

#9847 Fixes #36793 - Allow plugins to close ActionsBar kebab via React context
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: UI

#9863 Fixes #36826 - add new Host - Products report for SCA hosts
  app/views/unattended/report_templates/host_-_installed_products.erb
  app/views/unattended/report_templates/subscription_-_entitlement_report.erb
  db/migrate/20231016000000_introduce_host_products_report.rb
Labels: Templates

#9875 Test Github Actions with NodeJS 14
  .github/matrix.json
  .github/workflows/js_tests.yml
  .github/workflows/plugins_react_tests.yml
  .packit.yaml
Labels: Waiting on contributor

#9877 Fixes #36541 - Update Redis default databases for dynflow and cache
  config/settings.yaml.example
  extras/systemd/dynflow-sidekiq@.service
Labels: Waiting on contributor

#9874 Fixes #36860 - Remove workaround for fixing layout rendering
  app/assets/javascripts/application.js
  app/assets/stylesheets/base.scss
  webpack/assets/javascripts/foreman_navigation.js
Labels: UI, Legacy JS

#9873 Fixes #36858 - Table index page design changes
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.scss
Labels: UI

#9881 use the values from matrix.json in plugin react tests
  .github/workflows/plugins_react_tests.yml
Labels: Waiting on contributor, Needs re-review

#9880 use the values from matrix.json in JS tests
  .github/workflows/js_tests.yml
Labels: Waiting on contributor, Needs re-review

#9884 Fixes #36587 - rename Host - Applicable Errata report
  app/views/unattended/report_templates/host_-_available_errata.erb
  app/views/unattended/report_templates/host_-_registered_content_hosts.erb
  db/migrate/20230803180552_rename_applicable_errata_report_template.rb
Labels: Stable branch, Templates
