Repository theforeman/foreman, pull requests merged in 2023-08, with the labels that each got.

#9787 update shoulda-matchers to 5.x
  bundler.d/test.rb
Labels: Waiting on contributor

#9746 Fixes #36393 - Do not rebuild managed hosts in registration
  app/controllers/api/v2/registration_controller.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Templates

#9788 Fixes #36393 - Do not rebuild managed hosts in registration
  app/controllers/api/v2/registration_controller.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Not yet reviewed, Templates

#9789 Fixes #36393 - Do not rebuild managed hosts in registration
  app/controllers/api/v2/registration_controller.rb
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Not yet reviewed, Templates

#9757 Fixes #36536 - Update AutoYaST provisioning templates for SLES 15 SP5
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
Labels: Waiting on contributor, Templates

#9778 Fixes #36591 - Fix the parameter value masking
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/actions.js
Labels: UI

#9751 Fixes #36470 - Add missing ouia-ids to all pf4
  webpack/assets/javascripts/react_app/components/ColumnSelector/ColumnSelector.js
  webpack/assets/javascripts/react_app/components/HostDetails/Audits/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/RecentCommunicationCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/NetworkingInterfaces/NICDescriptionList.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/NetworkingInterfaces/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/OperatingSystem/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/TemplatesCard/ReviewModal.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/TemplatesCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/EditTableRow.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/ParametersTable.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Parameters/ViewTableRow.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/ReportsTab/ReportsTable.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/TaxonomyDropdown.js
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/UserDropdowns.js
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/__snapshots__/UserDropdowns.test.js.snap
  webpack/assets/javascripts/react_app/components/Loading/Loading.js
  webpack/assets/javascripts/react_app/components/SearchBar/SearchAutocomplete.js
  webpack/assets/javascripts/react_app/components/ToastsList/index.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/DefaultEmptyState.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/EmptyStatePattern.js
  webpack/assets/javascripts/react_app/components/common/EmptyState/__snapshots__/EmptyState.test.js.snap
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/AuditsPage.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/FiltersForm/FiltersForm.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/SelectResourceType.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/SelectRole.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/ConfigParams.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/HostGroup.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/OperatingSystem.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Repository.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Taxonomies.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/TokenLifeTime.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/Actions.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/Command.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/ConfigParams.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/HostGroup.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/Insecure.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/OperatingSystem.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/Packages.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/Repository.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/SmartProxy.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/Taxonomies.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/TokenLifeTime.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/fields/UpdatePackages.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/RedirectedEmptyPage.js
Labels: Not yet reviewed, UI, Stable branch

#9801 Fixes #36660 - drop value from settings dsl
  app/registries/foreman/setting_manager.rb
  app/services/setting_registry.rb
  config/as_deprecation_whitelist.yaml
  developer_docs/how_to_create_a_plugin.asciidoc
  test/unit/setting_registry_test.rb
Labels: Docs

#9797 Refs #36537 - Drop description from setting search
  app/models/setting.rb
Labels: Not yet reviewed

#9796 Refs #36537 - Drop description from setting search
  app/models/setting.rb
Labels: Not yet reviewed

#9709 Fixes #36400 - Update ConfigReports to pf4
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.css
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.js
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.test.js
  webpack/assets/javascripts/react_app/components/ChartBox/__snapshots__/ChartBox.test.js.snap
  webpack/assets/javascripts/react_app/components/ConfigReports/ConfigReports.js
  webpack/assets/javascripts/react_app/components/ConfigReports/__snapshots__/ConfigReports.test.js.snap
Labels: UI

#9806 Fixes #36677 - Added BOOTIF-parameter to autoinstall kernel_options
  app/views/unattended/provisioning_templates/snippet/preseed_kernel_options_autoinstall.erb
Labels: Waiting on contributor, Templates

#9754 test-build container in CI
  .github/workflows/container.yml
Labels: Waiting on contributor

#9281 Fixes #35124 - Fix preseed_kernel_options for bootdisk-deployments
  app/views/unattended/provisioning_templates/PXEGrub2/preseed_default_pxegrub2.erb
  app/views/unattended/provisioning_templates/iPXE/preseed_default_ipxe.erb
  app/views/unattended/provisioning_templates/snippet/preseed_kernel_options.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Preseed_default_PXEGrub2.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/Preseed_default_PXEGrub2.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXELinux/Preseed_default_PXELinux.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Preseed_default_iPXE.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/Preseed_default_iPXE.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/preseed_kernel_options.host4dhcp.snap.txt
Labels: Waiting on contributor, Needs testing, Inactive, Templates

#9764 Fixes #36551 - Update PermissionDenied component
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/PermissionDenied.test.js
  webpack/assets/javascripts/react_app/components/PermissionDenied/__snapshots__/PermissionDenied.test.js.snap
Labels: UI

#9758 Fixes #36350 - Add line breaks to long bookmarks
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/BookmarkItems.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/bookmarks.scss
Labels: Waiting on contributor, UI

#9812 Bump develop to 3.9.0-develop
  VERSION
  package.json
Labels: Not yet reviewed, Waiting on contributor

#9743 Fixes #36522 - Properly display changes of owner_id field in audits
  app/helpers/audits_helper.rb
Labels: Waiting on contributor

#9814 Fixes #36703 - Enhance handling of hash-based actions for single buttons
  app/assets/stylesheets/base.scss
  app/helpers/application_helper.rb
Labels: Waiting on contributor
