Repository theforeman/foreman, pull requests merged in 2023-11, with the labels that each got.

#9891 use foreman-devel module
  .packit.yaml
Labels: Waiting on contributor

#9878 Fixes #36867 - Add host delete & create to new host overview
  app/controllers/api/base_controller.rb
  app/controllers/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/concerns/api/v2/bulk_hosts_extension.rb
  app/registries/foreman/access_permissions.rb
  config/routes/api/puppet/api/v2.rb
  config/routes/api/v2.rb
  test/controllers/concerns/bulk_hosts_extension_test.rb
  test/integration/host_js_test.rb
  test/test_helper.rb
  webpack/assets/javascripts/react_app/components/ConfirmModal/index.js
  webpack/assets/javascripts/react_app/components/ConfirmModal/slice.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/actions.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/bulkDelete.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/bulkDeleteModal.scss
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.scss
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.test.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/TableHooks.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.scss
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/index.js
Labels: UI

#9876 Fixes #36864 - Show entire opened bookmarks properly
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/Bookmarks.js
Labels: UI

#9899 Refs #36822 - Removes an accidentally commented line in TableHooks
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/TableHooks.js
Labels: UI

#9756 Fixes #32848 - Support linking to docs.theforeman.org
  app/controllers/links_controller.rb
  app/helpers/application_helper.rb
  config/settings.rb
  test/controllers/links_controller_test.rb
  test/helpers/application_helper_test.rb
  test/test_helper.rb
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/RegistrationCommandsPageConstants.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: UI

#9894 Fixes #36663 - Add permission to modify LookupValue resource
  app/registries/foreman/access_permissions.rb
  db/seeds.d/020-permissions_list.rb
Labels: Not yet reviewed, Stable branch

#9904 Use yum.tfm.o for packages during packit build
  .packit.yaml
Labels: Waiting on contributor

#9681 Fixes #35601 - Search in navigation
  app/views/about/index.html.erb
  test/integration/config_report_js_test.rb
  test/integration/fact_value_js_test.rb
  webpack/assets/javascripts/react_app/components/Layout/Layout.fixtures.js
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/Navigation.js
  webpack/assets/javascripts/react_app/components/Layout/NavigationSearch.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/NavigationSearch.test.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/__snapshots__/HeaderToolbar.test.js.snap
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: UI

#9905 Refs #36826 - Fix Subscription Entitlement Report headers
  app/views/unattended/report_templates/subscription_-_entitlement_report.erb
Labels: Templates

#9901 Fixes #36915 - Correct datetime input for report generation
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
Labels: UI

#9907 Fixes #36923 - Navigation search menu should be less wide
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: UI

#9910 Fixes #36933 - Fix linter issue in DateTimePicker.js
  webpack/assets/javascripts/react_app/components/common/DateTimePicker/DateTimePicker.js
Labels: UI

#9893 Fixes #36663 - Add permission to modify LookupValue resource
  app/registries/foreman/access_permissions.rb
  db/seeds.d/020-permissions_list.rb
Labels: Not yet reviewed, Stable branch

#9909 Fixes #36932 - Import buffer in globalIdHelpers.js
  webpack/assets/javascripts/react_app/common/globalIdHelpers.js
Labels: UI

#9895 Fixes #36892 - Pass host results to REX slot and make permissions nodes extensible
  app/controllers/api/v2/base_controller.rb
  app/views/api/v2/layouts/index_layout.json.erb
  test/controllers/api/v2/base_controller_subclass_test.rb
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#9900 Fixes #36913 - Set up GHA with matrix to run test on Ruby 2.7
  .github/matrix.json
  .github/workflows/foreman.yml
Labels: Needs re-review

#9917 Add PostgreSQL to the GitHub Actions matrix
  .github/matrix.json
Labels: Waiting on contributor, Stable branch

#9916 Build container with NodeJS 14
  Dockerfile
Labels: Waiting on contributor

#9921 parallelize tests on GHA
  .github/workflows/foreman.yml
Labels: Waiting on contributor, Needs re-review

#9925 configure cancel-in-progress for new foreman workflow
  .github/workflows/foreman.yml
Labels: Waiting on contributor

#9915 Allow for deployment of puppet 8. Fixes #36939
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/finish/preseed_default_finish.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
  app/views/unattended/provisioning_templates/snippet/puppetlabs_repo.erb
  app/views/unattended/provisioning_templates/user_data/autoyast_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/kickstart_default_user_data.erb
  app/views/unattended/provisioning_templates/user_data/preseed_default_user_data.erb
Labels: Templates

#9924 move rubocop into foreman.yml
  .github/workflows/foreman.yml
  .github/workflows/rubocop.yml
Labels: Waiting on contributor

#9928 enable GHA for pushes to develop and stable branches
  .github/workflows/foreman.yml
Labels: Waiting on contributor

#9931 Build packit against rhel-8
  .packit.yaml
Labels: Waiting on contributor

#9914 Fixes #36938 - Ignore output of some commands in Global Registration
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Templates

#9935 Bump develop to 3.10.0-develop
  VERSION
  package.json
Labels: Waiting on contributor

#9929 Fixes #36948 - Nav Search doesnt show ansible roles
  webpack/assets/javascripts/react_app/components/Layout/NavigationSearch.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/NavigationSearch.test.js
Labels: UI

#9922 run integration tests as part of the GHA matrix
  .github/workflows/foreman.yml
Labels: Waiting on contributor

#9937 Fixes #36959 - rename interface to host_interface
  app/assets/javascripts/host_edit_interfaces.js
Labels: Legacy JS

#9933 execute db:seed as a test
  .github/workflows/foreman.yml
Labels: Waiting on contributor, Needs re-review

#9837 Fixes #36747 - create new snippet for subscription-manager setup
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
Labels: Templates
