Repository theforeman/foreman, pull requests merged in 2023-09, with the labels that each got.

#9816 Fixes #36703 - Enhance handling of hash-based actions for single buttons
  app/assets/stylesheets/base.scss
  app/helpers/application_helper.rb
Labels: Waiting on contributor, Stable branch

#9828 add stale action to replace prprocessor
  .github/workflows/stale.yml
Labels: Waiting on contributor

#9826 Use actions/labeler to apply directory labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Waiting on contributor

#9817 Fixes #36703 - Enhance handling of hash-based actions for single buttons
  app/assets/stylesheets/base.scss
  app/helpers/application_helper.rb
Labels: Waiting on contributor

#9821 Refs #36400 - add ouia-ids to ChartBox
  webpack/assets/javascripts/react_app/components/ChartBox/ChartBox.js
  webpack/assets/javascripts/react_app/components/ChartBox/__snapshots__/ChartBox.test.js.snap
Labels: UI

#9700 Fixes #36361 - Change vlan interface notation
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Templates

#9739 Refs #36517 - Correct host search for IPv6 on subnet list
  app/views/subnets/index.html.erb
Labels: Waiting on contributor

#9830 Fixes #36734 - Hide double title on Register Host page
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
  webpack/assets/javascripts/react_app/routes/common/PageLayout/PageLayout.js
Labels: UI

#9804 Only use {linux,initrd}efi commands for x86/64 KS PXEGrub2 EL7
  app/views/unattended/provisioning_templates/PXEGrub2/kickstart_default_pxegrub2.erb
Labels: Templates

#9820 Fixes #36717 - Remove katello-agent leftovers from redhat-register.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
Labels: Waiting on contributor, Templates

#9805 Fixes #36673 - Fix directory ownership for remote_execution_ssh_user
  app/views/unattended/provisioning_templates/snippet/remote_execution_ssh_keys.erb
Labels: Waiting on contributor, Templates

#9841 count db:abort_if_pending_migrations as a setup rake task
  lib/foreman.rb
Labels: Needs re-review
