Repository theforeman/foreman, pull requests merged in 2023-02, with the labels that each got.

#9590 Fixes #35969 - Add custom kickstart boot options
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Templates

#9593 Fixes #35978 - Search should have a name attribute
  package.json
  test/integration/config_report_js_test.rb
  test/integration/fact_value_js_test.rb
  test/integration/search_bar_js_test.rb
  webpack/assets/javascripts/react_app/components/Layout/components/TaxonomySwitcher/__snapshots__/TaxonomyDropdown.test.js.snap
  webpack/assets/javascripts/react_app/components/SearchBar/SearchAutocomplete.js
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Command.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/ConfigParams.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/HostGroup.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/OperatingSystem.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/Taxonomies.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/components/__snapshots__/TokenLifeTime.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: UI, Breaking change

#9597 Fixes #36000 - use static ID attr in host details
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: UI

#9612 Refs #35436 - Add ouiaId to card templates
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: UI

#9625 Fixes #36107 - Suppress warnings from accessing undefined settings
  app/helpers/dashboard_helper.rb
  app/models/host/managed.rb
  app/models/host_status/configuration_status.rb
  app/services/dashboard/data.rb
Labels: Waiting on contributor

#9616 Registration - Unregister host before CA change
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Templates

#9626 Fixes #36111 - do not focus search when typing in textarea
  webpack/assets/javascripts/react_app/components/SearchBar/SearchAutocomplete.js
Labels: UI, Needs cherrypick

#9573 add packit config
  .packit.yaml
Labels: Waiting on contributor

#9628 i18n - extracting new
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Not yet reviewed, Waiting on contributor

#9477 fixes #9308 - fix kickstart_kernel_options.erb escaping
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Waiting on contributor, Templates, Needs cherrypick

#9618 Fixes #35701 - Export button should use selectable columns
  app/controllers/api/v2/hosts_controller.rb
  app/controllers/hosts_controller.rb
  app/services/csv_exporter.rb
  app/services/power_manager/power_status.rb
  config/initializers/foreman_register.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  test/controllers/hosts_controller_test.rb
  test/unit/csv_exporter_test.rb
Labels: Docs

#9564 Fixes #35762 - No host error after editing host's interfaces
  app/assets/javascripts/host_edit_interfaces.js
  app/views/hosts/_form.html.erb
Labels: Needs re-review, Legacy JS, Needs cherrypick

#9633 do not explicitly enable the ruby module in packit
  .packit.yaml
Labels: Waiting on contributor

#9623 [CP] Fixes #35839 - Move Details tab out of experimental labs
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: UI
