Repository theforeman/foreman, pull requests merged in 2023-05, with the labels that each got.

#9693 Fixes #36229 - Fix template documentation
  app/views/unattended/provisioning_templates/user_data/preseed_autoinstall_cloud_init.erb
Labels: Templates

#9696 Fixes #36199 - LoadingPage PF4 refactor
  webpack/assets/javascripts/react_app/routes/common/LoadingPage/index.js
Labels: UI

#9698 i18n - ran `make -C locale tx-update`
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Legacy JS

#9695 Fixes #36058 - Drop the socket facts chart
  app/views/fact_values/_fact.html.erb
  app/views/fact_values/index.html.erb
  webpack/assets/javascripts/react_app/components/FactCharts/FactChart.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/FactChart.test.js
  webpack/assets/javascripts/react_app/components/FactCharts/__test__/__snapshots__/FactChart.test.js.snap
  webpack/assets/javascripts/react_app/components/FactCharts/fixtures.js
  webpack/assets/javascripts/react_app/components/FactCharts/index.js
  webpack/assets/javascripts/react_app/components/FactCharts/selectors.js
  webpack/assets/javascripts/react_app/components/FactCharts/slice.js
  webpack/assets/javascripts/react_app/components/FactCharts/stories.js
  webpack/assets/javascripts/react_app/components/FactCharts/style.scss
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: UI

#9692 Fixes #36331 - Expose translation registration in plugin DSL
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/assets.rb
  config/application.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  lib/tasks/gettext.rake
  lib/tasks/plugin_apipie.rake
Labels: Docs

#9701 Fixes #36370 - allow all providers in the graphql enum
  app/graphql/types/provider_enum.rb
  test/graphql/types/provider_enum_test.rb
Labels: GraphQL

#9683 Ansible DEV docs - ansible-runner-env path config
  developer_docs/ansible_dev_setup.asciidoc
Labels: Docs

#9691 Fixes #36330 - Make translated strings from plugins available in the browser and modern frontend code
  .eslintrc
  app/helpers/reactjs_helper.rb
  app/views/layouts/base.html.erb
  bundler.d/assets.rb
  developer_docs/how_to_create_a_plugin.asciidoc
  lib/tasks/gettext.rake
  webpack/assets/javascripts/react_app/common/I18n.js
Labels: UI, Docs

#9710 Fixes #36408 - Remove '---' to allow to have different formats
  app/views/unattended/report_templates/host_-_all_installed_packages.erb
Labels: Templates

#9708 Fixes #36366 - Monospace font for variables and facts
  app/assets/stylesheets/base.scss
  app/views/common_parameters/index.html.erb
Labels: Waiting on contributor

#9713 Fixes #36088 - translate the description values on the settings page
  webpack/assets/javascripts/react_app/components/SettingsTable/SettingsTableSchema.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/index.js
  webpack/assets/javascripts/react_app/components/common/table/formatters/translatedCellFormatter.js
Labels: Waiting on contributor, UI

#9610 Refs #35649 - improve the error handling for card template
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/index.js
  webpack/assets/javascripts/react_app/components/common/ErrorBoundary/index.js
Labels: UI

#9640 Fixes #36161 - Add windows default user data template
  app/views/unattended/provisioning_templates/user_data/windows_default_user_data.erb
Labels: Templates

#9715 Fixes #36426 - Introduce human-readable host statuses
  app/models/host/managed.rb
  app/services/foreman/renderer/configuration.rb
  app/services/foreman/renderer/scope/macros/base.rb
  app/views/unattended/report_templates/host_-_statuses.erb
Labels: Templates

#9718 Fixes #36441 - quote ipv6 addresses
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_generic_interface.erb
Labels: Templates

#9667 Fixes #36239 - Template load_resource - explain :joins, :preload and includes
  app/services/foreman/renderer/scope/macros/loaders.rb
Labels: Waiting on contributor
