Repository theforeman/foreman, pull requests merged in 2023-12, with the labels that each got.

#9943 Fixes #36747 - create new snippet for subscription-manager setup
  app/views/unattended/provisioning_templates/registration/global_registration.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
Labels: Stable branch, Templates

#9946 Fixes #36966 - broken link in Register Host documentation
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/helpers.test.js
Labels: UI

#9896 Fixes #36896 - override plugin toolbar css
  webpack/assets/javascripts/react_app/components/Layout/components/Toolbar/HeaderToolbar.scss
Labels: UI

#9945 Fixes #36963 - Table index new button far in large screens
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.scss
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.scss
Labels: UI

#9956 Revert "Bump actions/labeler from 4 to 5"
  .github/workflows/labeler.yml
Labels: Not yet reviewed, Waiting on contributor
