Repository theforeman/foreman, pull requests merged in 2023-03, with the labels that each got.

#9636 Fixes #35949 - move select_multiple_puppet_proxy to the puppet plugin
  app/helpers/puppet_related_helper.rb
  app/views/hosts/select_multiple_puppet_proxy.html.erb
  test/helpers/host_groups_helper_test.rb
Labels: Waiting on contributor

#9631 Refs #34975 - fix kickstart_kernel_options.erb escaping
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Not yet reviewed, Templates

#9653 Fixes #36192 - Adding a PF4 Tooltip to EditorSettings
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSettings.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
Labels: UI

#9643 Fixes #36177 - install additional-packages
  app/views/unattended/provisioning_templates/provision/autoyast_default.erb
  app/views/unattended/provisioning_templates/provision/autoyast_sles_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Templates

#9641 Fixes #35990 - fix search fact_values via API
  app/controllers/api/v2/fact_values_controller.rb
Labels: Stable branch

#9649 Fixes #36190 - add issued date to applied report template
  app/views/unattended/report_templates/host_-_applied_errata.erb
Labels: Waiting on contributor, Templates

#9657 Fixes #35949 - move select_multiple_puppet_proxy to the puppet plugin
  app/helpers/puppet_related_helper.rb
  app/views/hosts/select_multiple_puppet_proxy.html.erb
  test/helpers/host_groups_helper_test.rb
Labels: Waiting on contributor

#9666 Fixes #36232 - Allow to pass custom error handler for submitForm
  webpack/assets/javascripts/react_app/redux/actions/common/forms.js
Labels: UI

#9663 Fixes #36225 - fix Host Details path in config report
  app/views/config_reports/show.html.erb
Labels: Stable branch

#9664 Fixes #36225 - fix Host Details path in config report
  app/views/config_reports/show.html.erb
Labels: Stable branch

#9668 Expired build token should return 401 instead of 412
  app/services/foreman/unattended_installation/host_verifier.rb
  test/controllers/unattended_controller_test.rb
Labels: Waiting on contributor
