Repository theforeman/foreman, pull requests merged in 2023-01, with the labels that each got.

#9527 Refs #35578: preseed_netplan_generic_interface with DHCP interface
  app/views/unattended/provisioning_templates/snippet/preseed_netplan_generic_interface.erb
Labels: Waiting on contributor, Templates

#9503 Fixes #35726 - adding mountpoints for templates form
  app/views/templates/_form.html.erb
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Waiting on contributor, Docs

#9484 Fixes #35649 - Add Details tab - Virtualization card
  .eslintrc
  app/views/api/v2/hosts/main.json.rabl
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/CardRegistry.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/VirtEc2.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/VirtLibvirt.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/VirtOpenstack.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/VirtOvirt.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/VirtVmware.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/index.js
Labels: UI

#9575 Fixes #35902 - Correct env variable FOREMAN_RAILS_CACHE_STORE_URLS in docker-compose.yml
  docker-compose.yml
Labels: Waiting on contributor

#9569 Provide more information about host sub-statuses
  developer_docs/how_to_create_a_plugin.asciidoc
Labels: Waiting on contributor, Docs

#9565 Fixed windows deploy via proxy
  app/views/unattended/provisioning_templates/iPXE/windows_default_ipxe_httpboot.erb
Labels: Waiting on contributor, Templates

#9574 Fixes #35900 - Update Kickstart default for Katello
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Templates

#9524 Fixes #29939 - drop category column from settings
  app/models/setting.rb
  app/presenters/setting_presenter.rb
  app/services/setting_registry.rb
  db/migrate/20221126232030_remove_category_from_settings.rb
  test/controllers/settings_controller_test.rb
  test/factories/settings.rb
  test/fixtures/settings.yml
  test/models/setting_test.rb
  test/unit/setting_registry_test.rb
Labels: Blocked by another PR, Breaking change

#9578 Fixes #35912 - template autocomplete has incorrect props
  app/helpers/templates_helper.rb
  webpack/assets/javascripts/react_app/components/SearchBar/SearchAutocomplete.js
Labels: UI

#9548 Fixes #35845 - Searching hosts should be possible by all reported data
  app/models/concerns/hostext/search.rb
Labels: Ready to merge

#9587 Fixes #35957 - Close template popovers on tab change
  app/assets/config/manifest.js
  app/assets/javascripts/templates.js
  app/views/templates/_form.html.erb
Labels: Legacy JS

#9586 Fixes #35956 - Close popovers on tab change
  app/assets/javascripts/host_edit.js
Labels: Legacy JS

#9544 Fixes #35840 - Install chrony on RHEL 7
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/ntp.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: Templates

#9567 Fixes #35890 - enable harmony mode with Uglifier to use ES6 syntax
  app/assets/javascripts/application.js
  app/assets/javascripts/hidden_values.js
  app/assets/javascripts/hosts.js
  config/environments/production.rb
Labels: Waiting on contributor, Legacy JS

#9594 Revert "Fixes #35890 - enable harmony mode with Uglifier to use ES6 syntax"
  app/assets/javascripts/application.js
  app/assets/javascripts/hidden_values.js
  app/assets/javascripts/hosts.js
  config/environments/production.rb
Labels: Waiting on contributor, Legacy JS

#9571 Fixes #35896 - Improvement to getControllerSearchProps
  webpack/assets/javascripts/react_app/components/SearchBar/SearchBar.fixtures.js
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
  webpack/assets/javascripts/react_app/constants.js
  webpack/assets/javascripts/react_app/routes/Audits/AuditsPage/__tests__/__snapshots__/AuditsPage.test.js.snap
  webpack/assets/javascripts/react_app/routes/common/PageLayout/__snapshots__/PageLayout.test.js.snap
Labels: UI

#9599 Fixes #35977 - html_escape host-comment in index
  app/views/hosts/_list.html.erb
  config/initializers/foreman_register.rb
Labels: Stable branch

#9598 Fixes #35977 - html_escape host-comment in index
  app/views/hosts/_list.html.erb
  config/initializers/foreman_register.rb
Labels: Stable branch

#9604 Fixes #35593 - Use CentOS 8 Stream for container
  Dockerfile
  config/environments/production.rb
  docker-compose.yml
Labels: Stable branch

#9605 no need to generate apipie cache in the container anymore
  Dockerfile
Labels: Waiting on contributor

#9601 Fixes #36014 - Kickstart default - remove @core group
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
Labels: Templates

#9603 Refs #35649 - Fix the issue with volume capacity for libvirt
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/Virtualization/VirtLibvirt.js
Labels: UI

#9608 Fixes #36019 - Pass URL params to foreman_url as hash
  app/views/unattended/provisioning_templates/discovery/debian_kexec.erb
  app/views/unattended/provisioning_templates/discovery/redhat_kexec.erb
Labels: Templates
