Repository theforeman/foreman, pull requests merged in 2024-02, with the labels that each got.

#10033 Fixes #37064 - Login missing background after scrolling
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.scss
Labels: UI

#10044 build packit on el9
  .packit.yaml
Labels: Waiting on contributor

#10003 Fixes #37079 - Show current user in nav menu when screen too small
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/Navigation.js
  webpack/assets/javascripts/react_app/components/Layout/layout.scss
Labels: UI

#10008 Fixes #37089 - host details sub tabs are hidden
  webpack/assets/javascripts/react_app/components/HostDetails/HostDetails.scss
Labels: UI

#10037 Fixes #37067 - closing parent nav should close child nav
  webpack/assets/javascripts/react_app/components/Layout/LayoutSelectors.js
  webpack/assets/javascripts/react_app/components/Layout/Navigation.js
  webpack/assets/javascripts/react_app/components/Layout/__tests__/__snapshots__/LayoutSelectors.test.js.snap
Labels: UI, Stable branch

#10042 Fixes #37154 - run componentRegistry.registerMultiple once
  webpack/assets/javascripts/react_app/components/componentRegistry.js
Labels: UI

#9987 Fixes #37039 - Honor permissions and taxonomies for host statuses
  app/presenters/host_status_presenter.rb
Labels: Not yet reviewed

#10039 Fixes #37142 - Cloud-init breaks due to newline
  app/views/unattended/provisioning_templates/snippet/remote_execution_ssh_keys.erb
Labels: Templates

#10054 i18n - extracting new, pulling from tx for Foreman 3.10
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Legacy JS

#9906 More explicit dev setup instructions
  developer_docs/foreman_dev_setup.asciidoc
Labels: Waiting on contributor, Docs

#10058 Bump develop to 3.11.0-develop
  VERSION
  package.json
Labels: Not yet reviewed, Waiting on contributor

#10059 Fixes #37189 - Registration before & after snippets
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Templates

#9733 Fixes #36502 - iPXE Discovery Only Works On net0
  app/views/unattended/provisioning_templates/iPXE/ipxe_global_default.erb
Labels: Templates

#10070 Refs #36502 - update snapshots after template change
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/iPXE/iPXE_global_default.host4dhcp.snap.txt
Labels: Not yet reviewed
