Repository theforeman/foreman, pull requests merged in 2024-04, with the labels that each got.

#10115 Pin fog-vsphere to >= 3.6.4
  bundler.d/vmware.rb
Labels: Waiting on contributor

#10074 Fixes #37215 - Stop reporting CV/LCE if not set to hosts
  app/views/unattended/report_templates/ansible_-_ansible_inventory.erb
Labels: Templates

#10101 Fixes #37280 - remove typeAheadSelect
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
  webpack/assets/javascripts/foreman_type_ahead_select.js
  webpack/assets/javascripts/react_app/common/testHelpers.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelect.fixtures.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectActions.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectConstants.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectReducer.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/TypeAheadSelectSelectors.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/TypeAheadSelectActions.test.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/TypeAheadSelectReducer.test.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/TypeAheadSelectSelectors.test.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/__snapshots__/TypeAheadSelectActions.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/__snapshots__/TypeAheadSelectReducer.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/__tests__/__snapshots__/TypeAheadSelectSelectors.test.js.snap
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/index.js
  webpack/assets/javascripts/react_app/components/common/TypeAheadSelect/integration.test.js
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/redux/reducers/index.js
Labels: UI

#10089 Fixes #33664 - Adjust subman_setup snippet for debian
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
Labels: Templates

#10061 Fixes #37252 - prevent duplicate foremanReact in plugins
  .eslintrc
  .gitignore
  app/views/layouts/base.html.erb
  config/webpack.config.js
  webpack/assets/javascripts/exportAll.js
  webpack/assets/javascripts/react_app/mockRequests.js
Labels: UI

#10124 Fixes #37344 - enable compression for webpack assets
  config/webpack.config.js
  package.json
Labels: Not yet reviewed

#10110 Fixes #37293 - Add customizable columns to new Hosts index page
  developer_docs/how_to_create_a_plugin.asciidoc
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/Breadcrumb.js
  webpack/assets/javascripts/react_app/components/BreadcrumbBar/components/__snapshots__/Breadcrumb.test.js.snap
  webpack/assets/javascripts/react_app/components/ColumnSelector/ColumnSelector.js
  webpack/assets/javascripts/react_app/components/ColumnSelector/helpers.js
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/Columns/core.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/TableIndexHooks.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/helpers.js
Labels: UI, Docs

#10121 Fixes #37337 - Fix snapshot task and add Rocky 8 & 9
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  lib/tasks/snapshots.rake
  test/external/kickstart_syntax_test.rb
  test/factories/host_related.rb
  test/factories/operatingsystem.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
Labels: Templates

#9887 Fixes #36885 - Add Clevis/Tang disk encryption template
  app/views/unattended/partition_tables_templates/kickstart_default_encrypted.erb
  app/views/unattended/partition_tables_templates/preseed_default_autoinstall_encrypted.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/disk_enc_clevis_tang.erb
  app/views/unattended/provisioning_templates/snippet/preseed_autoinstall_clevis_tang_wrapper.erb
  app/views/unattended/provisioning_templates/user_data/preseed_autoinstall_cloud_init.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_Autoinstall_cloud-init_user_data.ubuntu_autoinst4dhcp.snap.txt
Labels: Templates

#10123 Fixes #37343 - Fix the ks param deprecation warning for rhel 8
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
Labels: Templates

#9745 Fixes #36525 - kickstart's RHSM line only works on RHEL hosts
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/cloud_init/cloud_init_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/pkg_manager.erb
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: Templates

#9961 Switch to 'network' directive instead of ifcfg
  app/models/nic/base.rb
  app/models/nic/interface.rb
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/finish/kickstart_default_finish.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_network_interface.erb
  config/initializers/safemode_jail.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/templates/snippets/kickstart_network_interface_test.rb
Labels: Templates

#10133 update packit to use 3.10 release branches
  .packit.yaml
Labels: Waiting on contributor, Stable branch

#10130 Fixes #37361 - Bump theforeman/vendor-dev and builder to 13.0.1
  package.json
Labels: Stable branch

#10132 include Katello in GHA tests
  .github/workflows/foreman.yml
Labels: Waiting on contributor, Stable branch

#10129 Fixes #37360 - Upgrade foreman-vendor packages to 13.x
  package.json
Labels: Stable branch

#9810 Fixes #36691 - use 'connectefi scsi' by default
  app/views/unattended/provisioning_templates/snippet/pxegrub2_chainload.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_global_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_chainload.host4dhcp.snap.txt
  test/unit/foreman/templates/snippets/pxegrub2_chainload_test.rb
Labels: Templates

#10113 Fixes #37307 - Add more control over SelectAllCheckbox
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/SelectAllCheckbox/index.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/TableHooks.js
Labels: UI

#10141 Fixes #37385 - Drop (un)check_all_roles event handlers
  app/assets/javascripts/application.js
Labels: Needs re-review, Legacy JS
