Repository theforeman/foreman, pull requests merged in 2024-07, with the labels that each got.

#10214 Fixes #36650 - change the OS default hash function
  app/services/password_crypt.rb
  db/migrate/20240613133735_change_os_default_password_hash_to_sha512.rb
  test/controllers/api/v2/hosts_controller_test.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
Labels: Stable branch

#10217 Fixes #37584 - Host details - Fix append domain setting
  webpack/assets/javascripts/react_app/components/HostDetails/index.js
Labels: UI

#9993 Fixes #36626 - safe checks for the pxe_loader
  app/views/unattended/partition_tables_templates/kickstart_custom.erb
  app/views/unattended/provisioning_templates/discovery/debian_kexec.erb
  app/views/unattended/provisioning_templates/discovery/redhat_kexec.erb
Labels: Templates

#10207 Fixes #37562 - Fix local disk boot over network
  app/views/unattended/provisioning_templates/snippet/pxegrub2_chainload.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_global_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_chainload.host4dhcp.snap.txt
Labels: Templates

#10234 Fixes #37215 - Stop using CV/LCE in ansible report if not set to hosts
  app/views/unattended/report_templates/ansible_-_ansible_inventory.erb
Labels: Stable branch, Templates

#10202 Hostgroup bulk actions : Reassign hostgroups
  app/controllers/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/hosts_controller.rb
  app/registries/foreman/access_permissions.rb
  app/services/bulk_hosts_manager.rb
  config/routes/api/v2.rb
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/BulkBuildHostModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/reassignHostGroup/BulkReassignHostgroupModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/reassignHostGroup/HostGroupSelect.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/reassignHostGroup/actions.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/reassignHostGroup/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10248 Pin fog-libvirt to 0.12.0
  bundler.d/libvirt.rb
Labels: Waiting on contributor, Stable branch

#10244 Show complete hostgroup name in host overview and table
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/Tabs/Details/Cards/SystemProperties/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/Columns/core.js
Labels: UI

#10240 Fixes #37640 - Apply Loc/Org filter to Host Registration form
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/__snapshots__/integration.test.js.snap
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/fixtures.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: UI

#10218 Fixes #37582 - use textarea in host comment edit
  webpack/assets/javascripts/react_app/components/HostDetails/HostDetails.scss
  webpack/assets/javascripts/react_app/components/HostDetails/InlineEdit.js
Labels: UI

#10251 Pin mocha to a lower version
  bundler.d/test.rb
Labels: Waiting on contributor

#10168 Fixes #34839 - Add support for VMware NVME Controllers
  app/controllers/concerns/foreman/controller/normalize_scsi_attributes.rb
  app/controllers/concerns/foreman/controller/normalize_vmware_storage_controller_attributes.rb
  app/controllers/concerns/foreman/controller/parameters/compute_attribute.rb
  app/controllers/concerns/foreman/controller/parameters/host.rb
  app/helpers/compute_resources_vms_helper.rb
  app/models/compute_resources/foreman/model/vmware.rb
  app/views/compute_resources_vms/form/vmware/_base.html.erb
  test/controllers/compute_attributes_controller_test.rb
  test/controllers/concerns/parameters/host_test.rb
  test/controllers/hosts_controller_test.rb
  test/models/compute_resources/compute_resource_test_helpers.rb
  test/models/compute_resources/vmware_test.rb
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/StorageContainer.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/index.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/__tests__/integration.test.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/__snapshots__/controller.test.js.snap
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/controller.fixtures.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/controller/index.js
  webpack/assets/javascripts/react_app/components/hosts/storage/vmware/index.js
  webpack/assets/javascripts/react_app/redux/actions/hosts/storage/vmware.consts.js
  webpack/assets/javascripts/react_app/redux/reducers/hosts/storage/vmware.js
Labels: UI

#10241 Fixes #37644 - Pagination doesnt update between react pages
  webpack/assets/javascripts/react_app/components/Pagination/index.js
Labels: UI

#10253 Revert "Pin mocha to a lower version"
  bundler.d/test.rb
Labels: Not yet reviewed, Waiting on contributor

#10252 Fixes #37675 - Change All Hosts kebab menu to match design
  webpack/assets/javascripts/react_app/components/HostsIndex/ActionKebab.js
  webpack/assets/javascripts/react_app/components/HostsIndex/TableRowActions/core.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
Labels: UI

#10188 Fixes #37496 - RHEL registration template prioritizes paramaters
  app/views/unattended/provisioning_templates/snippet/kickstart_rhsm.erb
Labels: Templates

#10153 Fixes #37433 - Set indentation when calling subscription_manager_setup
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: UI, Legacy JS, Templates

#9732 Fixes #36495 - Extend Windows templates for Puppet and Ansible
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/finish/windows_default_finish.erb
  app/views/unattended/provisioning_templates/provision/windows_default_provisioning.erb
  app/views/unattended/provisioning_templates/script/windows_default_script.erb
  app/views/unattended/provisioning_templates/snippet/windows_network.erb
  app/views/unattended/provisioning_templates/user_data/windows_default_user_data.erb
  test/factories/host_related.rb
  test/factories/medium.rb
  test/factories/operatingsystem.rb
  test/unit/foreman/renderer/snapshots.yaml
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Windows_default_finish.windows10_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Windows_default_provision.windows10_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/script/Windows_peSetup.cmd.windows10_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/windows_network.windows10_dhcp.snap.txt
Labels: Templates
