Repository theforeman/foreman, pull requests merged in 2024-11, with the labels that each got.

#10363 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Legacy JS

#10354 Fixes #37927 - Enable remote desktop in Windows template
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/user_data/windows_default_user_data.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Windows_default_finish.windows10_dhcp.snap.txt
Labels: Templates

#10371 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Stable branch, Legacy JS

#10346 Fixes #37891 - Add enable-puppet8 parameter to provisioning templates
  app/views/unattended/provisioning_templates/snippet/puppet.conf.erb
  app/views/unattended/provisioning_templates/snippet/puppet_setup.erb
Labels: Templates

#10375 Fixes #38002 - Fix typo in Linux host_init_config default template
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
Labels: Templates

#10336 Fixes #37862 - Support EFI boot on windows
  app/views/unattended/provisioning_templates/iPXE/windows_default_ipxe.erb
  app/views/unattended/provisioning_templates/iPXE/windows_default_ipxe_httpboot.erb
Labels: Templates

#10383 Drop EL 8 from Packit config
  .packit.yaml
Labels: Waiting on contributor

#10384 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/pt_BR/app.js
  locale/foreman.pot
  locale/pt_BR/foreman.po
Labels: Waiting on contributor, Stable branch, Legacy JS

#10334 Fixes #37857 - Tang support multiple phys. volumes
  app/views/unattended/provisioning_templates/snippet/disk_enc_clevis_tang.erb
  app/views/unattended/provisioning_templates/snippet/preseed_autoinstall_clevis_tang_wrapper.erb
  app/views/unattended/provisioning_templates/user_data/preseed_autoinstall_cloud_init.erb
Labels: Templates

#10236 Fixes #38030 - Allow remote execution become any user
  app/views/unattended/provisioning_templates/snippet/remote_execution_ssh_keys.erb
Labels: Inactive, Templates, Stale

#10385 Update developer docs to work on Fedora 40+
  .gitignore
  developer_docs/foreman_dev_setup.asciidoc
Labels: Waiting on contributor, Docs

#10250 Fixes #37664 - switch to using js-cookie
  app/assets/javascripts/application.js
  package.json
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/hosts/tableCheckboxes.js
  webpack/assets/javascripts/react_app/common/I18n.js
Labels: UI, Legacy JS

#10364 Fixes #37877 - Compatibility with yggdrasil 0.2.z and 0.4.z
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
Labels: Stable branch, Templates

#10365 Fixes #37877 - Compatibility with yggdrasil 0.2.z and 0.4.z
  app/views/unattended/provisioning_templates/registration/remote_execution_pull_setup.erb
Labels: Not yet reviewed, Stable branch, Templates

#10382 Fixes #38029 - Update subscription_manager_setup to use correct URLs for load-balanced smart proxies
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
Labels: Waiting on contributor, Templates
