Repository theforeman/foreman, pull requests merged in 2024-06, with the labels that each got.

#10126 Fixes #37345 - Improve "EFI local chainloading" on SecureBoot enabled hosts
  app/views/unattended/provisioning_templates/snippet/pxegrub2_chainload.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_default_local_boot.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/PXEGrub2/PXEGrub2_global_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/pxegrub2_chainload.host4dhcp.snap.txt
Labels: Templates

#9888 Fixes #36886 - upload facts for new hosts
  app/views/unattended/provisioning_templates/snippet/built.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Alterator_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/XenServer_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.ubuntu4dhcp.snap.txt
Labels: Templates

#10146 Fixes #37395 - New Hosts page perform build actions
  app/controllers/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/hosts_controller.rb
  app/registries/foreman/access_permissions.rb
  app/services/bulk_hosts_manager.rb
  app/views/api/v2/errors/bulk_hosts_error.json.rabl
  config/routes/api/v2.rb
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/BulkBuildHostModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/actions.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/helpers.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10187 Refs #37440 - Readd host registration repo parameters with deprecatio…
  app/controllers/api/v2/registration_commands_controller.rb
  app/controllers/api/v2/registration_controller.rb
  app/controllers/concerns/foreman/controller/registration.rb
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/index.js
Labels: UI

#10183 Fixes #37501 - Clean up custom repositories from host registration
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Templates

#10192 Refs #37374 - Fix wrong key for ipv6
  app/views/unattended/report_templates/ansible_-_ansible_inventory.erb
Labels: Stable branch, Templates

#10128 Fixes #37398 - Extend TableIndexPage and TableHooks with new capabilities for All Hosts page
  package.json
  webpack/assets/javascripts/react_app/components/HostsIndex/RowSelectTd.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/Bookmarks.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/index.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/TableHooks.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/TableIndexHooks.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
Labels: UI

#10184 Refs #37505 - fix clevis & tang snippet
  app/views/unattended/provisioning_templates/snippet/disk_enc_clevis_tang.erb
Labels: Needs re-review, Templates

#10203 Fixes #37553 - Wait for all plugin JS to load before rendering ColumnSelector
  webpack/assets/javascripts/react_app/components/ColumnSelector/ColumnSelector.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10204 Fixes #37556 - Show host name instead of id in canceled build notific…
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/actions.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
Labels: UI

#10107 Fixes #37300 - Change I18n loading from import to require
  webpack/assets/javascripts/react_app/common/I18n.js
Labels: UI

#10210 Cherry-pick missing commit for 3.11.0 GA
  app/controllers/api/v2/provisioning_templates_controller.rb
  test/controllers/api/v2/provisioning_templates_controller_test.rb
Labels: Stable branch

#10211 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Not yet reviewed, Waiting on contributor, Stable branch, Legacy JS

#10199 Fixes #37548 - Fix BulkBuildHostModal and add alert
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/BulkBuildHostModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/index.js
Labels: UI

#10213 Fixes #37575 - Foreman Table columns sort is inconsistent
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/helpers.js
Labels: UI

#10212 Revert "Fixes #37501 - Clean up custom repositories from host registration"
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Waiting on contributor, Templates

#10215 Fixes #37578 - remove space between button in generic table
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
Labels: UI

#10179 Fixes #37495 - unify sending the built state
  app/services/foreman/renderer/scope/macros/base.rb
  app/views/unattended/provisioning_templates/host_init_config/host_init_config_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/snippet/built.erb
  test/unit/foreman/renderer/scope/macros/base_test.rb
Labels: Templates

#10216 Fixes #37581 - Refactor timezone and NTP server configuration in kickstart
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
Labels: Templates
