Repository theforeman/foreman, pull requests merged in 2024-05, with the labels that each got.

#10159 drop old and unused sync_templates script
  script/sync_templates.sh
Labels: Waiting on contributor

#10161 Refs #33664 - Fix syntax error in sub man setup script
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
Labels: Templates

#10151 Fixes #37421 - foreman_bootdisk templates not seeded
  app/views/unattended/provisioning_templates/bootdisk/generic_efi_host.erb
  app/views/unattended/provisioning_templates/bootdisk/generic_host.erb
  app/views/unattended/provisioning_templates/bootdisk/generic_static_host.erb
  app/views/unattended/provisioning_templates/bootdisk/host.erb
Labels: Templates

#10172 bookworm was released, so bookworm/sid does not exist anymore
  app/services/puppet_fact_parser.rb
Labels: Needs re-review

#10169 Fixes #37461 - Don't use the Kickstart rhsm for RHEL 8
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Templates

#10163 Fixes #37443 - edit comment from host details
  webpack/assets/javascripts/react_app/components/HostDetails/DetailsCard/index.js
  webpack/assets/javascripts/react_app/components/HostDetails/InlineEdit.js
Labels: UI

#10178 Fixes #37489 - use host_details_ui in React context
  app/helpers/application_helper.rb
  webpack/assets/javascripts/react_app/Root/Context/ForemanContext.js
Labels: UI, Stable branch

#10177 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Legacy JS

#10154 Bump develop to 3.12.0-develop
  VERSION
  package.json
Labels: Not yet reviewed, Waiting on contributor

#10180 Fixes #37421 - foreman_bootdisk templates not seeded
  app/views/unattended/provisioning_templates/bootdisk/generic_efi_host.erb
  app/views/unattended/provisioning_templates/bootdisk/generic_host.erb
  app/views/unattended/provisioning_templates/bootdisk/generic_static_host.erb
  app/views/unattended/provisioning_templates/bootdisk/host.erb
Labels: Stable branch, Templates

#10186 drop unused dynflowd script
  script/dynflowd
Labels: Waiting on contributor

#10071 Fixes #37420 - Fix Style/AccessorGrouping cop
  app/registries/foreman/plugin.rb
  app/registries/foreman/plugin/rbac_registry.rb
  app/services/sso/jwt.rb
  config/initializers/rabl_init.rb
  lib/fog_extensions/vsphere/server.rb
Labels: Needs re-review

#10191 Refs #37374 - Fix wrong key for ipv6
  app/views/unattended/report_templates/ansible_-_ansible_inventory.erb
Labels: Templates

#10189 Fixes #37515 - Drop Host Vulnerabilities report
  app/views/unattended/report_templates/host_-_vulnerabilities.erb
  db/migrate/20240529100345_drop_host_vulnerabilities_report_template.rb
Labels: Templates
