Repository theforeman/foreman, pull requests merged in 2024-08, with the labels that each got.

#10208 Fixes #37601 - Add Foreman CA refresh template
  app/controllers/unattended_controller.rb
  app/models/host_info_providers/static_info.rb
  app/models/template_kind.rb
  app/services/foreman/unattended_installation/host_verifier.rb
  app/views/unattended/provisioning_templates/registration/foreman_ca_refresh.erb
  app/views/unattended/provisioning_templates/registration/foreman_raw_ca.erb
  app/views/unattended/provisioning_templates/snippet/ca_registration.erb
  app/views/unattended/provisioning_templates/snippet/subscription_manager_setup.erb
  test/controllers/unattended_controller_test.rb
  test/fixtures/template_kinds.yml
  test/fixtures/templates.yml
  test/models/host_test.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: Templates

#10007 Fixes #37086 - fix the obsolete chat information
  app/controllers/links_controller.rb
  app/views/about/index.html.erb
Labels: Templates

#10242 Fixes #37645 - Tab title missing in tableindexpage
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.js
Labels: UI

#10268 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Legacy JS

#10267 Fixes #37720 - Execute insights registration with empty input
  app/views/unattended/provisioning_templates/snippet/insights.erb
Labels: Templates

#10275 properly fail the "Test Suite" check when any inputs are failing
  .github/workflows/foreman.yml
Labels: Waiting on contributor

#10285 Bump develop to 3.13.0-develop
  VERSION
  package.json
Labels: Not yet reviewed, Waiting on contributor

#10286 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/ca/app.js
  app/assets/javascripts/locale/cs_CZ/app.js
  app/assets/javascripts/locale/de/app.js
  app/assets/javascripts/locale/en/app.js
  app/assets/javascripts/locale/en_GB/app.js
  app/assets/javascripts/locale/es/app.js
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/it/app.js
  app/assets/javascripts/locale/ja/app.js
  app/assets/javascripts/locale/ka/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/pl/app.js
  app/assets/javascripts/locale/pt_BR/app.js
  app/assets/javascripts/locale/ru/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  app/assets/javascripts/locale/zh_TW/app.js
  locale/ca/foreman.po
  locale/cs_CZ/foreman.po
  locale/de/foreman.po
  locale/en/foreman.po
  locale/en_GB/foreman.po
  locale/es/foreman.po
  locale/foreman.pot
  locale/fr/foreman.po
  locale/it/foreman.po
  locale/ja/foreman.po
  locale/ka/foreman.po
  locale/ko/foreman.po
  locale/pl/foreman.po
  locale/pt_BR/foreman.po
  locale/ru/foreman.po
  locale/zh_CN/foreman.po
  locale/zh_TW/foreman.po
Labels: Waiting on contributor, Stable branch, Legacy JS

#10287 Refs #36999 - Force host-passthrough CPU model for libvirt
  app/models/compute_resources/foreman/model/libvirt.rb
Labels: Not yet reviewed

#10292 refs #37433 - Revert indentation for subscription_manager_setup [3.12 stable]
  app/views/unattended/provisioning_templates/snippet/redhat_register.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: Stable branch, Templates

#10190 Fixes #37519 - Host form - Libvirt improvements
  app/models/compute_resources/foreman/model/libvirt.rb
  app/views/compute_resources_vms/form/libvirt/_base.html.erb
  webpack/assets/javascripts/compute_resource/libvirt.js
Labels: UI

#10297 Refs #36999 - Force host-passthrough CPU model for libvirt
  app/models/compute_resources/foreman/model/libvirt.rb
Labels: Stable branch
