Repository theforeman/foreman, pull requests merged in 2025-04, with the labels that each got.

#10505 Fixes #38333 - correct the TreeView prop name for checkboxes
  webpack/assets/javascripts/react_app/components/ColumnSelector/ColumnSelector.js
Labels: UI

#10509 Fixes #38346 - in host create, selecting image mode does nothing
  app/assets/javascripts/host_edit.js
Labels: Needs cherrypick

#10510 [cp 3.14] Fixes #38346 - in host create, selecting image mode does nothing
  app/assets/javascripts/host_edit.js
Labels: Stable branch, Legacy JS

#10467 Fixes #38257 - ExternalLogout update to pf5
  webpack/assets/javascripts/react_app/components/ExternalLogout/ExternalLogout.js
  webpack/assets/javascripts/react_app/components/ExternalLogout/__tests__/__snapshots__/ExternalLogout.test.js.snap
  webpack/assets/javascripts/react_app/components/ExternalLogout/externalLogout.scss
Labels: UI

#10504 Fixes #38331 - CardTemplate should have cardId as string
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: UI

#10514 Fixes #38354 - Fix TypeError in DualList
  webpack/assets/javascripts/react_app/components/common/Pf4DualList/DualListWithIds.js
Labels: UI

#10507 Kickstart default parameter for kdump
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
Labels: Templates

#10502 Fixes #38329 - Avoid frozen string modification
  app/controllers/api/base_controller.rb
  app/controllers/hosts_controller.rb
  app/helpers/form_helper.rb
  app/services/foreman/plugin/role_lock.rb
  app/services/foreman/renderer/scope/report.rb
  app/validators/pxe_template_name_validator.rb
  app/views/unattended/report_templates/host_-_last_checkin.erb
  lib/tasks/backup.rake
  test/controllers/api/v2/base_controller_subclass_test.rb
Labels: Templates

#10464 Fixes #38256 - update ImpersonateIcon to pf5 + cursor pointer on icon…
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIcon.scss
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/__snapshots__/ImpersonateIcon.test.js.snap
Labels: UI

#10519 Fixes #38362 - Host Form - Removal of arch resets ptable & medium
  app/assets/javascripts/host_edit.js
Labels: Legacy JS

#10517 Fixes #38360 - Add RAM to reported_data output
  app/views/api/v2/hosts/reported_data.json.rabl
  webpack/assets/javascripts/react_app/components/HostsIndex/Columns/core.js
Labels: UI

#10513 Fixes #38344 - LoginPage update to pf5
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.fixtures.js
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.js
  webpack/assets/javascripts/react_app/components/LoginPage/LoginPage.scss
  webpack/assets/javascripts/react_app/components/LoginPage/__tests__/__snapshots__/LoginPage.test.js.snap
  webpack/assets/javascripts/react_app/components/LoginPage/helpers.js
Labels: UI

#10523 Fixes #38382 - TableIndexPage improvements
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
Labels: UI

#10515 Fixes #38338 - Align host status icons
  webpack/assets/javascripts/react_app/components/HostDetails/Status/AggregateStatusCard.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusIcon.js
  webpack/assets/javascripts/react_app/components/HostDetails/Status/styles.scss
Labels: UI

#10503 Fixes #38328 - Add Upgrade page under Administer
  app/controllers/links_controller.rb
  app/registries/menu/loader.rb
  config/routes.rb
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/routes/Upgrade/UpgradePage/__tests__/UpgradePage.test.js
  webpack/assets/javascripts/react_app/routes/Upgrade/UpgradePage/components/DocumentationCard.js
  webpack/assets/javascripts/react_app/routes/Upgrade/UpgradePage/components/DocumentationFooter.js
  webpack/assets/javascripts/react_app/routes/Upgrade/UpgradePage/index.js
  webpack/assets/javascripts/react_app/routes/Upgrade/constants.js
  webpack/assets/javascripts/react_app/routes/Upgrade/index.js
  webpack/assets/javascripts/react_app/routes/__test__/__snapshots__/Routes.test.js.snap
  webpack/assets/javascripts/react_app/routes/routes.js
Labels: UI

#10530 Fixes #38352 - Editor settings popover not showing
  webpack/assets/javascripts/react_app/components/Editor/components/EditorSettings.js
  webpack/assets/javascripts/react_app/components/Editor/components/__tests__/__snapshots__/EditorSettings.test.js.snap
Labels: UI
