Repository theforeman/foreman, pull requests merged in 2025-01, with the labels that each got.

#10405 Fixes #38108 - As a user I want to invalidate tokens for self(UI)
  app/controllers/users_controller.rb
  app/models/user.rb
  app/views/jwt_tokens/_jwt_tokens_tab.html.erb
  app/views/users/_form.html.erb
  test/controllers/users_controller_test.rb
  webpack/assets/javascripts/react_app/components/componentRegistry.js
  webpack/assets/javascripts/react_app/components/users/JwtTokens/JwtTokens.js
Labels: UI

#10391 Fixes #38050 - Add ip6 to search conditions for host_finder
  app/services/foreman/unattended_installation/host_finder.rb
  test/controllers/unattended_controller_test.rb
Labels: Waiting on contributor

#10416 Fixes #38141 - Hide search submit button when not submittable
  webpack/assets/javascripts/react_app/components/SearchBar/index.js
Labels: UI

#10138 Fixes #37382 - Update to jQuery 3
  app/assets/javascripts/application.js
  app/assets/javascripts/hidden_values.js
  app/assets/javascripts/host_edit.js
  app/assets/javascripts/host_edit_interfaces.js
  app/assets/javascripts/hosts.js
  app/assets/javascripts/jquery.multi-select.js
  app/assets/javascripts/lookup_keys.js
  app/assets/javascripts/parameter_override.js
  app/helpers/form_helper.rb
  app/views/nic/_base_form.html.erb
  package.json
  test/integration/compute_profile_js_test.rb
  test/integration/host_js_test.rb
  test/integration/provisioning_template_js_test.rb
  test/integration/report_template_js_test.rb
  test/integration/shared/host_finders.rb
  test/integration/user_test.rb
  test/integration_test_helper.rb
  webpack/assets/javascripts/foreman_auth_source.js
  webpack/assets/javascripts/foreman_http_proxies.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_users.js
  webpack/assets/javascripts/hosts/tableCheckboxes.js
Labels: UI, Legacy JS

#10420 Fixes #38155 - Use auto instead of dhcp for ipv6 interfaces
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  app/views/unattended/provisioning_templates/provision/kickstart_ovirt.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_ifcfg_generic_interface.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_kernel_options.erb
  app/views/unattended/provisioning_templates/snippet/kickstart_network_interface.erb
  test/unit/foreman/templates/snippets/kickstart_network_interface_test.rb
Labels: Templates

#10417 Fixes #38145 - Update host installed products report for multiCV
  app/views/unattended/report_templates/host_-_installed_products.erb
Labels: Templates

#10419 Fixes #38154 - Allow generic table children outside of tbody
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/Table.js
Labels: UI

#10424 Fixes #37758 - Delete host redirects to hosts list based on setting
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/actions.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10429 Fixes #38177 - remove select2('destroy') for non select2 item
  app/assets/javascripts/lookup_keys.js
Labels: Legacy JS
