Repository theforeman/foreman, pull requests merged in 2025-03, with the labels that each got.

#10450 Fixes #38222 - Add managed interface to ubuntu_autoinst4dhcp snapshot
  app/services/foreman/template_snapshot_service.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_Autoinstall_cloud-init_user_data.ubuntu_autoinst4dhcp.snap.txt
Labels: Templates

#10436 Fixes #38200 - use apt options for install
  app/views/unattended/provisioning_templates/snippet/pkg_manager.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/FreeBSD_(mfsBSD)_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_SLES_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/AutoYaST_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/remote_execution_ssh_keys.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/AutoYaST_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Preseed_default_user_data.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/UserData_default.host4dhcp.snap.txt
Labels: Templates

#10456 Fixes #38237 - select2 search not working in modals
  app/assets/javascripts/application.js
  app/assets/javascripts/host_edit_interfaces.js
Labels: Legacy JS, Needs cherrypick

#10465 [cp: 3.14] Fixes #38237 - select2 search not working in modals
  app/assets/javascripts/application.js
  app/assets/javascripts/host_edit_interfaces.js
Labels: Stable branch, Legacy JS

#10466 i18n - extracting new, pulling from tx
  app/assets/javascripts/locale/fr/app.js
  app/assets/javascripts/locale/ko/app.js
  app/assets/javascripts/locale/zh_CN/app.js
  locale/foreman.pot
  locale/fr/foreman.po
  locale/ko/foreman.po
  locale/zh_CN/foreman.po
Labels: Waiting on contributor, Stable branch, Legacy JS

#10475 Fixes #38272 - Use .presence for ip6 address (Cherry-pick to 3.14)
  app/models/concerns/orchestration/ssh_provision.rb
Labels: Stable branch

#10480 Fixes #38289 - customize CardTemplate ouiaId
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: UI

#10476 Fixes #38282 - datatables pagination not working
  app/assets/javascripts/proxy_status/logs.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
Labels: UI, Legacy JS

#10477 Fixes #38185 - Hide HTTP(S) proxy password in proxy request logging
  app/lib/foreman/http_proxy.rb
Labels: Stable branch

#10483 Fixes #38282 - datatables pagination not working
  app/assets/javascripts/proxy_status/logs.js
  webpack/assets/javascripts/foreman_tools.js
  webpack/assets/javascripts/foreman_tools.test.js
Labels: Not yet reviewed, UI, Stable branch, Legacy JS

#10482 Fixes #38289 - customize CardTemplate ouiaId
  webpack/assets/javascripts/react_app/components/HostDetails/Templates/CardItem/CardTemplate/index.js
Labels: Not yet reviewed, UI, Stable branch

#10484 Fixes #38281 - Refactor handling of `:include_blank` in `form_select_f`
  app/helpers/form_helper.rb
Labels: UI, Stable branch

#10486 Fixes #38219 - Update Ansible Tower API URL for AAP 2.5+ compatibility
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/snippet/ansible_tower_callback_script.erb
  app/views/unattended/provisioning_templates/snippet/ansible_tower_callback_service.erb
  db/migrate/20250309121956_rename_ansible_tower_fqdn_to_api_url.rb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Preseed_default_finish.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/ansible_tower_callback_script.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/snippet/ansible_tower_callback_service.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: Not yet reviewed, Stable branch, Templates

#10459 Fixes #38244 - replace ToastNotification with Alert from pf5
  webpack/assets/javascripts/react_app/components/Editor/Editor.js
  webpack/assets/javascripts/react_app/components/Editor/__tests__/__snapshots__/Editor.test.js.snap
  webpack/assets/javascripts/react_app/components/Editor/editor.scss
Labels: UI, Templates

#10485 Fixes #38298 - pf5 tables css - search input and select all
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/Table/SelectAllCheckbox/SelectAllCheckbox.scss
  webpack/assets/javascripts/react_app/components/PF4/TableIndexPage/TableIndexPage.scss
  webpack/assets/javascripts/react_app/components/SearchBar/SearchAutocomplete.js
Labels: UI

#10493 Fixes #38319 - Fix Ansible Tower FQDN migration
  db/migrate/20250309121956_rename_ansible_tower_fqdn_to_api_url.rb
Labels: Needs re-review

#10500 Fixes #38122 - Use Rails for JwtToken logger
  app/services/jwt_token.rb
Labels: Stable branch

#10488 Point packit to 3.14 repositories
  .packit.yaml
Labels: Waiting on contributor, Stable branch

#10501 Fixes #38078 - Correctly create a DB entry for settings test
  test/unit/tasks/seeds_test.rb
Labels: Stable branch
