Repository theforeman/foreman, pull requests merged in 2025-07, with the labels that each got.

#10546 Fixes #38435 - remove select2 tooltips
  app/assets/javascripts/application.js
Labels: Legacy JS

#10342 Fixes #37882 - Remove @theforeman/vendor
  Procfile
  app/helpers/reactjs_helper.rb
  app/views/layouts/base.html.erb
  config/webpack.config.js
  config/webpack.vendor.js
  developer_docs/foreman_dev_setup.asciidoc
  package.json
  script/lint/@theforeman/eslint-plugin-foreman/lint_generic_config.js
  script/lint/lint_core_config.js
  script/npm_lint_plugins.js
  webpack/assets/javascripts/bundle.js
  webpack/assets/javascripts/exportAll.js
  webpack/assets/javascripts/jquery.js
  webpack/assets/javascripts/react_app/common/helpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.js
  webpack/assets/javascripts/react_app/common/urlHelpers.test.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/actions.js
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/index.js
  webpack/assets/javascripts/react_app/components/HostStatuses/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/bulkDelete.js
  webpack/assets/javascripts/react_app/components/Layout/components/ImpersonateIcon/ImpersonateIconActions.js
  webpack/assets/javascripts/react_app/components/common/forms/OrderableSelect/index.js
  webpack/assets/javascripts/react_app/redux/API/API.js
  webpack/assets/javascripts/react_app/redux/actions/notifications/index.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/RegistrationCommandsPageActions.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/RegistrationCommandsPageHelpers.js
  webpack/assets/javascripts/react_app/routes/RegistrationCommands/RegistrationCommandsPage/components/Actions.js
  webpack/assets/javascripts/react_app/routes/RoutingService.js
  webpack/assets/javascripts/react_app/routes/common/EmptyPage/RedirectedEmptyPage.js
  webpack/core_test_setup.js
  webpack/jest.config.js
  webpack/resolveNodeModule.js
Labels: UI, Legacy JS, Docs, Breaking change

#10428 Fixes #38172 - Permit use of NTP Pools in kickstart
  app/services/foreman/template_snapshot_service.rb
  app/views/unattended/provisioning_templates/provision/kickstart_default.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
Labels: Templates

#10595 Fixes #38551 - Add NTP-server host parameter for Debian/Ubuntu
  app/views/unattended/provisioning_templates/snippet/ntp.erb
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.debian4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/cloud-init/CloudInit_default.ubuntu4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/finish/Kickstart_default_finish.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4and6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host4static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.host6static.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rhel9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky8_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/provision/Kickstart_default.rocky9_dhcp.snap.txt
  test/unit/foreman/renderer/snapshots/ProvisioningTemplate/user_data/Kickstart_default_user_data.host4dhcp.snap.txt
Labels: UI, Legacy JS, Templates

#10607 Properly translate host details status
  webpack/assets/javascripts/react_app/components/HostDetails/Status/StatusTable.js
Labels: UI

#10589 Fixes #38538 - Add bulk change owner to all hosts page
  app/controllers/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/hosts_controller.rb
  app/services/bulk_hosts_manager.rb
  config/initializers/f_foreman_permissions.rb
  config/routes/api/v2.rb
  test/controllers/api/v2/hosts_bulk_actions_controller_test.rb
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/buildHosts/BulkBuildHostModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/changeOwner/BulkChangeOwnerModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/changeOwner/actions.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/changeOwner/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10560 Fixes #38456 - Hosts bulk action: Disassociate hosts
  app/controllers/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/hosts_controller.rb
  app/services/bulk_hosts_manager.rb
  config/initializers/f_foreman_permissions.rb
  config/routes/api/v2.rb
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/disassociate/BulkDisassociateModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/disassociate/actions.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/disassociate/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10556 Fixes #38459 - Support node 22
  .github/matrix.json
  Dockerfile
  package.json
Labels: Needs re-review, UI

#10567 Fixes #38475 - update BookmarkForm with Modal to PF5
  webpack/assets/javascripts/react_app/components/BookmarkForm/BookmarkForm.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/SearchModal.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/__tests__/BookmarkForm.test.js
  webpack/assets/javascripts/react_app/components/BookmarkForm/bookmarkForm.css
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/BookmarkItems.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/Bookmarks.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/BookmarksConstants.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/BookmarksHelpers.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/__tests__/Bookmarks.test.js
  webpack/assets/javascripts/react_app/components/PF4/Bookmarks/index.js
Labels: UI

#10591 Fixes #38416 - Hosts bulk action: Assign organization and Assign location
  app/controllers/api/v2/hosts_bulk_actions_controller.rb
  app/controllers/concerns/foreman/controller/taxonomy_multiple.rb
  app/services/bulk_hosts_manager.rb
  config/initializers/f_foreman_permissions.rb
  config/routes/api/v2.rb
  test/controllers/hosts_controller_test.rb
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/assignTaxonomy/BulkAssignTaxonomyConstants.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/assignTaxonomy/BulkAssignTaxonomyModal.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/assignTaxonomy/TaxonomySelect.css
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/assignTaxonomy/TaxonomySelect.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/assignTaxonomy/actions.js
  webpack/assets/javascripts/react_app/components/HostsIndex/BulkActions/assignTaxonomy/index.js
  webpack/assets/javascripts/react_app/components/HostsIndex/index.js
Labels: UI

#10625 Fixes #38616 - expand nav item also when url has a query
  webpack/assets/javascripts/react_app/components/Layout/LayoutHelper.js
  webpack/assets/javascripts/react_app/components/Layout/Navigation.js
Labels: UI

#10603 Fixes #38563 - replace pf4Table import in build modal to pf5
  webpack/assets/javascripts/react_app/components/HostDetails/ActionsBar/ErrorsTree/ErrorsTree.js
Labels: UI

#10562 Fixes #38472 - fix FiltersForm.test.js
  webpack/assets/javascripts/react_app/routes/FiltersForm/FiltersForm.test.js
Labels: UI

#10621 Fixes #38608 - Import GPG keys for zypper during host reg
  app/views/unattended/provisioning_templates/registration/global_registration.erb
Labels: Templates
